<div [hidden]="!showList">
  <div class="content-heading mb-lg thc font">
    商品管理
    <app-buttons class="pull-right" [config]="addButton" routerLink="/main/goods/publish/step_one"></app-buttons>
  </div>

  <!--查询 start-->
  <div class="panel mb">
    <div class="panel-body p ng-scope">
      <div class="search-group ml-xl mb">
        <span class="search-title">审核状态：</span>
        <div class="search-main">
          <select class="form-control" name="goodsAudit" [(ngModel)]="query.goodsAudit" (change)="queryDatas()">
            <option value="">全部</option>
            <option *ngFor="let item of goodsAudits" [value]="item.key">{{item.val}}</option>
          </select>
        </div>
      </div>
      <div class="search-group ml-xl mb">
        <span class="search-title">商品状态：</span>
        <div class="search-main">
          <select class="form-control" name="goodsAudit" [(ngModel)]="query.state" (change)="queryDatas()">
            <option value="">全部</option>
            <option *ngFor="let item of goodsState" [value]="item.key">{{item.val}}</option>
          </select>
        </div>
      </div>
      <div class="search-group ml-xl mb">
        <span class="search-title">自营：</span>
        <div class="search-main">
          <select class="form-control" name="isOwnPlat" [(ngModel)]="query.isOwnPlat" (change)="queryDatas()">
            <option value="">全部</option>
            <option *ngFor="let item of isOwnPlats" [value]="item.key">{{item.val}}</option>
          </select>
        </div>
      </div>
      <div class="search-group ml-xl mb clearfix">
        <span class="search-title">分类：</span>
        <div class="search-main">
          <app-get-kind (myData)="getKind($event)"></app-get-kind>
        </div>
      </div>
      <div class="tag-dib align-top">
        <div class="search-group ml-xl mb align-top">
          <span class="search-title">商品名：</span>
          <div class="search-main">
            <input type="text" [(ngModel)]="query.goodsName"
                   class="form-control border-b-grey"
                   (change)="queryDatas()" placeholder="商品名">
          </div>
        </div>
        <div class="search-group ml-xl mb align-top">
          <span class="search-title">品牌：</span>
          <div class="search-main">
            <input type="text" [(ngModel)]="query.brandName"
                   class="form-control border-b-grey ng-pristine ng-valid ng-touched" placeholder="品牌名称">
          </div>
        </div>
        <button type="button" title="搜索" (click)="queryDatas()"
                class="btn thc btn-thc align-top ml">
          <em class="icon-magnifier fa-fw"></em>
        </button>
      </div>
    </div>
  </div>
  <!--查询end-->

  <!--列表-->
  <div class="panel panel-danger">
    <div class="panel-body">
      <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="goodsList"
             (pageChange)="queryDatas(1,$event)">
        <thead>
        <tr>
          <th class="w5 unselectable text-center thc font">序号</th>
          <th class="w30 unselectable hidden-sm">
            <rzhDefaultSorter by="goodsName">商品名</rzhDefaultSorter>
          </th>
          <th class="w15 unselectable">
            <rzhDefaultSorter by="sku">规格/规格值</rzhDefaultSorter>
          </th>
          <th class="w8 unselectable text-center">
            <rzhDefaultSorter by="price">价格（元）</rzhDefaultSorter>
          </th>
          <th class="w10 unselectable text-center">
            <rzhDefaultSorter by="time">发布时间</rzhDefaultSorter>
          </th>
          <th class="w10 unselectable text-center">
            <rzhDefaultSorter by="coin">重消币抵扣</rzhDefaultSorter>
          </th>
          <th class="w7 unselectable text-center thc font">审核状态</th>
          <th class="w15 unselectable text-center thc font">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let goods of dataTable.data;let i = index" class="text-center font12">
          <td>{{i+1}}</td>
          <td class="text-left position-relative">
          <span class="mr">
            <img [src]="goods.goodsImage" class="goods-lg-img" (mousemove)="showImg($event)"
                 (mouseleave)="hideImg($event)"
                 onerror="javascript:this.src='../../../assets/img/dummy.png'" alt="">
            <img [src]="goods.goodsImage" class="hover-big-img"
                 onerror="javascript:this.src='../../../assets/img/dummy.png'" alt="">
          </span>
            <div class="mb0 goods-lg-info">
              <p>
                <a class="goods-name font14" href="javascript:;">
                <span class="tag font12"
                      [class.bg-info]="goods.state=='NORMAL'"
                      [class.bg-danger]="goods.state=='STOP'"
                      [class.bg-warning]="goods.state=='DOWN'">
                  {{goods.state | rzhState:'1006'}}</span>
                  {{goods.goodsName}}</a>
              </p>
            </div>
          </td>
          <td class="text-left">
            <div class="attr-width">
              <p class="mb0 font12 one-row omg" *ngFor="let attr of goods.goodsBaseSaList">
                <span class="inline">{{attr.attrName}}：</span>
                <span class="inline" *ngFor="let val of attr.goodsBaseSavList">{{val.value}}、</span>
              </p>
            </div>
            <button class="btn btn-xs btn-primary btn-outline font12 mt-sm"
                    (click)="showSkuList(goods.goodsBaseCode,goods.goodsName)">查看所有规格
            </button>
          </td>
          <td class="font14 main-red">{{goods.minPrice == goods.maxPrice? '¥'+goods.maxPrice:'¥'+goods.minPrice+'∽¥'+
            goods.maxPrice
            }}
          </td>
          <td>{{goods.createTime}}</td>
          <td>
            <label class="switch switch-md" title="开启/关闭">
              <input [checked]="goods.isUseCoin=='Y'" type="checkbox"
                     (change)="changeIsUseCoin(goods.isUseCoin=='Y',goods.goodsBaseCode, goodsList.curPage)">
              <span></span>
            </label>
          </td>
          <td>{{goods.goodsAudit | rzhState:'1014'}}</td>
          <td>
          <span *ngIf="goods.goodsAudit=='PASS'">
            <button class="btn btn-warning btn-xs fa fa-level-down" *ngIf="goods.state=='NORMAL'" title="下架"
                    (click)="changeState('DOWN',goods.goodsBaseCode, goodsList.curPage)"> 下架
            </button>
            <button class="btn btn-danger btn-xs fa fa-lock" *ngIf="goods.state=='NORMAL'" title="禁售"
                    (click)="changeState('STOP',goods.goodsBaseCode, goodsList.curPage)"> 禁售
            </button>
            <button class="btn btn-green btn-xs fa fa-unlock-alt" *ngIf="goods.state=='STOP'" title="解禁"
                    (click)="changeState('BAN',goods.goodsBaseCode, goodsList.curPage)"> 解禁
            </button>
            <button class="btn btn-success btn-xs fa fa-level-up" *ngIf="goods.state=='DOWN'"
                    title="申请上架" (click)="changeState('NORMAL',goods.goodsBaseCode, goodsList.curPage)"> 上架
            </button>
          </span>
            <span *ngIf="goods.goodsAudit=='UNPASS'">
            <button class="btn btn-success btn-xs fa fa-level-up" *ngIf="goods.state=='DOWN'"
                    title="申请上架" (click)="changeState('NORMAL',goods.goodsBaseCode, goodsList.curPage)"> 上架
            </button>
          </span>
            <button class="btn btn-purple btn-xs fa fa-check-square-o" *ngIf="goods.goodsAudit=='AUDIT'" title="审核"
                    routerLink="audit"
                    [queryParams]="{baseCode: goods.goodsBaseCode,page: goodsList.curPage}"> 审核
            </button>
            <ng-container *ngIf="goods.goodsAudit!='REJECT' && goods.state!='NORMAL' && goods.isOwnPlat == 'Y'">
              <app-buttons [config]="option" (callback)="option.callback(goods.goodsBaseCode, goodsList.curPage)"
                           *ngFor="let option of buttons"></app-buttons>
            </ng-container>
            <button class="btn btn-green btn-xs icon-magnifier-add" title="详情"
                    routerLink="detail"
                    [queryParams]="{baseCode: goods.goodsBaseCode,page: goodsList.curPage,type:'detail'}">
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="10">
            <div class="col-sm-5">
              <div class="text-muted"><strong>第 {{goodsList.genStartRow()}} 至 {{goodsList.genEndRow()}} 条，共
                {{goodsList.totalRow}}
                条</strong></div>
            </div>
            <div class="col-sm-7">
              <div class="pull-right">
                <rzhBootstrapPaginator></rzhBootstrapPaginator>
              </div>
            </div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<!--路由嵌套 begin-->
<router-outlet (activate)="activate($event)" (deactivate)='onDeactivate($event)'></router-outlet>
<!--路由嵌套 end-->
<app-sku-goods [curCode]="curBaseCode" [curName]="curName" [page]="goodsList.curPage"
               (looked)="getSkuData($event)"></app-sku-goods>
