/* ========================================================================
     扩展样式
 ========================================================================== */
$xsImg: 40px; // 商品列表图片的宽，较小的图
$smallImg: 50px; // 商品列表图片的宽，较小的图
$middleImg: 66px; // 商品列表图片的宽，中等大小的图
$largeImg: 80px; // 商品列表图片的宽，较大的图

@charset "UTF-8";
//重写弹框布局距离
.toast-top-center {
  top: 60px;
}

//.toast-top-center,.toast-top-right{
//  top:60px;
//}
//.toast-top-left {
//  top: 60px;
//  left: 230px;
//}
//.toast-bottom-left {
//  left: 230px;
//}
// 必填项已填
.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

// 必填项未填
.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative
}

//操作提示背景色
.ts {
  background: #C9E7F2;
  width: 100%;
  margin: auto;
  margin-top: 15px;
}

//禁止文本选中
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//鼠标悬停时出现小手
.cursor-pointer {
  cursor: pointer
}

.clear {
  clear: both;
}

.color-f50 {
  color: #f50;
}

.font12 {
  font-size: 12px
}

.font13 {
  font-size: 13px
}

.font14 {
  font-size: 14px
}

.font15 {
  font-size: 15px
}

.font16 {
  font-size: 16px
}

.font18 {
  font-size: 18px
}

.font20 {
  font-size: 20px
}

.font22 {
  font-size: 22px
}

.font24 {
  font-size: 24px
}

.m5 {
  margin: 5px;
}

.m15 {
  margin: 15px;
}

.m20 {
  margin: 20px;
}

.ml15 {
  margin-left: 15px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt11 {
  margin-top: 11px;
}

.mt12 {
  margin-top: 12px;
}

.mt13 {
  margin-top: 13px;
}

.mt14 {
  margin-top: 14px;
}

.mt15 {
  margin-top: 15px;
}

.mt16 {
  margin-top: 16px;
}

.mt17 {
  margin-top: 17px;
}

.mt18 {
  margin-top: 18px;
}

.mt19 {
  margin-top: 19px;
}

.mt20 {
  margin-top: 20px;
}

.mt21 {
  margin-top: 21px;
}

.mt22 {
  margin-top: 22px;
}

.mt23 {
  margin-top: 23px;
}

.mt24 {
  margin-top: 24px;
}

.mt25 {
  margin-top: 25px;
}

.mt26 {
  margin-top: 26px;
}

.mr5 {
  margin-right: 5px;
}

.pt20 {
  padding-top: 20px;
}

.pl10 {
  padding-left: 10px;
}

.pl11 {
  padding-left: 11px;
}

.pl12 {
  padding-left: 12px;
}

.pl13 {
  padding-left: 13px;
}

.pl14 {
  padding-left: 14px;
}

.pl15 {
  padding-left: 15px;
}

.pl16 {
  padding-left: 16px;
}

.pl17 {
  padding-left: 17px;
}

.pl18 {
  padding-left: 18px;
}

.pl19 {
  padding-left: 19px;
}

.pl20 {
  padding-left: 20px;
}
.pl26 {
  padding-left: 26px;
}

.cursor-p {
  cursor: pointer
}

//扩展背景颜色
.bg-table {
  background: #e8ecf1;
}

// 扩展主要颜色，山楂红色
.main-red {
  color: #CC1635;
}

.font-success {
  color: #27c24c
}

.font-gray {
  color: #999
}

.gold-star {
  color: gold;
}

.gold-star {
  color: gold;
}

// 单行显示，溢出隐藏（……）适用于宽度固定的元素
._omg {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 支持webkit内核的浏览器，相对较适用于移动端的单行文本溢出隐藏* 宽度相对于父级*/
.omg {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /** 显示的行数 **/
  overflow: hidden;
}

/*多行文本溢出隐藏，设置-webkit-line-clamp: n */
.omg2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /** 显示的行数 **/
  overflow: hidden;
}

.w0 {
  width: 0
}

.w1 {
  width: 1%
}

.w2 {
  width: 2%
}

.w3 {
  width: 3%
}

.w4 {
  width: 4%
}

.w5 {
  width: 5%
}

.w6 {
  width: 6%
}

.w7 {
  width: 7%
}

.w8 {
  width: 8%
}

.w9 {
  width: 9%
}

.w10 {
  width: 10%
}

.w11 {
  width: 11%
}

.w12 {
  width: 12%
}

.w13 {
  width: 13%
}

.w14 {
  width: 14%
}

.w15 {
  width: 15%
}

.w16 {
  width: 16%
}

.w17 {
  width: 17%
}

.w18 {
  width: 18%
}

.w19 {
  width: 19%
}

.w20 {
  width: 20%
}

.w21 {
  width: 21%
}

.w22 {
  width: 22%
}

.w23 {
  width: 23%
}

.w24 {
  width: 24%
}

.w25 {
  width: 25%
}

.w26 {
  width: 26%
}

.w27 {
  width: 27%
}

.w28 {
  width: 28%
}

.w29 {
  width: 29%
}

.w30 {
  width: 30%
}

.w31 {
  width: 31%
}

.w32 {
  width: 32%
}

.w33 {
  width: 33%
}

.w34 {
  width: 34%
}

.w35 {
  width: 35%
}

.w36 {
  width: 36%
}

.w37 {
  width: 37%
}

.w38 {
  width: 38%
}

.w39 {
  width: 39%
}

.w40 {
  width: 40%
}

.w41 {
  width: 41%
}

.w42 {
  width: 42%
}

.w43 {
  width: 43%
}

.w44 {
  width: 44%
}

.w45 {
  width: 45%
}

.w46 {
  width: 46%
}

.w47 {
  width: 47%
}

.w48 {
  width: 48%
}

.w49 {
  width: 49%
}

.w50 {
  width: 50%
}

.w51 {
  width: 51%
}

.w52 {
  width: 52%
}

.w53 {
  width: 53%
}

.w54 {
  width: 54%
}

.w55 {
  width: 55%
}

.w56 {
  width: 56%
}

.w57 {
  width: 57%
}

.w58 {
  width: 58%
}

.w59 {
  width: 59%
}

.w60 {
  width: 60%
}

.w61 {
  width: 61%
}

.w62 {
  width: 62%
}

.w63 {
  width: 63%
}

.w64 {
  width: 64%
}

.w65 {
  width: 65%
}

.w66 {
  width: 66%
}

.w67 {
  width: 67%
}

.w68 {
  width: 68%
}

.w69 {
  width: 69%
}

.w70 {
  width: 70%
}

.w71 {
  width: 71%
}

.w72 {
  width: 72%
}

.w73 {
  width: 73%
}

.w74 {
  width: 74%
}

.w75 {
  width: 75%
}

.w76 {
  width: 76%
}

.w77 {
  width: 77%
}

.w78 {
  width: 78%
}

.w79 {
  width: 79%
}

.w80 {
  width: 80%
}

.w81 {
  width: 81%
}

.w82 {
  width: 82%
}

.w83 {
  width: 83%
}

.w84 {
  width: 84%
}

.w85 {
  width: 85%
}

.w86 {
  width: 86%
}

.w87 {
  width: 87%
}

.w88 {
  width: 88%
}

.w89 {
  width: 89%
}

.w90 {
  width: 90%
}

.w91 {
  width: 91%
}

.w92 {
  width: 92%
}

.w93 {
  width: 93%
}

.w94 {
  width: 94%
}

.w95 {
  width: 95%
}

.w96 {
  width: 96%
}

.w97 {
  width: 97%
}

.w98 {
  width: 98%
}

.w99 {
  width: 99%
}

.w100 {
  width: 100%
}

.h12 {
  height: 12px
}

;
.h560 {
  height: 560px
}

;

.mt1 {
  margin-top: 1px
}

.mt2 {
  margin-top: 2px
}

.mt3 {
  margin-top: 3px
}

.mt4 {
  margin-top: 4px
}

.mt5 {
  margin-top: 5px
}

.mt6 {
  margin-top: 6px
}

.mt7 {
  margin-top: 7px
}

.mt8 {
  margin-top: 8px
}

.mt9 {
  margin-top: 9px
}

.mt10 {
  margin-top: 10px
}

.mt11 {
  margin-top: 11px
}

.mt12 {
  margin-top: 12px
}

.mt13 {
  margin-top: 13px
}

.mt14 {
  margin-top: 14px
}

.mt15 {
  margin-top: 15px
}

.mt16 {
  margin-top: 16px
}

.mt17 {
  margin-top: 17px
}

.mt18 {
  margin-top: 18px
}

.mt19 {
  margin-top: 19px
}

.mt20 {
  margin-top: 20px
}

.mt21 {
  margin-top: 21px
}

.mt22 {
  margin-top: 22px
}

.mt23 {
  margin-top: 23px
}

.mt24 {
  margin-top: 24px
}

.mt25 {
  margin-top: 25px
}

.mt26 {
  margin-top: 26px
}

.mt27 {
  margin-top: 27px
}

.mt28 {
  margin-top: 28px
}

.mt29 {
  margin-top: 29px
}

.mt30 {
  margin-top: 30px
}

.mt31 {
  margin-top: 31px
}

.mt32 {
  margin-top: 32px
}

.mt33 {
  margin-top: 33px
}

.mt34 {
  margin-top: 34px
}

.mt35 {
  margin-top: 35px
}

.mt36 {
  margin-top: 36px
}

.mt37 {
  margin-top: 37px
}

.mt38 {
  margin-top: 38px
}

.mt39 {
  margin-top: 39px
}

.mt40 {
  margin-top: 40px
}

.mt41 {
  margin-top: 41px
}

.mt42 {
  margin-top: 42px
}

.mt43 {
  margin-top: 43px
}

.mt44 {
  margin-top: 44px
}

.mt45 {
  margin-top: 45px
}

.mt46 {
  margin-top: 46px
}

.mt47 {
  margin-top: 47px
}

.mt48 {
  margin-top: 48px
}

.mt49 {
  margin-top: 49px
}

.mt50 {
  margin-top: 50px
}

.mt51 {
  margin-top: 51px
}

.mt52 {
  margin-top: 52px
}

.mt53 {
  margin-top: 53px
}

.mt54 {
  margin-top: 54px
}

.mt55 {
  margin-top: 55px
}

.mt56 {
  margin-top: 56px
}

.mt57 {
  margin-top: 57px
}

.mt58 {
  margin-top: 58px
}

.mt59 {
  margin-top: 59px
}

.mt60 {
  margin-top: 60px
}

.mt61 {
  margin-top: 61px
}

.mt62 {
  margin-top: 62px
}

.mt63 {
  margin-top: 63px
}

.mt64 {
  margin-top: 64px
}

.mt65 {
  margin-top: 65px
}

.mt66 {
  margin-top: 66px
}

.mt67 {
  margin-top: 67px
}

.mt68 {
  margin-top: 68px
}

.mt69 {
  margin-top: 69px
}

.mt70 {
  margin-top: 70px
}

.mt71 {
  margin-top: 71px
}

.mt72 {
  margin-top: 72px
}

.mt73 {
  margin-top: 73px
}

.mt74 {
  margin-top: 74px
}

.mt75 {
  margin-top: 75px
}

.mt76 {
  margin-top: 76px
}

.mt77 {
  margin-top: 77px
}

.mt78 {
  margin-top: 78px
}

.mt79 {
  margin-top: 79px
}

.mt80 {
  margin-top: 80px
}

.mt81 {
  margin-top: 81px
}

.mt82 {
  margin-top: 82px
}

.mt83 {
  margin-top: 83px
}

.mt84 {
  margin-top: 84px
}

.mt85 {
  margin-top: 85px
}

.mt86 {
  margin-top: 86px
}

.mt87 {
  margin-top: 87px
}

.mt88 {
  margin-top: 88px
}

.mt89 {
  margin-top: 89px
}

.mt90 {
  margin-top: 90px
}

.mt91 {
  margin-top: 91px
}

.mt92 {
  margin-top: 92px
}

.mt93 {
  margin-top: 93px
}

.mt94 {
  margin-top: 94px
}

.mt95 {
  margin-top: 95px
}

.mt96 {
  margin-top: 96px
}

.mt97 {
  margin-top: 97px
}

.mt98 {
  margin-top: 98px
}

.mt99 {
  margin-top: 99px
}

.mt100 {
  margin-top: 100px
}

.mr1 {
  margin-right: 1px
}

.mr2 {
  margin-right: 2px
}

.mr3 {
  margin-right: 3px
}

.mr4 {
  margin-right: 4px
}

.mr5 {
  margin-right: 5px
}

.mr6 {
  margin-right: 6px
}

.mr7 {
  margin-right: 7px
}

.mr8 {
  margin-right: 8px
}

.mr9 {
  margin-right: 9px
}

.mr10 {
  margin-right: 10px
}

.mr11 {
  margin-right: 11px
}

.mr12 {
  margin-right: 12px
}

.mr13 {
  margin-right: 13px
}

.mr14 {
  margin-right: 14px
}

.mr15 {
  margin-right: 15px
}

.mr16 {
  margin-right: 16px
}

.mr17 {
  margin-right: 17px
}

.mr18 {
  margin-right: 18px
}

.mr19 {
  margin-right: 19px
}

.mr20 {
  margin-right: 20px
}

.mr21 {
  margin-right: 21px
}

.mr22 {
  margin-right: 22px
}

.mr23 {
  margin-right: 23px
}

.mr24 {
  margin-right: 24px
}

.mr25 {
  margin-right: 25px
}

.mr26 {
  margin-right: 26px
}

.mr27 {
  margin-right: 27px
}

.mr28 {
  margin-right: 28px
}

.mr29 {
  margin-right: 29px
}

.mr30 {
  margin-right: 30px
}

.mr31 {
  margin-right: 31px
}

.mr32 {
  margin-right: 32px
}

.mr33 {
  margin-right: 33px
}

.mr34 {
  margin-right: 34px
}

.mr35 {
  margin-right: 35px
}

.mr36 {
  margin-right: 36px
}

.mr37 {
  margin-right: 37px
}

.mr38 {
  margin-right: 38px
}

.mr39 {
  margin-right: 39px
}

.mr40 {
  margin-right: 40px
}

.mr41 {
  margin-right: 41px
}

.mr42 {
  margin-right: 42px
}

.mr43 {
  margin-right: 43px
}

.mr44 {
  margin-right: 44px
}

.mr45 {
  margin-right: 45px
}

.mr46 {
  margin-right: 46px
}

.mr47 {
  margin-right: 47px
}

.mr48 {
  margin-right: 48px
}

.mr49 {
  margin-right: 49px
}

.mr50 {
  margin-right: 50px
}

.mr51 {
  margin-right: 51px
}

.mr52 {
  margin-right: 52px
}

.mr53 {
  margin-right: 53px
}

.mr54 {
  margin-right: 54px
}

.mr55 {
  margin-right: 55px
}

.mr56 {
  margin-right: 56px
}

.mr57 {
  margin-right: 57px
}

.mr58 {
  margin-right: 58px
}

.mr59 {
  margin-right: 59px
}

.mr60 {
  margin-right: 60px
}

.mr61 {
  margin-right: 61px
}

.mr62 {
  margin-right: 62px
}

.mr63 {
  margin-right: 63px
}

.mr64 {
  margin-right: 64px
}

.mr65 {
  margin-right: 65px
}

.mr66 {
  margin-right: 66px
}

.mr67 {
  margin-right: 67px
}

.mr68 {
  margin-right: 68px
}

.mr69 {
  margin-right: 69px
}

.mr70 {
  margin-right: 70px
}

.mr71 {
  margin-right: 71px
}

.mr72 {
  margin-right: 72px
}

.mr73 {
  margin-right: 73px
}

.mr74 {
  margin-right: 74px
}

.mr75 {
  margin-right: 75px
}

.mr76 {
  margin-right: 76px
}

.mr77 {
  margin-right: 77px
}

.mr78 {
  margin-right: 78px
}

.mr79 {
  margin-right: 79px
}

.mr80 {
  margin-right: 80px
}

.mr81 {
  margin-right: 81px
}

.mr82 {
  margin-right: 82px
}

.mr83 {
  margin-right: 83px
}

.mr84 {
  margin-right: 84px
}

.mr85 {
  margin-right: 85px
}

.mr86 {
  margin-right: 86px
}

.mr87 {
  margin-right: 87px
}

.mr88 {
  margin-right: 88px
}

.mr89 {
  margin-right: 89px
}

.mr90 {
  margin-right: 90px
}

.mr91 {
  margin-right: 91px
}

.mr92 {
  margin-right: 92px
}

.mr93 {
  margin-right: 93px
}

.mr94 {
  margin-right: 94px
}

.mr95 {
  margin-right: 95px
}

.mr96 {
  margin-right: 96px
}

.mr97 {
  margin-right: 97px
}

.mr98 {
  margin-right: 98px
}

.mr99 {
  margin-right: 99px
}

.mr100 {
  margin-right: 100px
}

.mb1 {
  margin-bottom: 1px
}

.mb2 {
  margin-bottom: 2px
}

.mb3 {
  margin-bottom: 3px
}

.mb4 {
  margin-bottom: 4px
}

.mb5 {
  margin-bottom: 5px
}

.mb6 {
  margin-bottom: 6px
}

.mb7 {
  margin-bottom: 7px
}

.mb8 {
  margin-bottom: 8px
}

.mb9 {
  margin-bottom: 9px
}

.mb10 {
  margin-bottom: 10px
}

.mb11 {
  margin-bottom: 11px
}

.mb12 {
  margin-bottom: 12px
}

.mb13 {
  margin-bottom: 13px
}

.mb14 {
  margin-bottom: 14px
}

.mb15 {
  margin-bottom: 15px
}

.mb16 {
  margin-bottom: 16px
}

.mb17 {
  margin-bottom: 17px
}

.mb18 {
  margin-bottom: 18px
}

.mb19 {
  margin-bottom: 19px
}

.mb20 {
  margin-bottom: 20px
}

.mb21 {
  margin-bottom: 21px
}

.mb22 {
  margin-bottom: 22px
}

.mb23 {
  margin-bottom: 23px
}

.mb24 {
  margin-bottom: 24px
}

.mb25 {
  margin-bottom: 25px
}

.mb26 {
  margin-bottom: 26px
}

.mb27 {
  margin-bottom: 27px
}

.mb28 {
  margin-bottom: 28px
}

.mb29 {
  margin-bottom: 29px
}

.mb30 {
  margin-bottom: 30px
}

.mb31 {
  margin-bottom: 31px
}

.mb32 {
  margin-bottom: 32px
}

.mb33 {
  margin-bottom: 33px
}

.mb34 {
  margin-bottom: 34px
}

.mb35 {
  margin-bottom: 35px
}

.mb36 {
  margin-bottom: 36px
}

.mb37 {
  margin-bottom: 37px
}

.mb38 {
  margin-bottom: 38px
}

.mb39 {
  margin-bottom: 39px
}

.mb40 {
  margin-bottom: 40px
}

.mb41 {
  margin-bottom: 41px
}

.mb42 {
  margin-bottom: 42px
}

.mb43 {
  margin-bottom: 43px
}

.mb44 {
  margin-bottom: 44px
}

.mb45 {
  margin-bottom: 45px
}

.mb46 {
  margin-bottom: 46px
}

.mb47 {
  margin-bottom: 47px
}

.mb48 {
  margin-bottom: 48px
}

.mb49 {
  margin-bottom: 49px
}

.mb50 {
  margin-bottom: 50px
}

.mb51 {
  margin-bottom: 51px
}

.mb52 {
  margin-bottom: 52px
}

.mb53 {
  margin-bottom: 53px
}

.mb54 {
  margin-bottom: 54px
}

.mb55 {
  margin-bottom: 55px
}

.mb56 {
  margin-bottom: 56px
}

.mb57 {
  margin-bottom: 57px
}

.mb58 {
  margin-bottom: 58px
}

.mb59 {
  margin-bottom: 59px
}

.mb60 {
  margin-bottom: 60px
}

.mb61 {
  margin-bottom: 61px
}

.mb62 {
  margin-bottom: 62px
}

.mb63 {
  margin-bottom: 63px
}

.mb64 {
  margin-bottom: 64px
}

.mb65 {
  margin-bottom: 65px
}

.mb66 {
  margin-bottom: 66px
}

.mb67 {
  margin-bottom: 67px
}

.mb68 {
  margin-bottom: 68px
}

.mb69 {
  margin-bottom: 69px
}

.mb70 {
  margin-bottom: 70px
}

.mb71 {
  margin-bottom: 71px
}

.mb72 {
  margin-bottom: 72px
}

.mb73 {
  margin-bottom: 73px
}

.mb74 {
  margin-bottom: 74px
}

.mb75 {
  margin-bottom: 75px
}

.mb76 {
  margin-bottom: 76px
}

.mb77 {
  margin-bottom: 77px
}

.mb78 {
  margin-bottom: 78px
}

.mb79 {
  margin-bottom: 79px
}

.mb80 {
  margin-bottom: 80px
}

.mb81 {
  margin-bottom: 81px
}

.mb82 {
  margin-bottom: 82px
}

.mb83 {
  margin-bottom: 83px
}

.mb84 {
  margin-bottom: 84px
}

.mb85 {
  margin-bottom: 85px
}

.mb86 {
  margin-bottom: 86px
}

.mb87 {
  margin-bottom: 87px
}

.mb88 {
  margin-bottom: 88px
}

.mb89 {
  margin-bottom: 89px
}

.mb90 {
  margin-bottom: 90px
}

.mb91 {
  margin-bottom: 91px
}

.mb92 {
  margin-bottom: 92px
}

.mb93 {
  margin-bottom: 93px
}

.mb94 {
  margin-bottom: 94px
}

.mb95 {
  margin-bottom: 95px
}

.mb96 {
  margin-bottom: 96px
}

.mb97 {
  margin-bottom: 97px
}

.mb98 {
  margin-bottom: 98px
}

.mb99 {
  margin-bottom: 99px
}

.mb100 {
  margin-bottom: 100px
}

.ml1 {
  margin-left: 1px
}

.ml2 {
  margin-left: 2px
}

.ml3 {
  margin-left: 3px
}

.ml4 {
  margin-left: 4px
}

.ml5 {
  margin-left: 5px
}

.ml6 {
  margin-left: 6px
}

.ml7 {
  margin-left: 7px
}

.ml8 {
  margin-left: 8px
}

.ml9 {
  margin-left: 9px
}

.ml10 {
  margin-left: 10px
}

.ml11 {
  margin-left: 11px
}

.ml12 {
  margin-left: 12px
}

.ml13 {
  margin-left: 13px
}

.ml14 {
  margin-left: 14px
}

.ml15 {
  margin-left: 15px
}

.ml16 {
  margin-left: 16px
}

.ml17 {
  margin-left: 17px
}

.ml18 {
  margin-left: 18px
}

.ml19 {
  margin-left: 19px
}

.ml20 {
  margin-left: 20px
}

.ml21 {
  margin-left: 21px
}

.ml22 {
  margin-left: 22px
}

.ml23 {
  margin-left: 23px
}

.ml24 {
  margin-left: 24px
}

.ml25 {
  margin-left: 25px
}

.ml26 {
  margin-left: 26px
}

.ml27 {
  margin-left: 27px
}

.ml28 {
  margin-left: 28px
}

.ml29 {
  margin-left: 29px
}

.ml30 {
  margin-left: 30px
}

.ml31 {
  margin-left: 31px
}

.ml32 {
  margin-left: 32px
}

.ml33 {
  margin-left: 33px
}

.ml34 {
  margin-left: 34px
}

.ml35 {
  margin-left: 35px
}

.ml36 {
  margin-left: 36px
}

.ml37 {
  margin-left: 37px
}

.ml38 {
  margin-left: 38px
}

.ml39 {
  margin-left: 39px
}

.ml40 {
  margin-left: 40px
}

.ml41 {
  margin-left: 41px
}

.ml42 {
  margin-left: 42px
}

.ml43 {
  margin-left: 43px
}

.ml44 {
  margin-left: 44px
}

.ml45 {
  margin-left: 45px
}

.ml46 {
  margin-left: 46px
}

.ml47 {
  margin-left: 47px
}

.ml48 {
  margin-left: 48px
}

.ml49 {
  margin-left: 49px
}

.ml50 {
  margin-left: 50px
}

.ml51 {
  margin-left: 51px
}

.ml52 {
  margin-left: 52px
}

.ml53 {
  margin-left: 53px
}

.ml54 {
  margin-left: 54px
}

.ml55 {
  margin-left: 55px
}

.ml56 {
  margin-left: 56px
}

.ml57 {
  margin-left: 57px
}

.ml58 {
  margin-left: 58px
}

.ml59 {
  margin-left: 59px
}

.ml60 {
  margin-left: 60px
}

.ml61 {
  margin-left: 61px
}

.ml62 {
  margin-left: 62px
}

.ml63 {
  margin-left: 63px
}

.ml64 {
  margin-left: 64px
}

.ml65 {
  margin-left: 65px
}

.ml66 {
  margin-left: 66px
}

.ml67 {
  margin-left: 67px
}

.ml68 {
  margin-left: 68px
}

.ml69 {
  margin-left: 69px
}

.ml70 {
  margin-left: 70px
}

.ml71 {
  margin-left: 71px
}

.ml72 {
  margin-left: 72px
}

.ml73 {
  margin-left: 73px
}

.ml74 {
  margin-left: 74px
}

.ml75 {
  margin-left: 75px
}

.ml76 {
  margin-left: 76px
}

.ml77 {
  margin-left: 77px
}

.ml78 {
  margin-left: 78px
}

.ml79 {
  margin-left: 79px
}

.ml80 {
  margin-left: 80px
}

.ml81 {
  margin-left: 81px
}

.ml82 {
  margin-left: 82px
}

.ml83 {
  margin-left: 83px
}

.ml84 {
  margin-left: 84px
}

.ml85 {
  margin-left: 85px
}

.ml86 {
  margin-left: 86px
}

.ml87 {
  margin-left: 87px
}

.ml88 {
  margin-left: 88px
}

.ml89 {
  margin-left: 89px
}

.ml90 {
  margin-left: 90px
}

.ml91 {
  margin-left: 91px
}

.ml92 {
  margin-left: 92px
}

.ml93 {
  margin-left: 93px
}

.ml94 {
  margin-left: 94px
}

.ml95 {
  margin-left: 95px
}

.ml96 {
  margin-left: 96px
}

.ml97 {
  margin-left: 97px
}

.ml98 {
  margin-left: 98px
}

.ml99 {
  margin-left: 99px
}

.ml100 {
  margin-left: 100px
}

.m1 {
  margin: 1px
}

.m2 {
  margin: 2px
}

.m3 {
  margin: 3px
}

.m4 {
  margin: 4px
}

.m5 {
  margin: 5px
}

.m6 {
  margin: 6px
}

.m7 {
  margin: 7px
}

.m8 {
  margin: 8px
}

.m9 {
  margin: 9px
}

.m10 {
  margin: 10px
}

.m11 {
  margin: 11px
}

.m12 {
  margin: 12px
}

.m13 {
  margin: 13px
}

.m14 {
  margin: 14px
}

.m15 {
  margin: 15px
}

.m16 {
  margin: 16px
}

.m17 {
  margin: 17px
}

.m18 {
  margin: 18px
}

.m19 {
  margin: 19px
}

.m20 {
  margin: 20px
}

.m21 {
  margin: 21px
}

.m22 {
  margin: 22px
}

.m23 {
  margin: 23px
}

.m24 {
  margin: 24px
}

.m25 {
  margin: 25px
}

.m26 {
  margin: 26px
}

.m27 {
  margin: 27px
}

.m28 {
  margin: 28px
}

.m29 {
  margin: 29px
}

.m30 {
  margin: 30px
}

.m31 {
  margin: 31px
}

.m32 {
  margin: 32px
}

.m33 {
  margin: 33px
}

.m34 {
  margin: 34px
}

.m35 {
  margin: 35px
}

.m36 {
  margin: 36px
}

.m37 {
  margin: 37px
}

.m38 {
  margin: 38px
}

.m39 {
  margin: 39px
}

.m40 {
  margin: 40px
}

.m41 {
  margin: 41px
}

.m42 {
  margin: 42px
}

.m43 {
  margin: 43px
}

.m44 {
  margin: 44px
}

.m45 {
  margin: 45px
}

.m46 {
  margin: 46px
}

.m47 {
  margin: 47px
}

.m48 {
  margin: 48px
}

.m49 {
  margin: 49px
}

.m50 {
  margin: 50px
}

.m51 {
  margin: 51px
}

.m52 {
  margin: 52px
}

.m53 {
  margin: 53px
}

.m54 {
  margin: 54px
}

.m55 {
  margin: 55px
}

.m56 {
  margin: 56px
}

.m57 {
  margin: 57px
}

.m58 {
  margin: 58px
}

.m59 {
  margin: 59px
}

.m60 {
  margin: 60px
}

.m61 {
  margin: 61px
}

.m62 {
  margin: 62px
}

.m63 {
  margin: 63px
}

.m64 {
  margin: 64px
}

.m65 {
  margin: 65px
}

.m66 {
  margin: 66px
}

.m67 {
  margin: 67px
}

.m68 {
  margin: 68px
}

.m69 {
  margin: 69px
}

.m70 {
  margin: 70px
}

.m71 {
  margin: 71px
}

.m72 {
  margin: 72px
}

.m73 {
  margin: 73px
}

.m74 {
  margin: 74px
}

.m75 {
  margin: 75px
}

.m76 {
  margin: 76px
}

.m77 {
  margin: 77px
}

.m78 {
  margin: 78px
}

.m79 {
  margin: 79px
}

.m80 {
  margin: 80px
}

.m81 {
  margin: 81px
}

.m82 {
  margin: 82px
}

.m83 {
  margin: 83px
}

.m84 {
  margin: 84px
}

.m85 {
  margin: 85px
}

.m86 {
  margin: 86px
}

.m87 {
  margin: 87px
}

.m88 {
  margin: 88px
}

.m89 {
  margin: 89px
}

.m90 {
  margin: 90px
}

.m91 {
  margin: 91px
}

.m92 {
  margin: 92px
}

.m93 {
  margin: 93px
}

.m94 {
  margin: 94px
}

.m95 {
  margin: 95px
}

.m96 {
  margin: 96px
}

.m97 {
  margin: 97px
}

.m98 {
  margin: 98px
}

.m99 {
  margin: 99px
}

.m100 {
  margin: 100px
}

.p1 {
  padding: 1px
}

.p2 {
  padding: 2px
}

.p3 {
  padding: 3px
}

.p4 {
  padding: 4px
}

.p5 {
  padding: 5px
}

.p6 {
  padding: 6px
}

.p7 {
  padding: 7px
}

.p8 {
  padding: 8px
}

.p9 {
  padding: 9px
}

.p10 {
  padding: 10px
}

.p11 {
  padding: 11px
}

.p12 {
  padding: 12px
}

.p13 {
  padding: 13px
}

.p14 {
  padding: 14px
}

.p15 {
  padding: 15px
}

.p16 {
  padding: 16px
}

.p17 {
  padding: 17px
}

.p18 {
  padding: 18px
}

.p19 {
  padding: 19px
}

.p20 {
  padding: 20px
}

.p21 {
  padding: 21px
}

.p22 {
  padding: 22px
}

.p23 {
  padding: 23px
}

.p24 {
  padding: 24px
}

.p25 {
  padding: 25px
}

.p26 {
  padding: 26px
}

.p27 {
  padding: 27px
}

.p28 {
  padding: 28px
}

.p29 {
  padding: 29px
}

.p30 {
  padding: 30px
}

.p31 {
  padding: 31px
}

.p32 {
  padding: 32px
}

.p33 {
  padding: 33px
}

.p34 {
  padding: 34px
}

.p35 {
  padding: 35px
}

.p36 {
  padding: 36px
}

.p37 {
  padding: 37px
}

.p38 {
  padding: 38px
}

.p39 {
  padding: 39px
}

.p40 {
  padding: 40px
}

.p41 {
  padding: 41px
}

.p42 {
  padding: 42px
}

.p43 {
  padding: 43px
}

.p44 {
  padding: 44px
}

.p45 {
  padding: 45px
}

.p46 {
  padding: 46px
}

.p47 {
  padding: 47px
}

.p48 {
  padding: 48px
}

.p49 {
  padding: 49px
}

.p50 {
  padding: 50px
}

.p51 {
  padding: 51px
}

.p52 {
  padding: 52px
}

.p53 {
  padding: 53px
}

.p54 {
  padding: 54px
}

.p55 {
  padding: 55px
}

.p56 {
  padding: 56px
}

.p57 {
  padding: 57px
}

.p58 {
  padding: 58px
}

.p59 {
  padding: 59px
}

.p60 {
  padding: 60px
}

.p61 {
  padding: 61px
}

.p62 {
  padding: 62px
}

.p63 {
  padding: 63px
}

.p64 {
  padding: 64px
}

.p65 {
  padding: 65px
}

.p66 {
  padding: 66px
}

.p67 {
  padding: 67px
}

.p68 {
  padding: 68px
}

.p69 {
  padding: 69px
}

.p70 {
  padding: 70px
}

.p71 {
  padding: 71px
}

.p72 {
  padding: 72px
}

.p73 {
  padding: 73px
}

.p74 {
  padding: 74px
}

.p75 {
  padding: 75px
}

.p76 {
  padding: 76px
}

.p77 {
  padding: 77px
}

.p78 {
  padding: 78px
}

.p79 {
  padding: 79px
}

.p80 {
  padding: 80px
}

.p81 {
  padding: 81px
}

.p82 {
  padding: 82px
}

.p83 {
  padding: 83px
}

.p84 {
  padding: 84px
}

.p85 {
  padding: 85px
}

.p86 {
  padding: 86px
}

.p87 {
  padding: 87px
}

.p88 {
  padding: 88px
}

.p89 {
  padding: 89px
}

.p90 {
  padding: 90px
}

.p91 {
  padding: 91px
}

.p92 {
  padding: 92px
}

.p93 {
  padding: 93px
}

.p94 {
  padding: 94px
}

.p95 {
  padding: 95px
}

.p96 {
  padding: 96px
}

.p97 {
  padding: 97px
}

.p98 {
  padding: 98px
}

.p99 {
  padding: 99px
}

.p100 {
  padding: 100px
}

.h20 {
  height: 20px
}

.h21 {
  height: 21px
}

.h22 {
  height: 22px
}

.h23 {
  height: 23px
}

.h24 {
  height: 24px
}

.h25 {
  height: 25px
}

.h26 {
  height: 26px
}

.h27 {
  height: 27px
}

.h28 {
  height: 28px
}

.h29 {
  height: 29px
}

.h30 {
  height: 30px
}

.h31 {
  height: 31px
}

.h32 {
  height: 32px
}

.h33 {
  height: 33px
}

.h34 {
  height: 34px
}

.h35 {
  height: 35px
}

.h36 {
  height: 36px
}

.h37 {
  height: 37px
}

.h38 {
  height: 38px
}

.h39 {
  height: 39px
}

.h40 {
  height: 40px
}

.h41 {
  height: 41px
}

.h42 {
  height: 42px
}

.h43 {
  height: 43px
}

.h44 {
  height: 44px
}

.h45 {
  height: 45px
}

.h46 {
  height: 46px
}

.h47 {
  height: 47px
}

.h48 {
  height: 48px
}

.h49 {
  height: 49px
}

.h50 {
  height: 50px
}

.h51 {
  height: 51px
}

.h52 {
  height: 52px
}

.h53 {
  height: 53px
}

.h54 {
  height: 54px
}

.h55 {
  height: 55px
}

.h56 {
  height: 56px
}

.h57 {
  height: 57px
}

.h58 {
  height: 58px
}

.h59 {
  height: 59px
}

.h60 {
  height: 60px
}

.h61 {
  height: 61px
}

.h62 {
  height: 62px
}

.h63 {
  height: 63px
}

.h64 {
  height: 64px
}

.h65 {
  height: 65px
}

.h66 {
  height: 66px
}

.h67 {
  height: 67px
}

.h68 {
  height: 68px
}

.h69 {
  height: 69px
}

.h71 {
  height: 71px
}

.h72 {
  height: 72px
}

.h73 {
  height: 73px
}

.h74 {
  height: 74px
}

.h75 {
  height: 75px
}

.h76 {
  height: 76px
}

.h77 {
  height: 77px
}

.h78 {
  height: 78px
}

.h79 {
  height: 79px
}

.h80 {
  height: 80px
}

.h81 {
  height: 81px
}

.h82 {
  height: 82px
}

.h83 {
  height: 83px
}

.h84 {
  height: 84px
}

.h85 {
  height: 85px
}

.h86 {
  height: 86px
}

.h87 {
  height: 87px
}

.h88 {
  height: 88px
}

.h89 {
  height: 89px
}

.h90 {
  height: 90px
}

.h91 {
  height: 91px
}

.h92 {
  height: 92px
}

.h93 {
  height: 93px
}

.h94 {
  height: 94px
}

.h95 {
  height: 95px
}

.h96 {
  height: 96px
}

.h97 {
  height: 97px
}

.h98 {
  height: 98px
}

.h99 {
  height: 99px
}

.h100 {
  height: 100px
}

.top47 {
  top: 47%
}

.top53 {
  top: 53%
}

.top28 {
  top: 28%
}

.left99 {
  left: 99%
}

.left50 {
  left: 50%
}

.left40 {
  left: 40%
}

/*返回页面*/
.page-back {
  position: fixed;
  top: 85px;
  right: 35px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  z-index: 101;
  color: #cc1635;
  border: 1px solid #ccc;
  translate: 0.2s;
  background-color: #f8f8f8;
}

.page-back:hover, .page-back:active {
  color: #ffffff;
  background-color: #cc1635;
}

.d-play {
  display: inline-block;
}

input[type=number].num {
  -moz-appearance: textfield;
}

input[type=number].num::-webkit-inner-spin-button,
input[type=number].num::-webkit-outer-spin-button {
  .h70 {
    height: 70px
  }
  -webkit-appearance: none;
  margin: 0;
}

.goods-xs-img {
  display: inline-block;
  width: $xsImg;
  height: $xsImg;
}

.goods-sm-img {
  display: inline-block;
  width: $smallImg;
  height: $smallImg;
}

.goods-md-img {
  display: inline-block;
  width: $middleImg;
  height: $middleImg;
}

.goods-lg-img {
  display: inline-block;
  width: $largeImg;
  height: $largeImg;
}

.goods-xs-info {
  position: absolute;
  left: $xsImg+20;
  top: 10px;
  right: 10px;
  bottom: 10px;
}

.goods-sm-info {
  position: absolute;
  left: $smallImg+20;
  top: 10px;
  right: 10px;
  bottom: 10px;
}

.goods-md-info {
  position: absolute;
  left: $middleImg+20;
  top: 10px;
  right: 10px;
  bottom: 10px;
}

.goods-lg-info {
  position: absolute;
  left: $largeImg+20;
  top: 10px;
  right: 10px;
  bottom: 10px;
}

.item-bottom-border {
  border-bottom: 1px solid #f5f5f5;
}

.hover-native-img {
  max-width: 600px;
  max-height: 400px;
  position: fixed;
  top: 50%;
  z-index: 100;
  display: none;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hover-biger-img {
  width: 240px !important;
  max-width: 280px;
  max-height: 280px;
  position: fixed;
  z-index: 100;
  display: none;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.hover-big-img {
  width: 180px !important;
  max-width: 220px;
  max-height: 220px;
  position: fixed;
  z-index: 100;
  display: none;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.hover-md-img {
  width: 120px !important;
  max-width: 160px;
  max-height: 160px;
  position: fixed;
  z-index: 100;
  display: none;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.m-auto {
  margin: auto
}

/*商品详情中图片过宽问题，写在组件内的样式不起作用，于是写在公共样式里*/
.summernoteImg img {
  max-width: 100%;
}

/*会员认证审核图片位置，写在组件内的样式不起作用，于是写在公共样式里*/

.imageViewerContainer .imageViewer{
  height: 350px!important;
}
.imageViewerContainer .smallImageViewer{
  height: 70px!important;
}
.imageViewerContainer .smallImageViewer .moreImg{
  margin-left: 40px;
}

