/* ========================================================================
     扩展样式
 ========================================================================== */
$xsImg: 40px;         // 商品列表图片的宽，较小的图
$smallImg: 50px;      // 商品列表图片的宽，较小的图
$middleImg: 60px;     // 商品列表图片的宽，中等大小的图
$largeImg: 80px;      // 商品列表图片的宽，较大的图

@charset "UTF-8";
//重写弹框布局距离
.toast-top-center{
  top:60px;
}
//.toast-top-center,.toast-top-right{
//  top:60px;
//}
//.toast-top-left {
//  top: 60px;
//  left: 230px;
//}
//.toast-bottom-left {
//  left: 230px;
//}
// 必填项已填
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
// 必填项未填
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.position-absolute{
  position: absolute;
}
.position-relative{
  position: relative
}
//操作提示背景色
.ts-bg{
  background: #C9E7F2;
  width: 98%;
  margin: auto;
  margin-top: 15px;
}
//禁止文本选中
.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.clear{clear:both;}
.color-f50{color: #f50;}
.font12{font-size: 12px}
.font13{font-size: 13px}
.font14{font-size: 14px}
.font15{font-size: 15px}
.font16{font-size: 16px}
.font18{font-size: 18px}
.font20{font-size: 20px}
.font22{font-size: 22px}
.font24{font-size: 24px}
.m5{margin: 5px;}
.m15{margin: 15px;}
.m20{margin: 20px;}
.ml15{margin-left: 15px;}
.mt5{margin-top: 5px;}
.mt10{margin-top:10px;}
.mt11{margin-top:11px;}
.mt12{margin-top:12px;}
.mt13{margin-top:13px;}
.mt14{margin-top:14px;}
.mt15{margin-top:15px;}
.mt16{margin-top:16px;}
.mt17{margin-top:17px;}
.mt18{margin-top:18px;}
.mt19{margin-top:19px;}
.mt20{margin-top: 20px;}
.mt21{margin-top:21px;}
.mt22{margin-top:22px;}
.mt23{margin-top:23px;}
.mt24{margin-top:24px;}
.mt25{margin-top:25px;}
.mt26{margin-top:26px;}
.mr5{margin-right: 5px;}
.pt20{padding-top: 20px;}
.pl10{padding-left: 10px;}
.pl11{padding-left: 11px;}
.pl12{padding-left: 12px;}
.pl13{padding-left: 13px;}
.pl14{padding-left: 14px;}
.pl15{padding-left: 15px;}
.pl16{padding-left: 16px;}
.pl17{padding-left: 17px;}
.pl18{padding-left: 18px;}
.pl19{padding-left: 19px;}
.pl20{padding-left: 20px;}
.cursor-p{cursor: pointer}

//扩展背景颜色
.bg-table{ background: #e8ecf1; }

// 扩展主要颜色，山楂红色
.main-red{ color: #CC1635;}
.font-gray{ color: #999}
.gold-star{color: gold;}
.gold-star{color: gold;}
// 单行显示，溢出隐藏（……）适用于宽度固定的元素
._omg{overflow: hidden; text-overflow: ellipsis; white-space:nowrap;}

/* 支持webkit内核的浏览器，相对较适用于移动端的单行文本溢出隐藏* 宽度相对于父级*/
.omg{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;/** 显示的行数 **/overflow: hidden;}
/*多行文本溢出隐藏，设置-webkit-line-clamp: n */
.omg2{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;/** 显示的行数 **/overflow: hidden;}

.w0{width: 0px}
.w1{width: 1%}
.w2{width: 2%}
.w3{width: 3%}
.w4{width: 4%}
.w5{width: 5%}
.w6{width: 6%}
.w7{width: 7%}
.w8{width: 8%}
.w9{width: 9%}
.w10{width: 10%}
.w11{width: 11%}
.w12{width: 12%}
.w13{width: 13%}
.w14{width: 14%}
.w15{width: 15%}
.w16{width: 16%}
.w17{width: 17%}
.w18{width: 18%}
.w19{width: 19%}
.w20{width: 20%}
.w21{width: 21%}
.w22{width: 22%}
.w23{width: 23%}
.w24{width: 24%}
.w25{width: 25%}
.w26{width: 26%}
.w27{width: 27%}
.w28{width: 28%}
.w29{width: 29%}
.w30{width: 30%}
.w31{width: 31%}
.w32{width: 32%}
.w33{width: 33%}
.w34{width: 34%}
.w35{width: 35%}
.w36{width: 36%}
.w37{width: 37%}
.w38{width: 38%}
.w39{width: 39%}
.w40{width: 40%}
.w41{width: 41%}
.w42{width: 42%}
.w43{width: 43%}
.w44{width: 44%}
.w45{width: 45%}
.w46{width: 46%}
.w47{width: 47%}
.w48{width: 48%}
.w49{width: 49%}
.w50{width: 50%}
.w51{width: 51%}
.w52{width: 52%}
.w53{width: 53%}
.w54{width: 54%}
.w55{width: 55%}
.w56{width: 56%}
.w57{width: 57%}
.w58{width: 58%}
.w59{width: 59%}
.w60{width: 60%}
.w61{width: 61%}
.w62{width: 62%}
.w63{width: 63%}
.w64{width: 64%}
.w65{width: 65%}
.w66{width: 66%}
.w67{width: 67%}
.w68{width: 68%}
.w69{width: 69%}
.w70{width: 70%}
.w71{width: 71%}
.w72{width: 72%}
.w73{width: 73%}
.w74{width: 74%}
.w75{width: 75%}
.w76{width: 76%}
.w77{width: 77%}
.w78{width: 78%}
.w79{width: 79%}
.w80{width: 80%}
.w81{width: 81%}
.w82{width: 82%}
.w83{width: 83%}
.w84{width: 84%}
.w85{width: 85%}
.w86{width: 86%}
.w87{width: 87%}
.w88{width: 88%}
.w89{width: 89%}
.w90{width: 90%}
.w91{width: 91%}
.w92{width: 92%}
.w93{width: 93%}
.w94{width: 94%}
.w95{width: 95%}
.w96{width: 96%}
.w97{width: 97%}
.w98{width: 98%}
.w99{width: 99%}
.w100{width: 100%}
.h20{height: 20px}
.h21{height: 21px}
.h22{height: 22px}
.h23{height: 23px}
.h24{height: 24px}
.h25{height: 25px}
.h26{height: 26px}
.h27{height: 27px}
.h28{height: 28px}
.h29{height: 29px}
.h30{height: 30px}
.h31{height: 31px}
.h32{height: 32px}
.h33{height: 33px}
.h34{height: 34px}
.h35{height: 35px}
.h36{height: 36px}
.h37{height: 37px}
.h38{height: 38px}
.h39{height: 39px}
.h40{height: 40px}
.h41{height: 41px}
.h42{height: 42px}
.h43{height: 43px}
.h44{height: 44px}
.h45{height: 45px}
.h46{height: 46px}
.h47{height: 47px}
.h48{height: 48px}
.h49{height: 49px}
.h50{height: 50px}
.h51{height: 51px}
.h52{height: 52px}
.h53{height: 53px}
.h54{height: 54px}
.h55{height: 55px}
.h56{height: 56px}
.h57{height: 57px}
.h58{height: 58px}
.h59{height: 59px}
.h60{height: 60px}
.h61{height: 61px}
.h62{height: 62px}
.h63{height: 63px}
.h64{height: 64px}
.h65{height: 65px}
.h66{height: 66px}
.h67{height: 67px}
.h68{height: 68px}
.h69{height: 69px}
.h71{height: 71px}
.h72{height: 72px}
.h73{height: 73px}
.h74{height: 74px}
.h75{height: 75px}
.h76{height: 76px}
.h77{height: 77px}
.h78{height: 78px}
.h79{height: 79px}
.h80{height: 80px}
.h81{height: 81px}
.h82{height: 82px}
.h83{height: 83px}
.h84{height: 84px}
.h85{height: 85px}
.h86{height: 86px}
.h87{height: 87px}
.h88{height: 88px}
.h89{height: 89px}
.h90{height: 90px}
.h91{height: 91px}
.h92{height: 92px}
.h93{height: 93px}
.h94{height: 94px}
.h95{height: 95px}
.h96{height: 96px}
.h97{height: 97px}
.h98{height: 98px}
.h99{height: 99px}
.h100{height: 100px}

.top47{top: 47%}
.top53{top: 53%}
.top28{top: 28%}
.left99{left: 99%}
.left50{left: 50%}

.d-play{
  display: inline-block;
}

input[type=number].num {
  -moz-appearance:textfield;
}
input[type=number].num::-webkit-inner-spin-button,
input[type=number].num::-webkit-outer-spin-button {
  .h70{height: 70px}
  -webkit-appearance: none;
  margin: 0;
}
.goods-xs-img{
  display: inline-block;
  width: $xsImg;
  height: $xsImg;
}
.goods-sm-img{
  display: inline-block;
  width: $smallImg;
  height: $smallImg;
}
.goods-md-img{
  display: inline-block;
  width: $middleImg;
  height: $middleImg;
}
.goods-lg-img{
  display: inline-block;
  width: $largeImg;
  height: $largeImg;
}
.goods-xs-info{
  position: absolute;
  left: $xsImg+20;
  top: 10px;
  right: 10px;
  bottom: 10px;
}
.goods-sm-info{
  position: absolute;
  left: $smallImg+20;
  top: 10px;
  right: 10px;
  bottom: 10px;
}
.goods-md-info{
  position: absolute;
  left: $middleImg+20;
  top: 10px;
  right: 10px;
  bottom: 10px;
}
.goods-lg-info{
  position: absolute;
  left: $largeImg+20;
  top: 10px;
  right: 10px;
  bottom: 10px;
}
.item-bottom-border{
  border-bottom: 1px solid #f5f5f5;
}

.hover-big-img{
  width: 160px !important;
  height: 160px !important;
  position: fixed;
  z-index: 100;
  display: none;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px 1px  rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px 1px  rgba(0, 0, 0, 0.5);
}
.hover-md-img{
  width: 120px !important;
  height: 120px !important;
  position: fixed;
  z-index: 100;
  display: none;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px 1px  rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px 1px  rgba(0, 0, 0, 0.5);
}
.m-auto{
  margin: auto;
}
