/* ========================================================================
     扩展样式 - 弹窗样式
 ========================================================================== */

@charset "UTF-8";

$popup-bg:           #fff;
$popup-border-color: grayscale(darken($popup-bg, 20%));
$popup-color:        $text-color;
$popup-wd:           $aside-wd + 15px;      // match the width with the main aside component


.mask{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index-main-section + 100;
  background-color: rgba(0, 0, 0, .7);
}

.popup {
  width: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 0;
  border: 2px solid #F0F0F0;
  box-shadow: 0px 0px 0px 2px #f5f5f5;
  background-color: $popup-bg;
  color: $popup-color;
  overflow: auto;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-overflow-scrolling: touch;
}
.pop{
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.popup-hd{
  padding: 10px 20px;
  position: relative;
  border-bottom: 1px solid #eee;
}
.popup-colse{
  width: 20px;
  height: 20px;
  line-height:20px;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: xx-large;
}
.popup-colse:hover{
  color: #cc1635;
  cursor: pointer;
}
.popup-colse:active{
   color: #b30624;
 }

.popup-bd{
  min-height: 200px;
  max-height: 500px;
  padding: 20px;
  overflow-y: auto;
}
.popup-ft{
  padding: 10px 20px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.animated {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }


  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -3000px, 0);
    -ms-transform: translate3d(-50%, -3000px, 0);
    transform: translate3d(-50%, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -45%, 0);
    -ms-transform: translate3d(-50%, -45%, 0);
    transform: translate3d(-50%, -45%, 0);
  }

  75% {
    -webkit-transform: translate3d(-50%, -52%, 0);
    -ms-transform: translate3d(-50%, -52%, 0);
    transform: translate3d(-50%, -52%, 0);
  }

  90% {
    -webkit-transform: translate3d(-50%, -48%, 0);
    -ms-transform: translate3d(-50%, -48%, 0);
    transform: translate3d(-50%, -48%, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -3000px, 0);
    -ms-transform: translate3d(-50%, -3000px, 0);
    transform: translate3d(-50%, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -44%, 0);
    -ms-transform: translate3d(-50%, -44%, 0);
    transform: translate3d(-50%, -44%, 0);
  }

  75% {
    -webkit-transform: translate3d(-50%, -52%, 0);
    -ms-transform: translate3d(-50%, -52%, 0);
    transform: translate3d(-50%, -52%, 0);
  }

  90% {
    -webkit-transform: translate3d(-50%, -49%, 0);
    -ms-transform: translate3d(-50%, -49%, 0);
    transform: translate3d(-50%, -49%, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}






