<div class="content-heading mb-lg thc font">
  平台红包统计
</div>
<div class="panel mb p ts thc">
  <p class="font18">操作提示</p>
  <ul>
    <li>可以按月、周、天进行进行搜索统计</li>
    <li>按月搜索统计，点击每一天的柱形可以查看当天的各个面额的领取和发放情况</li>
  </ul>
</div>
<!--方块统计 start-->
<div class=" panel-default">
  <!--红包统计 start-->
  <div class="row r3">
    <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9">
              <!--<div class=" font14 f-bold">发放金额（元）</div>-->
              <div class="font14">今日发放红包总金额</div>
              <p class="text-md m0" *ngIf="redPackStatic?.totalAmountToday!=null">{{redPackStatic?.totalAmountToday | decimalTwo}}</p>
              <p class="text-md m0" *ngIf="redPackStatic?.totalAmountToday==null">0.00</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-shopping-cart fa-3x tp-em"></em>
            </div>
          </div>
        </div>
        <!-- END panel-->
      </div>
    </div>
    <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9 ">
              <!--<div class="font14 f-bold">领取金额（元）</div>-->
              <div class="font14">今日领取红包总金额</div>
              <p class="text-md m0" *ngIf="redPackStatic?.useAmountToday!=null">{{redPackStatic?.useAmountToday | decimalTwo}}</p>
              <p class="text-md m0" *ngIf="redPackStatic?.useAmountToday==null">0</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-calendar fa-3x tp-em"></em>
            </div>
          </div>
        </div>
      </div>
      <!-- END panel-->
    </div>
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-9 ">
              <!--<div class="font14 f-bold">发放数量</div>-->
              <div class="font14">今日发放红包数量</div>
              <p class="text-md m0" *ngIf="redPackStatic?.totalNumToday!=null">{{redPackStatic?.totalNumToday}}</p>
              <p class="text-md m0" *ngIf="redPackStatic?.totalNumToday==null">0</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="icon icon-user-follow fa-3x tp-em"></em>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-9 ">
              <!--<div class="font14 f-bold">领取数量</div>-->
              <div class="font14">今日领取红包数量</div>
              <p class="text-md m0" *ngIf="redPackStatic?.useNumToday!=null">{{redPackStatic?.useNumToday}}</p>
              <p class="text-md m0" *ngIf="redPackStatic?.useNumToday==null">0</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-group fa-3x tp-em"></em>
            </div>
          </div>
        </div>
      </div>
      <!-- END panel-->
    </div>
  </div>
  <!--红包统计 end-->
</div>
<!--方块统计 end-->

<!--搜索 start-->
<div class="w98 m-auto h50">
  <!--搜索图标 start-->
  <span class="btn statistic-btn btn-default thc btn-thc m0" (click)="selectInfos()">
    <i class="icon icon-magnifier"></i>
  </span>
  <!--搜索图标 end-->
  <!--搜索条件 start-->
  <div class="pull-right">
    <div class="col-xs-3 form-group" style="width: 400px">
      <div *ngIf="showType.MONTH">
        <select [(ngModel)]="select.year" class="pull-left w43 form-control d-play" style="margin-right: 20px">
          <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
        </select>
        <select [(ngModel)]="select.month" class="w43 form-control">
          <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
        </select>
      </div>
      <div *ngIf="showType.WEEK">
        <select [(ngModel)]="select.year" class="form-control w22 pull-left mr5">
          <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
        </select>
        <select [(ngModel)]="select.month" (change)="getWeekListByMonth()" class="form-control w21 pull-left mr5">
          <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
        </select>
        <select [(ngModel)]="select.week" class="form-control w53">
          <option *ngFor="let info of weekForMonth" value="{{info}}">{{info}}</option>
        </select>
      </div>
      <div *ngIf="showType.DAY" style="margin-right: 60px">
        <input type="text" class="form-control" bsDatepicker [(ngModel)]="datepickerModel" (change)="test()"
               [bsConfig]="bsConfig" #dpr="bsDatepicker"/>
        <span class="statistic-btn input-group-addon fa fa-calendar spanbtn h35" (click)="dpr.show()"></span>
      </div>
    </div>
  </div>
  <!--搜索条件 end-->
  <!--统计时间类型 start-->
  <select class="sel form-control pull-right" name="queryType"
          [(ngModel)]="queryType" (change)="search()">
    <option *ngFor="let item of queryTypes" [value]="item.key">{{item.val}}</option>
  </select>
  <!--统计时间类型 end-->
</div>
<!--搜索 end-->

<!--红包统计图 start-->
<div>
  <div class="panel m-auto">
    <div echarts [options]="optionPrev" (chartClick)="onChartClick($event)" class="demo-chart w100"></div>
  </div>
</div>
<!--红包统计图 end-->
