<div class="rightpage">
  <form class="form-validate form-horizontal" #addBrand="ngForm" style="height: 100%">
    <!-- START panel-->
    <div class="mb-xl">
      <!--可编辑表单 start-->
      <div class="panel-body" *ngIf="editBrand">
        <fieldset class="b0">
          <legend class="thc font">{{pageTitle}}</legend>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i class="main-red">*</i>品牌名称</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="brandName" required [(ngModel)]="brandInfo.brandName"
                     #brandName="ngModel" placeholder="请输入品牌名称"/>
            </div>
          </div>
          <div [hidden]="brandName.valid || brandName.pristine"
               class="col-sm-8 pull-right text-danger">
            请输入品牌名称
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">品牌英文名</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="englishName" [(ngModel)]="brandInfo.englishName"
                     placeholder="品牌英文名"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">品牌首字母</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="brandInitial" [(ngModel)]="brandInfo.brandInitial"
                     placeholder="品牌首字母"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">图片</label>
            <div class="col-sm-7">
              <img class="col-sm-5 p-sm" *ngIf="!brandInfo.brandPic && myImg" [src]="uploader.queue[0]._file | imgUrl"
                   alt="">
              <img class="col-sm-5 p-sm" *ngIf="brandInfo.brandPic && myImg" [src]="uploader.queue[0]._file | imgUrl" alt="">
              <img class="col-sm-5 p-sm" *ngIf="brandInfo.brandPic && !myImg" [src]="brandInfo.brandPic"
                   onerror="javascript:this.src='../../../assets/img/dummy.png'" alt="">
              <label class="btn btn-default file-upload">
                <i class="icon-cloud-upload mr"></i>{{brandInfo.brandPic? '修改图片':'上传图片'}}
                <input class="w100" type="file" name="brandPic" ng2FileSelect [uploader]="uploader"
                       accept="image/*" (change)="fileChangeListener()"/>
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">排序</label>
            <div class="col-sm-7">
              <input class="form-control num" type="number" name="brandSort" [tooltip]="tip.brandSort"
                     [(ngModel)]="brandInfo.brandSort" #brandSort="ngModel" [pattern]="patterns.doubleDigit"
                     placeholder="排序"/>
            </div>
          </div>
          <div [hidden]="brandSort.valid || brandSort.pristine"
               class="col-sm-8 pull-right text-danger">
            请填写0-99的整数
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">是否推荐</label>
            <div class="col-sm-7">
              <label class="radio-inline c-radio">
                <input type="radio" name="brandRecommend" value="Y" checked="checked"
                       [(ngModel)]="brandInfo.brandRecommend"/>
                <span class="fa fa-circle"></span>是</label>
              <label class="radio-inline c-radio">
                <input type="radio" name="brandRecommend" value="N" [(ngModel)]="brandInfo.brandRecommend"/>
                <span class="fa fa-circle"></span>否</label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">品牌展示类型</label>
            <div class="col-sm-7">
              <label class="radio-inline c-radio">
                <input type="radio" name="showType" value="IMG" checked="checked" [(ngModel)]="brandInfo.showType"/>
                <span class="fa fa-circle"></span>图片</label>
              <label class="radio-inline c-radio">
                <input type="radio" name="showType" value="TXT" [(ngModel)]="brandInfo.showType"/>
                <span class="fa fa-circle"></span>文本</label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">状态</label>
            <div class="col-sm-7">
              <label class="radio-inline c-radio">
                <input type="radio" name="state" value="SHOW" checked="checked" [(ngModel)]="brandInfo.state"/>
                <span class="fa fa-circle"></span>显示</label>
              <label class="radio-inline c-radio">
                <input type="radio" name="state" value="HIDE" [(ngModel)]="brandInfo.state"/>
                <span class="fa fa-circle"></span>隐藏</label>
            </div>
          </div>
        </fieldset>
      </div>
      <!--可编辑表单 end-->

      <!--修改图片 start-->
      <div class="panel-body pb-xl" *ngIf="upBrandImg">
        <fieldset class="b0">
          <legend>{{pageTitle}}</legend>
        </fieldset>
        <fieldset *ngIf="path=='upBrandImg'">
          <div class="form-group">
            <label class="col-sm-2"></label>
            <div class="col-sm-8">
              <img class="p-lg w100" *ngIf="myImg" [src]="uploader.queue[0]._file | imgUrl" alt="">
              <label class="btn btn-default file-upload">
                <i class="icon-cloud-upload mr"></i>{{fileName}}
                <input type="file" name="brandPic" ng2FileSelect [uploader]="uploader"
                       (change)="fileChangeListener()"/>
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <!--修改图片 end-->

      <!--展示详情 start-->
      <div class="panel-body pb-xl" *ngIf="brandDetail">
        <fieldset class="b0">
          <legend>{{pageTitle}}</legend>
        </fieldset>
        <table class="t-items p w100">
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-4">品牌名称：</td>
            <td class="item-bd col-sm-7 mb0">{{brandInfo.brandName}}</td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-4">所属分类：</td>
            <td class="item-bd col-sm-7 mb0">{{brandKind}}</td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-4">品牌英文名：</td>
            <td class="item-bd col-sm-7 mb0">{{brandInfo.englishName}}</td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-4">品牌首字母：</td>
            <td class="item-bd col-sm-7 mb0">{{brandInfo.brandInitial}}</td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-4">图片：</td>
            <td class="item-bd col-sm-7 mb0"><img [src]="brandInfo.brandPic"
                                                  onerror="javascript:this.src='../../../assets/img/dummy.png'"
                                                  height="50" alt=""></td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-4">排序：</td>
            <td class="item-bd col-sm-7 mb0">{{brandInfo.brandSort}}</td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-4">店铺编码：</td>
            <td class="item-bd col-sm-7 mb0">{{brandInfo.storeCode }}</td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-4">审核状态：</td>
            <td class="item-bd col-sm-7 mb0">{{brandInfo.brandApply | rzhState: '1023'}}
            </td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-4">是否推荐：</td>
            <td class="item-bd col-sm-7 mb0">{{brandInfo.brandRecommend | rzhState: '1001'}}</td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-4">品牌展示类型：</td>
            <td class="item-bd col-sm-7 mb0">{{brandInfo.showType | rzhState: '1024'}}</td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-4">显示状态：</td>
            <td class="item-bd col-sm-7 mb0">{{brandInfo.state | rzhState: '1025'}}</td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-4">创建时间：</td>
            <td class="item-bd col-sm-7 mb0">{{brandInfo.createTime}}</td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-4">更新时间：</td>
            <td class="item-bd col-sm-7 mb0">{{brandInfo.updateTime}}</td>
          </tr>
        </table>
      </div>
      <!--展示详情 end-->

      <!--btns-->
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left thc font b" (click)="cancel()" type="button">取消</button>

        <!--添加分类 -->
        <button class="ml btn btn-info pull-left thc bg b" type="button" (click)="addBrandForm()" *ngIf="editBrand"
                [disabled]="!addBrand.form.valid">提交
        </button>

        <!--从详情转修改-->
        <button class="ml btn btn-info pull-left" type="button" (click)="toUpdateBrand()" *ngIf="brandDetail"
                [disabled]="!addBrand.form.valid">修改品牌信息
        </button>

        <!--修改品牌图片-->
        <button class="ml btn btn-info pull-left" type="button" (click)="addBrandForm()" *ngIf="upBrandImg"
                [disabled]="!myImg">修改图片
        </button>
      </div>
    </div>

    <!-- END panel-->
  </form>

</div>
