.guide {
  list-style: none;
}
.guide li{
  height: 86px;
  background-color: #f8f8f8;
}

.guide li:first-child {
  border: none;
}

.guide li i {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  line-height: 18px;
  text-align: center;
  margin: 3px;
}

.guide .cur {
  color: #fff;
}

