<div class="content-heading mb-lg thc font">
  结算统计
</div>

<div class="panel panel-default">
  <!--操作提示-->
  <div class="panel mb p w98 m-auto ts thc user-top">
    <p class="font18">操作提示</p>
    <ul>
      <li>统计数据色块展示了时间段内结算总数据</li>
      <li>统计表展示了时间段内店铺结算的销售和费用相关数据</li>
    </ul>
  </div>
  <div class="w98 m-auto h50">
    <span class="btn statistic-btn btn-default m0" (click)="selectInfos()">
        <i class="icon icon-magnifier"></i>
      </span>
    <div class="w90" >
      <div class="col-xs-3 form-group pull-right" >
         <input class="form-control" bsDaterangepicker [bsConfig]="bsConfig" #dpr="bsDaterangepicker" type="daterange" [(ngModel)]="dates" >
         <span class="statistic-btn input-group-addon fa fa-calendar spanbtn h35" (click)="dpr.show()"></span>
      </div>
    </div>
  </div>
</div>

<!--图文结合-->
  <div class="row r3">
    <div class="col-md-4">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9">
              <div class="">订单金额（元）</div>
              <p class="text-md m0" *ngIf="data.ordPay!=null">{{data.ordPay | decimalTwo}}</p>
              <!--<p class="text-md m0" *ngIf="data.ordPay==null">0.00</p>-->
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-shopping-cart fa-3x tp-em"></em>
            </div>
          </div>
        </div>
        <!-- END panel-->
      </div>
    </div>
    <div class="col-md-4">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9 ">
              <div class="">退款金额（元）</div>
              <p class="text-md m0" *ngIf="data.refundPay!=null">{{data.refundPay | decimalTwo}}</p>
              <!--<p class="text-md m0" *ngIf="data.refundPay==null">0.00</p>-->
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-gavel fa-3x tp-em"></em>
            </div>
          </div>
        </div>
      </div>
      <!-- END panel-->
    </div>
    <div class="col-md-4">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-9 ">
              <div class="">实收金额（元）</div>
              <p class="text-md m0" *ngIf="data.realPay!=null">{{data.realPay  | decimalTwo}}</p>
              <!--<p class="text-md m0" *ngIf="data.realPay==null">0.00</p>-->
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-tags fa-3x tp-em"></em>
            </div>
          </div>
        </div>
      </div>
      <!-- END panel-->
    </div>
  </div>
  <div class="row r3">
    <div class="col-md-4">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-9">
              <div class="">实收佣金（元）</div>
              <p class="text-md m0" *ngIf="data.extraction!=null">{{data.extraction | decimalTwo}}</p>
              <!--<p class="text-md m0" *ngIf="data.extraction==null">0.00</p>-->
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-pie-chart fa-3x tp-em"></em>
            </div>
          </div>
        </div>
        <!-- END panel-->
      </div>
    </div>
    <div class="col-md-4">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9 ">
              <div class="">总收入（元）</div>
              <p class="text-md m0" *ngIf="data.balance!=null">{{data.balance | decimalTwo}}</p>
              <!--<p class="text-md m0" *ngIf="data.balance==null">0.00</p>-->
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-calculator fa-3x tp-em"></em>
            </div>
          </div>
        </div>
      </div>
      <!-- END panel-->
    </div>
  </div>

<!--统计表-->
<div class="panel panel-default">
  <div class="table-title thc ts statics-font">销售收入统计表</div>
  <div class="panel-body">
    <table class="table table-striped" (pageChange)="qeuryAll($event)">
      <thead>
      <tr>
        <th class="text-center w10 thc font">
          <span by="name">店铺名称</span>
        </th>
        <th class="text-center w15 thc font">
          <span by="email">订单金额（元）</span>
        </th>
        <th class="text-center w15 thc font">
          <span by="name">实收金额（元）</span>
        </th>
        <th class="text-center w15 thc font">
          <span by="name">退单金额（元）</span>
        </th>
        <th class="text-center w15 thc font">
          <span by="name">收取佣金（元）</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-center" *ngFor="let refund of data.resultList">
        <td>{{refund.toName}}</td>
        <td class="">{{refund.ordPay | decimalTwo}}</td>
        <td class="">{{refund.realPay | decimalTwo}}</td>
        <td class="">{{refund.refundPay | decimalTwo}}</td>
        <td class="">{{refund.extraction | decimalTwo}}</td>
      </tr>
    </table>
  </div>
</div>


