<div class="content-heading mb-lg">
  结算统计
</div>

<div class="panel panel-default">

  <div class="panel mb p ts">
    <p class="font18">操作提示</p>
    <ul>
      <li>统计数据色块展示了时间段内结算总数据</li>
      <li>统计表展示了时间段内店铺结算的销售和费用相关数据</li>
    </ul>
  </div>
  <div class="xz">

    <button class="btn">搜索</button>
    <select name="" id="" class="sel">
      <option value="按照天统计">按照天统计</option>
      <option value="按照周统计">按照周统计</option>
      <option value="按照月统计">按照月统计</option>
    </select>
    <select name="" id="" class="sel">
      <option value="按照天统计">按照天统计</option>
      <option value="按照周统计">按照周统计</option>
      <option value="按照月统计">按照月统计</option>
    </select>

  </div>

  <div class="row r3">
    <div class="col-md-4">
      <!-- START panel-->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <em class="fa fa-comments fa-5x"></em>
            </div>
            <div class="col-xs-9 text-right">
              <div class="text-lg">26</div>
              <p class="m0">New Comments!</p>
            </div>
          </div>
        </div>
        <!-- END panel-->
      </div>
    </div>
    <div class="col-md-4">
      <!-- START panel-->
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <em class="fa fa-tasks fa-5x"></em>
            </div>
            <div class="col-xs-9 text-right">
              <div class="text-lg">12</div>
              <p class="m0">New Tasks!</p>
            </div>
          </div>
        </div>
      </div>
      <!-- END panel-->
    </div>
    <div class="col-md-4">
      <!-- START panel-->
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <em class="fa fa-shopping-cart fa-5x"></em>
            </div>
            <div class="col-xs-9 text-right">
              <div class="text-lg">124</div>
              <p class="m0">New Orders!</p>
            </div>
          </div>
        </div>
      </div>
      <!-- END panel-->
    </div>

  </div>

  <div class="panel panel-default">
    <div class="new-vip">销售收入统计表</div>
    <div class="panel-body">
      <table class="table table-striped" #dataTable="rzhDataTable"  [rzhData]="data"  (pageChange)="queryDatas($event)">
        <thead>
        <tr>
          <th style="width: 15%;border: 1px solid #ccc;text-align: center">
            <rzhDefaultSorter by="name">店铺名称</rzhDefaultSorter>
          </th>
          <th class="th">
            <rzhDefaultSorter by="email">订单金额（元）</rzhDefaultSorter>
          </th>
          <th class="th">
            <rzhDefaultSorter by="name">收取佣金（元）</rzhDefaultSorter>
          </th>
          <th class="th">
            <rzhDefaultSorter by="name">退单金额（元）</rzhDefaultSorter>
          </th>
          <th class="th">
            <rzhDefaultSorter by="name">退会佣金（元）</rzhDefaultSorter>
          </th>
          <th class="th">
            <rzhDefaultSorter by="name">店铺费用（元）</rzhDefaultSorter>
          </th>
          <th class="th">
            <rzhDefaultSorter by="name">结算金额（元）</rzhDefaultSorter>
          </th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="td">aaa</td>
          <td class="td">sss</td>
          <td class="td">ddd</td>
          <td class="td">aaa</td>
          <td class="td">aaa</td>
          <td class="td">sss</td>
          <td class="td">ddd</td>
        </tr>
      </table>
      <!--<tfoot>-->
      <!--<tr>-->
        <!--<td colspan="5">-->
          <!--<div class="col-sm-5">-->
            <!--<div class="text-muted"><strong>第 {{data.genStartRow()}} 至 {{data.genEndRow()}} 条，共 {{data.totalRow}} 条</strong></div>-->
          <!--</div>-->
          <!--<div class="col-sm-7">-->
            <!--<div style="float: right"><rzhBootstrapPaginator></rzhBootstrapPaginator></div>-->
          <!--</div>-->
        <!--</td>-->
      <!--</tr>-->
      <!--</tfoot>-->
    </div>
  </div>
</div>

