<div class="content-heading mb-lg">
  结算统计
</div>

<div class="panel panel-default">
<!--操作提示-->
  <div class="panel mb p w98 m-auto ts">
    <p class="font18">操作提示</p>
    <ul>
      <li>统计数据色块展示了时间段内结算总数据</li>
      <li>统计表展示了时间段内店铺结算的销售和费用相关数据</li>
    </ul>
  </div>
  <div class="w98 m-auto h50">
    <button class="statistic-btn btn-default m0"><i class="icon icon-magnifier"></i></button>
    <div class="pull-right" style="width: 300px">
      <div class="col-xs-3 form-group" style="width: 250px">
        <input type="text" class="form-control" bsDatepicker [(ngModel)]="datepickerModel" #dpr="bsDatepicker"/>
        <span class="statistic-btn input-group-addon fa fa-calendar spanbtn h35" (click)="dpr.show()"></span>
      </div>
    </div>
    <select name="" id="" class="sel form-control pull-right" style="margin-right: 20px">
      <option value="按照天统计">按照天统计</option>
      <option value="按照周统计">按照周统计</option>
      <option value="按照月统计">按照月统计</option>
    </select>

    <!--<select  class="sel form-control pull-right" style="margin-right: 20px" name="authState" [(ngModel)]="authState" (change)="search($event)">-->
    <!--<option *ngFor="let item of authStates" [value]="item.key">{{item.val}}</option>-->
    <!--</select>-->
  </div>
<!--图文结合-->
  <div class="row r3">
    <div class="col-md-4">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-9">
              <div class="">订单金额（元）</div>
              <p class="text-md m0">New Comments!</p>
            </div>
            <div class="col-xs-3 text-right">
            <em class="fa fa-shopping-cart fa-3x tp-em"></em>
            </div>
          </div>
        </div>
        <!-- END panel-->
      </div>
    </div>
    <div class="col-md-4">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9 ">
              <div class="">退款金额（元）</div>
              <p class="text-md m0">New Tasks!</p>
            </div>
            <div class="col-xs-3 text-right">
            <em class="fa fa-gavel fa-3x tp-em"></em>
            </div>
          </div>
        </div>
      </div>
      <!-- END panel-->
    </div>
    <div class="col-md-4">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-9 ">
              <div class="">实收金额（元）</div>
              <p class="text-md m0">New Orders!</p>
            </div>
            <div class="col-xs-3 text-right">
            <em class="fa fa-tags fa-3x tp-em"></em>
            </div>
          </div>
        </div>
      </div>
      <!-- END panel-->
    </div>
  </div>
  <div class="row r3">
    <div class="col-md-4">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-9">
              <div class="">实收佣金（元）</div>
              <p class="text-md m0">New Comments!</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-pie-chart fa-3x tp-em"></em>
            </div>
          </div>
        </div>
        <!-- END panel-->
      </div>
    </div>
    <div class="col-md-4">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9 ">
              <div class="">店铺费用（元）</div>
              <p class="text-md m0">New Tasks!</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-cube fa-3x tp-em"></em>
            </div>
          </div>
        </div>
      </div>
      <!-- END panel-->
    </div>
    <div class="col-md-4">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-9 ">
              <div class="">总收入（元）</div>
              <p class="text-md m0">New Orders!</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-calculator fa-3x tp-em"></em>
            </div>
          </div>
        </div>
      </div>
      <!-- END panel-->
    </div>
  </div>
<!--统计表-->
  <div class="panel panel-default">
    <div class="table-title">销售收入统计表</div>
    <div class="panel-body">
      <table class="table table-striped" #dataTable="rzhDataTable"  [rzhData]="data"  (pageChange)="queryDatas($event)">
        <thead>
        <tr>
          <th class="text-center w10">
            <rzhDefaultSorter by="name">店铺名称</rzhDefaultSorter>
          </th>
          <th class="text-center w15">
            <rzhDefaultSorter by="email">订单金额（元）</rzhDefaultSorter>
          </th>
          <th class="text-center w15">
            <rzhDefaultSorter by="name">收取佣金（元）</rzhDefaultSorter>
          </th>
          <th class="text-center w15">
            <rzhDefaultSorter by="name">退单金额（元）</rzhDefaultSorter>
          </th>
          <th class="text-center w15">
            <rzhDefaultSorter by="name">退会佣金（元）</rzhDefaultSorter>
          </th>
          <th class="text-center w15">
            <rzhDefaultSorter by="name">店铺费用（元）</rzhDefaultSorter>
          </th>
          <th class="text-center w15">
            <rzhDefaultSorter by="name">结算金额（元）</rzhDefaultSorter>
          </th>

        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
          <td >aaa</td>
          <td class="">sss</td>
          <td class="">ddd</td>
          <td class="">aaa</td>
          <td class="">aaa</td>
          <td class="">sss</td>
          <td class="">ddd</td>
        </tr>
      </table>
      <!--<tfoot>-->
      <!--<tr>-->
        <!--<td colspan="5">-->
          <!--<div class="col-sm-5">-->
            <!--<div class="text-muted"><strong>第 {{data.genStartRow()}} 至 {{data.genEndRow()}} 条，共 {{data.totalRow}} 条</strong></div>-->
          <!--</div>-->
          <!--<div class="col-sm-7">-->
            <!--<div style="float: right"><rzhBootstrapPaginator></rzhBootstrapPaginator></div>-->
          <!--</div>-->
        <!--</td>-->
      <!--</tr>-->
      <!--</tfoot>-->
    </div>
  </div>
</div>

