<div>
  <div class="content-heading mb-lg thc font">
    退货管理
  </div>
  <ul class="order-guide list-unstyled clearfix bb">
    <li class="pull-left thc bb selectState" [class.bb]="search.state=='DELIVERY'"
        (click)="selectState($event.target)">待验货</li>
    <li class="pull-left thc selectState" [class.bb]="search.state=='AGREE'" (click)="selectState($event.target)">
      待用户发货</li>
  </ul>
  <div class="panel panel-default">
    <!--操作提示-->
    <div class="panel mb p ts thc">
      <p class="font18">操作提示</p>
      <ul>
        <li>买家提交退货申请，平台审核通过后买家可退货给配货方。</li>
        <li>买家将货物寄出后，平台将验收货物，验收通过则会退款给买家。</li>
        <li>选择预存款方式支付的,卖家同意并经过平台确认后会将金额以预存款的形式返还给买家。买家选择在线支付方式的，会把在线支付金额原路返回到账号上。
          如果订单同时使用了在线支付方式和预存款支付方式，则会优先使用在线支付方式退款，当在线退款可退款金额为0后才会使用预存款方式退款。
        </li>
      </ul>
    </div>

    <!--搜索 start-->
    <div class="panel mb w98 search">
      <div class="search-group ml-xl mb">
        <span class="search-title font12">是否收到货：</span>
        <div class="search-main">
          <select class="form-control pl-sm pr-sm" name="isReceive" [(ngModel)]="search.isReceive"
                  (change)="queryAllService()">
            <option value="">全部</option>
            <option [value]="state.key" *ngFor="let state of isReceiveList">{{state.val}}</option>
          </select>
        </div>
      </div>
      <div class="search-group ml-xl mb">
        <span class="search-title font12">代理商编码：</span>
        <div class="search-main">
          <input class="form-control num" type="number" name="agentCode" placeholder="代理商编码"
                 [(ngModel)]="search.agentCode">
        </div>
      </div>
      <div class="search-term clearfix ml-xl mb">
        <div class="w30 pr0 pull-left">
          <select class="form-control pl-sm pr-sm" name="sss" [(ngModel)]="search.searchType" #sType (change)="changeSearchType(sType.value)">
            <option value="afterNo">退单单号</option>
            <option value="phone">用户手机号</option>
            <option value="ordno">订单号</option>
            <option value="baseCode">商品基本编码</option>
          </select>
        </div>
        <div class="w70 pl-sm pr0 pull-left">
          <div class="form-group mb0 pr0">
            <div class="w78 pl0 pr0 pull-left mr-sm">
              <input *ngIf="search.searchType=='ordno'" type="text" placeholder="订单编号" name="ordno"
                     class="form-control border-b-grey num" [(ngModel)]="search.ordno" (change)="queryAllService()">
              <input *ngIf="search.searchType=='afterNo'" type="text" placeholder="退单单号" name="afterNo"
                     class="form-control border-b-grey num" [(ngModel)]="search.afterNo" (change)="queryAllService()">
              <input *ngIf="search.searchType=='phone'" type="text" placeholder="用户手机号" name="phone"
                     class="form-control border-b-grey num" [(ngModel)]="search.phone" (change)="queryAllService()">
              <input *ngIf="search.searchType=='baseCode'" type="text" placeholder="商品基本编码" name="goodsBaseCode"
                     class="form-control border-b-grey num" [(ngModel)]="search.goodsBaseCode" (change)="queryAllService()">
            </div>
            <button type="button" title="搜索" (click)="queryAllService()"
                    class="btn thc btn-thc bar-h3-btn mr0 ng-scope">
              <em class="icon-magnifier fa-fw"></em>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--搜索 end-->
    <div class="panel-body">
      <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="returnList"
             (pageChange)="queryAllService($event)">
        <thead>
        <tr>
          <th class="w5 text-center">
            <rzhDefaultSorter by="sort"></rzhDefaultSorter>
          </th>
          <th class="w15 text-center">
            <rzhDefaultSorter by="1">退单单号</rzhDefaultSorter>
          </th>
          <th class="w10 text-center">
            <rzhDefaultSorter by="2">退款金额（元）</rzhDefaultSorter>
          </th>
          <th class="w15 text-center">
            <rzhDefaultSorter by="4">申请人（买家）</rzhDefaultSorter>
          </th>
          <th class="w10 text-center">
            <rzhDefaultSorter by="3">申请时间</rzhDefaultSorter>
          </th>
          <th class="w10 text-center">
            <rzhDefaultSorter by="7">处理状态</rzhDefaultSorter>
          </th>
          <th class="w20 text-center">
            <rzhDefaultSorter by="8">管理操作</rzhDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>

        <ng-container *ngFor="let item of dataTable.data; let i = index">
          <tr class="text-center">
            <td><i class="icon icon-arrow-down thc cursor-p" [class.font]="detail[i]" (click)="showDetail(i)"></i></td>
            <td>{{item.afterNo}}</td>
            <td class="main-red">¥{{item.reqMoney | decimalTwo}}</td>
            <td>{{item.custPhone}}</td>
            <td>{{item.createTime}}</td>
            <td>{{item.state | rzhState:'1602'}}</td>
            <td>
              <button *ngIf="item.state=='DELIVERY'" class="btn btn-success btn-sm fa fa-check-square-o" routerLink="after-details"
                      [queryParams]="{afterNo:item.afterNo,type:'deal',parentPath:'inspect-goods',search:search | toString}"> 验收
              </button>
              <button class="btn btn-green btn-sm icon-magnifier-add" routerLink="after-details"
                      [queryParams]="{afterNo:item.afterNo,type:'detail',parentPath:'inspect-goods',search:search | toString}">
              </button>
            </td>
          </tr>
          <tr *ngIf="detail[i]">
            <td class="p0" colspan="11">
              <div class="bg-table special text-left">
                <span class="">申请原因：</span> <span>{{item.reason}}</span>
              </div>
              <div class="bg-table special text-left">
                <span class="">订单编号：</span> <span>{{item.ordno}}</span>
              </div>
              <div class="bg-table special text-left">
                <span class="">商品编码：</span> <span>{{item.goodsCode}}</span>
              </div>
              <div class="bg-table special text-left">
                <span class="">商品名称：</span> <span>{{item.goodsName}}</span>
              </div>
              <div class="bg-table special text-left">
                <span class="">商品数量：</span> <span>{{item.num}}</span>
              </div>
              <div class="bg-table special text-left h35">
                <span class=" shopimg pull-left">商品图片：</span>
                <span class="">
                 <img [src]="item.goodsImage" alt="" class="buyimg" (mousemove)="showImg($event)"
                      (mouseout)="hideImg($event)" onerror="javascript:this.src='../../../assets/img/dummy.png'">
                 <img [src]="item.goodsImage" class="hover-big-img" alt=""
                      onerror="javascript:this.src='../../../assets/img/dummy.png'">
              </span>
              </div>

            </td>
          </tr>
        </ng-container>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="9">
            <div class="col-sm-5">
              <div class="text-muted"><strong>第 {{returnList.genStartRow()}} 至 {{returnList.genEndRow()}} 条，共
                {{returnList.totalRow}} 条</strong></div>
            </div>
            <div class="col-sm-7">
              <div style="float: right">
                <rzhBootstrapPaginator></rzhBootstrapPaginator>
              </div>
            </div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->
