
.bigImg{
  position: fixed;
  top:0;
  left: 0;
  width: 110px;
  height: auto;
  display: none;
  z-index: 1000;
}
.buyimg{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.special{
  padding-left: 10px;
}
.special:hover{
  background: #DCF8FF;
}
.p0:hover{
  background: #F2F2F2;
}
.order-guide li{
  width: 100px;
  line-height: 2.5;
  text-align: center;
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
}
.order-guide li:hover{
  border-bottom: 1px solid #9dd3ff;
}
.order-guide .cur-order{
  color: #23b7e5;
  border-bottom: 1px solid #23b7e5;
}
