<!--新增文章-->
<div class="col-lg-10" *ngIf="linkType=='addArticle'">
  <form class="form-validate form-horizontal" style="height: 100%" #addArticle="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0"><i>*</i>分类</label>
            <div class="col-sm-3">
              <app-get-class (myData)="getData($event)"></app-get-class>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1  text-right mr-xl pr0"><i>*</i>标题</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="articleTitle" #articleTitleTem="ngModel" ngModel required
                     placeholder='必填项' maxlength="128"/>
              <div [hidden]="articleTitleTem.valid||articleTitleTem.untouched"
                   class="alert alert-danger">
                文章标题是必填项
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1  text-right mr-xl pr0"><i>*</i>短标题</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="articleTitleShort" #articleTitleShortTem="ngModel" ngModel
                     required placeholder='必填项' maxlength="128"/>
              <div [hidden]="articleTitleShortTem.valid||articleTitleShortTem.untouched"
                   class="alert alert-danger">
                文章短标题是必填项
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0"><i>*</i>摘要
            </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="articleAbstract" #articleAbstractTem="ngModel" ngModel
                     required placeholder='必填项' maxlength="128"/>
              <div [hidden]="articleAbstractTem.valid||articleAbstractTem.untouched"
                   class="alert alert-danger">
                文章摘要是必填项
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0"><i>*</i>内容</label>
            <div class="col-sm-10">
              <div id="summernote" class="summernote"></div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0"><i>*</i>封面类型</label>
            <div class="col-sm-10">
              <div class="radio c-radio pull-left" *ngFor="let item of articleCoverTypes">
                <label>
                  <input type="radio" value="{{item.key}}" (click)="coverType(item.key)"
                         [(ngModel)]="articleCoverType" name="articleCoverType" class="col-sm-1"/>
                  <span class="fa fa-circle"></span>{{item.text}}
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset *ngIf="flag">
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0">封面图片</label>
            <div class="col-sm-10">
              <span class="ui-state-disabled pull-left _uploadImg" *ngFor="let item of uploader.queue">
                <span class="close" (click)="item.remove()">×</span>
                <span class="upload-thumb">
                  <img *ngIf="item" [src]="item._file | imgUrl"
                       onerror="javascript:this.src='../../../assets/img/dummy.png'" [alt]="item?.file?.name"
                       class="_img">
                </span>
              </span>
              <div>
                <label for="image-input" class="btn btn-default file-upload col-sm-3">
                  <i class="icon-cloud-upload mr"></i>{{fileName}}
                  <input type="file" name="coverImg" ngModel ng2FileSelect [uploader]="uploader"
                         multiple maxlength="3"/>
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0">标签
            </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" maxlength="128" name="articleTag" #articlekeywordTem="ngModel"
                     ngModel/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0">关键字</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" maxlength="128" name="articlekeyword" #articleTagTem="ngModel"
                     ngModel/>
            </div>
          </div>
        </fieldset>
        <!--<fieldset>-->
          <!--<div class="form-group">-->
            <!--<label class="col-sm-1 text-right mr-xl pr0">相关文章-->
            <!--</label>-->
            <!--<div class="col-sm-10">-->
              <!--<input class="form-control" type="text" maxlength="128" name="articleLink" #articleLinkTem="ngModel"-->
                     <!--ngModel/>-->
            <!--</div>-->
          <!--</div>-->
        <!--</fieldset>-->
        <fieldset>
          <div class="form-group _myLinkGood">
            <label class="col-sm-1 text-right mr-xl pr0">关联商品</label>
            <div class="col-sm-10">
              <input class="form-control" type="hidden" name="goodIds" #goodIdsTem="ngModel" ngModel/>
              <div class='_linkGoods' (click)="linkGood()"><i class="fa fa-plus"></i> 添加商品</div>
            </div>
            <div class="_myAppend col-sm-12" [class.height0]="linkGoodsLength==0">
              <div class="list-group-item">
                <div class="clearfix">
                  <div class="_spanW col-lg-1 p0"></div>
                  <div class="col-lg-6 p0">商品</div>
                  <div class="col-lg-3 p0 text-center"><span class="extra p10 ml"><span>价格</span></span></div>
                  <div class="col-lg-2 p0 text-center"><span class="extra p10 ml _desc">操作</span></div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="pull-right form-group special">
            <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
            <button class="ml btn btn-success pull-left" type="submit" (click)="submit(addArticle.value,'DRAFT')"
                    [disabled]="addArticle.invalid">存草稿
            </button>
            <button class="ml btn btn-info pull-left" type="submit" (click)="submit(addArticle.value,'AUDIT')"
                    [disabled]="addArticle.invalid">发表
            </button>
          </div>
        </fieldset>
      </div>

    </div>
    <!-- END panel-->
  </form>
</div>
<!--修改文章-->
<div class="col-lg-10" *ngIf="linkType=='updateArticle'">
  <form class="form-validate form-horizontal" style="height: 100%" #updateArticle="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0"><i>*</i>分类</label>
            <div class="col-sm-3">
              <app-get-class (myData)="getData($event)" [articleClassId]="emitClasssId"></app-get-class>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0"><i>*</i>标题</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="articleTitle" #articleTitleTem="ngModel"
                     [(ngModel)]="queryArticleData.articleTitle" required
                     placeholder='必填项' maxlength="128"/>
              <div [hidden]="articleTitleTem.valid||articleTitleTem.untouched"
                   class="alert alert-danger">
                文章标题是必填项
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0"><i>*</i>短标题</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="articleTitleShort" #articleTitleShortTem="ngModel"
                     [(ngModel)]="queryArticleData.articleTitleShort"
                     required placeholder='必填项' maxlength="128"/>
              <div [hidden]="articleTitleShortTem.valid||articleTitleShortTem.untouched"
                   class="alert alert-danger">
                文章短标题是必填项
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0"><i>*</i>摘要
            </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="articleAbstract" #articleAbstractTem="ngModel"
                     [(ngModel)]="queryArticleData.articleBody.articleAbstract" required placeholder='必填项'
                     maxlength="128"/>
              <div [hidden]="articleAbstractTem.valid||articleAbstractTem.untouched"
                   class="alert alert-danger">
                文章摘要是必填项
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0"><i>*</i>内容</label>
            <div class="col-sm-10">
              <div id="summernote" class="summernote">
                <span> </span>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0"><i>*</i>封面类型</label>
            <div class="col-sm-10">
              <div class="radio c-radio pull-left" *ngFor="let item of articleCoverTypes">
                <label>
                  <input type="radio" value="{{item.key}}" (click)="coverType(item.key,'true')"
                         [(ngModel)]="queryArticleData.coverType" name="articleCoverType" class="col-sm-1"/>
                  <span class="fa fa-circle"></span>{{item.text}}
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset *ngIf="queryArticleData.coverType!='AUTO'">
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0">封面图片</label>
            <div class="col-sm-10">
              <span class="ui-state-disabled pull-left _uploadImg" *ngFor="let item of uploader.queue">
                <span class="close" (click)="item.remove()">×</span>
                <span class="upload-thumb">
                  <img *ngIf="item" [src]="item._file | imgUrl"
                       onerror="javascript:this.src='../../../assets/img/dummy.png'" [alt]="item?.file?.name"
                       class="_img">
                </span>
              </span>
              <!--修改图片的时候如果有封面图片就展示封面图片-->
              <ng-container *ngIf="queryArticleData.articleCoverVO!=null">
                <span class="ui-state-disabled pull-left _uploadImg" #coverImg  *ngFor="let item of queryArticleData.articleCoverVO;let i = index">
                        <span class="close" (click)="remove(coverImg,item.id)">×</span>
                        <span class="upload-thumb">
                              <img  src="{{item.url }}" class="qpsBgImg" alt="" onerror="javascript:this.src='../../../assets/img/dummy.png';">
                        </span>
                </span>
              </ng-container>
              <div *ngIf="removeCover">
                <label for="image-input" class="btn btn-default file-upload col-sm-3">
                  <i class="icon-cloud-upload mr"></i>{{fileName}}
                  <input type="file" name="coverImg" ngModel ng2FileSelect [uploader]="uploader"
                         multiple maxlength="3"/>
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0">标签
            </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" maxlength="128" name="articlekeyword" #articlekeywordTem="ngModel"
                     [(ngModel)]="queryArticleData.articleTag"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0">关键字</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" maxlength="128" name="articleTag" #articleTagTem="ngModel"
                     [(ngModel)]="queryArticleData.articleKeyword"/>
            </div>
          </div>
        </fieldset>
        <!--<fieldset>-->
          <!--<div class="form-group">-->
            <!--<label class="col-sm-1 text-right mr-xl pr0">相关文章-->
            <!--</label>-->
            <!--<div class="col-sm-10">-->
              <!--<input class="form-control" type="text" maxlength="128" name="articleLink" #articleLinkTem="ngModel"-->
                     <!--[(ngModel)]="queryArticleData.articleLink"/>-->
            <!--</div>-->
          <!--</div>-->
        <!--</fieldset>-->
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0">关联商品</label>
            <div class="col-sm-10">
              <input class="form-control" type="hidden" name="goodIds" #goodIdsTem="ngModel" ngModel/>
              <div class='_linkGoods' (click)="linkGood()"><i class="fa fa-plus"></i> 添加商品</div>
            </div>
            <ul class="_myAppend col-sm-12 _updateClass" [class.height0]="queryArticleData.articleGoods.length==0">
              <div class="list-group-item">
                <div class="clearfix">
                  <div class="_spanW col-lg-1 p0"></div>
                  <div class="col-lg-6 p0">商品</div>
                  <div class="col-lg-3 p0 text-center"><span class="extra p10 ml"><span>价格</span></span></div>
                  <div class="col-lg-2 p0 text-center"><span class="extra p10 ml _desc">操作</span></div>
                </div>
              </div>
              <li *ngFor="let item of queryArticleData.articleGoods; let i = index" class="list-group-item">
                <div class="clearfix">
                  <div class="p0 _span col-lg-1 p0">
                    <img src="{{item.goodsImage}}" alt="" class='_special'
                         onerror="javascript:this.src='../../../assets/img/dummy.png';">
                  </div>
                  <div class="col-lg-6 p0">
                    <span (click)="showDetail(shop)" class="pl0 ml">{{item.name}}</span><br>
                    <div *ngFor="let standard of item.goodsSavSets" class="pl0 ml">
                      {{standard.attrName}}：{{standard.value}}
                    </div>
                    <input type="hidden" value="{{item.goodsCode}}">
                  </div>
                  <div class="col-lg-3 p0 text-center">
                    <span class="extra p10 ml"><span>￥ {{item.price}}</span></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </fieldset>
        <fieldset>
          <div class="pull-right form-group special">
            <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
            <button class="ml btn btn-info pull-left" type="submit" (click)="submit(updateArticle.value)"
                    [disabled]="updateArticle.invalid">保存
            </button>
          </div>
        </fieldset>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>

<!--&lt;!&ndash;关联商品的弹框&ndash;&gt;-->
<div class="model" *ngIf="goodShow">
  <div class="model-main">
    <div class="header">
      <span>关联商品</span><span class="icon" (click)="closeAlert()">关闭</span>
    </div>
    <div class="panel-body ng-scope">
      <div class="col-md-12  p0">
        <div class="col-md-6  p0">
          <div class="form-group clearfix">
            <span class="pull-left query-name lh">选择分类：</span>
            <div class="col-md-8 col-xs-6 pl0">
              <app-get-kind (myData)="getKind($event)"></app-get-kind>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="form-group clearfix">
              <span class="pull-left query-name lh">选择品牌：</span>
              <div class="col-md-8 col-xs-6 pl0">
                <ng-select [allowClear]="true" [items]="brandList" [disabled]="disabled" (data)="refreshValue($event)"
                           placeholder="全部品牌">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 p0">
        <div class="col-md-12 p0">
          <div class="form-group mb0 col-md-5 _extra">
            <div class="pl0">
              <input type="text" [(ngModel)]="goodsName"
                     class="form-control border-b-grey"
                     (change)="search($event)" placeholder="商品名">
            </div>
          </div>
          <div class="col-md-2">
            <button type="button" title="搜索"
                    class="btn thc btn-thc bar-h3-btn mr ng-scope">
              <em class="icon-magnifier fa-fw"></em>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="model-body">
      <div class="row">
        <div class="col-md-5">
          <div class="panel panel-warning">
            <div class="panel-heading">
              可选商品（向右边框拖选择商品）
            </div>
            <div class="panel-body  _scroll" dnd-sortable-container [dropZones]="['boxers-zone']"
                 [sortableData]="linkGoodsList">
              <ul class="list-group">
                <li *ngFor="let item of linkGoodsList; let i = index" class="list-group-item myhover" dnd-sortable
                    [sortableIndex]="i">
                  <div class="clearfix">
                    <div class="p0 _span col-lg-1 p0">
                      <img src="{{item.goodsImage}}" alt="" class='_special'
                           onerror="javascript:this.src='../../../assets/img/dummy.png';">
                    </div>
                    <div class="col-lg-6 p0">
                      <span class="pl0 ml qpsP" (mousemove)="showGoodName($event,j)"  (mouseout)="hideGoodName(j)">{{item.goodsName}}</span><br>
                      <span #j class="pl0 ml hoverName">{{item.goodsName}}</span>
                      <div *ngFor="let standard of item.goodsSavSetList" class="pl0 ml">
                        {{standard.attrName}}：{{standard.value}}
                      </div>
                      <input type="hidden" value="{{item.goodsCode}}">
                    </div>
                    <div class="col-lg-3 p0 text-center">
                      <span class="extra p10 ml"><span>￥ {{item.goodsPrice.price}}</span></span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <i class="fa fa-hand-o-right _pointer"></i>
        </div>
        <div class="col-md-5">
          <div class="panel panel-success">
            <div class="panel-heading">
              已选商品（向左边框拖取消选择）
            </div>
            <div class="panel-body _scroll" dnd-sortable-container [dropZones]="['boxers-zone']"
                 [sortableData]="listTeamOne">
              <ul class="list-group">
                <li *ngFor="let item of listTeamOne; let i = index" class="list-group-item" dnd-sortable
                    [sortableIndex]="i">
                  <div class="clearfix">
                    <div class="p0 _span col-lg-1">
                      <img src="{{item.goodsImage}}" alt="" class='_special'
                           onerror="javascript:this.src='../../../assets/img/dummy.png';">
                    </div>
                    <div class="col-lg-6 _copy p0">
                      <span (mousemove)="showGoodName($event,j)"  (mouseout)="hideGoodName(j)" class="pl0 ml qpsP">{{item.goodsName}}</span><br>
                      <span #j class="pl0 ml hoverName">{{item.goodsName}}</span>
                      <div *ngFor="let standard of item.goodsSavSetList" class="pl0 ml">
                        {{standard.attrName}}：{{standard.value}}
                      </div>
                      <input type="hidden" value="{{item.goodsCode}}">
                    </div>
                    <div class="col-lg-3 p0 text-center">
                      <span class="extra p10 ml"><span>￥ {{item.goodsPrice.price}}</span></span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mr mb clearfix">
      <span class="btn btn-default ml lr pull-right" (click)="closeAlert();">放弃操作</span>
      <button class="ml btn btn-info  ml pull-right" type="button" (click)="alertResult()">提交信息</button>
    </div>
  </div>
</div>
