
.special{
  margin-bottom: 20px;
}

.model{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(0,0,0,.6);
  z-index: 300;
  .model-main{
    min-height: 765px;
    min-width: 900px;
    background: #ffffff;
    border: 1px solid #CCCCCC;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    .model-body{
      margin-left: 15px;
      margin-right:15px;
    }
    .model-bottom{
      margin-top: 40px;
    }
  }
  .header{
    height: 40px;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span:nth-child(1){
      padding-left: 15px;
    }
    span:nth-child(2){
      padding-right: 15px;
      cursor: pointer;
    }
  }
  .model-bottom{
    margin-top: 40px;
  }
}
._linkGoods{
  width:200px;height:42px;border:1px dotted #BFBCBC;line-height: 42px;text-align: center;
}
._special{
  width:60px;height:60px;
}
._span{
  width:60px;height:60px;display: inline-block;
}
._desc{
  width:45px;display: inline-block;
}
._scroll{
  height:500px;
  overflow-y:auto;
  overflow-x:hidden;
}
.query-name{
  line-height: 35px;
}
._pointer{
  display: block;
  line-height: 500px;text-align: center;font-size: 20px;
}
._extra{
  padding-left:0px !important;
  padding-right:30px;
}
._img{
  width:100px;height:100px;
}
._uploadImg{
  display: inline-block;
  margin-bottom: 15px;
}
._myAppend{
  margin-top:15px;
  min-height: 0px !important;
  overflow-y: scroll;
 }
.control-label{
  text-align:left !important; ;
}
._updateClass{
  max-height: 300px;
  overflow-y: scroll;
}
.qpsBgImg{
  width:100px !important;
  height: 100px !important;
  margin-right: 15px;
}
._spanW{
  width:60px
}
.height0{
  height:0px;
}
.myhover{
  cursor: move !important;
}
.qpsP{
  width:100%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;display: block;
}
.hoverName{
  position: absolute;
  top:0;
  left: 0;
  height: auto;
  width:100%;
  display: none;
  z-index: 100000;
  background: #fff;
  white-space:pre-wrap;
}
