.img{
  width: 80px;
}
.bigImg{
  position: fixed;
  top:0;
  left: 0;
  width: 100px;
  height: auto;
  display: none;
  z-index: 1000;
}
.bigImgs{
  position: fixed;
  top:0;
  left: 0;
  max-width: 300px;
  height: auto;
  display: none;
  z-index: 1000;
}

