
<div class="deliver-order fadeIn" *ngIf="showAssignWoWindow">
  <div class="mask"></div>
  <form class="_popup animated fadeIn">
    <div class="pop popup-hd">
      <span class="f-bold thc font">指派</span>
      <div class="popup-colse unselectable" (click)="hideWindow()">×</div>
    </div>
    <!--表单-->
    <div class="pop deliver-box font12 w100">
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">工单编号：</dt>
        <dd class="orderId-color col-xs-9 font14">{{wono}}</dd>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">代理商：</dt>
        <dd class="col-xs-5 font14">
          <select name="expressCode" class="form-control input-sm font14" [(ngModel)]="agentCode">
            <option [value]="agent.agentCode" *ngFor="let agent of agentList">{{agent.agentName}}</option>
          </select>
        </dd>
      </dl>
    </div>
    <div class="panel-footer text-right">
      <button class="ml btn btn-default mr thc font b" type="button" (click)="hideWindow()">放弃操作</button>
      <button class="ml btn btn-info thc bg b" type="button" (click)="delivery()" [disabled]="!agentCode">确认提交</button>
    </div>
  </form>
</div>

