<div class="content-heading mb-lg thc font">
  商品销售明细
</div>
<!--操作提示-->
<div class="panel mb p m-auto ts thc user-top">
  <p class="font18">操作提示</p>
  <ul>
    <li>列表展示了符合搜索条件的订单中所有商品数据，及其时间段内的下单总金额、下单量、商品销量</li>
  </ul>
</div>
<!--统计表-->
<div class="panel panel-default mt20">
  <div class="w98 m-auto h50 pt-lg mb-lg">
    <button type="button" title="搜索" (click)="selectInfos()"
            class="btn thc btn-thc bar-h3-btn ng-scope pull-right">
      <em class="icon-magnifier"></em><span>&nbsp;&nbsp;搜索</span>
    </button>
    <div class="pull-right">
      <div class="col-xs-3 form-group" style="width:400px">

        <div *ngIf="showType.MONTH">
          <select [(ngModel)]="select.year" class="pull-left w43 form-control d-play" style="margin-right: 20px">
            <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
          </select>
          <select [(ngModel)]="select.month" class="w43 form-control">
            <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
          </select>
        </div>

        <div *ngIf="showType.WEEK">
          <select [(ngModel)]="select.year" class="form-control w21 pull-left mr5">
            <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
          </select>
          <select [(ngModel)]="select.month" (change)="getWeekListByMonth()" class="form-control w21 pull-left mr5">
            <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
          </select>
          <select [(ngModel)]="select.week" class="form-control w55">
            <option *ngFor="let info of weekForMonth" value="{{info}}">{{info}}</option>
          </select>
        </div>

        <div *ngIf="showType.DAY" style="margin-right:60px">
          <input type="text" class="form-control" bsDatepicker [(ngModel)]="datepickerModel"
                 [bsConfig]="bsConfig" #dpr="bsDatepicker"/>
          <span class="statistic-btn input-group-addon fa fa-calendar spanbtn h35" (click)="dpr.show()"></span>
        </div>
      </div>
    </div>
    <select class="sel form-control pull-right" style="margin-right: 20px" name="queryType"
            [(ngModel)]="queryType" (change)="search()">
      <option *ngFor="let item of queryTypes" [value]="item.key">{{item.val}}</option>
    </select>
  </div>
    <div class="table-title thc statics-font">商品销售统计表</div>
    <div class="panel-body">
      <table class="table table-striped" #dataTable="rzhDataTable"  [rzhData]="data"  (pageChange)="qeuryAll($event)">
        <thead>
        <tr>
          <th class="w20 text-center">
            <rzhDefaultSorter by="shop">商品名称</rzhDefaultSorter>
          </th>
          <th class="w20 text-center">
            <rzhDefaultSorter by="name">店铺名称</rzhDefaultSorter>
          </th>
          <th class="w20 text-center">
            <rzhDefaultSorter by="money">下单金额（元）</rzhDefaultSorter>
          </th>
          <th class="w20 text-center">
            <rzhDefaultSorter by="count">下单量</rzhDefaultSorter>
          </th>
          <th class="w20 text-center">
            <rzhDefaultSorter by="shopcount">下单商品数</rzhDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngFor="let saledetail of data">
          <td >{{saledetail.goodsName}}</td>
          <td>{{saledetail.storeName}}</td>
          <td class=" thc font">￥&nbsp;{{saledetail.goodsSum}}</td>
          <td>{{saledetail.ordCount}}</td>
          <td>{{saledetail.goodsCount}}</td>
        </tr>
      </table>
    </div>
  </div>


