<div class="content-heading mb-lg">
  商品销售明细
</div>

<div class="panel panel-default">
<!--操作提示-->
  <div class="panel mb p w98 m-auto ts thc">
    <p class="font18">操作提示</p>
    <ul>
      <li>列表展示了符合搜索条件的订单中所有商品数据，及其时间段内的下单总金额、下单量、商品销量</li>
    </ul>
  </div>

  <div class="w98 m-auto h50">
    <button class="statistic-btn btn-default m0"><i class="icon icon-magnifier"></i></button>
    <div class="pull-right" style="width: 300px">
      <div class="col-xs-3 form-group" style="width: 250px">
        <input type="text" class="form-control" bsDatepicker [(ngModel)]="datepickerModel" #dpr="bsDatepicker"/>
        <span class="statistic-btn input-group-addon fa fa-calendar spanbtn h35" (click)="dpr.show()"></span>
      </div>
    </div>
    <select name="" id="" class="sel form-control pull-right" style="margin-right: 20px">
      <option value="按照天统计">按照天统计</option>
      <option value="按照周统计">按照周统计</option>
      <option value="按照月统计">按照月统计</option>
    </select>

    <!--<select  class="sel form-control pull-right" style="margin-right: 20px" name="authState" [(ngModel)]="authState" (change)="search($event)">-->
    <!--<option *ngFor="let item of authStates" [value]="item.key">{{item.val}}</option>-->
    <!--</select>-->
  </div>
<!--统计表-->
  <div class="panel panel-default mt20">
    <div class="table-title">商品销售统计表</div>
    <div class="panel-body">
      <table class="table table-striped" #dataTable="rzhDataTable"  [rzhData]="data"  (pageChange)="queryDatas($event)">
        <thead>
        <tr>
          <th class="w20 text-center">
            <rzhDefaultSorter by="shop">商品名称</rzhDefaultSorter>
          </th>
          <th class="w20 text-center">
            <rzhDefaultSorter by="name">店铺名称</rzhDefaultSorter>
          </th>
          <th class="w20 text-center">
            <rzhDefaultSorter by="money">下单金额（元）</rzhDefaultSorter>
          </th>
          <th class="w20 text-center">
            <rzhDefaultSorter by="count">下单量</rzhDefaultSorter>
          </th>
          <th class="w20 text-center">
            <rzhDefaultSorter by="shopcount">下单商品数</rzhDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
          <td class="">aaa</td>
          <td class="">sss</td>
          <td class="">ddd</td>
          <td class="">ddd</td>
          <td class="">ddd</td>
        </tr>
      </table>
    </div>
  </div>
</div>

