.ts{
  background: #C9E7F2;
  width: 98%;
  margin: auto;
  margin-top: 15px;
}
.text-content{

}
.text-edit{
  margin-bottom: 20px;
}
.edit-table{
  height: 100px;
  margin: auto
}
.text-content{
  padding-left: 270px;
  height: 360px;
  vertical-align: top;
  padding-top: 10px;
}
