<!--新增代理商-->
<div class="col-lg-10" *ngIf="linkType=='addArticle'">
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <input class="form-control" required [(ngModel)]="staff.areaCode" name="areaCode" type="hidden"/>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label"> <i class="main-red">*</i> 代理商名称</label>
            <div class="col-sm-4">
              <input class="form-control" required name="agentName" [(ngModel)]="staff.agentName"
                     #agentName="ngModel" type="text"/>
              <div [hidden]="agentName.valid || agentName.pristine"
                   class="alert alert-danger">
                代理商名称是必填项，请填写代理商名称
              </div>
            </div>
            <label class="col-sm-2 control-label"> <i class="main-red">*</i> 代理商登录账户</label>
            <div class="col-sm-4">
              <input class="form-control" required name="agentAcct" [(ngModel)]="staff.agentAcct"
                     #agentAcct="ngModel" type="text"/>
              <div [hidden]="agentAcct.valid || agentAcct.pristine"
                   class="alert alert-danger">
                代理商登录账户是必填项，请填写代理商登录账户
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label"> <i class="main-red">*</i> 负责人</label>
            <div class="col-sm-4">
              <input class="form-control" required name="leader" [(ngModel)]="staff.leader"
                     #leader="ngModel" type="text"/>
              <div [hidden]="leader.valid || leader.pristine"
                   class="alert alert-danger">
                负责人是必填项，请填写负责人
              </div>
            </div>
            <label class="col-sm-2 control-label"> <i class="main-red">*</i> 身份证号</label>
            <div class="col-sm-4">
              <input class="form-control" required name="idcard" [(ngModel)]="staff.idcard"
                     #idcard="ngModel" type="text" style="position: relative" [pattern]="patterns.idcard"/>
              <div [hidden]="idcard.valid || idcard.pristine"
                   class="alert alert-danger">
                身份证号是必填项，请填写正确身份证号
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label"> <i class="main-red">*</i> 联系电话</label>
            <div class="col-sm-4">
              <input class="form-control" required name="moblie" [(ngModel)]="staff.moblie"
                     #moblie="ngModel" type="text" [pattern]="patterns.phone"/>
              <div [hidden]="moblie.valid || moblie.pristine"
                   class="alert alert-danger">
                联系电话是必填项，请填写正确联系电话
              </div>
            </div>
            <label class="col-sm-2 control-label">座机</label>
            <div class="col-sm-4">
              <input class="form-control" type="text" #telephone="ngModel" name="telephone" ngModel [pattern]="patterns.telephone"/>
              <div [hidden]="telephone.valid || telephone.pristine"
                   class="alert alert-danger">
                请填写正确的座机格式
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label"><i class="main-red">*</i>选择区域</label>
            <div class="col-sm-4">
              <app-four-areas (myData)="getAreaData($event)" name="selectArea" [(ngModel)]="selectArea"></app-four-areas>
            </div>
            <label class="col-sm-2 control-label"> <i class="main-red">*</i> 详细地址</label>
            <div class="col-sm-4">
              <input class="form-control" required name="address" [(ngModel)]="staff.address"
                     #address="ngModel" type="text"/>
              <div [hidden]="address.valid || address.pristine"
                   class="alert alert-danger">
                详细地址是必填项，请填写详细地址
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label"> <i class="main-red">*</i>坐标_经纬度</label>
            <div class="col-sm-2">
              <input class="form-control col-sm-1" type="text" name="coordinateLng" readonly required ngModel [(ngModel)]="staff.coordinateLng"/>
            </div>
            <div class="col-sm-2">
              <input class="form-control col-sm-1 position-relative" type="text" readonly required name="coordinateLat" ngModel [(ngModel)]="staff.coordinateLat"/>
            </div>
          </div>
          <button class="btn btn-info position-absolute  left50 icon-location-pin" style="top:39%" *ngIf="!flag" type="button" (click)="isShowMap(staff)"> 标注经纬度</button>
          <button class="btn btn-info position-absolute  left50 icon-location-pin" style="top:39%" *ngIf="flag" type="button" (click)="isShowMap(staff)"> 修改经纬度</button>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label"> <i class="main-red">*</i>代理点描述</label>
            <div class="col-sm-10">
              <textarea class="form-control" name="description" ngModel [(ngModel)]="staff.description" required placeholder="请添加代理商描述"></textarea>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="pull-right form-group special">
            <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
            <button class="ml btn btn-info pull-left" type="button" [disabled]="!addLimitForm.form.valid" (click)="addLimitList(addLimitForm.value)">提交信息</button>
          </div>
        </fieldset>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>


<!--修改代理商-->
<div class="col-lg-10" *ngIf="linkType=='updataArticle'">
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-default">
        <div class="panel-body">
          <input class="form-control" required [(ngModel)]="agentCode" name="agentCode" type="hidden">
          <input class="form-control" required [(ngModel)]="staff.areaCode" name="areaCode">
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label"> <i class="main-red">*</i> 代理商名称</label>
              <div class="col-sm-4">
                <input class="form-control" required name="agentName" [(ngModel)]="staff.agentName"
                       #agentName="ngModel" type="text"/>
                <div [hidden]="agentName.valid || agentName.pristine"
                     class="alert alert-danger">
                  代理商名称是必填项，请填写代理商名称
                </div>
              </div>
              <label class="col-sm-2 control-label"> <i class="main-red">*</i> 代理商登录账户</label>
              <div class="col-sm-4">
                <input class="form-control" required name="agentAcct" [(ngModel)]="staff.agentAcct"
                       #agentAcct="ngModel" type="text" readonly/>
                <div [hidden]="agentAcct.valid || agentAcct.pristine"
                     class="alert alert-danger">
                  代理商登录账户是必填项，请填写代理商登录账户
                </div>
              </div>

            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label"> <i class="main-red">*</i> 负责人</label>
              <div class="col-sm-4">
                <input class="form-control" required name="leader" [(ngModel)]="staff.leader"
                       #leader="ngModel" type="text"/>
                <div [hidden]="leader.valid || leader.pristine"
                     class="alert alert-danger">
                  负责人是必填项，请填写负责人
                </div>
              </div>
              <label class="col-sm-2 control-label"> <i class="main-red">*</i> 身份证号</label>
              <div class="col-sm-4">
                <input class="form-control" required name="idcard" [(ngModel)]="staff.idcard"
                       #idcard="ngModel" type="text" style="position: relative" [pattern]="patterns.idcard"/>
                <div [hidden]="idcard.valid || idcard.pristine"
                     class="alert alert-danger">
                  身份证号是必填项，请填写正确身份证号
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label"> <i class="main-red">*</i> 联系电话</label>
              <div class="col-sm-4">
                <input class="form-control" required name="moblie" [(ngModel)]="staff.moblie"
                       #moblie="ngModel" type="text" [pattern]="patterns.phone"/>
                <div [hidden]="moblie.valid || moblie.pristine"
                     class="alert alert-danger">
                  联系电话是必填项，请填写正确联系电话
                </div>
              </div>
              <label class="col-sm-2 control-label">座机</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="telephone"  #telephone="ngModel" ngModel [(ngModel)]="staff.telephone" [pattern]="patterns.telephone"/>
                <div [hidden]="telephone.valid || telephone.pristine"
                     class="alert alert-danger">
                  请填写正确的座机格式
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label"><i class="main-red">*</i>选择区域</label>
              <div class="col-sm-4">
                <app-four-areas (myData)="getAreaData($event)" [selectedAreaName]="staff.fullName" ></app-four-areas>
              </div>
              <label class="col-sm-2 control-label"> <i class="main-red">*</i> 详细地址</label>
              <div class="col-sm-4">
                <input class="form-control" required name="address" [(ngModel)]="staff.address"
                       #address="ngModel" type="text"/>
                <div [hidden]="address.valid || address.pristine"
                     class="alert alert-danger">
                  详细地址是必填项，请填写详细地址
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label"> <i class="main-red">*</i>坐标_经纬度</label>
              <div class="col-sm-2">
                <input class="form-control col-sm-1" readonly type="text" name="coordinateLng" required ngModel [(ngModel)]="staff.coordinateLng"/>
              </div>
              <div class="col-sm-2">
                <input class="form-control col-sm-1 position-relative" readonly type="text" required name="coordinateLat" ngModel [(ngModel)]="staff.coordinateLat"/>
              </div>
            </div>
            <button class="btn btn-info position-absolute left50 icon-location-pin" style="top:39%" *ngIf="!flag" type="button" (click)="isShowMap(staff)"> 标注经纬度</button>
            <button class="btn btn-info position-absolute left50 icon-location-pin" style="top:39%" *ngIf="flag" type="button" (click)="isShowMap(staff)"> 修改经纬度</button>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label"> <i class="main-red">*</i>代理点描述</label>
              <div class="col-sm-10">
                <textarea class="form-control" name="description" ngModel [(ngModel)]="staff.description" required placeholder="请添加代理商描述"></textarea>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="pull-right form-group special">
              <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
              <button class="ml btn btn-info pull-left" type="button" [disabled]="!addLimitForm.form.valid" (click)="addLimitList(addLimitForm.value)">提交信息</button>
            </div>
          </fieldset>
        </div>
      </div>

    </div>
    <!-- END panel-->
  </form>
</div>




<div class="model" [class.hide]="!aa">
  <div class="model-main">
    <div class="header">
      <span>选择区域</span><!--<span class="icon" (click)="isShowMap1()"  [class.hide]="!aa">关闭</span>-->
      <i style="padding-right: 15px; cursor: pointer" (click)="buttonShow(staff)" (click)="isShowMap1()" [class.hide]="!aa" class="fa fa-remove"> </i>
    </div>
    <div class="clearfix latitude">
      <div class="pull-left">
        <span class="pull-left">经度：</span><input class="form-control" type="text" name="coordinateLng" required ngModel [(ngModel)]="staff.coordinateLng" disabled/>
      </div>
      <div class="pull-left">
        <span class="pull-left" >纬度：</span><input class="form-control position-relative"  type="text" required name="coordinateLat" ngModel [(ngModel)]="staff.coordinateLat" disabled/>
      </div>
    </div>
    <div class="form-group" [hidden]="!staff.isShowMap">
      <div class="pl0 pr0 isShowMap">
        <input type="text" id="keyword" class="form-control w30 search" name="keyword" value="请输入关键字：(选定后搜索)" onfocus='this.value=""'/>
        <button class="btn btn-info btn-determine" type="button" (click)="buttonShow(staff)" (click)="isShowMap1()" [class.hide]="!aa">确定</button>
        <div id="container">
        </div>
      </div>
    </div>
  </div>
</div>

<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->
