<!--新增文章-->
<div class="col-lg-10" *ngIf="linkType=='addArticle'">
  <form class="form-validate form-horizontal" style="height: 100%" #addArticle="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
          5555555
      </div>

    </div>
    <!-- END panel-->
  </form>
</div>
<!--修改文章-->
<div class="col-lg-10" *ngIf="linkType=='updataArticle'">
  <form class="form-validate form-horizontal" style="height: 100%" #addArticle="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
         66666
      </div>

    </div>
    <!-- END panel-->
  </form>
</div>
