.special{
  margin-bottom: 20px;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.col-sm-2 i{
  color: #a94644;
}
.isShowMap{
  border: 2px solid #cfdbe2;margin: 5px 0;position: relative;
}
.btn-determine{
  position: absolute;bottom: 10px;right: 30px;z-index: 999;
}
.isShowlMap{
  position: absolute;top: 20px;right: 50px;z-index: 999;
}
#container{
  width: 100%;height: 400px;
}

.special{
  height:250px;
  overflow-y: auto;
}

.dropdownToggle.btn{
  text-align: left;
}
.dropdownToggle .caret{
  margin-top: 7px;
}

:host{
  display: block;
  position: relative;
}

.model{
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 4;
  .model-main{
    min-height: 450px;
    min-width: 740px;
    background: #ffffff;
    border: 1px solid #CCCCCC;
    .model-body{
      margin-left: 20px;
      td{
        padding-top: 20px;
        border-bottom: 1px dotted #CCCCCC;
      }
      .area-item{
        padding-left: 50px;
      }
    }
    .model-bottom{
      margin-top: 40px;
    }
  }
  .header{
    height: 40px;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span:nth-child(1){
      padding-left: 20px;
    }
    span:nth-child(2){
      padding-right: 20px;
      cursor: pointer;
    }
  }
}

