.ts{
  background: #C9E7F2;
  width: 98%;
  margin: auto;
  margin-top: 15px;
}
.text-edit{
}
.edit-table{
  height: 100px;
  margin: auto;
}
.text-content{
  vertical-align: top;
  padding-top: 10px;
}
.summernote{
  padding: 0;
}
.note-editor.note-frame .note-editing-area{
  min-height: 300px;
}
.help-center-width{
  min-width: 800px;
}
.problem-box{
  margin-left: 18px;
}
.questiona{
  margin-bottom: 20px;
}
.select{
  margin-bottom: 20px!important;
  margin: auto;
}
.select select{
  margin-left: 60px;
}
.questiona{
  margin-bottom: 50px;
}
.button-operation{
  margin-right:70px;
}
