
<div class="content-heading mb-lg thc font">
  帮助问答（修改）
  <span class="page-back btn btn-thc btn-circle fa fa-mail-reply" (click)="back()"></span>
</div>
<form class="form-validate" #res="ngForm">
  <div class="panel">
    <div class="panel-body help-center-width">
      <div class="select">
        <p class="d-play w10 pull-left update-height">
          <span class="pull-right">问题分类：</span>
        </p>
        <p class="pull-right w89">
          <select id="" class="form-control w20 d-play pull-left" name="kindId" [(ngModel)]="b.kindId" disabled>
            <option [value]="help.id" *ngFor="let help of kinds" >
              {{help.kindName}}
            </option>
          </select>
        </p>
      </div>
      <div class="questiona text-center">
        <p class="d-play w10 pull-left update-height">
        <span class="pull-right">问题：</span>
        </p>
        <p class="pull-right w89">
          <input type="text" class="form-control w73 pull-left" name="question" [(ngModel)]="b.question" required #question="ngModel">
        <div [hidden]="question.valid || question.pristine" class="col-sm-11 pull-right text-danger w90">
          请填写问题
        </div>

      </div>
      <div class="reset-div text-edit">
        <table class="w100 edit-table">
          <tr class="w100">
            <p class="d-play w10 pull-left update-height">
            <td class="pull-right">答案：</td>
            </p>
            <p class="pull-right w89">
            <td class="w100 pull-left">
              <div class="col-sm-9 ml-d15" >
                <div id="summernote" class="summernote"></div>
              </div>
            </td>
            </p>
          </tr>
        </table>
      </div>

      <div class="questiona">
        <p class="d-play w10 pull-left update-height">
          <span class="pull-right">排序：</span>
        </p>
        <p class="pull-right w89">
          <input type="number" class="num form-control w20 pull-left" name="sort" required [(ngModel)]="b.sort" #sort="ngModel" [pattern]="patterns.positive">
        <div [hidden]="sort.valid || sort.pristine"
             class="col-sm-11 pull-right text-danger w90">
          请填写整数
        </div>
      </div>
      <div class="questiona">
        <p class="d-play w10 pull-left">
        </p>
        <p class="pull-right w89">
          <span class="pull-left">
          <button class="ml btn btn-info pull-left thc bg b" type="submit" (click)="submit(res.value)" [disabled]="!res.form.valid">提交信息</button>
          <button class="ml btn btn-default mr pull-left thc font b" (click)="back()" type="button">放弃操作</button>
          </span>
        </p>
      </div>

    </div>
  </div>
</form>
