
.edit-table{
  height: 100px;
  margin: auto;
}
.text-content{
  vertical-align: top;
  padding-top: 10px;
}
.summernote{
  padding: 0;
}
.note-editor.note-frame .note-editing-area{
  min-height: 300px;
}
.help-center-width{
  min-width: 800px;
}
.problem-box{
  margin-left: 18px;
}
.questiona{
  margin-bottom: 20px;
}
.select{
  margin-bottom: 20px!important;
  margin: auto;
}
.update-height{
  height: 35px;
}
.questiona{
  margin-bottom: 20px;
}
.button-operation{
  margin-right:88px;
}
.note-editor .note-frame .panel .panel-default{
  margin-left: -15px;
}


