<div class="content-heading mb-lg thc font">
  提现审核
</div>
<div class="panel mb p ts-bg thc">
  <p class="font18">操作提示</p>
  <ul>
    <li>平台同意企业提交的提现申请之后，申请变为退款中</li>
    <li>平台给企业申请的账户中打款。</li>
    <li>平台将打款记录和打款凭证添加到记录中。</li>
  </ul>
</div>
<div class="panel panel-danger">
  <div class="pt-lg ng-scope">
    <div class="search-group ml-xl mb align-top">
      <span class="search-title">收款人姓名：</span>
      <div class="search-main">
        <input type="text" [(ngModel)]="query.bacctName"
               class="form-control border-b-grey"
               (change)="queryDatas(this.curState,1)" placeholder="收款人姓名">
      </div>
    </div>
    <div class="tag-dib">
      <div class="place-time clearfix mb ml-xl">
        <span class="_title">申请时间：</span>
        <div class="_picker">
          <div class="input-group">
            <input class="form-control" bsDaterangepicker [bsConfig]="bsConfig" #dpr="bsDaterangepicker" [(ngModel)]="myTime" readonly placeholder="选择查询时间">
            <span class="btn input-group-addon fa fa-calendar" (click)="dpr.show()"></span>
          </div>
        </div>
      </div>
      <button type="button" title="搜索" (click)="queryDatas(this.curState,1)"
              class="btn thc btn-thc ml align-top">
        <i class="icon icon-magnifier "></i>
        <span>&nbsp;搜索</span>
      </button>
      <button type="button" title="重置查询" (click)="resetQuery()"
              class="btn thc btn-thc ml align-top">
        <i class=" fa fa-refresh "></i>
        <span>&nbsp;重置查询</span>
      </button>
    </div>
    </div>
  <div class="panel-body">
    <ul class="order-guide list-unstyled clearfix bb">
      <li class="pull-left thc" [class.font]="curState=='CR'" [class.bb]="curState=='CR'"
          (click)="queryDatas('CR',1)">待处理
      </li>
      <li class="pull-left thc" [class.font]="curState=='DEAL'" [class.bb]="curState=='DEAL'"
          (click)="queryDatas('DEAL',1)">处理中
      </li>
    </ul>
    <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="deposits"
           (pageChange)="queryDatas('',1,$event)">
      <thead>
      <tr>
        <th class="col-md-1 unselectable text-left">
          <rzhDefaultSorter by="bacctName">收款人姓名</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-left">
          <rzhDefaultSorter by="acct">收款人账户</rzhDefaultSorter>
        </th>
        <th class="col-md-2 unselectable text-left">
          <rzhDefaultSorter by="bank">收款账户开户行</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="drawMoney">提现金额（元）</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="state">提现状态</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="time">申请时间</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="time">处理时间</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="manage">管理操作</rzhDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of dataTable.data;let i = index">
        <tr class="text-center">
          <td class="text-left">{{item.bacctName}}</td>
          <td class="text-left">{{item.acct}}</td>
          <td class="text-left">{{item.bank}}</td>
          <td><span class="main-red">¥&nbsp;&nbsp;{{item.drawMoney}}</span></td>
          <td>{{item.state | rzhState: '1802'}}</td>
          <td>
            <span>{{item.createTime}}</span>
          </td>
          <td>
            <span>{{item.dealTime}}</span>
          </td>
          <td>
            <ng-container *ngIf="item.state=='CR'">
              <button class="btn btn-sm btn-green fa fa-check" (click)="aggreeDraw(item.id,item.bacctName,item.acct,item.drawMoney,item.bank)"> 同意提现
              </button>
            </ng-container>
            <ng-container *ngIf="item.state=='DEAL'">
              <button class="btn btn-sm btn-success fa fa-upload" (click)="addRecord(item.id,item.drawMoney)">
                上传凭证
              </button>
            </ng-container>
          </td>
        </tr>
      </ng-container>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="10">
          <div class="col-sm-5">
            <div class="text-muted"><strong>第 {{deposits.genStartRow()}} 至 {{deposits.genEndRow()}} 条，共
              {{deposits.totalRow}}
              条</strong></div>
          </div>
          <div class="col-sm-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<app-add-store-record [curId]="currentId1" [drawMoney]="drawMoney" [page]="deposits.curPage"
                      (addRecord)="getAddRecordData($event)">
</app-add-store-record>


<app-agree-cash [curId]="currentId2" [drawMoney]="drawMoney" [name]="name" [acct]="acct"
                [page]="deposits.curPage" [bank]="bank"  (addRe)="getAdd($event)">
</app-agree-cash>

