<div class="content-heading mb-lg thc font">
  地区设置
  <!--添加地区按钮配置-->
  <!--<app-buttons class="pull-right" [config]="addButton" routerLink="rightpage" [queryParams]="{id:1}"></app-buttons>-->
</div>
<!--<div class="panel mb">
  <div class="panel-body p ng-scope">
    <div class="form-group col-md-4 mb0">
      <div class="col-md-8 col-xs-6 pl0">
        <input type="text" class="form-control border-b-grey ng-pristine ng-valid ng-touched" [(ngModel)]="areaName" (change)="queryAreasList()" placeholder="地区名称">
      </div>
      <button type="button" title="搜索"
              class="btn btn-primary bar-h3-btn mr ng-scope">
        <em class="icon-magnifier fa-fw"></em>
      </button>
    </div>
    <div class="form-group col-md-4 mb0">
      <div class="col-md-8 col-xs-6 pl0">
        <input type="text"  class="form-control border-b-grey ng-pristine ng-valid ng-touched" [(ngModel)]="area_code" (change)="queryAreasList()" placeholder="地区编码">
      </div>
      <button type="button" title="搜索"
              class="btn btn-primary bar-h3-btn mr ng-scope">
        <em class="icon-magnifier fa-fw"></em>
      </button>
    </div>
  </div>
</div>-->
<div class="panel panel-default">
  <div class="col-md-10 font15 mt mb pl text-primary">
    <i class="icon-layers mr"></i>
    <span class="cursor-p" (click)="queryChildSortList()">地区管理</span>
    <span *ngFor="let menuTit of childMenuTitList">
      <i class="fa fa-arrow-right mr ml"></i>
      <font class="cursor-p" (click)="queryChildSortList(menuTit.code,menuTit.name,true)">{{menuTit.name}}</font>
    </span>
    <span *ngIf="childMenuTitList.length>0" (click)="goBackMenu()" class="btn btn-default btn-xs ml">
      <i class="fa fa-level-up mr5"></i>
      返回上一级
    </span>
  </div>
  <div class="panel-body">
    <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="areas">
      <thead>
      <tr>
        <th class="unselectable text-center w5 thc font">
          序号
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="area_code">地区编码</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="areaName">地区名称</rzhDefaultSorter>
        </th>
        <th class="col-md-2 unselectable text-center">
          <rzhDefaultSorter by="level">所在层级</rzhDefaultSorter>
        </th>
        <th class="col-md-2 unselectable text-center thc font">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let organ of dataTable.data;let i = index" class="text-center">
        <td>{{i+1}}</td>
        <td>{{organ.areaCode}}</td>
        <td>{{organ.areaName}}</td>
        <td>{{organ.level}}</td>
        <td>
       <!--   &lt;!&ndash;修改区域信息按钮&ndash;&gt;
          <app-buttons [config]="updatebutton" routerLink="rightpage" [queryParams]="{id:2,areaCode:organ.areaCode}"></app-buttons>
          &lt;!&ndash;删除区域信息按钮&ndash;&gt;
          <app-buttons [config]="deletebutton" (click)="delete(organ.areaCode)"></app-buttons>-->
          <span class="btn btn-default btn-xs"  *ngIf="childMenuTitList.length < 3" (click)="queryChildSortList(organ.areaCode,organ.areaName,false)"><i class="fa fa-level-down"></i>下级</span>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="9">
          <!--<div class="col-sm-5">-->
          <!--<div class="text-muted"><strong>第 {{areas.genStartRow()}} 至 {{areas.genEndRow()}} 条，共 {{areas.totalRow}}-->
          <!--条</strong></div>-->
          <!--</div>-->
          <!--<div class="col-sm-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>-->
        </td>
      </tr>
      </tfoot>
    </table>
  </div>

</div>
<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->
