<!--数据字典--添加类型key-->
<div class="rightpage">
  <form class="form-validate form-horizontal" style="height: 100%" >
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>数据字典信息</legend>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">类型码（code）</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" required name="code" [(ngModel)]="adddata.code" #name="ngModel"
                     placeholder="请填写类型码"/>
            </div>
          </div>
          <div [hidden]="name.valid || name.pristine"
               class="col-sm-9 pull-right text-danger">
            请填写类型码
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">名称（name）</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" required name="name" [(ngModel)]="adddata.name" #name="ngModel"
                     placeholder="请填写名称"/>
            </div>
          </div>
          <div [hidden]="name.valid || name.pristine"
               class="col-sm-9 pull-right text-danger">
            请输入名称
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="remark" [(ngModel)]="adddata.remark" #name="ngModel"
                     placeholder="请填写备注"/>
            </div>
          </div>
          <div [hidden]="name.valid || name.pristine"
               class="col-sm-9 pull-right text-danger">
            请输入名称
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">唯一值</label>
            <div class="col-sm-8">
              <label class="radio-inline c-radio">
                <input type="radio" name="isUniqueVal" value="Y" [(ngModel)]="adddata.isUniqueVal" />
                <span class="fa fa-circle"></span>是</label>
              <label class="radio-inline c-radio">
                <input type="radio" name="isUniqueVal" value="N" checked="checked" [(ngModel)]="adddata.isUniqueVal"/>
                <span class="fa fa-circle"></span>否</label>
              <span></span>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" (click)="submit()">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>

<!--数据字典--修改数据字典key-->
<div class="rightpage"  *ngIf="linkType=='updateSort'">
  <form class="form-validate form-horizontal" style="height: 100%" #addClass="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>修改数据字典 <i><b>{{keys}}</b></i>值</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">类型名（name）</label>
            <!--<label class="col-sm-3 control-label">值名称 （val）</label>-->
            <div class="col-sm-8">
              <input class="form-control" type="text" required name="info" *ngIf="updataData.info" [(ngModel)]="updataData.info" #info="ngModel"
                     placeholder="请填写名称"/>
              <input class="form-control" type="text" *ngIf="updataData.name" required name="name" [(ngModel)]="updataData.name" #name="ngModel"
                     placeholder="请填写名称"/>
            </div>
          </div>
          <div [hidden]="info.valid || info.pristine"  *ngIf="updataData.info"
               class="col-sm-9 pull-right text-danger">
            请填写名称
          </div>
          <div [hidden]="name.valid || name.pristine" *ngIf="updataData.name"
               class="col-sm-9 pull-right text-danger">
            请填写名称
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" required name="remark" [(ngModel)]="updataData.remark" #remark="ngModel"
                     placeholder="请填写备注"/>
            </div>
          </div>
          <div [hidden]="remark.valid || remark.pristine"
          class="col-sm-9 pull-right text-danger">
          请填写名称
          </div>
        </fieldset>

      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" (click)="submit(addClass.value)" [disabled]="addClass.invalid">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>

<!--数据字典--添加子菜单-->
<div class="rightpage" *ngIf="linkType=='addChildSort'">
  <form class="form-validate form-horizontal" style="height: 100%" #addChildClass="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>
            新增类型 <i><b>【{{keyName}}】</b></i> 的val
          </legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">值名称（val）</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" required name="info" [(ngModel)]="adddata.info" #info="ngModel"
                     placeholder="请填写名称"/>
            </div>
          </div>
          <div [hidden]="info.valid || info.pristine"
               class="col-sm-9 pull-right text-danger">
            请填写类型码
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" type="text" name="remark" [(ngModel)]="adddata.remark"
                     placeholder="请填写备注"/>
            </div>
          </div>
        </fieldset>

      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" (click)="submit(addChildClass.value)" [disabled]="addChildClass.invalid">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>

<!--计量单位--修改-->
<div class="rightpage" *ngIf="linkType=='updateCount'">
  <form class="form-validate form-horizontal" style="height: 100%"   #res="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>修改计量单位信息</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">单位名称</label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="unitName" [(ngModel)]="updataDataa.unitName"
                     placeholder="请填写单位名称"/>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">排序</label>
            <div class="col-sm-8">
              <input class="form-control num" type="number"  name="sort" [(ngModel)]="updataDataa.sort"
                     placeholder="请填写排序"/>
            </div>
          </div>
        </fieldset>


      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" (click)="submita(res.value)">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>

<!--计量单位--添加-->
<div class="rightpage"  *ngIf="linkType=='addCount'">
  <form class="form-validate form-horizontal" style="height: 100%" #res="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>添加计量单位</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">单位名称</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" required name="unitName" [(ngModel)]="adddata.unitName" #unitName="ngModel"
                     placeholder="请填写菜单名称"/>
            </div>
          </div>
          <div [hidden]="unitName.valid || unitName.pristine"
          class="col-sm-9 pull-right text-danger">
            请填写菜单名称
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">排序</label>
            <div class="col-sm-8">
              <input class="form-control num" type="number" name="sort" [(ngModel)]="adddata.sort"
                     placeholder="请填写排序" />
            </div>
          </div>
        </fieldset>


      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" (click)="submita(res.value)">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
