<!--添加机构-->
<div class="rightpage">
  <form class="form-validate form-horizontal" style="height: 100%" >
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>数据字典信息</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">名称</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="info" [(ngModel)]="adddata.name"
                     placeholder="请填写名称"/>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" type="text" name="remark" [(ngModel)]="adddata.remark"
                     placeholder="请填写备注"/>
            </div>
          </div>
        </fieldset>

      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" (click)="submit()">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>

<!--修改数据字典key-->
<div class="rightpage"  *ngIf="linkType=='updateSort'">
  <form class="form-validate form-horizontal" style="height: 100%" #addClass="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>修改数据字典信息</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">名称</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="name" [(ngModel)]="adddata.name"
                     placeholder="请填写名称"/>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" type="text" name="remark" [(ngModel)]="adddata.remark"
                     placeholder="请填写备注"/>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">是否启用</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" type="text" name="remark" [(ngModel)]="adddata.remark"
                     placeholder="停启用判断"/>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" (click)="submit(addClass.value)" [disabled]="addClass.invalid">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>

<div class="rightpage" *ngIf="linkType=='addChildSort'">
  <form class="form-validate form-horizontal" style="height: 100%" #addChildClass="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>新增子分类</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">名称</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="info" [(ngModel)]="adddata.name"
                     placeholder="请填写名称"/>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" type="text" name="remark" [(ngModel)]="adddata.remark"
                     placeholder="请填写备注"/>
            </div>
          </div>
        </fieldset>

      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" (click)="submit(addChildClass.value)" [disabled]="addChildClass.invalid">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
