<div class="order panel mb">
  <div class="panel-body">
    <div>
      <ul class="menu-guide list-unstyled clearfix bb">
        <li class="pull-left thc" [ngClass]="{font: storeState=='',bb:storeState==''}"
            routerLink="allShop">全部
        </li>
        <li class="pull-left thc" [ngClass]="{font: storeState=='NORMAL',bb:storeState=='NORMAL'}"
            routerLink="normal">审核通过
        </li>
        <li class="pull-left thc" [ngClass]="{font: storeState=='PENDING',bb:storeState=='PENDING'}"
            routerLink="pending">待审核
        </li>
        <li class="pull-left thc" [ngClass]="{font: storeState=='REJECT',bb:storeState=='REJECT'}"
            routerLink="reject">已驳回
        </li>
        <li class="pull-left thc" [ngClass]="{font: storeState=='CLOSE',bb:storeState=='CLOSE'}"
            routerLink="close">已关闭
        </li>
      </ul>
    </div>
    <!--路由嵌套 begin-->
    <router-outlet></router-outlet>
    <!--路由嵌套 end-->
  </div>
</div>

