<div class="content-heading mb-lg thc font">
  <span>文章分类</span>
  <div class="pull-right" ng-if="search">
    <app-buttons class="pull-right" [config]="articleSortAddbutton" routerLink="addSort"
                 [queryParams]="{linkType:'addClass'}"></app-buttons>
  </div>
</div>
<div class="panel panel-default">
  <!--<div class="col-md-10 font15 mt mb pl text-primary">-->
    <!--<i class="icon-layers mr"></i>-->
    <!--<span class="cursor-p" (click)="queryChildSortList()">文章分类</span>-->
    <!--<span *ngFor="let menuTit of childMenuTitList">-->
      <!--<i class="fa fa-arrow-right mr ml"></i>-->
      <!--<font class="cursor-p" (click)="queryChildSortList('',menuTit.code,menuTit.name,true)">{{menuTit.name}}</font>-->
    <!--</span>-->
    <!--<span *ngIf="childMenuTitList.length>0" (click)="goBackMenu()" class="btn btn-default btn-xs ml">-->
      <!--<i class="fa fa-level-up mr5"></i>-->
      <!--返回上一级-->
    <!--</span>-->
  <!--</div>-->
  <div class="panel-body">
    <table class="table table-striped" #articleList="rzhDataTable" [rzhData]="articleSortListdata"
           (pageChange)="queryArticSortleList($event)">
      <thead>
      <tr>
        <th class="w5 thc font">
          序号
        </th>
        <th class="w15 thc font">
          分类名称
        </th>
        <th class="w25 thc font">
          描述
        </th>
        <th class="w10 thc font">
          状态
        </th>
        <th class="w10 thc font">
          排序
        </th>
        <th class="w10 thc font">
          创建时间
        </th>
        <th class="w25 thc font">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let article of articleList.data;let i = index">
        <td>{{i+1}}</td>
        <td>{{article.acName}}</td>
        <td>{{article.summary}}</td>
        <td>
          <!--修改分类的状态-->
          <label class="switch">
            <input type="checkbox" [checked]="article.state=='SHOW'" (change)="updateClassState(article)"/>
            <span></span>
          </label>
        </td>
        <td>{{article.acSort}}</td>
        <td>{{article.createTime}}</td>
        <td>
          <app-buttons [config]="updatebutton" routerLink="addSort"
                       [queryParams]="{linkType:'updateSort',id:article.id,acParentId:article.acParentId}"></app-buttons>
          <!--<app-buttons [config]="childbutton" routerLink="addSort"-->
                       <!--[queryParams]="{linkType:'addChildSort',id:article.id,acParentId:article.acParentId}"></app-buttons>-->
          <app-buttons [config]="deletebutton" (click)="deleteSort(article.id,article.acParentId)"></app-buttons>
          <span (click)="queryChildSortList('',article.id,article.acName,false)" class="btn btn-default btn-xs"
                *ngIf="article.haveChildren">
          <i class="fa fa-level-down"></i>
          下级菜单
          </span>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="12">
          <div class="col-md-5">
            <div class="text-muted pull-left"><strong>第 {{articleSortListdata.genStartRow()}} 至
              {{articleSortListdata.genEndRow()}} 条，共 {{articleSortListdata.totalRow}}
              条</strong></div>
          </div>
          <div class="col-md-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->

