<div class="content-heading mb-lg">
  订单统计
</div>

<div class="panel panel-default">
<!--操作提示-->
  <div class="panel mb p ts">
    <p class="font18">操作提示</p>
    <ul>
      <li>统计数据色块展示了时间段内总下单金额和下单量</li>
      <li>统计图展示了符合搜索条件订单的下单总金额和下单数量在时间段内的走势情况及与前一个时间段的走势对比</li>
      <li>列表展示了时间段内订单详细数据，便于详细了解订单具体信息</li>
    </ul>
  </div>
  <div class="xz">
<!--搜索按钮-->
    <button class="btn">
      <i class="icon icon-magnifier icona"></i>
    </button>
    <!--选择时间条件-->
    <select name="" id="" class="sel">
      <option value="按照天统计">按照天统计</option>
      <option value="按照周统计">按照周统计</option>
      <option value="按照月统计">按照月统计</option>
    </select>
  </div>
<!--图文结合-->
  <div class="money">
    <div class="row r3">
      <div class="col-md-4" style="min-width: 33%">
        <!-- START panel-->
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="row">

              <div class="col-xs-9">
                <div class="">总销售额（元）</div>
                <p class="text-md m0">New Comments!</p>
              </div>
              <div class="col-xs-3 text-right">
                <em class="fa fa-calculator fa-3x tp-em"></em>
              </div>
            </div>
          </div>
          <!-- END panel-->
        </div>
      </div>
      <div class="col-md-4" style="min-width: 33%">
        <!-- START panel-->
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-9 ">
                <div class="">总订单量（元）</div>
                <p class="text-md m0">New Tasks!</p>
              </div>
              <div class="col-xs-3 text-right">
                <em class="fa fa-calculator fa-3x tp-em"></em>
              </div>
            </div>
          </div>
        </div>
        <!-- END panel-->
      </div>
    </div>
  </div>

  <!--订单列表-->
  <div class="panel panel-default">
    <div class="new-vip">订单列表</div>
    <div class="panel-body">
      <table class="table table-striped" #dataTable="rzhDataTable"  [rzhData]="data"  (pageChange)="queryDatas($event)">
        <thead>

        <tr>
        <th class="refund-th">
          <rzhDefaultSorter by="name">订单号</rzhDefaultSorter>
        </th>
        <th class="refund-th">
            <rzhDefaultSorter by="name">买家</rzhDefaultSorter>
        </th>
        <th style="width: 28%;border: 1px solid #ccc;text-align: center">
            <rzhDefaultSorter by="name">店铺名称</rzhDefaultSorter>
        </th>
        <th class="refund-th">
            <rzhDefaultSorter by="name">下单时间</rzhDefaultSorter>
        </th>
        <th class="refund-th">
            <rzhDefaultSorter by="name">订单金额（元）</rzhDefaultSorter>
        </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="refund-th">aaa</td>
          <td class="refund-th">sss</td>
          <td style="width: 28%;border: 1px solid #ccc;text-align: center">ddd</td>
          <td class="refund-th">aaa</td>
          <td class="refund-th">aaa</td>
        </tr>
      </table>
      <!--<tfoot>-->
      <!--<tr>-->
      <!--<td colspan="5">-->
      <!--<div class="col-sm-5">-->
      <!--<div class="text-muted"><strong>第 {{data.genStartRow()}} 至 {{data.genEndRow()}} 条，共 {{data.totalRow}} 条</strong></div>-->
      <!--</div>-->
      <!--<div class="col-sm-7">-->
      <!--<div style="float: right"><rzhBootstrapPaginator></rzhBootstrapPaginator></div>-->
      <!--</div>-->
      <!--</td>-->
      <!--</tr>-->
      <!--</tfoot>-->
    </div>
  </div>
</div>

