<div class="content-heading mb-lg">
  订单统计
</div>

<div class="panel panel-default">
<!--操作提示-->
  <div class="panel mb p w98 m-auto ts thc">
    <p class="font18">操作提示</p>
    <ul>
      <li>统计数据色块展示了时间段内总下单金额和下单量</li>
      <li>统计图展示了符合搜索条件订单的下单总金额和下单数量在时间段内的走势情况及与前一个时间段的走势对比</li>
      <li>列表展示了时间段内订单详细数据，便于详细了解订单具体信息</li>
    </ul>
  </div>
  <div class="w98 m-auto h50">
    <button class="statistic-btn btn-default m0"><i class="icon icon-magnifier"></i></button>
    <div class="pull-right" style="width: 300px">
      <div class="col-xs-3 form-group" style="width: 250px">
        <input type="text" class="form-control" bsDatepicker [(ngModel)]="datepickerModel" #dpr="bsDatepicker"/>
        <span class="statistic-btn input-group-addon fa fa-calendar spanbtn h35" (click)="dpr.show()"></span>
      </div>
    </div>
    <select name="" id="" class="sel form-control pull-right" style="margin-right: 20px">
      <option value="按照天统计">按照天统计</option>
      <option value="按照周统计">按照周统计</option>
      <option value="按照月统计">按照月统计</option>
    </select>

    <!--<select  class="sel form-control pull-right" style="margin-right: 20px" name="authState" [(ngModel)]="authState" (change)="search($event)">-->
    <!--<option *ngFor="let item of authStates" [value]="item.key">{{item.val}}</option>-->
    <!--</select>-->
  </div>
<!--图文结合-->
  <div class="money">
    <div class="row r3">
      <div class="col-md-4" style="min-width: 33%">
        <!-- START panel-->
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="row">

              <div class="col-xs-9">
                <div class="">总销售额（元）</div>
                <p class="text-md m0">New Comments!</p>
              </div>
              <div class="col-xs-3 text-right">
                <em class="fa fa-calculator fa-3x tp-em"></em>
              </div>
            </div>
          </div>
          <!-- END panel-->
        </div>
      </div>
      <div class="col-md-4" style="min-width: 33%">
        <!-- START panel-->
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-9 ">
                <div class="">总订单量（元）</div>
                <p class="text-md m0">New Tasks!</p>
              </div>
              <div class="col-xs-3 text-right">
                <em class="fa fa-calculator fa-3x tp-em"></em>
              </div>
            </div>
          </div>
        </div>
        <!-- END panel-->
      </div>
    </div>
  </div>

  <div class="panel">
    <tabset class="bg-white p0" [justified]="true">
      <tab>
        <ng-template tabHeading>
          <em class="fa fa-clock-o fa-fw"></em>Tasks Panel
        </ng-template>
        <div>
          <!-- START list group-->
          <div class="list-group mb0">
            <div class="refund-table">
              <p class="text-center font24 echars-p">排行榜</p>
              <div echarts [options]="option" class="demo-chart w100"></div>
            </div>
          </div>
          <!-- END list group-->
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <em class="fa fa-money fa-fw"></em>Transactions Panel
        </ng-template>
        <div>
          <!-- START table responsive-->
          <div class="table-responsive">
            <div class="refund-table">
              <p class="text-center font24 echars-p">很帅气</p>
              <div echarts [options]="optiona" class="demo-chart w100"></div>
            </div>
          </div>
          <!-- END table responsive-->
        </div>
      </tab>
    </tabset>
  </div>
  <!--订单列表-->
  <div class="panel panel-default">
    <div class="table-title">订单列表</div>
    <div class="panel-body">
      <table class="table table-striped" #dataTable="rzhDataTable"  [rzhData]="data"  (pageChange)="queryDatas($event)">
        <thead>
        <tr>
        <th class="w20 text-center">
          <rzhDefaultSorter by="name">订单号</rzhDefaultSorter>
        </th>
        <th class="w20 text-center">
            <rzhDefaultSorter by="name">买家</rzhDefaultSorter>
        </th>
        <th class="w20 text-center" >
            <rzhDefaultSorter by="name">店铺名称</rzhDefaultSorter>
        </th>
        <th class="w20 text-center" >
            <rzhDefaultSorter by="name">下单时间</rzhDefaultSorter>
        </th>
        <th class="w20 text-center">
            <rzhDefaultSorter by="name">订单金额（元）</rzhDefaultSorter>
        </th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
          <td class="">aaa</td>
          <td class="">sss</td>
          <td>ddd</td>
          <td class="">aaa</td>
          <td class="">aaa</td>
        </tr>
      </table>
      <!--<tfoot>-->
      <!--<tr>-->
      <!--<td colspan="5">-->
      <!--<div class="col-sm-5">-->
      <!--<div class="text-muted"><strong>第 {{data.genStartRow()}} 至 {{data.genEndRow()}} 条，共 {{data.totalRow}} 条</strong></div>-->
      <!--</div>-->
      <!--<div class="col-sm-7">-->
      <!--<div style="float: right"><rzhBootstrapPaginator></rzhBootstrapPaginator></div>-->
      <!--</div>-->
      <!--</td>-->
      <!--</tr>-->
      <!--</tfoot>-->
    </div>
  </div>
</div>

