<!--查询 start-->
<div class="p text-right clearfix">
  <div class="search-term pull-right ml-xl mb">
    <div class="w30 pr0 pull-left">
      <select class="form-control pl-sm pr-sm" name="sss" #sType (change)="changeCondition(sType.value)">
        <option value="wono">工单编码</option>
        <option value="ordno">订单编号</option>
      </select>
    </div>
    <div class="w70 pl-sm pr0 pull-left">
      <div class="form-group pr0 mb0">
        <div class="w80 pl0 pr0 pull-left">
          <input *ngIf="sType.value == 'ordno'" type="text" class="form-control" placeholder="定单编码" [(ngModel)]="search.ordno">
          <input *ngIf="sType.value == 'wono'" type="text" class="form-control" placeholder="工单编码" [(ngModel)]="search.wono">
        </div>
        <button type="button" title="搜索" (click)="queryDatas(1)"
                class="btn btn-primary bar-h3-btn mr0 ng-scope">
          <em class="icon-magnifier fa-fw"></em>
        </button>
      </div>
    </div>
  </div>
  <div class="search-group pull-right ml-xl mb">
    <span class="search-title">工单类型：</span>
    <div class="search-main">
      <select class="form-control pl-sm pr-sm" name="woType" [(ngModel)]="search.ordType" (change)="queryDatas(1)">
        <option value="">全部</option>
        <option [value]="type.key" *ngFor="let type of woTypeList">{{type.val}}</option>
      </select>
    </div>
  </div>
  <div class="place-time pull-right ml-xl">
    <span class="_title">下单时间：</span>
    <div class="_picker">
      <div class="input-group">
        <input class="form-control" bsDaterangepicker [bsConfig]="bsConfig" #dpr="bsDaterangepicker">
        <span class="btn input-group-addon fa fa-calendar" (click)="dpr.show()"></span>
      </div>
    </div>
  </div>
</div>
<!--查询 end-->
<p>
  wo-assigned works!
</p>
