<table class="table bt bb">
  <thead>
  <tr>
    <td class="w5 text-left thc font">
      全选
    </td>
    <td class="w65 text-center thc font">
      消息内容
    </td>
    <td class="w20 text-center thc font">
      发送时间
    </td>
    <td class="w10 text-center thc font">
      操作
    </td>
  </tr>
  </thead>
</table>

<table class="table" #dataTable="rzhDataTable" [rzhData]="platformInfoData"
       (pageChange)="queryDatas($event)">
  <thead>
  <tr>
    <th class="w5 text-center">
      <div class="checkbox c-checkbox m0">
        <label class="unselectable">
          <input type="checkbox" class="_all" (change)="getAllId()"/>
          <span class="fa fa-check"></span>
        </label>
      </div>
    </th>
    <th class="w65">
      <button class="btn btn-xs btn-outline btn-warning fa fa-trash thc font qpsMl"
              (click)="delMoreInfo()">
        删除
      </button>
      <button class="m-sm btn btn-xs btn-outline btn-warning fa fa-flag-o thc font"
              (click)="updateMoreIsRead()">
        标记已读
      </button>
    </th>
    <th class="w20"></th>
    <th class="w10"></th>
  </tr>
  </thead>
  <tbody>
  <tr  *ngFor="let platformInfo of platformInfoData.voList;let i = index" [class.trBg]="platformInfo.isRead=='N'" >
    <td class="text-center">
      <div class="checkbox c-checkbox m0">
        <label class="unselectable">
          <input type="checkbox" class="_every" value="{{platformInfo.id}}" #every (change)="getId(every)"/>
          <span class="fa fa-check"></span>
        </label>
      </div>
    </td>
    <td>
      <a href="javascript:;" *ngIf="platformInfo.isRead=='N'" class="myCircle" title="标记已读" (click)="updateIsRead(platformInfo.id,$event.target)"></a>
      <a class="qpssMl">{{platformInfo.msg}}</a>
    </td>
    <td class="text-center">{{platformInfo.createTime}}</td>
    <td class="text-center">
      <app-buttons [config]="deletebutton" (click)="deleteTpl(platformInfo.id)"></app-buttons>

    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="10" class="bt0">
      <div class="col-sm-5">
        <div class="text-muted"><strong>第 {{platformInfoData.genStartRow()}} 至 {{platformInfoData.genEndRow()}} 条，共
          {{platformInfoData.totalRow}}
          条</strong></div>
      </div>
      <div class="col-sm-7">
        <div class="pull-right">
          <rzhBootstrapPaginator></rzhBootstrapPaginator>
        </div>
      </div>
    </td>
  </tr>
  </tfoot>
</table>
<!--<ng-container *ngIf="ordState == 'DELIVERY' || ordState == ''">-->
<!--<app-deliver-goods [orderId]="curDeliverOrderId" [page]="goodsList.curPage"-->
<!--(deliverGoods)="getDeliverOrderData($event)"></app-deliver-goods>-->
<!--</ng-container>-->
