<ul class="clearfix order-table-head list-unstyled mb0 p b">
  <li class="w10 pull-left text-left">全选</li>
  <li class="w60 pull-left text-center">消息内容</li>
  <li class="w20 pull-left text-center">发送时间</li>
  <li class="w10 pull-left text-center">操作</li>
</ul>
<table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="goodsList"
       (pageChange)="queryDatas(1,$event)">
  <thead>
  <tr>
    <th class="w5">
      <div class="checkbox c-checkbox m0">
        <label class="unselectable">
          <input type="checkbox" class="_all" />
          <span class="fa fa-check"></span>
        </label>
      </div>
    </th>
    <th class="w95">
      <button class="m-sm btn btn-xs btn-outline btn-warning fa fa-trash thc font"
              (click)="cancelOrder(goods.ordno)">
        删除
      </button>
      <button class="m-sm btn btn-xs btn-outline btn-warning fa fa-flag-o thc font"
              (click)="cancelOrder(goods.ordno)">
        标记已读
      </button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr >
    <td>111</td>

  </tr>
  </tbody>
  <!--<tfoot>-->
  <!--<tr>-->
    <!--<td colspan="10" class="bt0">-->
      <!--<div class="col-sm-5">-->
        <!--<div class="text-muted"><strong>第 {{goodsList.genStartRow()}} 至 {{goodsList.genEndRow()}} 条，共-->
          <!--{{goodsList.totalRow}}-->
          <!--条</strong></div>-->
      <!--</div>-->
      <!--<div class="col-sm-7">-->
        <!--<div class="pull-right">-->
          <!--<rzhBootstrapPaginator></rzhBootstrapPaginator>-->
        <!--</div>-->
      <!--</div>-->
    <!--</td>-->
  <!--</tr>-->
  <!--</tfoot>-->
</table>
<!--<ng-container *ngIf="ordState == 'DELIVERY' || ordState == ''">-->
<!--<app-deliver-goods [orderId]="curDeliverOrderId" [page]="goodsList.curPage"-->
<!--(deliverGoods)="getDeliverOrderData($event)"></app-deliver-goods>-->
<!--</ng-container>-->
