<div class="deliver-order fadeIn" *ngIf="showDeliverWindow">
  <div class="mask"></div>
  <form class="_popup animated fadeIn" #deliverytpl="ngForm">
    <div class="pop popup-hd">
      <span class="f-bold">企业投资</span>
      <div class="popup-colse unselectable" (click)="hideWindow()">×</div>
    </div>
    <!--表单-->
    <div class="pop deliver-box font12 w100">
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">红包企业：</dt>
        <dd class="col-xs-5 font14">
          <select name="epCode" class="form-control input-sm" required [(ngModel)]="item.storeCode">
            <option [value]="item.storeCode" *ngFor="let item of rpStoreList">{{item.epSubname}}</option>
          </select>
        </dd>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">支付方式：</dt>
        <dd class="col-xs-5 font14">
          <select name="payWay" class="form-control input-sm" required [(ngModel)]="item.payWay">
            <option [value]="item.key" *ngFor="let item of payWayList">{{item.val}}</option>
          </select>
        </dd>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">投资金额：</dt>
        <dd class="col-xs-5 font14">
          <input type="number" name="amout" maxlength="50" #expressCodeTem="ngModel" class="form-control input-sm num"
                 required [(ngModel)]="amount" placeholder='请输入最多两位小数的数字类型' [pattern]="patterns.twodecimal"
                 (input)="checkVal(expressCodeTem.value)">
          <div [hidden]="expressCodeTem.valid||expressCodeTem.untouched"
               class="alert alert-danger">
            请填写最多带两位小数的数字
          </div>
        </dd>
      </dl>
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-default thc font b" type="button" (click)="hideWindow()">放弃操作</button>
      <button class="btn btn-info thc bg b" type="button" (click)="delivery()" [disabled]="deliverytpl.invalid">确认提交</button>
    </div>
  </form>
</div>

