<div class="content-heading mb-lg thc font">
  商品发布
</div>
<div class="panel mb p ts thc" [class.hide]="step==3">
  <p class="font18">操作提示</p>
  <ul>
    <li>请慎重选择商品分类，商品发布后将不可修改</li>
  </ul>
</div>
<div class="panel mb" [class.hide]="step==0">
  <ul class="guide m0 p0 clearfix step-nav">
    <li class="col-sm-4 thc" [class.cur]="step==1" [class.bg-light]="step==1">
      <i>1</i><span class="font16">选择商品分类</span><br><span>确定您的商品所属分类，选择最后一级分类目录进入下一步。</span>
    </li>
    <li class="col-sm-4 thc" [class.cur]="step==2" [class.bg-light]="step==2">
      <i>2</i><span class="font16">填写商品详情</span><br><span>填写商品名称、选择商品属性、上传商品图片以及相关信息。</span>
    </li>
    <li class="col-sm-4 thc" [class.cur]="step==3" [class.bg-light]="step==3">
      <i>3</i><span class="font16">商品发布成功</span><br><span>完成商品发布，选择跳转页面。</span>
    </li>
  </ul>
</div>

<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->
