@import '../../../app/shared/styles/app/variables';
@import '../../../app/shared/styles/themes/theme-a';
.navbar-nav li:hover{
  background-color: $brand-info-dark;
}

.current{
  box-shadow: 0 -3px 0 rgba(255,255,255,.5) inset;
  color: $nav-top-item-mobile-active !important;
}

.navbar-nav li a{
  height: 55px;
}
.navbar-nav .icon-box{
  height: 24px;
}
.navbar-nav li i{
  font-size: 18px;
  line-height: 24px;
}
.navbar-nav li span{
  font-size: smaller;
}
