.navbar-nav li a{
  height: 55px;
}
.navbar-nav .icon-box{
  height: 24px;
}
.navbar-nav li i{
  font-size: 18px;
  line-height: 24px;
}
.navbar-nav li span{
  font-size: smaller;
}
._qpsStyle{
  height:100%;overflow: hidden;
}
.qpsMore{
  padding-left:10px;
  height:44px;line-height:44px;
}
.qpsP{
  width:200px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;
}
.qpsHeight{
  height:56px !important;
}
.lineHeight35{
  line-height: 35px!important;
}
