<div class="content-heading mb-lg thc font">
  <span class="thc font">文章审核</span>
</div>
<div class="col-md-12 panel">
  <div class="panel-body">
    <table class="table table-striped" #articleList="rzhDataTable" [rzhData]="articleManListdata"
           (pageChange)="queryArticManleList(1,$event)">
      <thead>
      <tr>
        <th class="w5 thc font">
          序号
        </th>
        <th class="w20 thc font">
          分类
        </th>
        <th class="w15 thc font text-left">
          短标题
        </th>
        <th class="w10 thc font">
          关联商品
        </th>
        <th class="w30 thc font">
          封面
        </th>
        <th class="w15 thc font">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let article of articleList.data;let i = index">
        <td>{{i+1}}</td>
        <td>{{article.acName}}</td>
        <td class="text-left">
          <span>{{article.articleTitleShort}}</span>
          <i class="icon-info ml2 mt6" [myHover]="'#cc1635'" myHoverColor [popover]="popTemplate"
             triggers="mouseenter:mouseleave"></i>
          <template #popTemplate>长标题：<span>{{article.articleTitle}}</span></template>
        </td>
        <td *ngIf="article.articleGoods.length==0">否</td>
        <td *ngIf="article.articleGoods.length>0">是</td>
        <td>
          <ng-container *ngIf="article.articleCoverVO!=null">
            <img *ngFor="let item of article.articleCoverVO;let i = index" src="{{item.url }}" class="qpsImg" alt=""
                 onerror="javascript:this.src='../../../assets/img/dummy.png';">
          </ng-container>
          <ng-container *ngIf="article.articleCoverVO==null">
            无封面
          </ng-container>
        </td>
        <td>
          <app-buttons [config]="auditbutton" routerLink="/main/operation/article/auditPage"
                       [queryParams]="{id:article.id,curPage:articleManListdata.curPage}"></app-buttons>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="12">
          <div class="col-sm-5">
            <div class="text-muted pull-left"><strong>第 {{articleManListdata.genStartRow()}} 至
              {{articleManListdata.genEndRow()}} 条，共 {{articleManListdata.totalRow}}
              条</strong></div>
          </div>
          <div class="col-sm-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
