
<div class="cancel-order fadeIn"  *ngIf="showCancelWindow">
  <div class="mask" (click)="hideWindow()"></div>
  <div class="popup animated fadeIn">
    <div class="pop popup-hd">
      <span class="f-bold">取消订单</span>
      <div class="popup-colse unselectable" (click)="hideWindow()">×</div>
    </div>
    <div class="pop cancel-con font12 w100">
      <dl class="bb m0 clearfix"><dt class="col-xs-3">订单号：</dt><dd class="orderId-color col-xs-9 font14">{{staff.ordno
        }}</dd></dl>
      <dl class="bb m0 clearfix"><dt class="col-xs-3">支付方式：</dt><dd class="orderId-color col-xs-9 font14">{{staff.payWay
        }}</dd></dl>

      <dl class="bb m0 clearfix"><dt class="col-xs-3">收款人：</dt><dd class="orderId-color col-xs-9 font14">{{staff.bacctName
        }}</dd></dl>
      <dl class="bb m0 clearfix"><dt class="col-xs-3">收款人开户行：</dt><dd class="orderId-color col-xs-9 font14">{{staff.bank
        }}</dd></dl>
      <dl class="bb m0 clearfix"><dt class="col-xs-3">可申请金额：</dt><dd class="orderId-color col-xs-9 font14">{{staff.pay
        }}</dd></dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">申请金额：</dt>
        <dd class="col-xs-9">
          <input class="form-control" required name="reqMoney" [(ngModel)]="reqMoney" type="text"/>
        </dd>
      </dl>
      <input class="form-control" required [(ngModel)]="code" name="reasonCode" type="hidden"/>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">关闭原因：</dt>
        <dd class="col-xs-9">
          <fieldset>
            <select class="form-control" name="goodsAudit" [(ngModel)]="code" (change)="queryDatas(1)">
              <option *ngFor="let item of goodsAudits" [value]="item.code">{{item.info}}</option>
            </select>
          </fieldset>
        </dd>
      </dl>
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-default" (click)="hideWindow()">放弃操作</button>
      <button class="btn btn-info" type="submit" (click)="canceslOrder()">确认提交</button>
    </div>
  </div>
</div>

