
<div class="content-heading mb-lg">
  认证审核
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped" #dataTable="rzhDataTable"  [rzhData]="data"  (pageChange)="aqeuryAllService($event)">
      <thead>
      <tr>
        <th class="w10 text-center">
          <rzhDefaultSorter by="sort">电话</rzhDefaultSorter>
        </th>
        <th class="w10 text-center">
          <rzhDefaultSorter by="name">姓名</rzhDefaultSorter>
        </th>
        <th class="w15 text-center">
          <rzhDefaultSorter by="sort">身份证号</rzhDefaultSorter>
        </th>
        <th class="w20 text-center">
          <rzhDefaultSorter by="email">有效期</rzhDefaultSorter>
        </th>
        <th class="w20 text-center">
          <rzhDefaultSorter by="sort">照片</rzhDefaultSorter>
        </th>
        <th class="w15 text-center">
          <rzhDefaultSorter by="email">申请时间</rzhDefaultSorter>
        </th>
        <th class="w10 text-center">
          <rzhDefaultSorter by="email">审核</rzhDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let count of dataTable.data"  class="text-center">
        <td>{{count.custPhone}}</td>
        <td>{{count.name}}</td>
        <td>{{count.idcard}}</td>
        <td>{{count.startTime}}--{{count.endTime}}</td>
        <td>{{count.idcardPic1}} &nbsp;{{count.idcardPic2}}&nbsp;{{count.idcardPic3}}</td>
        <td>{{count.createTime}}</td>
        <td>
          <button class="btn btn-info" (click)="access(count.id)"><i class="fa fa-check"></i></button>
          <button class="btn btn-info" (click)="cancel(count.id)"><i class="fa fa-close"></i></button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5">
          <div class="col-sm-5">
            <div class="text-muted"><strong>第 {{data.genStartRow()}} 至 {{data.genEndRow()}} 条，共 {{data.totalRow}} 条</strong></div>
          </div>
          <div class="col-sm-7">
            <div style="float: right"><rzhBootstrapPaginator></rzhBootstrapPaginator></div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
