.order-guide li {
  width: 100px;
  line-height: 2.5;
  text-align: center;
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
}

.order-guide li:hover {
  border-bottom: 1px solid #9dd3ff;
}

.order-guide .cur-order {
  color: #23b7e5;
  border-bottom: 1px solid #23b7e5;
}

.idimg {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.search-group .search-title {
  width: 20%;
}

.search-group .search-main {
  width: 80%;
}
