<div *ngIf="this.flag">

  <div class="content-heading mb-lg">
    新增会员
  </div>

  <div class="panel panel-default">

    <div class="panel mb p ts w98 m-auto thc">
      <p class="font18">操作提示</p>
      <ul>
        <li>统计图展示了时间段内新增会员数的走势和与前一时间段的对比</li>
        <li>统计表展示了时间段内新增会员数值和与前一时间段的同比数值，点击每条记录后的“查看”，了解新增会员的详细信息</li>
      </ul>
    </div>

    <div class="w98 m-auto h50">
      <button class="statistic-btn btn-default m0" (click)="selectInfos()">
        <i class="icon icon-magnifier"></i>
      </button>
      <div class="pull-right" style="width: 300px">
        <div class="col-xs-3 form-group" style="width: 250px">

          <div *ngIf="showType.MONTH">
            <select [(ngModel)]="select.year">
              <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
            </select>
            <select [(ngModel)]="select.month">
              <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
            </select>
          </div>
          <div *ngIf="showType.WEEK">
            <select [(ngModel)]="select.year">
              <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
            </select>
            <select [(ngModel)]="select.month" (change)="getWeekListByMonth()">
              <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
            </select>
            <select [(ngModel)]="select.week">
              <option *ngFor="let info of weekForMonth" value="{{info}}">{{info}}</option>
            </select>
          </div>

          <div *ngIf="showType.DAY">
            <input type="text" class="form-control" bsDatepicker [(ngModel)]="datepickerModel"  (change)="test()"
                   [bsConfig]="bsConfig" #dpr="bsDatepicker"/>
            <span class="statistic-btn input-group-addon fa fa-calendar spanbtn h35" (click)="dpr.show()"></span>
          </div>
        </div>
      </div>
      <select class="sel form-control pull-right" style="margin-right: 20px" name="queryType"
              [(ngModel)]="queryType" (change)="search()">
        <option *ngFor="let item of queryTypes" [value]="item.key">{{item.val}}</option>
      </select>
    </div>
    <!--图表切换-->
    <div class="panel w98 m-auto">
      <tabset class="bg-white p0" [justified]="true">
        <tab>
          <ng-template tabHeading>
            <em class="fa fa-clock-o fa-fw"></em>{{data.contrastTime}}
          </ng-template>
          <div>
            <!-- START list group-->
            <div class="list-group mb0">
              <div class="refund-table">
                <p class="text-center font24 echars-p">新增会员统计11</p>
                <div echarts [options]="optionPrev" class="demo-chart w100"></div>
              </div>
            </div>
            <!-- END list group-->
          </div>
        </tab>
        <tab>
          <ng-template tabHeading>
            <em class="fa fa-money fa-fw"></em>{{data.queryTime}}
          </ng-template>
          <div>
            <!-- START table responsive-->
            <div class="table-responsive">
              <div class="refund-table">
                <p class="text-center font24 echars-p">新增会员统计22</p>
                <div echarts [options]="optionaNow" class="demo-chart w100"></div>
              </div>
            </div>
            <!-- END table responsive-->
          </div>
        </tab>
      </tabset>
    </div>

    <div class="panel panel-default mt20">
      <div class="table-title w100 h50 font18 ">新增会员统计表</div>
      <div class="panel-body">
        <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="data" (pageChange)="qeuryAll($event)">
          <thead>
          <tr class="">
            <th class="w20 text-center">
              <rzhDefaultSorter by="hour" *ngIf="showType.DAY">小时</rzhDefaultSorter>
              <rzhDefaultSorter by="hour" *ngIf="showType.WEEEK">星期</rzhDefaultSorter>
              <rzhDefaultSorter by="hour" *ngIf="showType.MONTH">日期</rzhDefaultSorter>
            </th>
            <th class="w20 text-center">
              <rzhDefaultSorter by="hour" *ngIf="showType.DAY">昨天</rzhDefaultSorter>
              <rzhDefaultSorter by="hour" *ngIf="showType.WEEEK">上周</rzhDefaultSorter>
              <rzhDefaultSorter by="hour" *ngIf="showType.MONTH">上月</rzhDefaultSorter>
            </th>
            <th class="w20 text-center">
              <rzhDefaultSorter by="hour" *ngIf="showType.DAY">今天</rzhDefaultSorter>
              <rzhDefaultSorter by="hour" *ngIf="showType.WEEEK">本周</rzhDefaultSorter>
              <rzhDefaultSorter by="hour" *ngIf="showType.MONTH">本月</rzhDefaultSorter>
            </th>
            <th class="w20 text-center">
              <rzhDefaultSorter by="">同比</rzhDefaultSorter>
            </th>
            <th class="20 text-center">
              <rzhDefaultSorter by="manage">管理操作</rzhDefaultSorter>
            </th>
          </tr>
          </thead>
          <tbody>
          <!--<tr class="text-center" *ngIf="let i of dataTable.data">-->
            <!--<td class="">{{i.keys}}</td>-->
            <!--<td class="">{{i.values}}</td>-->
            <!--<td class="">{{i.values}}</td>-->
            <!--<td class="">{{i.values}}</td>-->
            <!--<td class="">-->
              <!--<button routerLink="../list-detail" [queryParams]="{linkType:''}" class="btn-primary"><i-->
                <!--class="icon icon-eye">查看</i></button>-->
            <!--</td>-->
          <!--</tr>-->
        </table>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
