<div>
  <div class="content-heading mb-lg thc font">
    退款管理
  </div>

  <div class="panel panel-default">
    <!--操作提示-->
    <div class="panel mb p ts thc">
      <p class="font18">操作提示</p>
      <ul>
        <li>买家提交退款申请，选择预存款方式支付的,卖家同意并经过平台确认后会将金额以预存款的形式返还给买家。买家选择在线支付方式的，会把在线支付金额原路返回到账号上。 如果订单同时使用了在线支付方式和预存款支付方式，则会优先使用在线支付方式退款，当在线退款可退款金额为0后才会使用预存款方式退款。</li>
        <li>平台也可以不经过商家处理，直接处理退款申请，退款给买家。</li>
        <li>当<span class="btn btn-purple btn-xs fa fa-check-square-o disabled">处理</span>
          按钮不可用时，说明该笔退款需买卖方进行下一步操作或退款已完成，则平台此时不能进行操作。</li>
      </ul>
    </div>

    <!--搜索 start-->
    <div class="panel mb w98 search">
      <div class="search-group ml-xl mb">
        <span class="search-title font12">售后单状态：</span>
        <div class="search-main">
          <select class="form-control pl-sm pr-sm" name="woState" [(ngModel)]="search.state"
                  (change)="queryAllService()">
            <option value="">全部</option>
            <option [value]="state.key" *ngFor="let state of afterStateList">{{state.val}}</option>
          </select>
        </div>
      </div>
      <div class="search-group ml-xl mb">
        <span class="search-title font12">是否收到货：</span>
        <div class="search-main">
          <select class="form-control pl-sm pr-sm" name="isReceive" [(ngModel)]="search.isReceive"
                  (change)="queryAllService()">
            <option value="">全部</option>
            <option [value]="state.key" *ngFor="let state of isReceiveList">{{state.val}}</option>
          </select>
        </div>
      </div>
      <div class="search-group ml-xl mb">
        <span class="search-title font12">代理商编码：</span>
        <div class="search-main">
          <input class="form-control num" type="number" name="agentCode" placeholder="代理商编码"
                 [(ngModel)]="search.agentCode">
        </div>
      </div>
      <div class="search-term clearfix ml-xl mb">
        <div class="w30 pr0 pull-left">
          <select class="form-control pl-sm pr-sm" name="sss" #sType (change)="changeSearchType(sType.value)">
            <option value="afterNo">退单单号</option>
            <option value="phone">用户手机号</option>
            <option value="ordno">订单号</option>
            <option value="baseCode">商品基本编码</option>
          </select>
        </div>
        <div class="w70 pl-sm pr0 pull-left">
          <div class="form-group mb0 pr0">
            <div class="w78 pl0 pr0 pull-left mr-sm">
              <input *ngIf="sType.value=='ordno'" type="text" placeholder="订单编号" name="ordno"
                     class="form-control border-b-grey num" [(ngModel)]="search.ordno">
              <input *ngIf="sType.value=='afterNo'" type="text" placeholder="退单单号" name="afterNo"
                     class="form-control border-b-grey num" [(ngModel)]="search.afterNo">
              <input *ngIf="sType.value=='phone'" type="text" placeholder="用户手机号" name="phone"
                     class="form-control border-b-grey num" [(ngModel)]="search.phone">
              <input *ngIf="sType.value=='baseCode'" type="text" placeholder="商品基本编码" name="goodsBaseCode"
                     class="form-control border-b-grey num" [(ngModel)]="search.goodsBaseCode">
            </div>
            <button type="button" title="搜索" (click)="queryAllService()"
                    class="btn thc btn-thc bar-h3-btn mr0 ng-scope">
              <em class="icon-magnifier fa-fw"></em>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--搜索 end-->
    <div class="panel-body">
    <table class="table table-striped" #dataTable="rzhDataTable"  [rzhData]="refundList"  (pageChange)="queryAllService($event)">
      <thead>
      <tr>
        <th class="w5 text-center">
          <rzhDefaultSorter by="sort"></rzhDefaultSorter>
        </th>
        <th class="w15 text-center">
          <rzhDefaultSorter by="1">退单单号</rzhDefaultSorter>
        </th>
        <th class="w10 text-center">
          <rzhDefaultSorter by="2">退款金额（元）</rzhDefaultSorter>
        </th>
        <th class="w15 text-center">
          <rzhDefaultSorter by="4">申请人（买家）</rzhDefaultSorter>
        </th>
        <th class="w10 text-center">
          <rzhDefaultSorter by="3">申请时间</rzhDefaultSorter>
        </th>
        <th class="w10 text-center">
          <rzhDefaultSorter by="7">处理状态</rzhDefaultSorter>
        </th>
        <th class="w20 text-center">
          <rzhDefaultSorter by="8">管理操作</rzhDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody>

      <ng-container *ngFor="let item of dataTable.data; let i = index">

        <tr class="text-center">
          <td (click)="showDetail(i)"><i class="icon icon-arrow-down"></i></td>
          <td>{{item.afterNo}}</td>
          <td class="main-red">¥{{item.reqMoney | decimalTwo}}</td>
          <td>{{item.custCode}}</td>
          <td>{{item.createTime}}</td>
          <td>{{item.state | rzhState:'1602'}} </td>
          <td>
            <button class="btn btn-purple btn-sm fa fa-check-square-o" routerLink="../after-details"
                    [disabled]="item.state!='WAIT'"
                    [queryParams]="{afterNo:item.afterNo,type:'deal'}">处理</button>
            <button class="btn btn-green btn-sm icon-magnifier-add" routerLink="../after-details"
                    [queryParams]="{afterNo:item.afterNo,type:'detail'}">
            </button>
          </td>
        </tr>

        <tr *ngIf="detail[i]">
          <td class="p0" colspan="11">
            <div class="bg-table special text-left">
              <span class="">申请原因：</span> <span>{{item.reason}}</span>
            </div>
            <div class="bg-table special text-left">
              <span class="">订单编号：</span> <span>{{item.ordno}}</span>
            </div>
            <div class="bg-table special text-left h35">
              <span class="shopimg pull-left">商品图片：</span>
              <span class="">
                 <img [src]="item.goodsImage" alt="" class="buyimg"  (mousemove)="showImg($event,i)"  (mouseout)="hideImg(i)"   onerror="javascript:this.src='../../../assets/img/dummy.png'">
                <img [src]="item.goodsImage" #i class="bigImg" alt="" onerror="javascript:this.src='../../../assets/img/dummy.png'">
              </span>
            </div>
            <div class="bg-table special text-left">
              <span class="">商品编码：</span> <span>{{item.goodsCode}}</span>
            </div>
            <ng-container *ngIf="item.state!='WAIT'">
              <div class="bg-table special text-left">
                <span class="">操作人：</span> <span>{{item.optMan}}</span>
              </div>
              <div class="bg-table special text-left">
                <span class="">退款说明：</span> <span>{{item.opinion}}</span>
              </div>
            </ng-container>
          </td>
        </tr>
      </ng-container>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="9">
          <div class="col-sm-5">
            <div class="text-muted"><strong>第 {{refundList.genStartRow()}} 至 {{refundList.genEndRow()}} 条，共 {{refundList.totalRow}} 条</strong></div>
          </div>
          <div class="col-sm-7">
            <div style="float: right"><rzhBootstrapPaginator></rzhBootstrapPaginator></div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
  </div>
</div>
