<div class="content-heading mb-lg">
  退款统计
</div>

<div class="panel panel-default">
 <!--操作提示-->
  <div class="panel mb p ts">
    <p class="font18">操作提示</p>
    <ul>
      <li>统计图展现了时间段内退款金额的走势情况</li>
      <li>列表展示了时间段内退款详细数据，便于详细了解退款记录的具体信息</li>
    </ul>
  </div>

  <div class="xz">
    <!--搜索按钮-->
    <button class="btn pull-right">
      <i class="icon icon-magnifier icona"></i>
    </button>
    <!--日期选择 begin-->
    <div class="caldiv mr sel-date">
      <!--按天-->
      <p class="input-group">
        <input class="form-control" value="{{dt | date:'yyyy-MM-dd'}}" type="text"/>
        <span class="input-group-btn">
            <button class="btn btn-default" (click)="showDate()" type="button">
                <em class="fa fa-calendar"></em>
            </button>
        </span>
      </p>
      <!--按月-->
      <!--<p class="input-group">-->
        <!--<input class="form-control" value="{{dt | date:'yyyy-MM'}}" type="text"/>-->
        <!--<span class="input-group-btn">-->
            <!--<button class="btn btn-default" (click)="showDate()" type="button">-->
                <!--<em class="fa fa-calendar"></em>-->
            <!--</button>-->
        <!--</span>-->
      <!--</p>-->
      <!--按周-->
      <!--<p class="input-group">-->
        <!--<input class="form-control" value="{{dt | date:'yyyy-MM-dd-ww'}}" type="text"/>-->
        <!--<span class="input-group-btn">-->
            <!--<button class="btn btn-default" (click)="showDate()" type="button">-->
                <!--<em class="fa fa-calendar"></em>-->
            <!--</button>-->
        <!--</span>-->
      <!--</p>-->
      <div class="date-info" *ngIf="dateShow">
        <datepicker [(ngModel)]="dt" (selectionDone)="selDate()" [minDate]="minDate" [showWeeks]="true"></datepicker>
      </div>
    </div>
    <!--日期选择 end-->
    <!--筛选条件选择-->
    <select name="" id="" class="sel" [(ngModel)]="kk">
      <option value="day">按照天统计</option>
      <option value="week">按照周统计</option>
      <option value="month">按照月统计</option>
    </select>
  </div>
<!--图表统计-->
  <!--<div class="refund-table">-->
    <!--<h3>排行榜</h3>-->
    <!--<div echarts [options]="option" class=" demo-chart"></div>-->
  <!--</div>-->


  <div class="panel">
    <tabset class="bg-white p0" [justified]="true">
      <tab>
        <ng-template tabHeading>
          <i class="icon icon-heart pull-right">昨天</i>
        </ng-template>
        <div>
          <!-- START list group-->
          <p>AAA</p>
          <div echarts [options]="option" class=" demo-chart"></div>
          <!-- END list group-->
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <i class="icon icon-heart pull-left">今天</i>
        </ng-template>
        <div>
          <!-- START table responsive-->
          <p>BBB</p>
          <div echarts [options]="option" class=" demo-chart"></div>
          <!-- END table responsive-->
        </div>
      </tab>
    </tabset>
  </div>
  <!--表单统计-->
  <div class="panel panel-default">
    <div class="new-vip">退款金额统计表</div>
    <div class="panel-body">
      <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="data" (pageChange)="queryDatas($event)">
        <thead>
        <tr>
          <th class="refund-th">
            <rzhDefaultSorter by="name">订单编号</rzhDefaultSorter>
          </th>
          <th class="refund-th">
            <rzhDefaultSorter by="name">退款编号</rzhDefaultSorter>
          </th>
          <th class="thh">
            <rzhDefaultSorter by="email">店铺名称</rzhDefaultSorter>
          </th>
          <th class="thh">
            <rzhDefaultSorter by="email">商品名称</rzhDefaultSorter>
          </th>
          <th class="refund-th">
            <rzhDefaultSorter by="name">会员名称</rzhDefaultSorter>
          </th>
          <th class="refund-th">
            <rzhDefaultSorter by="name">申请时间</rzhDefaultSorter>
          </th>
          <th class="refund-th">
            <rzhDefaultSorter by="name">退款金额</rzhDefaultSorter>
          </th>
          <th class="refund-th">
            <rzhDefaultSorter by="name">商家处理</rzhDefaultSorter>
          </th>
          <th class="refund-th">
            <rzhDefaultSorter by="name">平台处理</rzhDefaultSorter>
          </th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="refund-th">ddd</td>
          <td class="refund-th">ddd</td>
          <td class="thh">aaa</td>
          <td class="thh">sss</td>
          <td class="refund-th">ddd</td>
          <td class="refund-th">ddd</td>
          <td class="refund-th">ddd</td>
          <td class="refund-th">ddd</td>
          <td class="refund-th">ddd</td>
        </tr>
      </table>
    </div>
  </div>
</div>

