.a {
  height: 700px;
}

.r3 {
  width: 100%;
  margin: auto;
}

.tp-em {
  margin-top: 8px;
  opacity: 0.3;
}

.statics-font {
  color: #595b5f;
}

.ts {
  margin-top: 0;
}

.table-title {
  background-color: #f9f9f9;
}
