<div class="content-heading mb-lg thc font">
  管理首页
</div>

<div class=" panel-default">
  <!--图文结合-->
  <div class="row r3">
    <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9">
              <div class=" font14 f-bold">下单金额（元）</div>
              <div class="font14">今天新增订单金额</div>
              <p class="text-md m0">{{(data.ordSum | number: '1.2-2') || '0.00'}}</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-shopping-cart fa-3x tp-em"></em>
            </div>
          </div>
        </div>
        <!-- END panel-->
      </div>
    </div>
    <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9 ">
              <div class="font14 f-bold">下单量</div>
              <div class="font14">今天新增订单数量</div>
              <p class="text-md m0">{{data.ordCount || '0'}}</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-calendar fa-3x tp-em"></em>
            </div>
          </div>
        </div>
      </div>
      <!-- END panel-->
    </div>
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-9 ">
              <div class="font14 f-bold">新增会员</div>
              <div class="font14">今天新注册会员数量</div>
              <p class="text-md m0">{{data.newAddCust || '0'}}</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="icon icon-user-follow fa-3x tp-em"></em>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-9 ">
              <div class="font14 f-bold">会员数量</div>
              <div class="font14">平台所有会员数量</div>
              <p class="text-md m0">{{data.allCust || '0'}}</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-group fa-3x tp-em"></em>
            </div>
          </div>
        </div>
      </div>
      <!-- END panel-->
    </div>
  </div>
  <div class="row r3">
    <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">

            <div class="col-xs-9">
              <div class="font14 f-bold">新增商品</div>
              <div class="font14 ">今天新增商品数量</div>
              <p class="text-md m0">{{data.newAddGoods || '0'}}</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-cube fa-3x tp-em"></em>
            </div>
          </div>
        </div>
        <!-- END panel-->
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9 ">
              <div class="font14 f-bold">商品数量</div>
              <div class="font14">平台所有商品数量</div>
              <p class="text-md m0">{{data.allGoods || '0'}}</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-cubes fa-3x tp-em"></em>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9 ">
              <div class="font14 f-bold">新增店铺</div>
              <div class="font14">今天新申请店铺总数</div>
              <p class="text-md m0">{{data.newAddStore || '0'}}</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-institution fa-3x tp-em"></em>
            </div>
          </div>
        </div>
      </div>
      <!-- END panel-->
    </div>
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9 ">
              <div class="font14 f-bold">店铺数量</div>
              <div class="font14">平台所有店铺的数量</div>
              <p class="text-md m0">{{data.allStore || '0'}}</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-pie-chart fa-3x tp-em"></em>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="a">
  <!--图表切换-->
  <div class="panel m-auto">
    <div echarts [options]="optionPrev" class="demo-chart w100"></div>
  </div>

  <!--TOP20-->
  <div class="mt20 panel w48 pull-left d-play">
    <div class="table-title statics-font thc">店铺销售排名TOP20</div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="w33 text-center">
            <span>序号</span>
          </th>
          <th class="w33 text-center">
            <span>店铺名称</span>
          </th>
          <th class="w33 text-center">
            <span>下单金额（元）</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngFor="let stop of data?.storeRanking;let i=index">
          <td>{{i+1}}</td>
          <td>{{stop.storeName}}</td>
          <td class="thc font">￥&nbsp;{{stop.saleSum}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="mt20 panel w48 pull-right">
    <div class="table-title statics-font thc">商品销售排名TOP20</div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="w33 text-center">
            <span>序号</span>
          </th>
          <th class="w33 text-center">
            <span>商品名称</span>
          </th>
          <th class="w33 text-center">
            <span>销量</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngFor="let goods of data?.goodsRanking;let i=index">
          <td>{{i+1}}</td>
          <td>{{goods.goodsName}}</td>
          <td>{{goods.goodsCount}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>
