<!--添加代理区域信息begin-->
<div class="rightpage" *ngIf="this.queryId==1">
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm" (ngSubmit)="addLimitList(addLimitForm.value)">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>新增代理区域</legend>
        </fieldset>
        <input class="form-control" required [(ngModel)]="organ.areaCode" name="areaCode" />
       <!-- <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i>*</i>区域</label>
            <div class="col-sm-8">
              <app-select-area [required]="true" [selectedAreaName]="organ.areaCode | areaName" (myData)="getAreaData($event)"></app-select-area>
            </div>
          </div>
        </fieldset>-->
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i>*</i>选择区域</label>
            <div class="col-sm-8">
              <app-four-areas (myData)="getAreaData($event)"></app-four-areas>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="remark" #remark="ngModel" ngModel/>
            </div>
          </div>
        </fieldset>

      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" [disabled]="!addLimitForm.form.valid">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
<!--添加代理区域信息end-->

<!--修改密码begin-->
<div class="rightpage" *ngIf="this.queryId==2">
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>修改密码</legend>
        </fieldset>

        <input class="form-control" required [(ngModel)]="agentCode" name="agentCode" type="hidden"/>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i>*</i> 代理商登录密码</label>
            <div class="col-sm-8">
              <input class="form-control" required name="agentPwd" [(ngModel)]="limitForm.agentPwd"
                     #agentPwd="ngModel" type="text"/>
              <div [hidden]="agentPwd.valid || agentPwd.pristine"
                   class="alert alert-danger">
                代理商登录密码是必填项，请填写代理商登录密码
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i>*</i> 新密码</label>
            <div class="col-sm-8">
              <input class="form-control" required name="agentNewPwd" [(ngModel)]="limitForm.agentNewPwd"
                     #agentNewPwd="ngModel" type="text"/>
              <div [hidden]="agentNewPwd.valid || agentNewPwd.pristine"
                   class="alert alert-danger">
                新密码是必填项，请填写新密码
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="button" [disabled]="!addLimitForm.form.valid" (click)="addLimitList(addLimitForm.value)">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
<!--修改密码end-->
