<!--添加代理区域信息begin-->
<div class="rightpage" *ngIf="this.queryId==1">
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm" (ngSubmit)="addLimitList(addLimitForm.value)">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>新增代理区域</legend>
        </fieldset>
        <input class="form-control" required [(ngModel)]="organ.areaCode" name="areaCode" type="hidden"/>
       <!-- <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i class='main-red'>*</i>区域</label>
            <div class="col-sm-8">
              <app-select-area [required]="true" [selectedAreaName]="organ.areaCode | areaName" (myData)="getAreaData($event)"></app-select-area>
            </div>
          </div>
        </fieldset>-->
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i class='main-red'>*</i>选择区域</label>
            <div class="col-sm-8">
              <app-four-areas (myData)="getAreaData($event)"></app-four-areas>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="remark" #remark="ngModel" ngModel/>
            </div>
          </div>
        </fieldset>

      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" [disabled]="!addLimitForm.form.valid">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
<!--添加代理区域信息end-->


<!--查看代理商详情begin-->
<div class="rightpage" *ngIf="this.queryId==3">
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>代理商详情</legend>
        </fieldset>
          <ul class="org-items">
            <li class="org-item">
              <span class="item-hd col-sm-4">代理商名称：</span>
              <p class="item-bd col-sm-7">{{staff.agentName}}</p>
            </li>
            <li class="org-item">
              <span class="item-hd col-sm-4">登录账号：</span>
              <p class="item-bd col-sm-7">{{staff.agentAcct}}</p>
            </li>
            <li class="org-item">
              <span class="item-hd col-sm-4">身份证号：</span>
              <p class="item-bd col-sm-7">{{staff.idcard}}</p>
            </li>
            <li class="org-item">
              <span class="item-hd col-sm-4">负责人：</span>
              <p class="item-bd col-sm-7">{{staff.leader}}</p>
            </li>
            <li class="org-item">
              <span class="item-hd col-sm-4">联系电话：</span>
              <p class="item-bd col-sm-7">{{staff.moblie}}</p>
            </li>
            <li class="org-item">
              <span class="item-hd col-sm-4">座机：</span>
              <p class="item-bd col-sm-7">{{staff.telephone}}</p>
            </li>
            <li class="org-item">
              <span class="item-hd col-sm-4">详细地址：</span>
              <p class="item-bd col-sm-7">{{staff.address}}</p>
            </li>
            <li class="org-item">
              <span class="item-hd col-sm-4">上次修改时间：</span>
              <p class="item-bd col-sm-7">{{staff.updateTime}}</p>
            </li>
            <li class="org-item">
              <span class="item-hd col-sm-4">坐标经度：</span>
              <p class="item-bd col-sm-7">{{staff.coordinateLng}}</p>
            </li>
            <li class="org-item">
              <span class="item-hd col-sm-4">坐标纬度：</span>
              <p class="item-bd col-sm-7">{{staff.coordinateLat}}</p>
            </li>
            <li class="org-item">
              <span class="item-hd col-sm-4">代理点描述：</span>
              <p class="item-bd col-sm-7">{{staff.description}}</p>
            </li>
          </ul>
      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
       <!-- <button class="ml btn btn-info pull-left" type="button" [disabled]="!addLimitForm.form.valid" (click)="addLimitList(addLimitForm.value)">提交信息</button>-->
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
<!--查看代理商详情end-->

