.form-control {
  padding: 6px 10px;
}

.ts {
  margin-top: 0;
}

.user-top {
  margin-top: 15px;
}

.statics-font {
  color: #595b5f;
}

.myHeight {
  height: 35px;
  line-height: 35px;
}

.tp-em {
  margin-top: 8px;
  opacity: 0.3;
}

.table-title {
  background-color: #f9f9f9;
}
.myGreen{
  font-color:green;
}
