<div class="content-heading mb-lg thc font">
  <span>红包奖池</span>
  <app-buttons class="pull-right" [config]="storeInvest"
               (click)="showAlert()"></app-buttons>
</div>
<!--方块统计 start-->
<div class="panel-default">
  <!--红包统计 start-->
  <div class="row r3">
    <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9">
              <!--<div class=" font14 f-bold">发放金额（元）</div>-->
              <div class="font14">红包奖池余额（元）</div>
              <p class="text-md m0">{{balance || '0' | number: '1.2-2'}}</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-shopping-cart fa-3x tp-em"></em>
            </div>
          </div>
        </div>
        <!-- END panel-->
      </div>
    </div>
    <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9 ">
              <!--<div class="font14 f-bold">领取金额（元）</div>-->
              <div class="font14">历史总额（元）</div>
              <p class="text-md m0">{{ income || '0' | number: '1.2-2'}}</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-money fa-3x tp-em"></em>
            </div>
          </div>
        </div>
      </div>
      <!-- END panel-->
    </div>
  </div>
  <!--红包统计 end-->
</div>
<!--方块统计 end-->

<!--企业投资记录表 start-->
<div class="panel mb">
  <div class="table-title w100 h50 font18 thc table-bg statics-font">奖池流水表</div>
  <div class="form-group mb0 ">
    <div class="pull-right text-center mt-lg mr6">
        <span class="ng-scope">
          <button type="button" title="搜索" id="toSearch" (click)="qeuryPushOrder(1)"
                  class="btn thc btn-thc bar-h3-btn mr ng-scope">
          <em class="icon-magnifier"></em><span>&nbsp;&nbsp;搜索</span>
          </button>
        </span>
    </div>
    <!--to do-->
    <!--<button type="button" title="重置时间" (click)="clearTime()"-->
            <!--class="btn thc btn-thc pull-right bar-h3-btn mr ng-scope mt-lg mr20">-->
      <!--<em class="fa fa-refresh"></em>-->
    <!--</button>-->
    <!--<div class="col-xs-2 pull-right mt-lg mr40">-->
      <!--<input type="text" class="form-control" bsDaterangepicker [(ngModel)]="queryDateTime" placeholder="选择查询时间"-->
             <!--[bsConfig]="bsConfig" #dpr="bsDaterangepicker" readonly/>-->
      <!--<span class="statistic-btn input-group-addon fa fa-calendar spanbtn h35" (click)="dpr.show()"></span>-->
    <!--</div>-->

    <select class="sel form-control pull-right mt-lg mr-sm" name="queryType"
            [(ngModel)]="subject">
      <option value="">全部</option>
      <option *ngFor="let item of querySubjects" [value]="item.key">{{item.val}}</option>
    </select>
    <div class="pull-right mt-lg mr-sm myHeight">
      会计科目：
    </div>
    <ng-select [allowClear]="true"
               [items]="items"
               (data)="refreshValue($event)"
               (selected)="selected($event)"
               (removed)="removed($event)"
               (typed)="typed($event)"
               class="col-xs-2 pull-right mt-lg mt-lg mr-lg p0"
               placeholder="根据企业名称查询">
    </ng-select>
    <div class="pull-right mt-lg myHeight">
      企业名称：
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="redPackData"
           (pageChange)="qeuryPushOrder(1,$event)">
      <thead>
      <tr>
        <th class="w5 text-center">
          <rzhDefaultSorter by="id">序号</rzhDefaultSorter>
        </th>
        <th class="w15 text-left">
          <rzhDefaultSorter by="id">企业名称</rzhDefaultSorter>
        </th>
        <th class="w10 text-left">
          <rzhDefaultSorter by="id">企业编码</rzhDefaultSorter>
        </th>
        <th class="w10 text-left">
          <rzhDefaultSorter by="name">店铺编码</rzhDefaultSorter>
        </th>
        <th class="w15 text-left">
          <rzhDefaultSorter by="id">会计科目</rzhDefaultSorter>
        </th>
        <th class="w10 text-left">
          <rzhDefaultSorter by="id">金额（元）</rzhDefaultSorter>
        </th>
        <th class="w20 text-left">
          <rzhDefaultSorter by="time">备注</rzhDefaultSorter>
        </th>
        <th class="w15 text-center">
          <rzhDefaultSorter by="picture">创建时间</rzhDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let count of dataTable.data;let x=index" class="text-center">
        <td>{{x+1}}</td>
        <td class="text-left">{{count.epName}}</td>
        <td class="text-left">{{count.epCode}}</td>
        <td class="text-left">{{count.storeCode}}</td>
        <td class="text-left">{{count.subjectName}}</td>
        <ng-container *ngIf="count.toType=='CUST'">
          <td class="thc font text-left">支出 ￥&nbsp;{{count.expenditrue || 0 |number:'1.2-2'}}</td>
        </ng-container>
        <ng-container *ngIf="count.toType=='STORE'||count.toType=='PLAT'">
          <td class="thc font text-left">收入 ￥&nbsp;{{count.income|| 0 |number:'1.2-2'}}</td>
        </ng-container>
        <td class="text-left">{{count.remark}}</td>
        <td>{{count.createTime }}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="8">
          <div class="col-sm-5">
            <div class="text-muted"><strong>第 {{redPackData.genStartRow()}} 至 {{redPackData.genEndRow()}} 条，共
              {{redPackData.totalRow}}
              条</strong></div>
          </div>
          <div class="col-sm-7">
            <div style="float: right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<!--企业投资记录表 end-->

<div class="order panel mb">
  <div class="table-title w100 h50 font18 thc statics-font">
    <div>投资和点击率占比统计图</div>
  </div>
  <!--搜索 start-->
  <div class="mt20">
    <div class="w98 m-auto h50 mt20">
      <!--搜索图标 start-->
      <span class="btn statistic-btn thc btn-thc btn-default m0" (click)="selectInfos()">
        <i class="icon icon-magnifier"></i>
      </span>
      <!--搜索图标 end-->
      <!--搜索条件 start-->
      <div class="pull-right">
        <div class="col-xs-3 form-group" style="width: 400px">
          <div *ngIf="showType.MONTH">
            <select [(ngModel)]="select.year" class="pull-left w43 form-control d-play" style="margin-right: 20px">
              <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
            </select>
            <select [(ngModel)]="select.month" class="w43 form-control">
              <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
            </select>
          </div>
          <div *ngIf="showType.WEEK">
            <select [(ngModel)]="select.year" (change)="getWeekListByMonth()" class="form-control w22 pull-left mr5">
              <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
            </select>
            <select [(ngModel)]="select.month" (change)="getWeekListByMonth()" class="form-control w21 pull-left mr5">
              <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
            </select>
            <select [(ngModel)]="select.week" class="form-control w53">
              <option *ngFor="let info of weekForMonth" value="{{info}}">{{info}}</option>
            </select>
          </div>
          <div *ngIf="showType.DAY" class="mr60">
            <input type="text" class="form-control" bsDatepicker [(ngModel)]="datepickerModel"
                   (change)="getWeekListByMonth()"
                   [bsConfig]="bsConfig" #dpr="bsDatepicker" readonly/>
            <span class="statistic-btn input-group-addon fa fa-calendar spanbtn h35" (click)="dpr.show()"></span>
          </div>
        </div>
      </div>
      <!--搜索条件 end-->
      <!--统计时间类型 start-->
      <select class="sel form-control pull-right" name="queryType"
              [(ngModel)]="queryType" (change)="search()">
        <option *ngFor="let item of queryTypes" [value]="item.key">{{item.val}}</option>
      </select>
      <!--统计时间类型 end-->
    </div>
  </div>
  <!--搜索 end-->
  <div class="panel m-auto clearfix">
    <!--投资占比统计图 start-->
    <div class="col-lg-5 mt20">
      <div echarts [options]="optionScale" class="demo-chart w100"></div>
    </div>
    <!--投资占比统计图 end-->
    <!--点击率占比统计图 start-->
    <div class="col-lg-7 mt20">
      <div echarts [options]="optionClick" class="demo-chart w100"></div>
    </div>
    <!--点击率占比统计图 end-->
  </div>
</div>
<!--企业投资弹窗 start-->
<app-store-invest [flag]="showStroeInvest"
                  (deliverGoods)="getDeliverOrderData()"></app-store-invest>
<!--企业投资弹窗 end-->



