<div class="content-heading mb-lg">
  会员管理
</div>
<div class="panel mb">
  <div class="panel-body p ng-scope" ng-if="search">
      <div class="col-md-4">
        <div class="form-group">
          <div class="col-md-8 col-xs-6 pl0">
            <input type="text" class="form-control border-b-grey ng-pristine ng-valid ng-touched" [(ngModel)]="custName"
                   (change)="queryMemberList()" maxlength="128" placeholder="请输入要查询的会员名称">
          </div>
          <button type="button" title="搜索" (click)="queryMemberList()"
                  class="btn btn-primary bar-h3-btn mr ng-scope">
            <i class="icon-magnifier fa-fw"></i>
          </button>
        </div>
        <div class="form-group mb0">
          <div class="col-md-8 col-xs-6 pl0">
            <input type="text" class="form-control border-b-grey ng-pristine ng-valid ng-touched" [(ngModel)]="custTruename"
                   (change)="queryMemberList()"  maxlength="128" placeholder="请输入要查询的会员真实姓名">
          </div>
          <button type="button" title="搜索" (click)="queryMemberList()"
                  class="btn btn-primary bar-h3-btn mr ng-scope">
            <i class="icon-magnifier fa-fw"></i>
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group clearfix">
          <div class="col-md-8 col-xs-6 pl0">
            <input type="number" maxlength="128" class="form-control border-b-grey ng-pristine ng-valid ng-touched" [(ngModel)]="custPhone" (change)="queryMemberList()" [pattern]="patterns.phone" placeholder="请输入要查询的会员的手机号">
          </div>
          <button type="button" title="搜索" (click)="queryMemberList()"
                  class="btn btn-primary bar-h3-btn mr ng-scope">
            <i class="icon-magnifier fa-fw"></i>
          </button>
        </div>
        <div class="form-group clearfix mb0">
          <div class="col-md-8 col-xs-6 pl0">
            <select class="form-control" name="authState" [(ngModel)]="authState" (change)="search($event)">
              <option value="">全部</option>
              <option *ngFor="let item of authStates" [value]="item.key">{{item.val}}</option>
            </select>
          </div>
          <button type="button" title="搜索" class="btn btn-primary bar-h3-btn mr ng-scope">
            <i class="icon-magnifier fa-fw"></i>
          </button>
        </div>
      </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
  <table class="table table-striped" #memberList="rzhDataTable" [rzhData]="memberListdata"
         (pageChange)="queryMemberList(1,$event)">
    <thead>
    <tr>
      <th class="w5">
        <rzhDefaultSorter by="sort">序号</rzhDefaultSorter>
      </th>
      <th class="w10">
        <rzhDefaultSorter by="member">会员名称</rzhDefaultSorter>
      </th>
      <th class="w10">
        <rzhDefaultSorter by="name">真实姓名</rzhDefaultSorter>
      </th>
      <th class="w5">
        <rzhDefaultSorter by="sex">性别</rzhDefaultSorter>
      </th>
      <th class="w5">
        <rzhDefaultSorter by="coin">重消币</rzhDefaultSorter>
      </th>
      <th class="w10">
        <rzhDefaultSorter by="area">区域名称</rzhDefaultSorter>
      </th>
      <th class="w10">
        <rzhDefaultSorter by="birthday">生日</rzhDefaultSorter>
      </th>
      <th class="w10">
        <rzhDefaultSorter by="tel">手机号</rzhDefaultSorter>
      </th>
      <th class="w5">
        <rzhDefaultSorter by="grade">会员类别</rzhDefaultSorter>
      </th>
      <th class="w5">
        <rzhDefaultSorter by="state">状态</rzhDefaultSorter>
      </th>
      <th class="w10">
        <rzhDefaultSorter by="create">创建时间</rzhDefaultSorter>
      </th>
      <th class="w15">
        <rzhDefaultSorter by="manage">管理操作</rzhDefaultSorter>
      </th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let member of memberList.data;let i = index">
      <tr>
        <td>{{i+1}}</td>
        <td>
           <span  *ngIf="member.authState=='AUTH'">
             <i class="icon icon-user-following gold-star" title="已实名认证"></i>&nbsp;
           </span>
          {{member.custName}}
        </td>
        <td>{{member.custTruename}}</td>
        <td>
          {{member.custSex | rzhState:'1002' }}
        </td>
        <td>{{member.coin}}</td>
        <td>{{member.areaName}}</td>
        <td>{{member.custBirthday}}</td>
        <td>{{member.custPhone}}</td>
        <td>
          {{member.isMember | rzhState:'1004'}}
        </td>
        <td>
          {{member.state | rzhState:'1018'}}
        </td>
        <td>{{member.createTime}}</td>
        <td>
          <app-buttons [config]="detailsbutton" class="btn-xs font12 detail-btn" (click)="showDetail(member)"></app-buttons>

          <button class="btn btn-danger btn-xs fa fa-pause" *ngIf="member.state=='NORMAL'" title="冻结"
                  (click)="changeState('FREEZE',member.custCode,memberListdata.curPage)"></button>
          <button class="btn btn-info btn-xs fa fa-trash" *ngIf="member.state=='FREEZE'" title="删除"
                  (click)="changeState('BLACK',member.custCode,memberListdata.curPage)"></button>
          <button class="btn btn-purple btn-xs fa fa-play" *ngIf="member.state=='FREEZE'" title="激活"
                  (click)="changeState('NORMAL',member.custCode,memberListdata.curPage)"></button>
      </tr>
      <tr *ngIf="member.isShow">
        <td class="p0" colspan="12">
          <div class="bg-table special text-left h55">
            <span class="m10 pull-left">头像:</span>
            <span class="">
                 <img [src]="member.custAvatar" alt="" class="buyimg pull-left"  (mousemove)="showImg($event,i)"  (mouseout)="hideImg(i)"   onerror="javascript:this.src='../../../assets/img/dummy.png'">
                <img [src]="member.custAvatar" #i class="bigImg" alt="" onerror="javascript:this.src='../../../assets/img/dummy.png'">
              </span>
          </div>
          <div class="bg-table special text-left">
            <span class="m10">邮箱:</span> <span>{{member.custEmail}}</span>
          </div>
          <div class="bg-table special text-left">
            <span class="m10">最后登陆时间:</span> <span>{{member.custOldLoginTime}}</span>
          </div>
          <div class="bg-table special text-left">
            <span class="m10">新浪微博登陆id:</span> <span> {{member.custSinaopenid}}</span>
          </div>
          <div class="bg-table special text-left">
            <span class="m10">qq:</span> <span>{{member.custQq}}</span>
          </div>
        </td>
      </tr>
    </ng-container>
    </tbody>
    <tfoot>
    <tr class="text-center">
      <td colspan="12">
        <div class="col-md-5">
          <div class="text-muted pull-left"><strong>第 {{memberListdata.genStartRow()}} 至
            {{memberListdata.genEndRow()}} 条，共 {{memberListdata.totalRow}}
            条</strong></div>
        </div>
        <div class="col-md-7">
          <div class="pull-right">
            <rzhBootstrapPaginator></rzhBootstrapPaginator>
          </div>
        </div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
</div>
<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->




