td,th{
  text-align: center;
}
.special{
  padding-left: 10px;
}

.special:hover{
  background: #DCF8FF;
}
.p0:hover{
  background: #F2F2F2;
}
.btn-xs, .btn-group-xs > .btn {
  padding: 3px 10px;
  line-height: 1.8;
}
.detail-btn{
  margin-right: -9px;
}
.buyimg{
  width: 55px;
  height: 55px;
  cursor: pointer;
}
.bigImg{
  position: fixed;
  top:0;
  left: 0;
  width: 165px;
  height: 165px;
  display: none;
  z-index: 1000;
}
._myLineHeight{
  line-height: 35px;
}
.lh{
  line-height: 35px;
}
.custName{
  height: 18px;
  width: 19px;
  padding-right: 19px;
}
.sel-all{
  margin-left: 15px;
}
.search-group{
  width:430px;
}
.ml-50{
  margin-left: -50px;
}
