<div class="content-heading mb-lg">
  <span class="thc font">会员管理</span>
</div>
<div class="panel mb">
  <div class="panel-body p ng-scope" ng-if="search">
      <div class="col-md-12">
        <div class="form-group col-md-3">
          <div class="pl0">
            <input type="text" class="form-control border-b-grey ng-pristine ng-valid ng-touched" [(ngModel)]="custName"
                   (change)="queryMemberList(1)" maxlength="50" placeholder="请输入要查询的会员名称">
          </div>
        </div>
        <div class="form-group mb0 col-md-3">
          <div class="pl0">
            <input type="text" class="form-control border-b-grey ng-pristine ng-valid ng-touched" [(ngModel)]="custTruename"
                   (change)="queryMemberList(1)"  maxlength="50" placeholder="请输入要查询的会员真实姓名">
          </div>
        </div>
        <div class="form-group col-md-3 clearfix">
          <div class="pl0">
            <input type="text" maxlength="50" class="form-control border-b-grey ng-pristine ng-valid ng-touched" [(ngModel)]="custPhone" (change)="queryMemberList(1)" [pattern]="patterns.phone" placeholder="请输入要查询的会员的手机号">
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="search-group ml-xl mb">
          <span class="search-title">会员类别：</span>
          <div class="search-main">
            <select class="form-control" name="authState" [(ngModel)]="authState" (change)="search(1)">
              <option value="">全部</option>
              <option *ngFor="let item of authStates" [value]="item.key">{{item.val}}</option>
            </select>
          </div>
        </div>
        <div class="search-group ml-xl mb">
          <span class="search-title">会员状态：</span>
          <div class="search-main">
            <select class="form-control" name="state" [(ngModel)]="state" (change)="search(1)">
              <option value="">全部</option>
              <option *ngFor="let item of states" [value]="item.key">{{item.val}}</option>
            </select>
          </div>
        </div>
        <button type="button" title="搜索" class="btn thc btn-thc ml align-top">
          <i class="icon-magnifier fa-fw"></i>
        </button>
      </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
  <table class="table table-striped" #memberList="rzhDataTable" [rzhData]="memberListdata"
         (pageChange)="queryMemberList(1,$event)">
    <thead>
    <tr>
      <th class="w5">
        <rzhDefaultSorter by="sort"></rzhDefaultSorter>
      </th>
      <th class="w10 thc font text-left">
        <span class="ml19">会员名称</span>
      </th>
      <th class="w5 thc font">
        真实姓名
      </th>
      <th class="w5 thc font">
        性别
      </th>
      <th class="w5 thc font">
        红包余额
      </th>
      <th class="w5 thc font">
        红包总额
      </th>
      <th class="w5 thc font">
        重消币
      </th>
      <th class="w10 thc font">
        区域名称
      </th>
      <th class="w10 thc font">
        生日
      </th>
      <th class="w5 thc font">
        手机号
      </th>
      <th class="w5 thc font">
        会员类别
      </th>
      <th class="w5 thc font">
        状态
      </th>
      <th class="w10 thc font">
        创建时间
      </th>
      <th class="w15 thc font">
        管理操作
      </th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let member of memberList.data;let i = index">
      <tr>
        <td (click)="showDetail(member)">
          <i class="icon icon-arrow-down"></i>
        </td>
        <td class="text-left">
           <span  *ngIf="member.authState=='AUTH'">
             <i class="icon icon-user-following gold-star" title="已实名认证"></i>&nbsp;
           </span>
          <span *ngIf="member.authState!='AUTH'" class="custName" style="">
           </span>
          {{member.custName}}
        </td>
        <td>{{member.custTruename}}</td>
        <td>
          {{member.custSex | rzhState:'1002' }}
        </td>
        <td>
          {{member.rpCustAcctBalance?member.rpCustAcctBalance:0 | number: '1.2-2' }}
        </td>
        <td class="thc font">￥
          {{member.rpCustAcctIncome?member.rpCustAcctIncome:0 | number: '1.2-2' }}
        </td>
        <td>{{member.coin?member.coin:0 | number: '1.2-2'}}</td>
        <td>{{member.areaFullName}}</td>
        <td>{{member.custBirthday}}</td>
        <td>{{member.custPhone}}</td>
        <td>
          {{member.isMember | rzhState:'1004'}}
        </td>
        <td>
          {{member.state | rzhState:'1018'}}
        </td>
        <td>{{member.createTime}}</td>
        <td>
          <button class="btn btn-info btn-xs fa fa-pause" *ngIf="member.state=='NORMAL'" title="冻结"
                  (click)="changeState('FREEZE',member.custCode,memberListdata.curPage)"></button>
          <button class="btn btn-danger btn-xs fa fa-trash" *ngIf="member.state=='FREEZE'" title="删除"
                  (click)="changeState('BLACK',member.custCode,memberListdata.curPage)"></button>
          <button class="btn btn-green btn-xs fa fa-play" *ngIf="member.state=='FREEZE'" title="激活"
                  (click)="changeState('NORMAL',member.custCode,memberListdata.curPage)"></button>
      </tr>
      <tr *ngIf="member.isShow">
        <td class="p0" colspan="14">
          <div class="bg-table special text-left h55">
            <span class="m10 pull-left _myLineHeight mr">头像:</span>
            <span class="">
                 <img [src]="member.custAvatar" alt="" class="buyimg pull-left"  (mousemove)="showImg($event,i)"  (mouseout)="hideImg(i)"   onerror="javascript:this.src='../../../assets/img/dummy.png'">
                <img [src]="member.custAvatar" #i class="bigImg" alt="" onerror="javascript:this.src='../../../assets/img/dummy.png'">
              </span>
          </div>
          <div class="bg-table special text-left">
            <span class="m10">邮箱:</span> <span>{{member.custEmail}}</span>
          </div>
          <div class="bg-table special text-left">
            <span class="m10">最后登陆时间:</span> <span>{{member.custOldLoginTime}}</span>
          </div>
          <div class="bg-table special text-left">
            <span class="m10">新浪微博登陆id:</span> <span> {{member.custSinaopenid}}</span>
          </div>
          <div class="bg-table special text-left">
            <span class="m10">qq:</span> <span>{{member.custQq}}</span>
          </div>
        </td>
      </tr>
    </ng-container>
    </tbody>
    <tfoot>
    <tr class="text-center">
      <td colspan="14">
        <div class="col-md-5">
          <div class="text-muted pull-left"><strong>第 {{memberListdata.genStartRow()}} 至
            {{memberListdata.genEndRow()}} 条，共 {{memberListdata.totalRow}}
            条</strong></div>
        </div>
        <div class="col-md-7">
          <div class="pull-right">
            <rzhBootstrapPaginator></rzhBootstrapPaginator>
          </div>
        </div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
</div>
<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->




