
<!--
myReadOnly是商品审核是页面元素显示/隐藏用的
-->

<form class="step-two panel panel-default" (keydown.Enter)="false" #publishForm="ngForm">
  <!--商品基本信息-->
  <fieldset class="m0 p0">
    <legend class="m0">商品基本信息</legend>
    <dl class="clearfix">
      <dt class="col-xs-2">商品分类：</dt>
      <dd class="col-xs-10">
        <span>{{publishData.kindSelectName}}</span>
        <button class="btn btn-info btn-sm ml" routerLink="../step_one" *ngIf="!myReadOnly">选择分类</button>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="col-xs-2"><i>*</i>商品名称：</dt>
      <dd class="col-xs-10 col-md-8">
        <div class="w50">
          <input [class.hide]="myReadOnly" class="form-control" type="text" required name="goodsName"
                 [(ngModel)]="publishData.goodsName">
          <div [class.hide]="!myReadOnly">{{publishData.goodsName}}</div>
        </div>
        <p class="tip" myHoverColor [class.hide]="myReadOnly">商品标题名称长度至少3个字符，最长50个汉字</p>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="col-xs-2"><i>*</i>商品卖点：</dt>
      <dd class="col-xs-10 col-md-8">
        <div class="w50">
          <div [class.hide]="!myReadOnly">{{publishData.goodsJingle}}</div>
          <textarea class="form-control" name="goodsJingle" required [class.hide]="myReadOnly"
                    [(ngModel)]="publishData.goodsJingle"
                    cols="10" rows="3"></textarea>
        </div>
        <p class="tip" myHoverColor [class.hide]="myReadOnly">商品卖点可填写商品的简介或特点，最长不能超过140个汉字</p>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="col-xs-2"><i>*</i>商品品牌：</dt>
      <dd class="col-xs-10 col-md-8">
        <div class="w50">
          <select class="form-control" name="brandCode" required [(ngModel)]="publishData.brandCode" [disabled]="myReadOnly">
            <option disabled value="">请选择</option>
            <option *ngFor="let brand of brandsList" [value]="brand.id">{{brand.brandName}}</option>
          </select>
        </div>
        <p class="tip" myHoverColor [class.hide]="myReadOnly">选择您的商品品牌，有利于商品通过品牌索引方式被找到；如没有您想要的品牌，可从“品牌管理”功能中添加并提交后台审核后再选择。</p>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="col-xs-2"><i>*</i>商品属性：</dt>
      <dd class="col-xs-10">
        <div class="w80 clearfix">
          <label class="col-sm-4 base-attr" *ngFor="let attrType of baseAttrList;let i = index">
            <span class="col-xs-3 pl-sm pr-sm pro-name">{{attrType.name}}</span>
            <div class="col-xs-9 pl-sm pr-sm">
              <select class="form-control" name="baseAttr" [disabled]="myReadOnly">
                <option *ngFor="let attr of attrType.goodsEnumValList" [value]="attr.id"
                        [class]="attr.idx">{{attr.enumValue}}
                </option>
              </select>
            </div>
          </label>
        </div>
        <p class="tip" myHoverColor [class.hide]="myReadOnly">正确选择商品属性直接影响搜索筛选的准确与否，请根据实际情况认真选择填写。</p>
      </dd>
    </dl>
  </fieldset>

  <!--商品交易信息-->
  <fieldset class="m0 p0">
    <legend class="m0">商品交易信息</legend>
    <dl class="clearfix">
      <dt class="col-xs-2"><i>*</i>计量单位：</dt>
      <dd class="col-xs-10 col-md-8">
        <div class="w50">
          <select name="unit" required class="form-control" [disabled]="myReadOnly" [(ngModel)]="publishData.unit">
            <option [value]="unit.id" *ngFor="let unit of unitList">{{unit.unitName}}</option>
          </select>
        </div>
        <p class="tip" myHoverColor [class.hide]="myReadOnly">请正确该商品的单位描述，确保购买者明确商品对应单价/计量单位。</p>
      </dd>
    </dl>
  </fieldset>

  <!--商品规格及图片-->
  <fieldset class="m0 p0">
    <legend class="m0"><i>*</i>商品规格及图片</legend>
    <!--商品规格-->
    <dl class="clearfix">
      <dt class="col-xs-2"><i>*</i>商品规格：</dt>
      <dd class="col-xs-10 specs">
        <h5 class="clearfix m0">
          <span class="col-sm-2 col-xs-3 text-right">规格</span>
          <span class="col-sm-10 col-xs-9">规格值 <em>（通过选择规格值建立商品与商品规格的关系）</em></span>
        </h5>
        <form class="clearfix enumType" *ngFor="let saleAttr of saleAttrList;let i = index;" [id]="i+1">
          <h6 class="col-sm-2 col-xs-3 text-right">
            <span class="_attrName">{{saleAttr.name}}</span>
            <label class="w80 hide"><input class="form-control" name="enumName" type="text" [id]="i+1" [readonly]="myReadOnly"
                                           [value]="saleAttr.name" (change)="changeSpec($event.target)"></label>
          </h6>
          <ul class="col-sm-10 col-xs-9 p">
            <li class="col-xs-4 col-md-3 _attr" *ngFor="let val of saleAttr.goodsEnumValList;let k = index;">
              <label class="checkbox-inline c-checkbox">
                <input class="_val" type="checkbox" [checked]="val.checked" [name]="saleAttr.name"
                       [id]="(i+1)+''+(k+1)" [disabled]="myReadOnly"
                       [value]="val.enumValue" (change)="checkSpecVal($event.target)"/>
                <span class="fa fa-check"></span>
              </label>
              <span class="_value">{{val.enumValue}}</span>
              <label class="w66 hide">
                <input class="form-control" type="text" [name]="val.idx" [id]="(i+1)+''+(k+1)" [value]="val.enumValue" [readonly]="myReadOnly"
                       (change)="changeSpec($event.target)"/><a class="hide" [id]="val.id"></a>
              </label>
            </li>
          </ul>
        </form>
        <p class="tip" myHoverColor [class.hide]="myReadOnly">
          可勾选商品对应的规格及规格值，规格及规格值名称都可以自定义；当勾选两种不同规格的规格值后将组合成一种商品SKU，可从下方表格中进行具体设定。
        </p>
      </dd>
    </dl>
    <!--sku表格-->
    <dl class="clearfix">
      <dt class="col-xs-2"><i>*</i>商品价格及库存：</dt>
      <dd class="col-xs-10">
        <table class="sku-table w100">
          <thead>
          <!--当选择了规格时-->
          <tr class="text-center">
            <th class="col-xs-2" *ngFor="let attr of skuAttr"
                [id]="attr.attrCode">{{attr.attrName}}
            </th>
            <th [class.col-xs-2]="skuAttr">
              <label class="s-menu mb0 cursor-p"><i>*</i>市场价<em class="icon-note"></em></label>
              <div class="dropdown-menu animated fadeInDown pl pr" role="menu">
                <div class="close">×</div>
                <p>批量设置市场价</p>
                <div class="text-center">
                  <input class="form-control" name="marketPrice" type="text" placeholder="0.00"/>
                  <button class="btn btn-green btn-sm set" (click)="setBatchSize($event.target)">设置</button>
                </div>
              </div>
            </th>
            <th [class.col-xs-2]="skuAttr">
              <label class="s-menu mb0 cursor-p"><i>*</i>销售价<em class="icon-note"></em></label>
              <div class="dropdown-menu animated fadeInDown pl pr" role="menu">
                <div class="close">×</div>
                <p>批量设置销售价</p>
                <div class="text-center">
                  <input class="form-control" name="price" type="text" placeholder="0.00"/>
                  <button class="btn btn-green btn-sm set" (click)="setBatchSize($event.target)">设置</button>
                </div>
              </div>
            </th>
            <th [class.col-xs-2]="skuAttr">
              <label class="s-menu mb0 cursor-p"><i>*</i>会员价<em class="icon-note"></em></label>
              <div class="dropdown-menu animated fadeInDown pl pr" role="menu">
                <div class="close">×</div>
                <p>批量设置会员价</p>
                <div class="text-center">
                  <input class="form-control" name="memberPrice" type="text" placeholder="0.00"/>
                  <button class="btn btn-green btn-sm set" (click)="setBatchSize($event.target)">设置</button>
                </div>
              </div>
            </th>
            <th class="col-xs-2">
              <label class="s-menu mb0 cursor-p"><i>*</i>库存 <em class="icon-note"></em></label>
              <div class="dropdown-menu animated fadeInDown pl pr" role="menu">
                <div class="close">×</div>
                <p>批量设置库存</p>
                <div class="text-center">
                  <input class="form-control" name="storageNum" type="text" placeholder=">10"/>
                  <button class="btn btn-green btn-sm set" (click)="setBatchSize($event.target)">设置</button>
                </div>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>

          <!--当选择了规格时-->
          <tr *ngFor="let sku of publishData.goodsSkuList;let i = index">
            <td [hidden]="true"><input type="text" name="saGroupCode" [(ngModel)]="sku.saGroupCode"></td>
            <td *ngFor="let val of sku.attrsList" [id]="val.valCode" [class]="val.idx"><p>{{val.value}}</p></td>
            <td>
              <input class="text _price num form-control" name="marketPrice" type="number" required [readonly]="myReadOnly"
                     [(ngModel)]="sku.marketPrice" #marketPrice="ngModel" [ngModelOptions]="{standalone: true}"/>
              <em class="add-on">元</em>
            </td>
            <td>
              <input class="text _price num form-control" name="price" type="number" required [readonly]="myReadOnly"
                     [(ngModel)]="sku.price" #price="ngModel" [ngModelOptions]="{standalone: true}"/>
              <em class="add-on">元</em>
              <span *ngIf="marketPrice.value != null"
                [hidden]="price.value < marketPrice.value || price.value == marketPrice.value || price.value == null"
                    class="text-danger font12">销售价应小于市场价
              </span>
            </td>
            <td>
              <input class="text _price num form-control" name="memberPrice" type="number" required [readonly]="myReadOnly"
                     [(ngModel)]="sku.memberPrice" #memberPrice="ngModel" [ngModelOptions]="{standalone: true}"/>
              <em class="add-on">元</em>
              <span *ngIf="price.value != null"
                [hidden]="memberPrice.value < price.value || memberPrice.value == price.value || memberPrice.value == null"
                    class="text-danger font12">会员价应小于销售价
              </span>
            </td>
            <td>
              <input class="text stock num form-control" name="storageNum" type="number" required [readonly]="myReadOnly"
                     [(ngModel)]="sku.storageNum" #storageNum="ngModel" [ngModelOptions]="{standalone: true}"/>
              <span [hidden]="storageNum.value > 9 || storageNum.value == null" class="text-danger font12">库存最少为10
              </span>
            </td>
          </tr>
          </tbody>
        </table>
        <p class="tip" myHoverColor [class.hide]="myReadOnly"> 点击 <em class="icon-note"></em> 可批量修改所在列的值。 <br>
          当规格值较多时，可在操作区域通过滑动滚动条查看超出隐藏区域。</p>
      </dd>
    </dl>
    <!--商品图片-->
    <dl class="clearfix">
      <dt class="col-xs-2"><i>*</i>商品图片：</dt>
      <dd class="col-xs-10 pic-list">
        <!--当没有选择第一规格时-->
        <div class="goodspics" *ngIf="skuImg.vals.length == 0" [class.hide]="myReadOnly">
          <div class="color-value mr">
            <h4>默认：</h4>
            <label class="btn btn-sm btn-info file-upload" (click)="noAttrTip()">
              <em class="fa fa-picture-o"></em>
              打开相册图片
              <!--<input class="w100" type="file" accept="image/*" name="" ng2FileSelect [uploader]="defaultUploader" multiple/>-->
            </label>
            <p class="tip" myHoverColor [class.hide]="myReadOnly">默认第一张图片为主图</p>
          </div>
          <ul class="goods-pic-list">
            <li class="ui-state-disabled" *ngIf="defaultUploader.queue.length == 0">
              <div class="upload-thumb">
                <img src="../../../assets/img/dummy.png">
              </div>
            </li>
            <li class="ui-state-disabled img-box" *ngFor="let item of defaultUploader.queue">
              <div class="close" *ngIf="!item.isSuccess" (click)="item.remove()">×</div>
              <div class="upload-thumb">
                <div class="up-success" *ngIf="item.isSuccess"><em class="fa fa-check"></em></div>
                <img *ngIf="item" [src]="item._file | imgUrl"
                     onerror="javascript:this.src='../../../assets/img/dummy.png'" [alt]="item?.file?.name">
              </div>
            </li>
          </ul>
        </div>

        <!--当选择了第一规格时-->
        <div class="goodspics" *ngFor="let val of skuImg.vals;let idx = index;" [id]="val.valCode">
          <div class="color-value">
            <h4>{{skuImg.attrName}}：<span data-spec-value-name="23">{{val.valName}}</span></h4>
            <label class="btn btn-sm btn-info file-upload" [class.hide]="myReadOnly">
              <em class="fa fa-picture-o"></em>
              打开相册图片
              <input class="w100" type="file" name="" ng2FileSelect
                     [uploader]="val.uploader" multiple/>
            </label>
            <p class="tip" myHoverColor [class.hide]="myReadOnly">默认第一张图片为主图</p>
          </div>
          <ul class="goods-pic-list ml">
            <li class="ui-state-disabled"
                *ngIf="val.uploader.queue.length == 0 && !oldImgs[val.valCode]">
              <div class="upload-thumb">
                <img src="../../../assets/img/dummy.png">
              </div>
            </li>
            <li class="ui-state-disabled img-box" *ngFor="let src of oldImgs[val.valCode];let i = index">
              <div class="close" [class.hide]="myReadOnly" (click)="removeImgSrc(val.valCode,i)">×</div>
              <div class="upload-thumb">
                <div class="up-success" [class.hide]="myReadOnly"><em class="fa fa-check"></em></div>
                <img [src]="src" onerror="javascript:this.src='../../../assets/img/dummy.png'">
              </div>
            </li>
            <li class="ui-state-disabled img-box" *ngFor="let item of val.uploader.queue">
              <div class="close" *ngIf="!item.isSuccess" (click)="item.remove()">×</div>
              <div class="close" *ngIf="item.isSuccess" (click)="removeImgSrc(val.valCode,i)">×</div>
              <div class="upload-thumb">
                <div class="up-success" *ngIf="item.isSuccess"><em class="fa fa-check"></em></div>
                <img *ngIf="item" [src]="item._file | imgUrl"
                     onerror="javascript:this.src='../../../assets/img/dummy.png'" [alt]="item?.file?.name">
              </div>
            </li>
          </ul>
        </div>
      </dd>
    </dl>
  </fieldset>

  <!--商品详情描述-->
  <fieldset class="m0 p0">
    <legend class="m0">商品详情描述</legend>
    <dl class="clearfix">
      <dt class="col-xs-2">商品描述：</dt>
      <dd class="col-xs-10">
        <div class="w100">
          <div id="summernote" class="summernote" *ngIf="!myReadOnly"></div>
          <div class="detailBody" [class.hide]="!myReadOnly" [innerHtml]="goodsBody"></div>
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="col-xs-2">移动端描述：</dt>
      <dd class="col-xs-10">
        <div class="w100 app-box">
          <div class="app-wrap">
            <div class="app-control">
              <div class="app-content">
                <div class="app-img-box" *ngFor="let item of mblItemList;let i=index;">
                  <div class="_edit hide">
                    <ul class="tools pull-right">
                      <li class="btn p0 mr-sm btn-default" *ngIf="i != 0" (click)="moveImg(i,'up',item)">上移</li>
                      <li class="btn p0 mr-sm btn-default" *ngIf="i != mblItemList.length-1"
                          (click)="moveImg(i,'down',item)">下移
                      </li>
                      <li class="btn p0 mr-sm btn-default" *ngIf="item.type== 'img'">
                        <label class="file-upload mb0">替换
                          <input class="w100" type="file" accept="image/*" name="appPic"
                                 (change)="mblReplaceImg($event,i)"/>
                        </label>
                      </li>
                      <li class="btn p0 mr-sm btn-default" *ngIf="item.type== 'text'"
                          (click)="mblReplaceText($event.target,item.value)">编辑
                      </li>
                      <li class="btn p0 mr-sm btn-default" (click)="removeItem(i)">移除</li>
                    </ul>
                  </div>
                  <img width="100%" *ngIf="item.type== 'img'" [src]="item.value"
                       onerror="javascript:this.src='../../../assets/img/dummy.png'">
                  <p class="text mb0" style="line-height: 1.6" *ngIf="item.type== 'text'">{{item.value}}</p>
                  <div class="mobile-edit-area hide" *ngIf="item.type== 'text'">
                    <div class="mea-text">
                      <p class="text-tip">还可以输入 <i class="counter">500</i>字 </p>
                      <div class="pl pr"><textarea class="textarea valid form-control p-sm" rows="3"
                                                   (keyup)="counter($event.target)"></textarea></div>
                      <div class="button">
                        <a class="btn btn-sm btn-primary" (click)="insertMblText($event.target,i)"
                           href="javascript:void(0);">确认</a>
                        <a class="btn btn-sm btn-default ml" (click)="hideEdit($event.target)"
                           href="javascript:void(0);">取消</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mobile-edit-area hide">
                <div class="mea-text">
                  <p class="text-tip">还可以输入 <i class="counter">500</i>字 </p>
                  <div class="pl pr"><textarea class="textarea valid form-control p-sm" rows="3"
                                               (keyup)="counter($event.target)"></textarea></div>
                  <div class="button">
                    <a class="btn btn-sm btn-primary" (click)="insertMblText()" href="javascript:void(0);">确认</a>
                    <a class="btn btn-sm btn-default ml" (click)="hideEdit()" href="javascript:void(0);">取消</a>
                  </div>
                </div>
              </div>
            </div>
            <ul class="app-add clearfix" [class.hide]="myReadOnly">
              <li class="col-xs-6">
                <label class="file-upload mb0">
                  <em class="fa fa-picture-o font24"></em><br>图片
                  <input class="w100" type="file" name="appPic" ng2FileSelect
                         [uploader]="mobileUploader" multiple/>
                </label>
              </li>
              <li class="col-xs-6" (click)="showEdit($event.target)">
                <em class="fa fa-font font24"></em><br>文字
              </li>
            </ul>
          </div>
          <div class="explain">
            <dl class="mb">
              <dt>1、基本要求：</dt>
              <dd>建议：所有图片都是本宝贝相关的图片。</dd>
            </dl>
            <dl class="mb">
              <dt>2、图片大小要求：</dt>
              <dd>（1）建议使用宽度超过480像素、高度超过960像素的图片；</dd>
              <dd>（2）格式为：jpg\gif\png；</dd>
              <dd>举例：可以上传一张宽度为480，高度为960像素，格式为jpg的图片。</dd>
            </dl>
            <dl class="mb">
              <dt>3、文字要求：</dt>
              <dd>（1）每次插入文字不能超过500个字，标点、特殊字符按照一个字计算；</dd>
              <dd>（2）请手动输入文字，不要复制粘贴网页上的文字，防止出现乱码；</dd>
              <dd>（3）请注意特殊字符将会被转译。</dd>
              <dd>建议：不要添加太多的文字，这样看起来更清晰。</dd>
            </dl>
          </div>
        </div>
      </dd>
    </dl>
  </fieldset>

  <!--临时节点，修改商品时用来存储移动端详情的图片和文本，通过节点的取值，方便处理成详情展示和修改需要的数据-->
  <div class="hide" id="mblHtml" [innerHtml]="tempMblHtml"></div>

  <!--商品物流信息-->
  <fieldset class="m0 p0 logistics">
    <legend class="m0">商品物流信息</legend>
    <dl class="clearfix">
      <dt class="col-xs-2"><i>*</i>运费：</dt>
      <dd class="col-xs-10 col-md-8">
        <div [class.hide]="!myReadOnly">{{publishData.isFreight == 'Y'? '有': '无'}}</div>
        <div class="w50" [class.hide]="myReadOnly">
          <label class="radio-inline c-radio">
            <input type="radio" name="isFreight" value="Y" [(ngModel)]="publishData.isFreight"/>
            <span class="fa fa-circle"></span>有</label>
          <label class="radio-inline c-radio">
            <input type="radio" name="isFreight" value="N" [(ngModel)]="publishData.isFreight"/>
            <span class="fa fa-circle"></span>无</label>
        </div>
      </dd>
    </dl>
    <dl class="clearfix" *ngIf="publishData.isFreight == 'Y'">
      <dt class="col-xs-2"><i>*</i>设置运费：</dt>
      <dd class="col-xs-10 col-md-8">
        <div class="w90">
          <div class="mb clearfix" [class.hide]="myReadOnly && publishData.goodsExpressInfo.freightType=='TPL'">
              <span class="radio c-radio c-radio-nofont radio-box">
                <label>
                <input type="radio" name="freightType" value="FIXED" placeholder="1.00" [disabled]="myReadOnly"
                       [(ngModel)]="publishData.goodsExpressInfo.freightType"/>
                <span class="fa fa-circle"></span>使用固定运费</label>
              </span>
            <span class="clearfix" *ngIf="publishData.goodsExpressInfo.freightType=='FIXED'">
                <input class="text price num form-control pull-left" name="fixedFreight" type="number"
                       [required]="publishData.goodsExpressInfo.freightType=='FIXED'" [readonly]="myReadOnly"
                       [(ngModel)]="publishData.goodsExpressInfo.fixedFreight">
                <em class="add-on">元</em>
              </span>
          </div>
          <div class="clearfix" [class.hide]="myReadOnly && publishData.goodsExpressInfo.freightType=='FIXED'">
            <span class="radio c-radio c-radio-nofont radio-box">
              <label>
              <input type="radio" name="freightType" value="TPL" [disabled]="myReadOnly"
                     [(ngModel)]="publishData.goodsExpressInfo.freightType"/>
              <span class="fa fa-circle"></span>使用物流规则</label>
            </span>
            <span class="clearfix" *ngIf="publishData.goodsExpressInfo.freightType=='TPL'">
              <select class="rules-list text form-control pull-left" name="freightType" [disabled]="myReadOnly"
                      [required]="publishData.goodsExpressInfo.freightType=='TPL'"
                      [(ngModel)]="publishData.goodsExpressInfo.expressTplId">
                <option value="">-请选择-</option>
              </select>
              <span class="btn btn-green btn-sm"><em class="fa fa-truck"></em> 添加物流规则</span>
            </span>
          </div>
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="col-xs-2"><i>*</i>物流参数：</dt>
      <dd class="col-xs-10">
        <div class="w50">
          <div class="clearfix mb">
            <span class="pull-left mr"><i>*</i>重量：</span>
            <span class="pull-left">
              <input class="text weight num form-control" name="weight" type="number" required placeholder="1.00" [readonly]="myReadOnly"
                     [(ngModel)]="publishData.goodsExpressInfo.weight">
              <em class="add-on">kg</em>
            </span>
          </div>
          <div class="clearfix">
            <span class="pull-left mr"><i>*</i>体积：</span>
            <span class="pull-left">
              <input class="text weight num form-control" name="volume" type="number" required placeholder="1.00" [readonly]="myReadOnly"
                     [(ngModel)]="publishData.goodsExpressInfo.volume">
              <em class="add-on">m³</em>
            </span>
          </div>
        </div>
        <p class="tip" myHoverColor [class.hide]="myReadOnly">如选择物流规则具有体积或重量运费时，需设定商品物流参数，默认为“1”单位，小数点后保留2位。</p>
      </dd>
    </dl>
  </fieldset>

  <!--商品其他信息-->
  <fieldset class="m0 p0 others-info">
    <legend class="m0">其他信息</legend>
    <!--<dl class="clearfix">
      <dt class="col-xs-2">商品发布：</dt>
      <dd class="col-xs-10">
        <div class="w50">
          <label class="radio-inline c-radio">
            <input type="radio" name="publish" value="Y" checked="checked" />
            <span class="fa fa-circle"></span>立即发布</label>
          <label class="radio-inline c-radio">
            <input type="radio" name="publish" value="N" />
            <span class="fa fa-circle"></span>放入仓库</label>
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="col-xs-2">商品推荐：</dt>
      <dd class="col-xs-10">
        <div class="w50">
          <label class="radio-inline c-radio">
            <input type="radio" name="recommend" value="Y" checked="checked" />
            <span class="fa fa-circle"></span>推荐</label>
          <label class="radio-inline c-radio">
            <input type="radio" name="recommend" value="N" />
            <span class="fa fa-circle"></span>不推荐</label>
        </div>
      </dd>
    </dl>-->
    <dl class="clearfix">
      <dt class="col-xs-2">是否有赠品：</dt>
      <dd class="col-xs-10">
        <div [class.hide]="!myReadOnly">{{publishData.haveGift == 'Y'? '是': '否'}}</div>
        <div class="w50" [class.hide]="myReadOnly">
          <label class="radio-inline c-radio">
            <input type="radio" name="haveGift" value="Y" [(ngModel)]="publishData.haveGift"/>
            <span class="fa fa-circle"></span>是</label>
          <label class="radio-inline c-radio">
            <input type="radio" name="haveGift" value="N" [(ngModel)]="publishData.haveGift"/>
            <span class="fa fa-circle"></span>否</label>
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="col-xs-2">是否参加促销活动：</dt>
      <dd class="col-xs-10">
        <div [class.hide]="!myReadOnly">{{publishData.isJoinLimitime == 'Y'? '是': '否'}}</div>
        <div class="w50" [class.hide]="myReadOnly">
          <label class="radio-inline c-radio">
            <input type="radio" name="isJoinLimitime" value="Y" [(ngModel)]="publishData.isJoinLimitime"/>
            <span class="fa fa-circle"></span>是</label>
          <label class="radio-inline c-radio">
            <input type="radio" name="isJoinLimitime" value="N" [(ngModel)]="publishData.isJoinLimitime"/>
            <span class="fa fa-circle"></span>否</label>
        </div>
        <p class="tip" [class.hide]="myReadOnly" myHoverColor [class.hide]="myReadOnly">请选择您的商品是否参加促销活动，如选择“否”，当您参加活动时将不能选择该商品。</p>
      </dd>
    </dl>
  </fieldset>

  <!--商品发布按钮-->
  <fieldset class="pt-xl m0 text-center" *ngIf="!myReadOnly">
    <button class="btn btn-green" type="button" (click)="publishGoods()" [disabled]="!publishForm.form.valid">
      <em class="fa fa-upload mr"></em>{{publishForm.form.valid?'发布商品':'请填写必要信息'}}
    </button>
  </fieldset>

</form>

<!--商品审核-->
<form class="goods-audit panel panel-danger" (keydown.Enter)="false" *ngIf="myReadOnly">
  <fieldset class="p0 panel-body">
    <legend class="m0 goods-audit-title">商品审核</legend>
    <table class="w100">
      <tr>
      <td class="col-xs-2 text-right bdr">审核结果：</td>
      <td class="col-xs-2 p-lg">
        <div class="radio c-radio c-radio-nofont p-sm" *ngFor="let item of goodsAudits">
          <label>
            <input type="radio" name="publish" [value]="item.key"  [(ngModel)]="audit.result" />
            <span class="fa fa-circle"></span>{{item.val}}</label>
        </div>
      </td>
      <td class="col-xs-8 p">
         <textarea class="form-control w66" name="goodsJingle" required
                   [(ngModel)]="audit.opinion" placeholder="请填写审核意见"
                   cols="10" rows="3"></textarea>
      </td>
      </tr>

    </table>
  </fieldset>
  <fieldset class="pt-xl m0 text-center" *ngIf="myReadOnly">
    <button class="btn btn-green" type="button" (click)="auditGoods()" [disabled]="!audit.opinion">
      <em class="fa fa-upload mr"></em>提交审核结果
    </button>
  </fieldset>
</form>
