<div class="content-heading mb-lg thc font">
  统计缓存重置
</div>
<div class="panel mb p ts thc">
  <p class="font18">操作提示</p>
  <ul>
    <li>将统计功能对应缓存的更新标识重置为初始值</li>
    <li>重置成功后，重新执行统计对应的计划任务则将重新统计计算并记录相应数据</li>
  </ul>
<div class="panel">
  </div>
  <div class="reset-div">
    <table style="width: 36%;height: 100px">
      <tr style="width: 36%;border-bottom: 1px solid #ccc">
        <td style="width:18%;text-align: center;border-right: 1px solid #ccc;">进行缓存设置：</td>
        <td style="width: 18%">
          <div class="form-group">
            <div class="col-sm-10">
              <label class="switch switch-lg">
                <input type="checkbox" checked="checked" />
                <span></span>
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 18%;border-right: 1px solid #ccc;"></td>
        <td style="width: 18%">
          <button class="btn btn-primary" style="margin-left: 20px">提交设置</button>
        </td>
      </tr>
    </table>

  </div>
</div>
