<div class="content-heading mb-lg thc font" >
  品牌管理
  <app-buttons class="pull-right" [config]="addButton" routerLink="addBrand"></app-buttons>
  <!--<button (click)="showPopup()">122222</button>-->
</div>
<div class="panel panel-danger">
  <div class="panel mb p ts-bg thc">
    <p class="font18">操作提示</p>
    <ul>
      <li>商品品牌建立时可与商品分类进行绑定，新增一个品牌则需要与商品分类建立所属关系。</li>
      <li>经营不同分类商品的品牌可添加多次以选择不同的分类。</li>
      <li>品牌绑定商品分类后，商家发布商品时，可根据发布的商品所在分类找到对应的所属品牌并选择。</li>
      <li>被推荐品牌，将在前台品牌推荐模块出显示。</li>
    </ul>
  </div>
  <div class="panel mb p clearfix">
    <div class="form-group col-md-4 mb0">
      <div class="col-md-8 col-xs-6 pl0">
        <input type="text" [(ngModel)]="brandName" class="form-control border-b-grey ng-pristine ng-valid ng-touched"
               (change)="queryDatas(1)" placeholder="品牌名称">
      </div>
      <button type="button" title="搜索"
              class="btn btn-primary bar-h3-btn mr ng-scope">
        <em class="icon-magnifier fa-fw"></em>
      </button>
    </div>
    <div class="form-group col-md-4 mb0">
      <div class="col-md-8 col-xs-6 pl0">
        <input type="text" [(ngModel)]="brandInitial" class="form-control border-b-grey ng-pristine ng-valid ng-touched"
               (change)="queryDatas(1)" placeholder="首字母">
      </div>
      <button type="button" title="搜索"
              class="btn btn-primary bar-h3-btn mr ng-scope">
        <em class="icon-magnifier fa-fw"></em>
      </button>
    </div>
    <div class="form-group col-md-4 mb0">
      <div class="col-md-8 col-xs-6 pl0">
        <div class="btn-group w100" dropdown>
          <button class="btn btn-default w100 text-left dropdownToggle" dropdownToggle>{{selectKindName}}<b
            class="caret pull-right"></b>
          </button>
          <ul *dropdownMenu class="dropdown-menu animated fadeInDown special" role="menu">
            <li (click)="selected('', '请选择分类')">
              <a href="#">请选择分类</a>
            </li>
            <li *ngFor="let kind of kindList" (click)="selected(kind.id, kind.kindName)">
              <a href="#">{{kind.kindName}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="brands" (pageChange)="queryDatas(1,$event)">
      <thead>
      <tr>
        <th class="unselectable text-center w5">
          <rzhDefaultSorter by="sort">序号</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center hidden-sm">
          <rzhDefaultSorter by="brandInitial">首字母</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="brandName">品牌名称</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="logo">品牌LOGO</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="brandRecommend">是否推荐</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="brandApply">审核状态</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="type">展示类型</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center hidden-sm">
          <rzhDefaultSorter by="brandSort">排序</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="brandSort">是否显示</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="manage">管理操作</rzhDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let brand of dataTable.data;let i = index" class="text-center">
        <td>{{i+1}}</td>
        <td class="hidden-sm">{{brand.brandInitial}}</td>
        <td>{{brand.brandName}}</td>
        <td><img height="50px" [src]="brand.brandPic" (mousemove)="showImg($event)" (mouseleave)="hideImg($event)"
                 onerror="javascript:this.src='../../../assets/img/dummy.png'"
                 alt="">
          <img class="hover-big-img" [src]="brand.brandPic"
               onerror="javascript:this.src='../../../assets/img/dummy.png'"
               alt=""></td>
        <td>
          <label class="switch switch-md" title="是/否">
            <input [checked]="brand.brandRecommend=='Y'" type="checkbox"
                   (change)="changeBrandRecommend(brand.brandRecommend=='Y',brand.id, brands.curPage)">
            <span></span>
          </label>
        </td>
        <td>{{brand.brandApply | rzhState: '1023'}}</td>
        <td>{{brand.showType | rzhState: '1024'}}</td>
        <td class="hidden-sm">{{brand.brandSort}}</td>
        <td>
          <label class="switch switch-md" title="显示/隐藏">
            <input [checked]="brand.state=='SHOW'" type="checkbox"
                   (change)="changeBrandState(brand.state=='SHOW',brand.id, brands.curPage)">
            <span></span>
          </label>
        </td>
        <td>
          <span>
            <app-buttons [config]="option" (callback)="option.callback($event,brand.id, brands.curPage)"
                         *ngFor="let option of buttons"></app-buttons>
          </span>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="10">
          <div class="col-sm-5">
            <div class="text-muted"><strong>第 {{brands.genStartRow()}} 至 {{brands.genEndRow()}} 条，共 {{brands.totalRow}}
              条</strong></div>
          </div>
          <div class="col-sm-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->
