<div class="content-heading mb-lg">
  品牌管理
  <app-buttons class="pull-right" [config]="addButton" routerLink="addBrand"></app-buttons>
  <!--<button (click)="showPopup()">122222</button>-->
</div>
<!--<div class="panel mb p bg-gray-lighter">
  <p class="font18">操作提示</p>
  <ul>
    <li>商品品牌建立后可与商品分类进行绑定，新增一个品牌则需要重新与商品分类建立所属关系。</li>
    <li>品牌绑定商品分类后，商家发布商品时，可根据发布的商品所在分类找到对应的所属品牌并选择。</li>
    <li>品牌标签用于对品牌的类型进行区分，应先行建立品牌标签后再选择品牌要绑定的标签，一个品牌可绑定多个品牌标签。例如：品牌“Nike耐克”可与标签“服装”“运动装备”等多个标签建立关系。 </li>
    <li>被推荐品牌，将在前台品牌推荐模块出显示。</li>
  </ul>
</div>-->
<div class="panel mb">
  <div class="panel-body p ng-scope">
    <div class="form-group col-md-4 mb0">
      <div class="col-md-8 col-xs-6 pl0">
        <input type="text" [(ngModel)]="brandName" class="form-control border-b-grey ng-pristine ng-valid ng-touched"
               (change)="queryDatas(1)" placeholder="品牌名称">
      </div>
      <button type="button" title="搜索"
              class="btn btn-primary bar-h3-btn mr ng-scope">
        <em class="icon-magnifier fa-fw"></em>
      </button>
    </div>
    <div class="form-group col-md-4 mb0">
      <div class="col-md-8 col-xs-6 pl0">
        <input type="text" [(ngModel)]="brandInitial" class="form-control border-b-grey ng-pristine ng-valid ng-touched"
               (change)="queryDatas(1)" placeholder="首字母">
      </div>
      <button type="button" title="搜索"
              class="btn btn-primary bar-h3-btn mr ng-scope">
        <em class="icon-magnifier fa-fw"></em>
      </button>
    </div>
    <div class="form-group col-md-4 mb0">
      <div class="col-md-8 col-xs-6 pl0">
        <div class="btn-group w100" dropdown>
          <button class="btn btn-default w100 text-left dropdownToggle" dropdownToggle>{{selectKindName}}<b class="caret pull-right"></b>
          </button>
          <ul *dropdownMenu class="dropdown-menu animated fadeInDown special" role="menu" >
            <li (click)="selected('', '请选择分类')">
              <a href="#">请选择分类</a>
            </li>
            <li *ngFor="let kind of kindList" (click)="selected(kind.id, kind.kindName)">
              <a href="#">{{kind.kindName}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--<div class="form-group mt-sm mb0">
      <label class="radio-inline c-radio">
        <input type="radio" name="brandRecommend" value="Y" [(ngModel)]="brandRecommend" (change)="queryDatas(1,$event)" />
        <span class="fa fa-circle"></span>推荐</label>
      <label class="radio-inline c-radio">
        <input type="radio" name="brandRecommend" value="N" [(ngModel)]="brandRecommend" (change)="queryDatas(1,$event)" />
        <span class="fa fa-circle"></span>不推荐</label>
    </div>-->

  </div>
</div>
<div class="panel panel-danger">
  <div class="panel-body">
    <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="brands" (pageChange)="queryDatas(1,$event)">
      <thead>
      <tr>
        <th class="unselectable text-center w5">
          序号
        </th>
        <th class="col-md-1 unselectable text-center hidden-sm">
          <rzhDefaultSorter by="brandInitial">首字母</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="brandName">品牌名称</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">品牌LOGO</th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="brandRecommend">是否推荐</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="brandApply">审核状态</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">展示类型</th>
        <th class="col-md-1 unselectable text-center hidden-sm">
          <rzhDefaultSorter by="brandSort">排序</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">是否显示</th>
        <th class="col-md-1 unselectable text-center">管理操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let brand of dataTable.data;let i = index" class="text-center">
        <td>{{i+1}}</td>
        <td class="hidden-sm">{{brand.brandInitial}}</td>
        <td>{{brand.brandName}}</td>
        <td><img height="50px" [src]="brand.brandPic" onerror="javascript:this.src='../../../assets/img/dummy.png'"
                 alt=""></td>
        <td>
          <label class="switch switch-md" title="是/否">
            <input [checked]="brand.brandRecommend=='Y'" type="checkbox"
                   (change)="changeBrandRecommend(brand.brandRecommend=='Y',brand.id, brands.curPage)">
            <span></span>
          </label>
        </td>
        <td>{{brand.brandApply == 'APPLY'? '审核中': brand.brandApply == 'PASS'? '审核通过': '未通过'}}</td>
        <td>{{brand.showType == 'IMG'? '图片': '文本'}}</td>
        <td class="hidden-sm">{{brand.brandSort}}</td>
        <td>
          <label class="switch switch-md" title="显示/隐藏">
            <input [checked]="brand.state=='SHOW'" type="checkbox"
                   (change)="changeBrandState(brand.state=='SHOW',brand.id, brands.curPage)">
            <span></span>
          </label>
        </td>
        <td>
          <span>
            <app-buttons [config]="option" (callback)="option.callback($event,brand.id, brands.curPage)"
                         *ngFor="let option of buttons"></app-buttons>
          </span>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="10">
          <div class="col-sm-5">
            <div class="text-muted"><strong>第 {{brands.genStartRow()}} 至 {{brands.genEndRow()}} 条，共 {{brands.totalRow}}
              条</strong></div>
          </div>
          <div class="col-sm-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->
