.panel{
  border: 0;
}
.special{
  height:250px;
  overflow-y: auto;
}

.dropdownToggle.btn{
  text-align: left;
}
.dropdownToggle .caret{
  margin-top: 7px;
}

.panel-body{
  padding: 0 15px 15px 15px;
}
