<!--添加区域begin-->
<div class="rightpage" *ngIf="this.queryId==1">
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend class="thc font">添加区域</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i class="main-red">*</i> 区域编码</label>
            <div class="col-sm-8">
              <input class="form-control" required name="areaCode" [(ngModel)]="limitForm.areaCode"
                     #areaCode="ngModel" type="text"/>
              <div [hidden]="areaCode.valid || areaCode.pristine"
                   class="text-danger">
                区域编码是必填项，请填写区域编码
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i class="main-red">*</i> 区域级别</label>
            <div class="col-sm-8">
              <input class="form-control" required name="level" [(ngModel)]="limitForm.level"
                     #level="ngModel" type="text"/>
              <div [hidden]="level.valid || level.pristine"
                   class="text-danger">
                区域级别是必填项，请填写区域级别
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i class="main-red">*</i> 区域名称</label>
            <div class="col-sm-8">
              <input class="form-control" required name="areaName" [(ngModel)]="limitForm.areaName"
                     #areaName="ngModel" type="text"/>
              <div [hidden]="areaName.valid || areaName.pristine"
                   class="text-danger">
                区域名称是必填项，请填写区域名称
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left thc font b" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left thc bg b" type="button" [disabled]="!addLimitForm.form.valid" (click)="addLimitList(addLimitForm.value)">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
<!--添加区域end-->

<!--修改区域信息begin-->
<div class="rightpage" *ngIf="this.queryId==2">
  <form class="form-validate form-horizontal" style="height: 100%"  #addLimitForm="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend class="thc font">修改区域信息</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i class="main-red">*</i> 区域编码</label>
            <div class="col-sm-8">
              <input class="form-control" required name="areaCode" [(ngModel)]="staff.areaCode"
                     #areaCode="ngModel" type="text" readonly/>
              <div [hidden]="areaCode.valid || areaCode.pristine"
                   class="text-danger">
                区域编码是必填项，请填写区域编码
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i class="main-red">*</i> 区域名称</label>
            <div class="col-sm-8">
              <input class="form-control" required name="areaName" [(ngModel)]="staff.areaName"
                     #areaName="ngModel" type="text"/>
              <div [hidden]="areaName.valid || areaName.pristine"
                   class="text-danger">
                区域名称是必填项，请填写区域编码
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left thc font b" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left thc bg b" type="button" [disabled]="!addLimitForm.form.valid" (click)="addLimitList(addLimitForm.value)">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
<!--修改区域信息end-->

<!--添加区域begin-->
<div class="rightpage" *ngIf="this.queryId==3">
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend class="thc font">添加区域</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i class="main-red">*</i> 区域编码</label>
            <div class="col-sm-8">
              <input class="form-control" required name="areaCode" [(ngModel)]="limitForm.areaCode"
                     #areaCode="ngModel" type="text"/>
              <div [hidden]="areaCode.valid || areaCode.pristine"
                   class="text-danger">
                区域编码是必填项，请填写区域编码
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i class="main-red">*</i> 区域级别</label>
            <div class="col-sm-8">
              <input class="form-control" required name="level" [(ngModel)]="limitForm.level"
                     #level="ngModel" type="text"/>
              <div [hidden]="level.valid || level.pristine"
                   class="text-danger">
                区域级别是必填项，请填写区域级别
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i class="main-red">*</i> 区域名称</label>
            <div class="col-sm-8">
              <input class="form-control" required name="areaName" [(ngModel)]="limitForm.areaName"
                     #areaName="ngModel" type="text"/>
              <div [hidden]="areaName.valid || areaName.pristine"
                   class="text-danger">
                区域名称是必填项，请填写区域名称
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left thc font b" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left thc bg b" type="button" [disabled]="!addLimitForm.form.valid" (click)="addLimitList(addLimitForm.value)">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
<!--添加区域end-->
