<div class="content-heading mb-lg thc font">
  结算明细
</div>
<div class="panel mb p ts thc">
  <p class="font18">平台/代理商订单结算规则</p>
  <ul>
    <li>　平台入账 = ( 订单总额 - 订单退款 ) × {{rate}} %</li>
    <li>代理商结算 = ( 订单总额 - 订单退款 ) × (1-{{rate}} %)= 订单总额 - 订单退款 - 平台入账</li>
  </ul>
  <p class="font18">店铺订单结算规则</p>
  <ul>
    <li>订单净营收 = 订单总额 - 订单总退款 - 运费</li>
    <li>抽取建设金 = 订单净营收 * 建设金抽取比例</li>
    <li>抽取广告费 = 订单净营收 * 广告费抽取比例</li>
    <li>　店铺结算 = 订单净营收 * ( 1 - 建设金抽取比例 - 广告费抽取比例 ) + 运费</li>
  </ul>
</div>
<div class="panel panel-danger">

  <div class="panel-body">
    <!--查询 start-->
    <div class="place-time clearfix mb">
      <span class="_title">结算时间：</span>
      <div class="_picker">
        <div class="input-group">
          <input class="form-control" bsDaterangepicker [bsConfig]="bsConfig" #dpr="bsDaterangepicker" readonly
                 [(ngModel)]="time" (ngModelChange)="queryDatas()">
          <span class="btn input-group-addon fa fa-calendar" (click)="dpr.show()"></span>
        </div>
      </div>
    </div>
    <button class="btn thc btn-thc fa fa-refresh btn-sm align-middle" title="重置时间" (click)="clearDate()"></button>
    <div class="search-group ml-xl mb">
      <span class="search-title font12">结算类型：</span>
      <div class="search-main">
        <select class="form-control" name="isOwnPlat" [(ngModel)]="query.toType" (change)="queryDatas()">
          <option value="">全部</option>
          <option *ngFor="let item of toTypes" [value]="item.key">{{item.val}}</option>
        </select>
      </div>
    </div>
    <div class="search-group ml-xl mb align-top">
      <span class="search-title font12">结算对象：</span>
      <div class="search-main">
        <input type="text" [(ngModel)]="query.to_name" (change)="queryDatas()"
               class="form-control border-b-grey" placeholder="结算对象">
      </div>
    </div>
    <div class="search-group ml-xl mb align-top">
      <span class="search-title">订单号：</span>
      <div class="search-main">
        <input type="text" [(ngModel)]="query.ordno" (change)="queryDatas()"
               class="form-control border-b-grey" placeholder="订单号">
      </div>
    </div>
    <button type="button" title="搜索" (click)="queryDatas()"
            class="btn thc btn-thc align-top ml">
      <em class="icon-magnifier"></em><span>&nbsp;&nbsp;搜索</span>
    </button>
    <!--查询 end-->
    <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="deposits"
           (pageChange)="queryDatas($event)">
      <thead>
      <tr>
        <th class="unselectable text-center w5">
          <rzhDefaultSorter by="sort">序号</rzhDefaultSorter>
        </th>
        <th class="w15 unselectable text-left">
          <rzhDefaultSorter by="settle-obj">结算对象</rzhDefaultSorter>
        </th>
        <th class="w7 unselectable text-center">
          <rzhDefaultSorter by="ordno">订单号</rzhDefaultSorter>
        </th>
        <th class="w8 unselectable text-right">
          <rzhDefaultSorter by="total">订单总额 (元)</rzhDefaultSorter>
        </th>
        <th class="w5 unselectable text-right">
          <rzhDefaultSorter by="refund">订单退款 (元)</rzhDefaultSorter>
        </th>
        <th class="w5 unselectable text-right">
          <rzhDefaultSorter by="rake">平台抽成比例</rzhDefaultSorter>
        </th>
        <th class="w5 unselectable text-right">
          <rzhDefaultSorter by="rake">广告费抽取比例</rzhDefaultSorter>
        </th>
        <th class="w5 unselectable text-right">
          <rzhDefaultSorter by="rake">抽取广告费 (元)</rzhDefaultSorter>
        </th>
        <th class="w5 unselectable text-right">
          <rzhDefaultSorter by="rake">建设金抽取比例</rzhDefaultSorter>
        </th>
        <th class="w5 unselectable text-right">
          <rzhDefaultSorter by="rake">抽取建设金 (元)</rzhDefaultSorter>
        </th>
        <th class="w5 unselectable text-right">
          <rzhDefaultSorter by="rake">运费 (元)</rzhDefaultSorter>
        </th>
        <th class="w7 unselectable text-right">
          <rzhDefaultSorter by="account">平台入账 (元)</rzhDefaultSorter>
        </th>
        <th class="w8 unselectable text-right">
          <rzhDefaultSorter by="settle">结算 (元)</rzhDefaultSorter>
        </th>
        <th class="w15 unselectable text-center">
          <rzhDefaultSorter by="time">结算时间</rzhDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of dataTable.data;let i = index">
        <tr class="text-center">
          <td>{{i+1}}</td>
          <td class="text-left">
            <span class="type-mark bg-green font12 fa fa-users" *ngIf="item.toType=='AGENT'"></span>
            <span class="type-mark bg-warning font12 fa fa-institution" *ngIf="item.toType=='STORE'"></span>
            {{item.toName}}
          </td>
          <td class="text-center">{{item.ordno}}</td>
          <td class="text-right"><span>¥ {{item.ordPay | number:'1.2-2'}}</span></td>
          <td class="text-right">
            <span *ngIf="item.ordRefundPay">¥ {{item.ordRefundPay | number:'1.2-2'}}</span>
            <span *ngIf="!item.ordRefundPay">-</span>
          </td>
          <td class="text-right">
            <span *ngIf="item.extraction_rate">{{item.extraction_rate}} %</span>
            <span *ngIf="!item.extraction_rate">-</span>
          </td>
          <td class="text-right">
            <span *ngIf="item.adRate">{{item.adRate}} %</span>
            <span *ngIf="!item.adRate">-</span>
          </td>
          <td class="text-right">
            <span *ngIf="item.ad">¥ {{item.ad | number:'1.2-2'}}</span>
            <span *ngIf="!item.ad">-</span>
          </td>
          <td class="text-right">
            <span  *ngIf="item.buildGoldRate">{{item.buildGoldRate}} %</span>
            <span *ngIf="!item.buildGoldRate">-</span>
          </td>
          <td class="text-right">
            <span *ngIf="item.buildGold">¥ {{item.buildGold | number:'1.2-2'}}</span>
            <span *ngIf="!item.buildGold">-</span>
          </td>
          <td class="text-right">
            <span *ngIf="item.freight">¥ {{item.freight | number:'1.2-2'}}</span>
            <span *ngIf="!item.freight">-</span>
          </td>
          <td class="text-right">
            <span *ngIf="item.extraction">¥ {{item.extraction | number:'1.2-2'}}</span>
            <span *ngIf="!item.extraction">-</span>
          </td>
          <td class="text-right">
            <span *ngIf="item.settle">¥ {{item.settle | number:'1.2-2'}}</span>
            <span *ngIf="!item.settle">-</span>
          </td>
          <td class="text-center">{{item.createTime}}</td>
        </tr>
      </ng-container>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="10">
          <div class="col-sm-5">
            <div class="text-muted"><strong>第 {{deposits.genStartRow()}} 至 {{deposits.genEndRow()}} 条，共
              {{deposits.totalRow}}
              条</strong></div>
          </div>
          <div class="col-sm-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
