<div class="content-heading mb-lg thc font">
  结算明细
</div>
<div class="panel mb p ts thc">
  <p class="font18">说明</p>
  <ul>
    <li>入账 =（订单总额 - 订单退款）× {{rate}}%</li>
    <li>结算 =（订单总额 - 订单退款）×（1-{{rate}}%）= 订单总额 - 订单退款 - 入账</li>
  </ul>
</div>
<div class="panel panel-danger">

  <div class="panel-body">
    <!--查询 start-->
    <div class="place-time clearfix mb">
      <span class="_title">结算时间：</span>
      <div class="_picker">
        <div class="input-group">
          <input class="form-control" bsDaterangepicker [bsConfig]="bsConfig" #dpr="bsDaterangepicker" readonly
                 [(ngModel)]="time" (ngModelChange)="queryDatas()">
          <span class="btn input-group-addon fa fa-calendar" (click)="dpr.show()"></span>
        </div>
      </div>
    </div>
    <button class="btn btn-green fa fa-refresh btn-sm align-middle" title="重置时间" (click)="clearDate()"></button>
    <div class="search-group ml-xl mb">
      <span class="search-title font12">结算类型：</span>
      <div class="search-main">
        <select class="form-control" name="isOwnPlat" [(ngModel)]="query.toType" (change)="queryDatas()">
          <option value="">全部</option>
          <option *ngFor="let item of toTypes" [value]="item.key">{{item.val}}</option>
        </select>
      </div>
    </div>
    <div class="search-group ml-xl mb align-top">
      <span class="search-title font12">结算对象：</span>
      <div class="search-main">
        <input type="text" [(ngModel)]="query.to_name" (change)="queryDatas()"
               class="form-control border-b-grey" placeholder="结算对象">
      </div>
    </div>
    <div class="search-group ml-xl mb align-top">
      <span class="search-title">订单号：</span>
      <div class="search-main">
        <input type="text" [(ngModel)]="query.ordno" (change)="queryDatas()"
               class="form-control border-b-grey" placeholder="订单号">
      </div>
    </div>
    <button type="button" title="搜索" (click)="queryDatas()"
            class="btn thc btn-thc align-top ml">
      <em class="icon-magnifier"></em><span>&nbsp;&nbsp;搜索</span>
    </button>
    <!--查询 end-->
    <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="deposits"
           (pageChange)="queryDatas($event)">
      <thead>
      <tr>
        <th class="unselectable text-center w5">
          <rzhDefaultSorter by="sort">序号</rzhDefaultSorter>
        </th>
        <th class="col-md-2 unselectable text-left">
          <rzhDefaultSorter by="settle-obj">结算对象</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="ordno">订单号</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-right">
          <rzhDefaultSorter by="total">订单总额</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-right">
          <rzhDefaultSorter by="refund">订单退款</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-right">
          <rzhDefaultSorter by="rake">抽成比例</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-right">
          <rzhDefaultSorter by="account">平台入账</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-right">
          <rzhDefaultSorter by="settle">结算</rzhDefaultSorter>
        </th>
        <th class="col-md-2 unselectable text-center">
          <rzhDefaultSorter by="time">结算时间</rzhDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of dataTable.data;let i = index">
        <tr class="text-center">
          <td>{{i+1}}</td>
          <td class="text-left">
            <span class="type-mark bg-green font12 fa fa-user" *ngIf="item.toType=='AGENT'"></span>
            <span class="type-mark bg-warning font12 icon-home" *ngIf="item.toType=='STORE'"></span>
            {{item.toName}}
          </td>
          <td>{{item.ordno}}</td>
          <td class="text-right"><span>¥{{item.ordPay | number:'1.2-2'}}</span></td>
          <td class="text-right"><span>¥{{item.ordRefundPay | number:'1.2-2'}}</span></td>
          <td class="text-right"><span>{{item.extraction_rate}}%</span></td>
          <td class="text-right"><span>¥{{item.extraction | number:'1.2-2'}}</span></td>
          <td class="text-right"><span>¥{{item.settle | number:'1.2-2'}}</span></td>
          <td>{{item.createTime}}</td>
        </tr>
      </ng-container>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="10">
          <div class="col-sm-5">
            <div class="text-muted"><strong>第 {{deposits.genStartRow()}} 至 {{deposits.genEndRow()}} 条，共
              {{deposits.totalRow}}
              条</strong></div>
          </div>
          <div class="col-sm-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
