<div class="content-heading mb-lg thc font">代理商订单管理</div>
<div class="order panel mb">
  <div class="panel-body">
    <div *ngIf="orderType!=100">
      <ul class="order-guide list-unstyled clearfix bb">
        <li class="pull-left thc" [class.font]="orderType==1" [class.bb]="orderType==1" routerLink="all-stock">所有订单</li>
        <li class="pull-left thc" [class.font]="orderType==2" [class.bb]="orderType==2" routerLink="pending-payment">
          待支付</li>
        <li class="pull-left thc" [class.font]="orderType==3" [class.bb]="orderType==3" routerLink="for-distribution">
          待配货</li>
        <li class="pull-left thc" [class.font]="orderType==4" [class.bb]="orderType==4" routerLink="awaiting-delivery">待发货</li>
        <li class="pull-left thc" [class.font]="orderType==5" [class.bb]="orderType==5" routerLink="complete">已发货</li>
        <li class="pull-left thc" [class.font]="orderType==6" [class.bb]="orderType==6" routerLink="success">已完成</li>
      </ul>
    </div>

    <ul class="order-guide list-unstyled clearfix bb" *ngIf="orderType==100">
      <li class="pull-left" (click)="routeBack()">订单列表</li>
      <li class="pull-left thc bb">订单详情</li>
    </ul>
    <!--路由嵌套 begin-->
    <router-outlet></router-outlet>
    <!--路由嵌套 end-->
  </div>
</div>

