<div class="rightpage">
  <form class="form-validate form-horizontal" #EditKind="ngForm" style="height: 100%">
    <!-- START panel-->
    <div class="panel-default">
      <!--可编辑表单 start-->
      <div class="panel-body mb-xl" *ngIf="!upKindImg">
        <fieldset class="b0">
          <legend>{{pageTitle}}</legend>
        </fieldset>

        <fieldset *ngIf="kindInfo.level != '1'">
          <div class="form-group">
            <label class="col-sm-4 control-label">上级分类</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="kindParentId"
                     [ngModel]="kindInfo.parentKindName" [readonly]="kindInfo.kindParentId != undefined"
                     placeholder="上级分类"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">分类级别</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="level" [(ngModel)]="kindInfo.level"
                     placeholder="分类级别" [pattern]="patterns.num" readonly/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>分类名称</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="kindName" required [(ngModel)]="kindInfo.kindName"
                     #kindName="ngModel" placeholder="请输入分类名称"/>
            </div>
          </div>
          <div [hidden]="kindName.valid || kindName.pristine"
               class="col-sm-8 pull-right text-danger">
            请输入分类名称
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>关键词</label>
            <div class="col-sm-7">
              <!--<tag-input theme='minimal' name="tagName1" [ngModel]="['Typescript', 'Angular 2']" [maxItems]="5"></tag-input>-->
              <input class="form-control" type="text" required name="keywords" [tooltip]="tip.keywords"
                     [(ngModel)]="kindInfo.keywords"
                     #keywords="ngModel" placeholder="关键词"/>
            </div>
          </div>
          <div [hidden]="keywords.valid || keywords.pristine"
               class="col-sm-8 pull-right text-danger">
            请填写关键词
          </div>
        </fieldset>
        <!--如果是添加分类-->
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">分类图标</label>
            <div class="col-sm-7">
              <img class="col-sm-5 p-sm" *ngIf="myImg && !kindInfo.kindIcon" [src]="uploader.queue[0]._file | imgUrl" alt="">
              <img class="col-sm-5 p-sm" *ngIf="myImg && kindInfo.kindIcon" [src]="uploader.queue[0]._file | imgUrl" alt="">
              <img class="col-sm-5 p-sm" *ngIf="!myImg && kindInfo.kindIcon" [src]="kindInfo.kindIcon"
                   onerror="javascript:this.src='../../../assets/img/dummy.png'" alt="">
              <label class="btn btn-default file-upload">
                <i class="icon-cloud-upload mr"></i>{{kindInfo.kindIcon? '修改图片':'上传图片'}}
                <input class="w100" type="file" name="brandPic" ng2FileSelect [uploader]="uploader"
                       (change)="fileChangeListener()"/>
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">描述</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="description" [(ngModel)]="kindInfo.description"
                     placeholder="请描述该分类"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">分享佣金比例</label>
            <div class="col-sm-7">
              <input class="form-control num" type="number" name="commisRate" [tooltip]="tip.commisRate"
                     [(ngModel)]="kindInfo.commisRate" #commisRate="ngModel" [pattern]="patterns.decimals"
                     placeholder="分享佣金比例"/>
            </div>
          </div>
          <div [hidden]="commisRate.valid || commisRate.pristine"
               class="col-sm-8 pull-right text-danger">
            请填写0-1的小数
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">排序</label>
            <div class="col-sm-7">
              <input class="form-control num" type="number" name="sort" [tooltip]="tip.sort" [pattern]="patterns.doubleDigit"
                     [(ngModel)]="kindInfo.sort" #sort="ngModel" placeholder="排序"/>
            </div>
          </div>
          <div [hidden]="sort.valid || sort.pristine"
               class="col-sm-8 pull-right text-danger">
            请填写0-99的整数
          </div>
        </fieldset>
        <fieldset *ngIf="path != 'upKind'">
          <div class="form-group">
            <label class="col-sm-4 control-label">状态</label>
            <div class="col-sm-7">
              <label class="radio-inline c-radio">
                <input type="radio" name="state" value="SHOW" [(ngModel)]="kindInfo.state"/>
                <span class="fa fa-circle"></span>显示</label>
              <label class="radio-inline c-radio">
                <input type="radio" name="state" value="HIDE" [(ngModel)]="kindInfo.state"/>
                <span class="fa fa-circle"></span>隐藏</label>
            </div>
          </div>
        </fieldset>
      </div>
      <!--可编辑表单 end-->


      <!--修改图片 start-->
      <div class="panel-body pb-xl" *ngIf="upKindImg">
        <fieldset class="b0">
          <legend>{{pageTitle}}</legend>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2"></label>
            <div class="col-sm-8">
              <img class="p-lg w100" *ngIf="myImg" [src]="uploader.queue[0]._file | imgUrl" alt="">
              <label class="btn btn-default file-upload">
                <i class="icon-cloud-upload mr"></i>{{fileName}}
                <input type="file" name="brandPic" required ng2FileSelect [uploader]="uploader"
                       (change)="fileChangeListener()"/>
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <!--修改图片 end-->

      <!--btns-->
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>

        <!--添加分类 -->
        <button *ngIf="editKind" class="ml btn btn-info pull-left" type="submit" (click)="addKindForm()"
                [disabled]="!EditKind.form.valid">提交
        </button>

        <!--修改分类图标 -->
        <button *ngIf="upKindImg" class="ml btn btn-info pull-left" type="submit" (click)="addKindForm()"
                [disabled]="!myImg">上传
        </button>
      </div>
    </div>

    <!-- END panel-->
  </form>
</div>
