.panel .clearfix li {
  list-style: none;
  height: 50px;
  line-height: 50px;
}

li.qh {
  border-radius: 6px;
  height: 50px;
  line-height: 50px;
  background: #ddd;
}

.form-control {
  padding: 6px 10px;
}

.ts {
  margin-top: 0;
}

.user-top {
  margin-top: 15px;
}

.statics-font {
  color: #595b5f;
}

.table-title {
  background-color: #f9f9f9;
}
