<div class="content-heading mb-lg thc font">
  热卖商品
</div>
<!--操作提示-->
<div class="panel mb p m-auto ts thc user-top">
  <p class="font18">操作提示</p>
  <ul>
    <li>图表展示了符合搜索条件订单的下单总金额和下单量排名前50位的商品</li>
  </ul>
</div>
<!--图表-->
<div class="panel">
  <div class="w98 m-auto h50 pt-lg mb-lg">
    <button type="button" title="搜索" (click)="selectInfos()"
            class="btn thc btn-thc bar-h3-btn ng-scope pull-right">
      <em class="icon-magnifier"></em><span>&nbsp;&nbsp;搜索</span>
    </button>
    <div class="pull-right">
      <div class="col-xs-3 form-group" style="width: 400px">

        <div *ngIf="showType.MONTH">
          <select [(ngModel)]="select.year" class="pull-left w43 form-control d-play"
                  style="margin-right: 20px">
            <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
          </select>
          <select [(ngModel)]="select.month" class="w43 form-control">
            <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
          </select>
        </div>

        <div *ngIf="showType.WEEK">
          <select [(ngModel)]="select.year" class="form-control w21 pull-left mr5">
            <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
          </select>
          <select [(ngModel)]="select.month" (change)="getWeekListByMonth()" class="form-control w21 pull-left mr5">
            <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
          </select>
          <select [(ngModel)]="select.week" class="form-control w55">
            <option *ngFor="let info of weekForMonth" value="{{info}}">{{info}}</option>
          </select>
        </div>

        <div *ngIf="showType.DAY" style="margin-right:60px">
          <input type="text" class="form-control" bsDatepicker [(ngModel)]="datepickerModel"
                 [bsConfig]="bsConfig" #dpr="bsDatepicker"/>
          <span class="statistic-btn input-group-addon fa fa-calendar spanbtn h35" (click)="dpr.show()"></span>
        </div>
      </div>
    </div>
    <select class="sel form-control pull-right" style="margin-right: 20px" name="queryType"
            [(ngModel)]="queryType" (change)="search()">
      <option *ngFor="let item of queryTypes" [value]="item.key">{{item.val}}</option>
    </select>
  </div>
  <!--图表切换-->
  <div class=" panel w100 m0">
    <ul class="clearfix p0 w95 m-auto">
      <li class="w50 text-center cursor-p pull-left order-count" [ngClass]="{'qh':queryContent=='ORDSUM','bqh':queryContent!='ORDSUM'}"
          (click)="qeuryAll('ORDSUM')">下单金额</li>
      <li class="w50 text-center cursor-p pull-left order-count"
          [ngClass]="{'qh':queryContent=='ORDCOUNT','bqh':queryContent!='ORDCOUNT'}"
          (click)="qeuryAll('ORDCOUNT')">下单商品数</li>
    </ul>
  </div>

  <div class="panel m-auto w98">
    <div echarts [options]="optionPrev" class="demo-chart w100"></div>
  </div>

</div>
<!--商品表单-->
<div class="panel mt20">
  <div class="table-title thc statics-font">热卖商品统计表</div>
  <div class="panel-body">
    <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="data" (pageChange)="qeuryAll($event)">
      <thead>
      <tr>
        <th class="text-center w33">
          <rzhDefaultSorter by="name">序号</rzhDefaultSorter>
        </th>
        <th class="text-center w33">
          <rzhDefaultSorter by="email">商品名称</rzhDefaultSorter>
        </th>
        <th class="text-center w33">
          <rzhDefaultSorter by="name">{{queryContentText}}</rzhDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-center" *ngFor="let hotsale of nowData.resultList;let i=index">
        <td class="">{{i+1}}</td>
        <td>{{hotsale.goodsName}}</td>
        <td>{{ queryContent=='ORDSUM'?hotsale.goodsSum:hotsale.goodsCount}}</td>
      </tr>
    </table>
  </div>
</div>


