.panel .clearfix li{
  list-style: none;
  height: 50px;
  line-height: 50px;
}

li.qh{
  border-radius: 6px;
  height: 50px;
  line-height: 50px;
  background: #000000;
  color: #ffffff;
}
.form-control{
  padding: 6px 10px;
}
.ts{
  margin-top: 0;
}
.user-top{
  margin-top: 15px;
}
.statics-font{
  color:#595b5f;
}
