<div class="content-heading mb-lg thc font">
  订单金额区间
</div>

<div class="panel panel-default">

  <div class="panel mb p ts w98 m-auto thc">
    <p class="font18">操作提示</p>
    <ul>
      <li>设置订单金额区间，当对订单金额进行相关统计时按照以下设置的价格区间进行统计和显示</li>
      <li>设置价格区间的几点建议：一、建议设置的第一个价格区间起始额为0；二、价格区间数值应该连贯且间隔合理例如0,100,200；三、最多可以设置10个范围</li>
    </ul>
  </div>

  <div class="panel-body">
    <div class="panel-body">
      <form class="form-validate form-horizontal" style="height: 100%"  #res="ngForm">
        <table class="t-items p w100 ">

          <tr class="t-item clearfix" *ngFor="let order of data;let i=index">
            <td class="item-hd col-sm-2 font12" *ngIf="!order.isShow">
              <span>{{order.remark}}:</span>
            </td>

            <td class="item-hd col-sm-2" *ngIf="order.isShow">
              <input type="text" class="form-control remark-padding" name="name" disabled [(ngModel)]="updata.remark" >
            </td>

            <td class="item-bd col-sm-7 mb0"  *ngIf="!order.isShow">
              <span class="w85">{{order.info}}</span>
            </td>
            <td class="item-bd col-sm-7 mb0"  *ngIf="order.isShow">
              <input type="text" class="form-control  num w85" name="num" [disabled]="i==0" type="number" [pattern]="patterns.twodecimal" [(ngModel)]="updata.info" required #info="ngModel" (keyup)="twoNum($event.target)">
            </td>

            <td *ngIf="!data[i].isShow && i!=0">
              <span class="btn btn-info" (click)="showDetail(data,order.code,i)">修改</span>
            </td>
            <td *ngIf="data[i].isShow && i!=0">
              <button class="btn btn-info" type="submit" (click)="submitt(order.code,order,updata.info,updata.remark)" [disabled]="!res.form.valid">提交</button>
              <button class="btn btn-green" (click)="cancel(order)" >取消</button>
            </td>
          </tr>

        </table>
      </form>
    </div>
  </div>

</div>
