<div class="content-heading mb-lg">
  订单金额区间
</div>

<div class="panel panel-default">

  <div class="panel mb p ts w98 m-auto thc-tip-bg">
    <p class="font18">操作提示</p>
    <ul>
      <li>设置订单金额区间，当对订单金额进行相关统计时按照以下设置的价格区间进行统计和显示</li>
      <li>设置价格区间的几点建议：一、建议设置的第一个价格区间起始额为0；二、价格区间数值应该连贯且间隔合理例如0,100,200；三、最多可以设置10个范围</li>
    </ul>
  </div>

  <div class="panel-body">
    <div class="panel-body">
      <div>
        <table class="t-items p w100">
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-1 font12">设置金额区间0：</td>
            <td class="item-bd col-sm-9 mb0">
              <input type="text" class="form-control w70" placeholder="0" disabled>
            </td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-1 font12">设置金额区间1：</td>
            <td class="item-bd col-sm-9 mb0">
              <input type="text" class="form-control w70" placeholder="请正确设定订单金额区间">
            </td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-1 font12">设置金额区间2：</td>
            <td class="item-bd col-sm-7 mb0">
              <input type="text" class="form-control w70" placeholder="请正确设定订单金额区间">
            </td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-1 font12">设置金额区间3：</td>
            <td class="item-bd col-sm-7 mb0">
              <input type="text" class="form-control w70" placeholder="请正确设定订单金额区间">
            </td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-1 font12">设置金额区间4：</td>
            <td class="item-bd col-sm-7 mb0">
              <input type="text" class="form-control w70" placeholder="请正确设定订单金额区间">
            </td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-1 font12">设置金额区间5：</td>
            <td class="item-bd col-sm-7 mb0">
              <input type="text" class="form-control w70" placeholder="请正确设定订单金额区间">
            </td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-1 font12">设置金额区间6：</td>
            <td class="item-bd col-sm-7 mb0">
              <input type="text" class="form-control w70" placeholder="请正确设定订单金额区间">
            </td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-1 font12">设置金额区间7：</td>
            <td class="item-bd col-sm-7 mb0">
              <input type="text" class="form-control w70" placeholder="请正确设定订单金额区间">
            </td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-1 font12">设置金额区间8：</td>
            <td class="item-bd col-sm-7 mb0">
              <input type="text" class="form-control w70" placeholder="请正确设定订单金额区间">
            </td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-1 font12">设置金额区间9：</td>
            <td class="item-bd col-sm-7 mb0">
              <input type="text" class="form-control w70" placeholder="请正确设定订单金额区间" >
            </td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-1 font12">设置金额区间10：</td>
            <td class="item-bd col-sm-7 mb0">
              <input type="text" class="form-control w70" placeholder="请正确设定订单金额区间" >
            </td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-1 font12"></td>
            <td class="item-bd col-sm-7 mb0">
             <span class="btn btn-info">提交设置</span>
            </td>
          </tr>
        </table>

      </div>


    </div>
  </div>

</div>
