<!--帮助中心-添加分类-->
<div class="rightpage" *ngIf="linkType == 'aa'" >
  <form class="form-validate form-horizontal" style="height: 100%" #addForm="ngForm">
    <!-- START panel-->
    <div class="">
      <div class="panel-body">
        <fieldset class="b0">
          <legend class="thc font">帮助分类信息</legend>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i class="main-red">*</i>排序</label>
            <div class="col-sm-8">
              <input class="form-control num" type="number" required name="sort" ngModel #sort="ngModel" [pattern]="patterns.positive" placeholder="请填写排序"/>
            </div>
          </div>
          <div [hidden]="sort.valid || sort.pristine"
               class="col-sm-9 pull-right text-danger">
            请填写整数
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i class="main-red">*</i>名称</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" required name="kindName" ngModel #kindName="ngModel"
                     placeholder="请填写名称"/>
            </div>
          </div>
          <div [hidden]="kindName.valid || kindName.pristine"
               class="col-sm-9 pull-right text-danger">
            请输入名称
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">描述</label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="description" ngModel
                     placeholder="请填写描述"/>
            </div>
          </div>
        </fieldset>


      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" (click)="submit(addForm.value)" [disabled]="!addForm.form.valid" >提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>

<!--帮助中心--修改-->
<div class="rightpage" *ngIf="linkType=='updateCount'">
  <form class="form-validate form-horizontal" style="height: 100%"  #res="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend class="thc font">帮助分类信息</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i class="main-red">*</i>排序</label>
            <div class="col-sm-8">
              <input class="form-control num" type="number" required name="sort" [(ngModel)]="updataDataa.sort" #sort="ngModel" [pattern]="patterns.positive" placeholder="请填写排序"/>
            </div>
          </div>
          <div [hidden]="sort.valid || sort.pristine"
               class="col-sm-9 pull-right text-danger">
            请填写整数
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i class="main-red">*</i>名称</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" required name="kindName" [(ngModel)]="updataDataa.kindName" #kindName="ngModel"
                     placeholder="请填写名称"/>
            </div>
          </div>
          <div [hidden]="kindName.valid || kindName.pristine"
               class="col-sm-9 pull-right text-danger">
            请输入名称
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">描述</label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="description" [(ngModel)]="updataDataa.description"
                     placeholder="请填写描述"/>
            </div>
          </div>
        </fieldset>

      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" (click)="submit(res.value)" [disabled]="!res.form.valid" >提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
