
.special{
  height:250px;
  overflow-y: auto;
}

.dropdownToggle.btn{
  text-align: left;
}
.dropdownToggle .caret{
  margin-top: 7px;
}

.search-group{
  width: 310px;
}

.panel-body{
  padding: 0 15px 15px 15px;
}
.myMidele{
  vertical-align: top;
}
