<div class="panel mb">
  <div class="panel-body">
    <ul class="order-guide list-unstyled clearfix">
      <li class="pull-left" [class.cur-order]="orderType==1" routerLink="all-orders">所有订单</li>
      <li class="pull-left" [class.cur-order]="orderType==2" routerLink="wait-for-pay">待支付</li>
      <li class="pull-left" [class.cur-order]="orderType==3" routerLink="wait-for-take">待收货</li>
      <li class="pull-left" [class.cur-order]="orderType==4" routerLink="wait-for-eval">待评价</li>
      <li class="pull-left" [class.cur-order]="orderType==5" routerLink="finished">已完成</li>
    </ul>
    <!--路由嵌套 begin-->
    <router-outlet></router-outlet>
    <!--路由嵌套 end-->
  </div>
</div>

