<div class="order panel mb">
  <div class="panel-body">
    <div *ngIf="orderType!='detail'">
      <ul class="order-guide list-unstyled clearfix bb">
        <li class="pull-left thc" [class.font]="orderType==''" [class.bb]="orderType==''" routerLink="all-orders">所有订单
        </li>
        <li class="pull-left thc" [class.font]="orderType=='PREPARE'" [class.bb]="orderType=='PREPARE'"
            routerLink="wait-for-send">待发货</li>
        <li class="pull-left thc" [class.font]="orderType=='DELIVERY'" [class.bb]="orderType=='DELIVERY'"
            routerLink="delivery">已发货</li>
        <li class="pull-left thc" [class.font]="orderType=='SUCCESS'" [class.bb]="orderType=='SUCCESS'"
            routerLink="finished">已完成</li>
        <li class="pull-left thc" [class.font]="orderType=='CLOSE'" [class.bb]="orderType=='CLOSE'"
            routerLink="canceled">已取消</li>
      </ul>
    </div>

    <ul class="order-guide list-unstyled clearfix bb" *ngIf="orderType=='detail'">
      <li class="pull-left" (click)="routeBack()">订单列表</li>
      <li class="pull-left thc bb">商品详情</li>
    </ul>
    <!--路由嵌套 begin-->
    <router-outlet></router-outlet>
    <!--路由嵌套 end-->
  </div>
</div>

