<div class="col-md-1 panel panel-default  special">
  <div class="panel-body">
    <div col-md-6 class="setClass" [class.active]="flag=='DRAFT'" (click)="articleState('DRAFT')">
      <i class="glyphicon glyphicon-trash"></i>
      <span>草稿箱()</span>
    </div>
    <div col-md-6 class="setClass" [class.active]="flag=='AUDIT'" (click)="articleState('AUDIT')">
      <i class="glyphicon glyphicon-trash"></i>
      <span>待审核(})</span>
    </div>
    <div col-md-6 class="setClass" [class.active]="flag=='REVISE'" (click)="articleState('REVISE')">
      <i class="glyphicon glyphicon-trash"></i>
      <span>审核中()</span>
    </div>
    <div col-md-6 class="setClass" [class.active]="flag=='NORMAL'" (click)="articleState('NORMAL')">
      <i class="glyphicon glyphicon-ok"></i>
      <span>已发表()</span>
    </div>
    <div col-md-6 class="setClass" [class.active]="flag=='DEL'" (click)="articleState('DEL')">
      <i class="glyphicon glyphicon-trash"></i>
      <span>已删除()</span>
    </div>
  </div>
</div>
