.special{
  height:400px;
  margin-right:20px;
  width:150px;
}
.setClass{
  height:40px;
  line-height: 40px;
  text-align: left;
}
i{
  margin-right:10px;
}
.active{
  background: #45C2E9;
}
.ts{
  margin-top:0px !important;
}
