<div class="order panel mb">
  <div class="panel-body">
    <div>
      <ul class="menu-guide list-unstyled clearfix bb">
        <li class="pull-left thc" [ngClass]="{font: auditType=='CR',bb:auditType=='CR'}"
            routerLink="unAudit">未审核
        </li>
        <li class="pull-left thc" [ngClass]="{font: auditType=='PASS',bb:auditType=='PASS'}"
            routerLink="audited">审核通过
        </li>
        <li class="pull-left thc" [ngClass]="{font: auditType=='REJECT',bb:auditType=='REJECT'}"
            routerLink="reject">审核驳回
        </li>
      </ul>
    </div>
    <!--路由嵌套 begin-->
    <router-outlet></router-outlet>
    <!--路由嵌套 end-->
  </div>
</div>

