<button (click)="sdfdf()">sdfds</button>
<div class="panel panel-default">
  <div class="panel-body">
    <!--<toaster-container [toasterconfig]="toasterconfig"></toaster-container>-->
    <h1>弹出框demo</h1>
    <hr/>
    <div class="m">
      <button (click)="dialogSuccess()">成功框</button>
      <button (click)="dialogError()">失败框</button>
      <button (click)="dialogWarning()">警示框</button>
      <button (click)="dialogInfo()">信息框</button>
      <hr/>

      <button (click)="dialogAutomaticClose()">自动关闭框</button>
      <button (click)="dialogAutomaticHtml()">自定义html</button>
      <button (click)="dialogAutomaticHtml2()">自定义html2</button>
      <button (click)="dialogAutomaticBtn()">自定义按钮</button>
      <button (click)="dialogAutomaticImg()">自定义图片</button>
      <hr/>

      <button (click)="dialogTop()">从顶部来</button>
      <button (click)="dialogBottom()">从底部来</button>
      <button (click)="showPopup()">弹窗</button>
      <hr/>

      更多的信息：
      <a href="http://www.cnblogs.com/zx-admin/p/6009558.html" class="btn btn-info" target="_blank">中文api</a>
      <a href="http://t4t5.github.io/sweetalert/" class="btn btn-info" target="_blank">英文api</a>
    </div>

    <h1>消息提醒</h1>
    <hr/>
    <div class="m">
      <button (click)="msgSuccess()">成功消息</button>
      <button (click)="msgError()">失败消息</button>
      <button (click)="msgWarning()">警示消息</button>
      <button (click)="msgInfo()">信息消息</button>
      <button (click)="msgWait()">执行中消息</button>
      <hr/>

      <button (click)="msgTopCenter()">上中</button>
      <button (click)="msgTopLeft()">上左</button>
      <button (click)="msgTopRight()">上右</button>
      <button (click)="msgBottomCenter()">下中</button>
      <button (click)="msgBottomLeft()">下左</button>
      <button (click)="msgBottomRight()">下右</button>
      <hr/>
    </div>
  </div>
</div>
<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->
