
<div class="rightpage" *ngIf="linkType=='adddata'">
  <form class="form-validate form-horizontal" style="height: 100%" #addForm="ngForm">
    <!-- START panel-->
    <div class="">
      <div class="panel-body">
        <fieldset class="b0">
          <legend  class="thc font" >新增退款退货原因</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i class="main-red">*</i>原因</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" required name="code" ngModel #code="ngModel"
                     placeholder="请填写原因"/>
            </div>
            <a></a>
          </div>
          <div [hidden]="code.valid || code.pristine"
               class="col-sm-9 pull-right text-danger">
            请填写原因
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i class="main-red">*</i>排序</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" required name="sort" ngModel #sort="ngModel"
                     placeholder="请填写排序"/>
            </div>
          </div>
          <div [hidden]="sort.valid || sort.pristine"
               class="col-sm-9 pull-right text-danger">
            请输入排序
          </div>
        </fieldset>

      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" (click)="submit(addForm.value)" [disabled]="!addForm.form.valid" >提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>

<div class="rightpage" *ngIf="linkType=='updatedata'">
  <form class="form-validate form-horizontal" style="height: 100%" #addForm="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend class="thc font">修改新增退款退货原因</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i class="main-red">*</i>原因</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" required name="code" ngModel #code="ngModel"
                     placeholder="请填写原因"/>
            </div>
            <a></a>
          </div>
          <div [hidden]="code.valid || code.pristine"
               class="col-sm-9 pull-right text-danger">
            请填写原因
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i class="main-red">*</i>排序</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" required name="sort" ngModel #sort="ngModel"
                     placeholder="请填写排序"/>
            </div>
          </div>
          <div [hidden]="sort.valid || sort.pristine"
               class="col-sm-9 pull-right text-danger">
            请输入排序
          </div>
        </fieldset>

      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" (click)="submit(addForm.value)" [disabled]="!addForm.form.valid" >提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
