<div class="content-heading mb-lg thc font">
  <span>提现审核列表</span>
</div>
<!--方块统计 start-->
<div class=" panel-default">
  <!--红包统计 start-->
  <div class="row r3">
    <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9">
              <!--<div class=" font14 f-bold">发放金额（元）</div>-->
              <div class="font14">未审核提现总额</div>
              <p class="text-md m0">{{amountData.sumWithDraw | decimalTwo}}</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-shopping-cart fa-3x tp-em"></em>
            </div>
          </div>
        </div>
        <!-- END panel-->
      </div>
    </div>
    <div class="col-md-3">
      <!-- START panel-->
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9 ">
              <!--<div class="font14 f-bold">领取金额（元）</div>-->
              <div class="font14">昨日提现总额</div>
              <p class="text-md m0">{{amountData.sumYestodayDraw | decimalTwo}}</p>
            </div>
            <div class="col-xs-3 text-right">
              <em class="fa fa-calendar fa-3x tp-em"></em>
            </div>
          </div>
        </div>
      </div>
      <!-- END panel-->
    </div>
  </div>
  <!--红包统计 end-->
</div>
<!--方块统计 end-->

<!--审核列表 start-->
<div class="panel mb">
  <div class="panel-body">
    <ul class="order-guide list-unstyled clearfix bb">
      <li class="pull-left thc" [class.font]="curState=='CR'" [class.bb]="curState=='CR'"
          (click)="qeuryAll('CR')">待审核
      </li>
      <li class="pull-left thc" [class.font]="curState=='DEAL'" [class.bb]="curState=='DEAL'"
          (click)="qeuryAll('DEAL')">审核中
      </li>
      <li class="pull-left thc" [class.font]="curState=='DONE'" [class.bb]="curState=='DONE'"
          (click)="qeuryAll('DONE')">审核通过
      </li>
    </ul>
    <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="auditListData"
           (pageChange)="qeuryAll(1,$event)">
      <thead>
      <tr>
        <th class="w5 text-center">
          <rzhDefaultSorter by="id">序号</rzhDefaultSorter>
        </th>
        <th class="w10 text-center">
          <rzhDefaultSorter by="id">收款姓名</rzhDefaultSorter>
        </th>
        <th class="w15 text-center">
          <rzhDefaultSorter by="id">提现金额</rzhDefaultSorter>
        </th>
        <th class="w15 text-center">
          <rzhDefaultSorter by="name">提现手续费</rzhDefaultSorter>
        </th>
        <th class="w10 text-center">
          <rzhDefaultSorter by="time">交易方式</rzhDefaultSorter>
        </th>
        <th class="w10 text-center">
          <rzhDefaultSorter by="time">状态</rzhDefaultSorter>
        </th>
        <th class="w15 text-center">
          <rzhDefaultSorter by="picture">申请时间</rzhDefaultSorter>
        </th>
        <th class="w20 text-center">
          <rzhDefaultSorter by="picture">操作</rzhDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of dataTable.data;let x=index" class="text-center">
        <td>{{x+1}}</td>
        <td>{{item.bacctName}}</td>
        <td>￥ {{item.drawMoney | number:'1.2-2'}}</td>
        <td>￥ {{item.brokerage | number:'1.2-2'}}</td>
        <td>{{item.payWay | rzhState:'1017'}}</td>
        <td>{{item.state | rzhState:'2102'}}</td>
        <td>{{item.createTime }}</td>
        <td>
          <!--目前只做银行转账 微信和支付宝走不通-->
          <button class="btn btn-sm btn-green fa fa-check" (click)="auditPass(item.id)"  *ngIf="item.payWay=='REMIT'&&item.state=='CR'"> 同意提现
          </button>
          <button class="btn btn-sm btn-green fa fa-check" (click)="showAlert(item.id)"  *ngIf="item.payWay=='REMIT'&&item.state=='DEAL'">上传凭证
          </button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="12">
          <div class="col-sm-5">
            <div class="text-muted"><strong>第 {{auditListData.genStartRow()}} 至 {{auditListData.genEndRow()}} 条，共
              {{auditListData.totalRow}}
              条</strong></div>
          </div>
          <div class="col-sm-5">
            <div style="float: right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<!--审核列表 end-->
<!--企业投资弹窗 start-->
<app-audit-alert [curId]="currentId" [page]="auditListData.curPage" (addRecord)="getAddRecordData($event)"
                 ></app-audit-alert>
<!--企业投资弹窗 end-->
