
<div class="deliver-order fadeIn" *ngIf="showDeliverWindow">
  <div class="mask"></div>
  <form class="_popup animated fadeIn">
    <div class="pop popup-hd">
      <span class="f-bold">发货</span>
      <div class="popup-colse unselectable" (click)="hideWindow()">×</div>
    </div>
    <!--表单-->
    <div class="pop deliver-box font12 w100">
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">订单编号：</dt>
        <dd class="orderId-color col-xs-9 font14">{{orderId}}</dd>
      </dl>
      <!--<dl class="bb m0 clearfix">
        <dt class="col-xs-3">收货人信息：</dt>
        <dd class="col-xs-9">
          <span>谢娇娇，13526819889，河南省郑州市管城回族区东风南路120号</span>
          <button class="btn btn-xs btn-green btn-outline fa fa-pencil" (click)="showEditBox(editBox)">编辑</button>
          <div class="deliver-info w100 p mt-sm hide" #editBox>
            <dl>
              <dt><i class="main-red">*</i>收货人：</dt>
              <dd><input type="text" class="form-control input-sm" value="谢娇娇"></dd>
            </dl>
            <dl>
              <dt><i class="main-red">*</i>所在地区：</dt>
              <dd>
                <span>河南省 郑州市 管城回族区</span>
                <button class="btn btn-xs btn-default fa fa-pencil"></button>
                <app-select-area [selectedAreaName]="'河南省郑州市管城回族区'" (myData)="getSelectArea($event)"></app-select-area>
              </dd>
            </dl>
            <dl>
              <dt><i class="main-red">*</i>街道地址：</dt>
              <dd><input type="text" class="form-control input-sm" value="东风南路120号"></dd>
            </dl>
            <dl>
              <dt><i class="main-red">*</i>联系电话：</dt>
              <dd><input type="text" class="form-control input-sm" value="13526819889"></dd>
            </dl>
            <button class="btn btn-xs btn-green" (click)="hideEditBox(editBox)">完成编辑</button>
          </div>
        </dd>
      </dl>-->
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">快递公司：</dt>
        <dd class="col-xs-5 font14">
          <select name="expressCode" class="form-control input-sm" [(ngModel)]="expressCode">
            <option [value]="item.expressCode" *ngFor="let item of expressList">{{item.expressName}}</option>
          </select>
        </dd>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">快递单号：</dt>
        <dd class="col-xs-5 font14">
          <input type="number" name="expressNo" class="form-control input-sm num" [(ngModel)]="expressNo">
        </dd>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">发货备注：</dt>
        <dd class="col-xs-6 font14">
          <textarea name="aa" class="form-control p remark font12" id="12" cols="30" rows="3"
                    placeholder="您可以输入一些发货备忘信息（仅卖家自己可见）"></textarea>
        </dd>
      </dl>
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-default" type="button" (click)="hideWindow()">放弃操作</button>
      <button class="btn btn-info" type="button" (click)="delivery()">确认提交</button>
    </div>
  </form>
</div>

