<div class="content-heading mb-lg thc font">
  <span class="thc font">文章编辑</span>
  <app-buttons class="pull-right" [config]="articleManAddbutton" routerLink="addArticle"
               [queryParams]="{linkType:'addArticle'}"></app-buttons>
</div>
<div class="panel mb">
  <div class="panel-body p ng-scope" ng-if="search">
    <div class="form-group mb0 search-manage">
      <span>短标题名称：</span>
      <input type="text" [(ngModel)]="searchKey"
             class="form-control searchKey border-b-grey ng-pristine ng-valid ng-touched"
             placeholder="请输入要查询的短标题名称" maxlength="50">
      <button type="button" title="搜索" id="toSearch"
              class="btn thc btn-thc bar-h3-btn mr ng-scope ml-lg pull-right">
        <em class="icon-magnifier fa-fw"></em> 搜索
      </button>
    </div>
  </div>
</div>

<div>
  <app-content-nav (sendState)="getState($event)" [totalRow]="totalRow"></app-content-nav>
  <app-content [state]="state" #child [searchKey]="searchKey" (emitTotalRow)="getEmitTotalRow($event)"></app-content>
</div>
<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->
