<div class="content-heading mb-lg thc font">
  {{enterPriseState == 'detail'?'企业详情':'企业管理'}}
</div>

<div class="order mb" [ngClass]="{'panel':enterPriseState != 'detail'}">
  <div [ngClass]="{'panel-body':enterPriseState != 'detail'}">
    <ng-container *ngIf="enterPriseState != 'detail'">
      <ul class="menu-guide list-unstyled clearfix bb">
        <li class="pull-left thc" [ngClass]="{font: enterPriseState=='',bb:enterPriseState==''}"
            routerLink="allStore">全部
        </li>
        <li class="pull-left thc" [ngClass]="{font: enterPriseState=='HALF',bb:enterPriseState=='HALF'}"
            routerLink="half">待完善
        </li>
        <li class="pull-left thc" [ngClass]="{font: enterPriseState=='NORMAL',bb:enterPriseState=='NORMAL'}"
            routerLink="normal">审核通过
        </li>
        <li class="pull-left thc" [ngClass]="{font: enterPriseState=='AUDIT',bb:enterPriseState=='AUDIT'}"
            routerLink="audit">待审核
        </li>
        <li class="pull-left thc" [ngClass]="{font: enterPriseState=='REJECT',bb:enterPriseState=='REJECT'}"
            routerLink="reject">已驳回
        </li>
        <li class="pull-left thc" [ngClass]="{font: enterPriseState=='BLACK',bb:enterPriseState=='BLACK'}"
            routerLink="black">黑名单
        </li>
      </ul>
    </ng-container>
    <!--路由嵌套 begin-->
    <router-outlet></router-outlet>
    <!--路由嵌套 end-->
  </div>
</div>

