.panel{
  border: 0;
}
.a{
  display: block;
   float: left
}
.aa{
  margin-left: 10px;
  padding: 6.5px 10px;
}
.imga{
  width: 80px;
  height:80px;
}
.bigImg{
  position: fixed;
  top:0;
  left: 0;
  width: 160px;
  height:auto;
  display: none;
  z-index: 1000;
}
.lh{
  line-height: 2.5;
}
.checkmark{
  font-size: 16px;
}
.price-change-box{
  display: inline-block;
  padding: 0 8px;
}

