<div class="content-heading mb-lg thc font">
  数据字典val列表
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="data" (pageChange)="queryDatas(1,$event)">
      <thead>
      <tr>
        <th class="w5 text-center">
          <rzhDefaultSorter by="sort">序号</rzhDefaultSorter>
        </th>
        <th class="w20 text-center">
          <rzhDefaultSorter by="code">类型码（code）</rzhDefaultSorter>
        </th>
        <th class="w20 text-center">
          <rzhDefaultSorter by="val">值名称（val）</rzhDefaultSorter>
        </th>
        <th class="w20 text-center ">
          <rzhDefaultSorter by="remark">备注</rzhDefaultSorter>
        </th>
        <th class="w15 text-center">
          <rzhDefaultSorter by="state">停启用</rzhDefaultSorter>
        </th>
        <th class="w20 text-center">
          <rzhDefaultSorter by="manage">管理操作</rzhDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let elder of dataTable.data;let x=index" class="text-center">
        <td>{{x+1}}</td>
        <td>{{elder.code}}</td>
        <td >{{elder.info}}</td>
        <td>{{elder.remark}}</td>
        <td>
          <!--是否启用-->
          <label class="switch">
            <input type="checkbox" *ngIf="elder.enable == 'Y'" [checked]="true" (change)="startState(elder)"
                   title="是否启动"/>
            <input type="checkbox" *ngIf="elder.enable == 'N'" [checked]="false" (change)="startState(elder)"
                   title="是否启动"/>
            <span></span>
          </label>
        </td>
        <td>
          <app-buttons [config]="updatebutton" routerLink="adddata"
                       [queryParams]="{keys:elder.info,linkType:'updateValSort',code:elder.code,typeCode:elder.typeCode,curPage:data.curPage}"></app-buttons>
          <app-buttons [config]="deletebutton" (click)="delete(elder.code,data.curPage)"></app-buttons>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="7">
          <div class="col-sm-5">
            <div class="text-muted"><strong>第 {{data.genStartRow()}} 至 {{data.genEndRow()}} 条，共 {{data.totalRow}}
              条</strong></div>
          </div>
          <div class="col-sm-7">
            <div style="float: right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
