.ts{
  background: #C9E7F2;
  width: 98%;
  margin: auto;
  margin-top: 15px;
}
.bigImg{
  position: fixed;
  top:0;
  left: 0;
  width: 110px;
  height: auto;
  display: none;
  z-index: 1000;
}
.buyimg{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.special{
  padding-left: 10px;
}
.special:hover{
  background: #DCF8FF;
}
.p0:hover{
  background: #F2F2F2;
}
.logistics-pop-main{
  max-height: 300px;
  overflow-y: auto;
}
._maxLength{
  width: 700px !important;
}
.panel-body{
  padding: 0 15px 15px 15px;
}
