
<div class="content-heading mb-lg">
 重消币增减
</div>
<div class="panel panel-default">
  <!--操作提示-->
  <div class="panel mb p ts w98 thc">
    <p class="font18">操作提示</p>
    <ul>
      <li>充值前提：用户必须已经通过实名认证</li>
    </ul>
  </div>
  <div class="panel-body">
    <div class="" >
      <form class="form-validate form-horizontal"  #res="ngForm">
        <!-- START panel-->
        <div class="panel-default">
          <div class="panel-body">
            <fieldset>
              <div class="form-group">
                <label class="col-sm-3 control-label"><i>*</i>会员手机号：</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text"  name="tel" ngModel required #tel="ngModel" [pattern]="patterns.phone"/>
                </div>
              </div>
              <div [hidden]="tel.valid || tel.pristine"
                   class="col-sm-9 pull-right text-danger">
                请填写正确手机号
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group">
                <label class="col-sm-3 control-label"><i>*</i>增减类型：</label>
                <div class="col-sm-8">
                  <label class="radio-inline c-radio">
                    <input type="radio" name="logType" value="RECHARGE" checked
                          [(ngModel)]="logType"/>
                    <span class="fa fa-circle"></span>充值</label>
                  <label class="radio-inline c-radio">
                    <input type="radio" name="logType" value="DEDUCT" ngModel/>
                    <span class="fa fa-circle"></span>扣除</label>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group">
                <label class="col-sm-3 control-label"><i>*</i>重消币：</label>
                <div class="col-sm-8">
                  <input class="form-control num" type="number"  name="custCoin" ngModel required #custCoin="ngModel" [pattern]="patterns.twodecimal"/>
                </div>
              </div>
              <div [hidden]="custCoin.valid || custCoin.pristine"
                   class="col-sm-9 pull-right text-danger">
                请填写重消币(最多写两位小数)
              </div>
            </fieldset>
          </div>
          <div class="panel-footer">
            <button class="btn btn-info sub" type="submit" (click)="submit(res.value)" [disabled]="!res.form.valid">提交信息  </button>
          </div>
        </div>
        <!-- END panel-->
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
