
  <div class="content-heading mb-lg thc font">
    购买分析
  </div>
  <div class="panel mb p m-auto ts thc">
    <p class="font18">操作提示</p>
    <ul>
      <li>客单价分布图将根据您设置的价格区间进行分布统计，点击“设置价格区间”进入设置价格区间页面</li>
      <li>购买时段分布图展示时间段内订单在各个时间段的分布情况，为工作时间的合理安排提供依据</li>
    </ul>
  </div>

  <div class="page-body">

  <!--图表-->
  <div class="panel w100 m-auto ">
    <div class="w98 m-auto h50 pt-lg">
      <span class="btn statistic-btn btn-default m0" (click)="selectInfos()">
        <i class="icon icon-magnifier"></i>
      </span>
      <div class="pull-right">
        <div class="col-xs-3 form-group" style="width: 400px">
          <div *ngIf="showType.MONTH">
            <select [(ngModel)]="select.year" class="pull-left w40 form-control d-play" style="margin-right: 20px">
              <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
            </select>
            <select [(ngModel)]="select.month" class="w40 form-control">
              <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
            </select>
          </div>
          <div *ngIf="showType.WEEK">
            <select [(ngModel)]="select.year" class="form-control w21 pull-left mr5">
              <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
            </select>
            <select [(ngModel)]="select.month" (change)="getWeekListByMonth()" class="form-control w21 pull-left mr5">
              <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
            </select>
            <select [(ngModel)]="select.week" class="form-control w55">
              <option *ngFor="let info of weekForMonth" value="{{info}}">{{info}}</option>
            </select>
          </div>

          <div *ngIf="showType.DAY" style="margin-right:60px">
            <input type="text" class="form-control" bsDatepicker [(ngModel)]="datepickerModel"  (change)="test()"
                   [bsConfig]="bsConfig" #dpr="bsDatepicker"/>
            <span class="statistic-btn input-group-addon fa fa-calendar spanbtn h35" (click)="dpr.show()"></span>
          </div>
        </div>
      </div>
      <select class="sel form-control pull-right" style="margin-right: 20px" name="queryType"
              [(ngModel)]="queryType" (change)="search()">
        <option *ngFor="let item of queryTypes" [value]="item.key">{{item.val}}</option>
      </select>
    </div>
    <div echarts [options]="optionPrev" class="demo-chart w100"></div>
  </div>
  <div class="panel w100 m-auto" style="margin-top: 20px">

    <div echarts [options]="optionNow" class="demo-chart w100"></div>
  </div>
</div>



