.ts{
  background: #C9E7F2;
  width: 98%;
  margin: auto;
  margin-top: 15px;
}
.xz{
  width: 98%;
  margin: auto;
  height: 50px;
}
.sel{
  float: right;
  height: 30px;
  width: 230px;
  margin-right: 10px;
  margin-top: 5px;
}
.btn{
  float: right;
  height: 30px;
  width: 50px;
  margin-top: 5px;
}
