<div class="mask fadeIn">
  <div class="popup animated bounceInDown w30">

    <div class="pop popup-hd">
      添加品牌
      <div class="popup-colse unselectable" (click)="closePopup()">×</div>
    </div>
    <form class="pop popup-bd form-validate form-horizontal">
      <!--<dl class="form-item p">
        <dt class="col-sm-4"><i>*</i>品牌名称</dt>
        <dd class="col-sm-7">
          <input class="form-control" type="text" name="brandName" required  [(ngModel)]="brandInfo.brandName"
                 #brandName="ngModel" placeholder="请输入品牌名称"/>
            <div [hidden]="brandName.valid || brandName.pristine"
                 class="text-danger">
              请输入品牌名称
            </div>
        </dd>
      </dl>
      <dl class="form-item p">
        <dt class="col-sm-4"><i>*</i>品牌首字母</dt>
        <dd class="col-sm-7">
          <input class="form-control" type="text" required name="brandInitial"  [(ngModel)]="brandInfo.brandInitial"
                 #brandInitial="ngModel" placeholder="品牌首字母"/>
          <div [hidden]="brandInitial.valid || brandInitial.pristine"
               class="text-danger">
            请输入品牌名称
          </div>
        </dd>
      </dl>-->
    </form>
    <div class="pop popup-ft">
      弹窗底部，可以放按钮
      <button type="button" class="btn btn-danger" (click)="makeSure()">传值</button>
    </div>
  </div>
</div>
