<div class="content-heading mb-lg thc font">
  数据字典列表
  <app-buttons class="pull-right" [config]="addButton" routerLink="adddata"></app-buttons>
</div>
<div class="panel mb" *ngIf="childMenuTitList.length < 1">
  <div class="panel-body p ng-scope" ng-if="search">
    <div class="form-group mb0">
      <label class="label-width pull-left text-right lh35 mb0" style="line-height: 2.5;">查找：</label>
      <div class="col-xs-5">
        <input type="text" [(ngModel)]="searchkey" class="form-control border-b-grey ng-pristine ng-valid ng-touched"
               (change)="searchdata($event)" placeholder="请输入类型名">
      </div>
      <div class="col-sm-1 pull-left text-center">
        <span class="ng-scope">
           <button type="button" title="搜索" id="toSearch" (click)="searchdata($event)"
                   class="btn thc btn-thc bar-h3-btn mr ng-scope">
             <em class="icon-magnifier fa-fw"></em>搜索
           </button>
          </span>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="col-md-10 font15 mt mb pl text-primary">
    <i class="icon-layers mr"></i>
    <span class="cursor-p" (click)="queryChildSortList()">类型列表（key）</span>
    <span *ngFor="let menuTit of childMenuTitList">
      <i class="fa fa-arrow-right mr ml"></i>
      <font class="cursor-p" (click)="queryChildSortList(menuTit.code,menuTit.name,true)">{{menuTit.name}}</font>
    </span>
    <span *ngIf="childMenuTitList.length>0" (click)="goBackMenu()" class="btn btn-default btn-xs ml">
    <i class="fa fa-level-up mr5"></i>
    返回上一级
    </span>
  </div>
  <div class="panel-body">
    <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="data" (pageChange)="queryDatas(1,$event)">
      <thead>
      <tr>
        <th class="w6 text-center">
          <rzhDefaultSorter by="sort">序号</rzhDefaultSorter>
        </th>
        <th class="w15 text-center">
          <rzhDefaultSorter by="code">类型码（code）</rzhDefaultSorter>
        </th>
        <th class="w20 text-center">
          <rzhDefaultSorter by="name" *ngIf="childMenuTitList.length < 1">类型名（name）</rzhDefaultSorter>
          <rzhDefaultSorter by="val" *ngIf="!childMenuTitList.length < 1">值名称（val）</rzhDefaultSorter>
        </th>
        <th class="w20 text-center ">
          <rzhDefaultSorter by="remark">备注</rzhDefaultSorter>
        </th>
        <th class="w7 text-center">
          <rzhDefaultSorter by="state">停启用</rzhDefaultSorter>
        </th>
        <th class="w7 text-center">
          <rzhDefaultSorter by="value" *ngIf="childMenuTitList.length < 1">唯一值</rzhDefaultSorter>
        </th>
        <th class="w25 text-center">
          <rzhDefaultSorter by="manage">管理操作</rzhDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let elder of dataTable.data;let x=index" class="text-center">
        <td>{{x+1}}</td>
        <td>{{elder.code}}</td>
        <td *ngIf="elder.name !='' && elder.name!=null && elder.name!=undefined">{{elder.name}}</td>
        <td *ngIf="elder.info !='' && elder.info!=null && elder.info!=undefined">{{elder.info}}</td>
        <td>{{elder.remark}}</td>
        <td>
          <!--是否启用-->
          <label class="switch">
            <input type="checkbox" *ngIf="elder.enable == 'Y'" [checked]="true" (change)="startState(elder)"
                   title="是否启动"/>
            <input type="checkbox" *ngIf="elder.enable == 'N'" [checked]="false" (change)="startState(elder)"
                   title="是否启动"/>
            <span></span>
          </label>
        </td>
        <td>
          <!--是否有唯一值-->
          <label class="switch" *ngIf="elder.isUniqueVal=='Y'">
            是
          </label>
          <label class="switch" *ngIf="elder.isUniqueVal=='N'">
            否
          </label>
        </td>
        <td>
          <app-buttons [config]="updatebutton" routerLink="adddata" *ngIf="!elder.typeCode"
                       [queryParams]="{linkType:'updateSort',code:elder.code,curPage:data.curPage}"></app-buttons>
          <app-buttons [config]="updatebutton" routerLink="adddata" *ngIf="elder.typeCode"
                       [queryParams]="{keys:elder.info,linkType:'updateSort',code:elder.code,typeCode:elder.typeCode,curPage:data.curPage}"></app-buttons>
          <app-buttons [config]="addchildbutton" routerLink="adddata" *ngIf="childMenuTitList.length < 1"
                       [queryParams]="{key:elder.name,linkType:'addChildSort',code:elder.code,curPage:data.curPage}"></app-buttons>
          <app-buttons [config]="deletebutton" (click)="delete(elder.code,data.curPage)"></app-buttons>
          <span class="btn btn-default" *ngIf="childMenuTitList.length < 1"
                (click)="queryChildSortList(elder.code,elder.name,false)">
          <i class="fa fa-level-down"></i>
          下级菜单
        </span>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="7">
          <div class="col-sm-5">
            <div class="text-muted"><strong>第 {{data.genStartRow()}} 至 {{data.genEndRow()}} 条，共 {{data.totalRow}}
              条</strong></div>
          </div>
          <div class="col-sm-7">
            <div style="float: right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
