<div class="content-heading mb-lg thc font">
  提现记录
</div>
<div class="panel panel-danger">
  <div class="pt-lg ng-scope">
    <div class="search-group ml-xl mb align-top">
      <span class="search-title">收款人姓名：</span>
      <div class="search-main">
        <input type="text" [(ngModel)]="query.bacctName"
               class="form-control border-b-grey"
               (change)="queryDatas(1)" placeholder="收款人姓名">
      </div>
    </div>
    <div class="search-group ml-xl mb align-top">
      <span class="search-title">提现状态：</span>
      <div class="search-main">
        <select class="form-control" name="goodsAudit" [(ngModel)]="query.state" (change)="queryDatas(1)">
          <ng-container *ngFor="let item of curMenus">
            <option [value]="item.key">{{item.val}}</option>
          </ng-container>
        </select>
      </div>
    </div>
    <div class="tag-dib">
      <div class="place-time clearfix mb ml-xl">
        <span class="_title">创建时间：</span>
        <div class="_picker">
          <div class="input-group">
  <input class="form-control" bsDaterangepicker [bsConfig]="bsConfig" #dpr="bsDaterangepicker" [(ngModel)]="myTime" readonly placeholder="选择查询时间">
  <span class="btn input-group-addon fa fa-calendar" (click)="dpr.show()"></span>
          </div>
        </div>
      </div>
      <button type="button" title="搜索" (click)="queryDatas(1)"
              class="btn thc btn-thc ml align-top">
        <i class="icon icon-magnifier "></i>
        <span>&nbsp;搜索</span>
      </button>
      <button type="button" title="重置查询" (click)="resetQuery()"
              class="btn thc btn-thc ml align-top">
        <i class=" fa fa-refresh "></i>
        <span>&nbsp;重置查询</span>
      </button>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="deposits"
           (pageChange)="queryDatas(1,$event)">
      <thead>
      <tr>
        <th class="unselectable text-center w5">
          <rzhDefaultSorter by="sort"></rzhDefaultSorter>
        </th>
        <th class="col-md-2 unselectable text-left">
          <rzhDefaultSorter by="agent">企业名称</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-left">
          <rzhDefaultSorter by="bacctName">收款人姓名</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-left">
          <rzhDefaultSorter by="acct">收款人账户</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-left">
          <rzhDefaultSorter by="bank">收款账户开户行</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="drawMoney">提现金额（元）</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="way">平台汇款方式</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="voncer">汇款凭证</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-left">
          <rzhDefaultSorter by="remark">汇款备注</rzhDefaultSorter>
        </th>
        <!--<th class="col-md-1 unselectable text-left">-->
          <!--<rzhDefaultSorter by="remark">驳回原因</rzhDefaultSorter>-->
        <!--</th>-->
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of dataTable.data;let i = index">
        <tr class="text-center">
          <td><i class="icon icon-arrow-down thc cursor-p" [class.font]="detail[i]" (click)="showDetail(i)"></i></td>
          <td class="text-left">{{item.storeName}}</td>
          <td class="text-left">{{item.bacctName}}</td>
          <td class="text-left">{{item.acct}}</td>
          <td class="text-left">{{item.bank}}</td>
          <td><span class="main-red">¥{{item.drawMoney | number: '1.2-2' }}</span></td>
          <td>{{item.payWay | rzhState: '1803'}}</td>
          <td>
            <img [src]="item.voucherUrl" class="goods-md-img" (mousemove)="showImg($event)"
                 (mouseleave)="hideImg($event)"
                 onerror="javascript:this.src='../../../assets/img/dummy.png'" alt="">
            <img [src]="item.voucherUrl" class="hover-biger-img"
                 onerror="javascript:this.src='../../../assets/img/dummy.png'" alt="">
          </td>
          <td class="text-left font12" [ngClass]="{'font-gray':!item.remark}">{{item.remark || '【未填写】'}}</td>
          <!--<td class="text-left font12">{{item.remark || '【未填写】'}}</td>-->
        </tr>

        <tr *ngIf="detail[i]">
          <td class="p0" colspan="11">
            <ng-container *ngIf="item.createTime">
              <div class="bg-table special text-left pl">
                <span>申请时间：</span> <span>{{item.createTime}}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="item.dealTime">
              <div class="bg-table special text-left pl">
                <span>处理时间：</span> <span>{{item.dealTime}}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="item.doneTime">
              <div class="bg-table special text-left pl">
                <span>完成时间：</span> <span>{{item.doneTime}}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="item.payWay=='REMIT'">
              <div class="bg-table special text-left pl">
                <span>汇款银行：</span> <span>{{item.payBank}}</span>
              </div>
              <div class="bg-table special text-left pl">
                <span>汇款账户：</span> <span>{{item.payAcct}}</span>
              </div>
            </ng-container>
          </td>
        </tr>
      </ng-container>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="10">
          <div class="col-sm-5">
            <div class="text-muted"><strong>第 {{deposits.genStartRow()}} 至 {{deposits.genEndRow()}} 条，共
              {{deposits.totalRow}}
              条</strong></div>
          </div>
          <div class="col-sm-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
