
.special{
  height:250px;
  overflow-y: auto;
}

.dropdownToggle.btn{
  text-align: left;
}
.dropdownToggle .caret{
  margin-top: 7px;
}

:host{
  display: block;
  position: relative;
}

.model{
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 4;
  .model-main{
    min-height: 450px;
    min-width: 740px;
    background: #ffffff;
    border: 1px solid #CCCCCC;
    .model-body{
      margin-left: 20px;
      td{
        padding-top: 20px;
        border-bottom: 1px dotted #CCCCCC;
      }
      .area-item{
        padding-left: 50px;
      }
    }
    .model-bottom{
      margin-top: 40px;
    }
  }
  .header{
    height: 40px;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span:nth-child(1){
      padding-left: 20px;
    }
    span:nth-child(2){
      padding-right: 20px;
      cursor: pointer;
    }
  }
}
.ncsc-citys-sub{
  background-color: #FFFEC6;
  white-space: normal;
  display: none;
  width: 240px;
  border: 1px solid #F7E4A5;
  position: absolute;
  top: 28px;
  left: 0;
  z-index: 2;

}
.ncsc-province{
  font-size: 12px;
  /*vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;*/
  display: inline;
  width: 130px;
  height: 30px;
  position: relative;
}
