<!--添加运费模板begin-->
<div class="col-lg-10" *ngIf="linkType=='addArticle'">
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm" (ngSubmit)="addFormwork(addLimitForm)">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label"><i class="main-red">*</i> 运费模板名称</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" placeholder="请填写运费模板名称" required name="tplName" #modelname="ngModel" ngModel/>
              </div>
            </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label"><i class="main-red">*</i> 是否包邮</label>
            <div class="col-sm-4">
              <label class="radio-inline c-radio">
                <input type="radio" name="isFree" value="Y" checked (click)="show()" ngModel required/>
                <span class="fa fa-circle"></span>自定义运费</label>
              <label class="radio-inline c-radio">
                <input type="radio" name="isFree" value="N"  (click)="hide()" ngModel required/>
                <span class="fa fa-circle"></span>卖家承担运费</label>
              <span></span>
            </div>
            <span *ngIf="flag">
            <label class="col-sm-2 control-label"> <i class="main-red">*</i> 计价方式</label>
            <div class="col-sm-4">
              <label class="radio-inline c-radio"  (click)="number()">
                <input type="radio" name="valuationType" checked value="NUM" ngModel required/>
                <span class="fa fa-circle"></span>按件数</label>
              <label class="radio-inline c-radio"  (click)="weight()">
                <input type="radio" name="valuationType" value="WEIGHT" ngModel required/>
                <span class="fa fa-circle"></span> 按重量</label>
              <label class="radio-inline c-radio"  (click)="volume()">
                <input type="radio" name="valuationType" value="VOLUME" ngModel required/>
                <span class="fa fa-circle"></span>按体积</label>
              <span></span>
            </div>
            </span>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">详细设置</label>
            <div class="col-sm-10">
              <div class="panel panel-default">
                <div class="panel-body">
                  <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="areas">
                    <thead>
                    <tr *ngIf="one">
                      <th class="col-md-5 unselectable">
                        <rzhDefaultSorter by="area">运送到</rzhDefaultSorter>
                      </th>
                      <th class="col-md-1 unselectable text-center">
                        <rzhDefaultSorter by="agentName">首件(件)</rzhDefaultSorter>
                      </th>
                      <th class="col-md-2 unselectable text-center">
                        <rzhDefaultSorter by="firstPrice">首费(元)</rzhDefaultSorter>
                      </th>
                      <th class="col-md-1 unselectable text-center">
                        <rzhDefaultSorter by="addAttach">续件(件)	</rzhDefaultSorter>
                      </th>
                      <th class="col-md-2 unselectable text-center">
                        <rzhDefaultSorter by="addPrice">续费(元)</rzhDefaultSorter>
                      </th>
                      <th class="col-md-1 unselectable text-center">操作</th>
                    </tr>
                    <tr *ngIf="twe">
                      <th class="col-md-5 unselectable">
                        <rzhDefaultSorter by="area">运送到</rzhDefaultSorter>
                      </th>
                      <th class="col-md-1 unselectable text-center">
                        <rzhDefaultSorter by="agentName">首重(Kg)</rzhDefaultSorter>
                      </th>
                      <th class="col-md-2 unselectable text-center">
                        <rzhDefaultSorter by="firstPrice">首费(元)</rzhDefaultSorter>
                      </th>
                      <th class="col-md-1 unselectable text-center">
                        <rzhDefaultSorter by="addAttach">续重(Kg)	</rzhDefaultSorter>
                      </th>
                      <th class="col-md-2 unselectable text-center">
                        <rzhDefaultSorter by="addPrice">续费(元)</rzhDefaultSorter>
                      </th>
                      <th class="col-md-1 unselectable text-center">操作</th>
                    </tr>
                    <tr *ngIf="three">
                      <th class="col-md-5 unselectable">
                        <rzhDefaultSorter by="area">运送到</rzhDefaultSorter>
                      </th>
                      <th class="col-md-1 unselectable text-center">
                        <rzhDefaultSorter by="agentName">首体积(㎡)</rzhDefaultSorter>
                      </th>
                      <th class="col-md-2 unselectable text-center">
                        <rzhDefaultSorter by="firstPrice">首费(元)</rzhDefaultSorter>
                      </th>
                      <th class="col-md-1 unselectable text-center">
                        <rzhDefaultSorter by="addAttach">续体积(㎡)	</rzhDefaultSorter>
                      </th>
                      <th class="col-md-2 unselectable text-center">
                        <rzhDefaultSorter by="addPrice">续费(元)</rzhDefaultSorter>
                      </th>
                      <th class="col-md-1 unselectable text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of moduleList;let i = index">
                      <td>{{item.area}}</td>
                      <td class="text-center">
                        <input class="text _price num form-control" [(ngModel)]="item.firstNum" name="firstNum{{i}}" type="number" value="1" required [pattern]="patterns.integer"/>
                      </td>
                      <td class="text-center">
                        <div class="input-group">
                          <input class="form-control" type="text" [(ngModel)]="item.firstPrice" name="firstPrice{{i}}" [pattern]="patterns.integer" required>
                          <span class="input-group-addon money">￥</span>
                        </div>
                      </td>
                      <td class="text-center">
                        <input class="text _price num form-control" name="addAttach{{i}}" [(ngModel)]="item.addAttach" type="number" required value="1" [pattern]="patterns.integer">
                      </td>
                      <td class="text-center">
                        <div class="input-group">
                          <input class="form-control" type="text" [(ngModel)]="item.addPrice" name="addPrice{{i}}" [pattern]="patterns.integer" required>
                          <span class="input-group-addon">￥</span>
                        </div>
                      </td>
                      <td class="text-center">
                        <!--修改运费模板值按钮-->
                        <app-buttons [config]="updatebutton" (click)="edit(i);area_model = !area_model"></app-buttons>
                        <!--删除运费模板值按钮-->
                        <app-buttons [config]="deletebutton" (click)="delete(organ,i)"></app-buttons>
                      </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <span class="btn btn-default btn-sm mt14" (click)="add()"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;指定地区城市设置运费</span>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="pull-right form-group special">
            <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
            <button class="ml btn btn-info pull-left"  type="submit" [disabled]="!addLimitForm.form.valid">提交信息</button>
          </div>
        </fieldset>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
<!--添加运费模板end-->

<!--修改运费模板值begin-->
<div class="col-lg-10" *ngIf="linkType=='updataArticle'">
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm" (ngSubmit)="addFormwork(addLimitForm)">
  <!-- START panel-->
  <div class="panel-default">
    <div class="panel-body">
      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label"><i class="main-red">*</i> 运费模板名称</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" placeholder="请填写运费模板名称" required name="tplName" #modelname="ngModel" ngModel [(ngModel)]="staff.tplName"/>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label"><i class="main-red">*</i> 是否包邮</label>
          <div class="col-sm-4">
            <label class="radio-inline c-radio">
              <input type="radio" name="isFree" value="Y" checked (click)="show()" ngModel required [(ngModel)]="staff.isFree"/>
              <span class="fa fa-circle"></span>自定义运费</label>
            <label class="radio-inline c-radio">
              <input type="radio" name="isFree" value="N"  (click)="hide()" ngModel required [(ngModel)]="staff.isFree"/>
              <span class="fa fa-circle"></span>卖家承担运费</label>
            <span></span>
          </div>
          <span *ngIf="flag">
            <label class="col-sm-2 control-label"> <i class="main-red">*</i> 计价方式</label>
            <div class="col-sm-4">
              <label class="radio-inline c-radio"  (click)="number()">
                <input type="radio" name="valuationType" checked value="NUM" ngModel required [(ngModel)]="staff.valuationType"/>
                <span class="fa fa-circle"></span>按件数</label>
              <label class="radio-inline c-radio"  (click)="weight()">
                <input type="radio" name="valuationType" value="WEIGHT" ngModel required [(ngModel)]="staff.valuationType"/>
                <span class="fa fa-circle"></span> 按重量</label>
              <label class="radio-inline c-radio"  (click)="volume()">
                <input type="radio" name="valuationType" value="VOLUME" ngModel required [(ngModel)]="staff.valuationType"/>
                <span class="fa fa-circle"></span>按体积</label>
              <span></span>
            </div>
            </span>
        </div>
      </fieldset>
      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">详细设置</label>
          <div class="col-sm-10">
            <div class="panel panel-default">
              <div class="panel-body">
                <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="areas">
                  <thead>
                  <tr *ngIf="one">
                    <th class="col-md-5 unselectable">
                      <rzhDefaultSorter by="area">运送到</rzhDefaultSorter>
                    </th>
                    <th class="col-md-1 unselectable text-center">
                      <rzhDefaultSorter by="agentName">首件(件)</rzhDefaultSorter>
                    </th>
                    <th class="col-md-2 unselectable text-center">
                      <rzhDefaultSorter by="firstPrice">首费(元)</rzhDefaultSorter>
                    </th>
                    <th class="col-md-1 unselectable text-center">
                      <rzhDefaultSorter by="addAttach">续件(件)	</rzhDefaultSorter>
                    </th>
                    <th class="col-md-2 unselectable text-center">
                      <rzhDefaultSorter by="addPrice">续费(元)</rzhDefaultSorter>
                    </th>
                    <th class="col-md-1 unselectable text-center">操作</th>
                  </tr>
                  <tr *ngIf="twe">
                    <th class="col-md-5 unselectable">
                      <rzhDefaultSorter by="area">运送到</rzhDefaultSorter>
                    </th>
                    <th class="col-md-1 unselectable text-center">
                      <rzhDefaultSorter by="agentName">首重(Kg)</rzhDefaultSorter>
                    </th>
                    <th class="col-md-2 unselectable text-center">
                      <rzhDefaultSorter by="firstPrice">首费(元)</rzhDefaultSorter>
                    </th>
                    <th class="col-md-1 unselectable text-center">
                      <rzhDefaultSorter by="addAttach">续重(Kg)	</rzhDefaultSorter>
                    </th>
                    <th class="col-md-2 unselectable text-center">
                      <rzhDefaultSorter by="addPrice">续费(元)</rzhDefaultSorter>
                    </th>
                    <th class="col-md-1 unselectable text-center">操作</th>
                  </tr>
                  <tr *ngIf="three">
                    <th class="col-md-5 unselectable">
                      <rzhDefaultSorter by="area">运送到</rzhDefaultSorter>
                    </th>
                    <th class="col-md-1 unselectable text-center">
                      <rzhDefaultSorter by="agentName">首体积(㎡)</rzhDefaultSorter>
                    </th>
                    <th class="col-md-2 unselectable text-center">
                      <rzhDefaultSorter by="firstPrice">首费(元)</rzhDefaultSorter>
                    </th>
                    <th class="col-md-1 unselectable text-center">
                      <rzhDefaultSorter by="addAttach">续体积(㎡)	</rzhDefaultSorter>
                    </th>
                    <th class="col-md-2 unselectable text-center">
                      <rzhDefaultSorter by="addPrice">续费(元)</rzhDefaultSorter>
                    </th>
                    <th class="col-md-1 unselectable text-center">操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of staff.storeExpressTplValList;let i = index">
                    <td>{{item.area}}</td>
                    <td class="text-center">
                      <input class="text _price num form-control" [(ngModel)]="item.firstNum" name="firstNum{{i}}" type="number" value="1" required [pattern]="patterns.integer"/>
                    </td>
                    <td class="text-center">
                      <div class="input-group">
                        <input class="form-control" type="text" [(ngModel)]="item.firstPrice" name="firstPrice{{i}}" [pattern]="patterns.integer" required>
                        <span class="input-group-addon money">￥</span>
                      </div>
                    </td>
                    <td class="text-center">
                      <input class="text _price num form-control" name="addAttach{{i}}" [(ngModel)]="item.addAttach" type="number" required value="1" [pattern]="patterns.integer">
                    </td>
                    <td class="text-center">
                      <div class="input-group">
                        <input class="form-control" type="text" [(ngModel)]="item.addPrice" name="addPrice{{i}}" [pattern]="patterns.integer" required>
                        <span class="input-group-addon">￥</span>
                      </div>
                    </td>
                    <td class="text-center">
                      <!--修改运费模板值按钮-->
                      <app-buttons [config]="updatebutton" (click)="edit(i);area_model = !area_model"></app-buttons>
                      <!--删除运费模板值按钮-->
                      <app-buttons [config]="deletebutton" (click)="delete(organ,i)"></app-buttons>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <span class="btn btn-default btn-sm mt14" (click)="add()"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;指定地区城市设置运费</span>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="pull-right form-group special">
          <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
          <button class="ml btn btn-info pull-left"  type="submit" [disabled]="!addLimitForm.form.valid">提交信息</button>
        </div>
      </fieldset>
    </div>
  </div>
    <!-- END panel-->
  </form>
</div>
<!--修改运费模板值end-->


<div class="model" *ngIf="area_model">
  <div class="model-main">
    <div class="header">
      <span>选择区域</span><span class="icon" (click)="close();area_model = !area_model">关闭</span>
    </div>
    <div class="model-body">
      <table class="table table-striped">
        <tbody>
        <tr *ngFor="let v of data; let i = index">
          <td>
            <div>
              <label nz-checkbox [(ngModel)]="allCheckeds[i]['allChecked']"
                     [nzDisabled]="allCheckeds[i]['disabled']"
                     (ngModelChange)="updateAllChecked(i, null, v.provices)">
                <span>{{v?.label}}</span>
              </label>
            </div>
          </td>
          <td class="area-item">
            <div class="ncsc-province" *ngFor="let name of v.provices; let j = index">
              <ng-container>
                <label nz-checkbox [(ngModel)]="v.provices[j]['checked']"
                       [nzDisabled]="v.provices[j]['disabled']"
                       (ngModelChange)="updateAllchildChecked(i, j, name.areaCode)">
                  <span>{{name.label}}{{getCount(name.areaCode)}}</span>
                </label>
                <i class="icon-arrow-down mr" (click)="clear(); allCheckeds[i]['content'][j]['childChecked'] = !allCheckeds[i]['content'][j]['childChecked']"></i>
                <div class="ncsc-citys-sub"  [ngStyle]="{display: allCheckeds[i]['content'][j]['childChecked'] ? 'block': 'none'}">
                  <nz-checkbox-group [(ngModel)]="checkOptionsOnes[name.areaCode][0]"
                                     style=""
                                     (ngModelChange)="updateSingleChecked(i, j, name.areaCode)">
                  </nz-checkbox-group>
                  <button class="btn-info" style="position: absolute; right: 0; bottom: 0;" (click)="allCheckeds[i]['content'][j]['childChecked'] = false"> 关闭</button>
                </div>
              </ng-container>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="model-bottom">
      <span class="btn btn-default ml lr" (click)="close(); area_model = !area_model">放弃操作</span>
      <button class="ml btn btn-info pull-left ml" type="button" (click)="getResult(); area_model = !area_model;" >提交信息</button>
    </div>
  </div>
</div>

