<div class="panel order">
  <div [class.panel-body]="single">
    <div class="szh-order-info b clearfix position-relative">
      <div class="szh-order-details">
        <div class="order-head p bb text-info"><span class="thc font"><i class="fa fa-file-text"></i> 订单信息</span></div>
        <div class="content">
          <dl>
            <dt>买家手机号：</dt>
            <dd>{{orderDetailData.cust.custPhone}}</dd>
          </dl>
          <dl>
            <dt>留言：</dt>
            <dd>
              <div class="user-note">
                {{orderDetailData.note}}
              </div>
            </dd>
          </dl>
          <dl *ngIf="orderDetailData.state!='CR'">
            <dt>平台备注：</dt>
            <dd class="position-relative">
              <span class="tag-dib w100">{{orderDetailData.remark}}</span>
              <button class="btn btn-default btn-xs fa fa-pencil" (click)="dropdownToggle(edit)" title="修改备注"></button>
              <div class="w100 dropdown-menu animated fadeInDown" #edit>
                <div class="mea-text">
                  <p class="text-tip">还可以输入 <i class="counter">100</i>字 </p>
                  <div class="pl pr"><textarea class="text-area form-control p-sm" rows="3" maxlength="100"
                                               (keyup)="counter($event.target)" [(ngModel)]="remark"></textarea></div>
                  <div class="buttons text-center mt">
                    <a class="btn btn-xs btn-primary" (click)="editPrimary(edit)"
                       href="javascript:void(0);">确认</a>
                    <a class="btn btn-xs btn-default ml" (click)="hideEdit(edit)"
                       href="javascript:void(0);">取消</a>
                  </div>
                </div>
              </div>
            </dd>
          </dl>
          <dl class="line pt-lg">
            <dt>订单编号：</dt>
            <dd>{{orderDetailData.ordno}}</dd>
          </dl>
        </div>
      </div>
      <div class="szh-order-details bl br">
        <div class="order-head p bb text-info"><span class="thc font"><i class="fa fa-money"></i> 支付信息</span></div>
        <div class="content pay-info">
          <dl>
            <dt>支付方式：</dt>
            <dd>{{orderDetailData.payWay | rzhState:'1017'}}</dd>
          </dl>
          <dl>
            <dt>下单终端：</dt>
            <dd>{{orderDetailData.payPlat | rzhState:'1022'}}</dd>
          </dl>
          <dl>
            <dt>商品总额：</dt>
            <dd>{{orderDetailData.total | number: '1.2-2'}}</dd>
          </dl>
          <dl>
            <dt>运费：</dt>
            <dd *ngIf="orderDetailData.freight>0">{{orderDetailData.freight | number: '1.2-2'}}</dd>
            <dd *ngIf="orderDetailData.freight==0"><span class="font12">免运费</span></dd>
          </dl>
          <dl>
            <dt>应付金额：</dt>
            <dd>{{orderDetailData.total+orderDetailData.freight | number: '1.2-2'}}</dd>
          </dl>
          <dl>
            <dt>
              <i class="icon-info" [myHover]="'#cc1635'" myHoverColor [popover]="popTemplate"
                 triggers="mouseenter:mouseleave"></i>
              重消币抵扣金额：
            </dt>
            <dd>{{!orderDetailData.coinPay?'0.00':orderDetailData.coinPay | number: '1.2-2'}}</dd>
          </dl>
          <dl>
            <dt>最终支付：</dt>
            <dd>{{orderDetailData.pay | number: '1.2-2'}}</dd>
          </dl>
        </div>
      </div>
      <div class="szh-order-details">
        <div class="order-head p bb text-info"><span class="thc font"><i class="fa fa-cube"></i> 收货信息</span></div>
        <div class="content take-info">
          <!--当订单为刚创建或刚支付或已关闭时不显示是否平台配送，即指派工单后才显示-->
          <dl *ngIf="orderDetailData.state!='CR' && orderDetailData.state!='PAID' && orderDetailData.state!='CLOSE'">
            <dt>是否平台配送：</dt>
            <dd>{{orderDetailData.isPlatCarry | rzhState:'1001'}}</dd>
          </dl>
          <dl>
            <dt>收货人：</dt>
            <dd>{{orderDetailData.linkman}}</dd>
          </dl>
          <dl>
            <dt>电话：</dt>
            <dd>{{orderDetailData.phone}}</dd>
          </dl>
          <dl>
            <dt>地址：</dt>
            <dd>{{orderDetailData.areaFullName}} {{orderDetailData.address}}</dd>
          </dl>
          <ng-container *ngIf="hasDeliverData">
            <dl>
              <dt>快递公司：</dt>
              <dd>{{expressData.expressName}}</dd>
            </dl>
            <dl>
              <dt>物流单号：</dt>
              <dd>{{expressData.expressNo}}</dd>
            </dl>
          </ng-container>
        </div>
      </div>
      <div class="szh-order-condition bl">
        <div class="order-head p bb text-info"><span class="thc font"><i class="fa fa-truck"></i> 订单跟踪</span></div>
        <!--订单跟踪-->
        <div class="order-track">
          <ul class="timeline-alt pb0 mb0">
            <li class="mb0" *ngFor="let item of orderStates;let s = index">
              <div class="timeline-badge gray-bg thc" [class.bg]="s==0&&orderDetailData.state!='CLOSE'"></div>
              <div class="timeline-panel">
                <div class="right">
                  <div>
                    <p class="every-line">
                  <span class="mr logis-time" *ngIf="s==0">
                    <b class="mr-lg pull-left">{{item.day}}</b>
                    <b class="mr-lg">{{item.day | getWeek}}</b>
                    {{item.time}}
                  </span>
                      <ng-container *ngIf="s>0">
                        <span class="mr logis-time" *ngIf="item.day==orderStates[s-1].day">{{item.time}}</span>
                        <span class="mr logis-time" *ngIf="item.day!=orderStates[s-1].day">
                      <b class="mr-lg pull-left">{{item.day}}</b>
                      <b class="mr-lg">{{item.day | getWeek}}</b>
                      {{item.time}}
                    </span>
                      </ng-container>
                      <span class="every-info">{{item.acceptStation}}</span>
                    </p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="rate-of-progress mt-xl mb-xl w100" *ngIf="orderDetailData.state!='CLOSE'">
      <div class="szh-progress-bar w90">
        <div class="already-progress thc bg" [class.w0]="orderStep==1" [class.w25]="orderStep==2"
             [class.w50]="orderStep==3"
             [class.w75]="orderStep==4" [class.w100]="orderStep==5"></div>
      </div>
      <dl class="cur">
        <dt class="thc font">提交订单</dt>
        <dd class="szh-progress-point fa fa-check mt mb-lg thc bg"></dd>
        <dd>{{atime[1]}}</dd>
      </dl>
      <dl [class.cur]="ifCurrent(2)">
        <dt class="thc" [class.font]="ifCurrent(2)">已支付</dt>
        <dd class="szh-progress-point fa fa-check mt mb-lg thc" [class.bg]="ifCurrent(2)"></dd>
        <dd><span *ngIf="ifCurrent(2)">{{atime[2]}}</span>
        </dd>
      </dl>
      <dl class="thc" [class.cur]="ifCurrent(3)">
        <dt class="thc" [class.font]="ifCurrent(3)">已配货</dt>
        <dd class="szh-progress-point fa fa-check mt mb-lg thc" [class.bg]="ifCurrent(3)"></dd>
        <dd><span *ngIf="ifCurrent(3)">{{atime[3]}}</span></dd>
      </dl>
      <dl class="thc" [class.cur]="ifCurrent(4)">
        <dt class="thc" [class.font]="ifCurrent(4)">已发货</dt>
        <dd class="szh-progress-point fa fa-check mt mb-lg thc" [class.bg]="ifCurrent(4)"></dd>
        <dd><span *ngIf="ifCurrent(4)">{{atime[4]}}</span></dd>
      </dl>
      <dl class="thc" [class.cur]="ifCurrent(5)">
        <dt class="thc" [class.font]="ifCurrent(5)">订单完成</dt>
        <dd class="szh-progress-point fa fa-check mt mb-lg thc" [class.bg]="ifCurrent(5)"></dd>
        <dd><span *ngIf="ifCurrent(5)">{{atime[5]}}</span></dd>
      </dl>
    </div>


    <div class="w100 mt">
      <table class="w100 b">
        <thead class="w100">
        <tr class="w100 order-head">
          <th class="w40 p text-center">商品</th>
          <th class="w10 p text-center">单价(元)</th>
          <th class="w10 p text-center">数量</th>
          <th class="w10 p text-center">异常状态</th>
          <th class="w10 p text-center">订单金额(元)</th>
          <th class="w10 p text-center">交易操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngFor="let goods of goodsData;let i = index">
          <td class="text-left p position-relative bb">
            <ng-container *ngIf="orderDetailData.state == 'PAID' || orderDetailData.state == 'ASSIGNED' || orderDetailData.state == 'PREPARE'">
              <div class="cover" *ngIf="!goods.canDELIVERY"></div>
            </ng-container>
            <span class="goods-img goods-lg-img mr">
              <img [src]="goods.goodsImage" onerror="javascript:this.src='../../../assets/img/dummy.png'" alt="">
            </span>
            <div class="goods-lg-info">
              <p class="mb0 font13 omg2 two-row mb-sm">
                <a class="goods-name" href="javascript:;">{{goods.goodsName}}</a>
              </p>
              <p class="mb0 one-row omg font12" *ngFor="let attr of goods.goodsSavSet | strToJson">
                <span class="inline">{{attr.attrName}}：</span>
                <span class="inline">{{attr.value}}</span>
              </p>
            </div>
          </td>
          <td class="bb position-relative">
            <ng-container *ngIf="orderDetailData.state == 'PAID' || orderDetailData.state == 'ASSIGNED' || orderDetailData.state == 'PREPARE'">
              <div class="cover" *ngIf="!goods.canDELIVERY"></div>
            </ng-container>
            {{goods.price | number: '1.2-2'}}
          </td>
          <td class="bb position-relative">
            <ng-container *ngIf="orderDetailData.state == 'PAID' || orderDetailData.state == 'ASSIGNED' || orderDetailData.state == 'PREPARE'">
              <div class="cover" *ngIf="!goods.canDELIVERY"></div>
            </ng-container>
            {{goods.num}}
          </td>
          <td class="w10 bb">
            <ng-container *ngIf="orderDetailData.state == 'PAID' || orderDetailData.state == 'ASSIGNED' || orderDetailData.state == 'PREPARE'">
                  <span *ngIf="!goods.canDELIVERY">
                    <img width="66%" src="../../../../../assets/img/order/refund.png" alt="">
                  </span>
            </ng-container>
          </td>
          <ng-container *ngIf="i == 0">
            <td class="bl" [attr.rowspan]="goodsData.length">
              <span class="main-red font14">¥{{orderDetailData.total | number: '1.2-2'}}</span><br>
              <span class="font-gray font12" *ngIf="orderDetailData.freight == 0">(免运费)</span>
              <span class="font-gray"
                    *ngIf="orderDetailData.freight > 0">运费：{{orderDetailData.freight | number: '1.2-2'}}</span><br>
              <span class="font-gray font12">{{goodsData.payWay | rzhState:'1017'}}</span>
            </td>
            <td class="bl br" [attr.rowspan]="goodsData.length">
              <p class="font-gray mb-sm cursor-p font12">{{orderDetailData.state | rzhState:'1019'}}</p>
              <!--<button class="m-sm btn btn-xs btn-warning fa fa-ban"> 取消订单</button>-->
              <button class="m-sm btn btn-xs btn-green fa fa-truck" *ngIf="orderDetailData.isPlatCarry == 'Y' && orderDetailData.state=='PREPARE'"
                      (click)="deliverOrder()"> 发货
              </button>
            </td>
          </ng-container>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="10" class="gray-bg order-footer p-sm pr-xl font12">
            <dl class="text-right mb0">
              <dt class="font14 w10">商品总额：</dt>
              <dd class="w10 text-left">
                <span class="ml-sm font18 mr main-red price-wid">¥ {{orderDetailData.total | number:'1.2-2'}}</span>
              </dd>
            </dl>
            <dl class="text-right mb0">
              <dt class="w10">运费：</dt>
              <dd class="w10 text-left">
                <span class="ml-sm font14 mr main-red  price-wid"
                  *ngIf="!orderDetailData.freight || orderDetailData.freight == 0">免运费</span>
                <ng-container *ngIf="orderDetailData.freight != 0">
                  <span class="font18 ml-sm main-red mr price-wid">¥ {{orderDetailData.freight | number:'1.2-2'}}</span>
                </ng-container>
              </dd>
            </dl>
            <dl class="text-right mb0">
              <dt class="font14 w10">应付金额：</dt>
              <dd class="w10 text-left">
            <span class="ml-sm font18 mr main-red  price-wid">¥ {{orderDetailData.total+orderDetailData.freight |
            number:'1.2-2'}}</span>
              </dd>
            </dl>
            <dl class="text-right mb0">
              <dt>
                <i class="icon-info" [myHover]="'#cc1635'" myHoverColor [popover]="popTemplate"
                   triggers="mouseenter:mouseleave"></i>
                重消币抵扣金额：
              </dt>
              <dd class="w10 text-left">
                <span *ngIf="!orderDetailData.coinPay" class="font18 main-red ml-sm mr price-wid">¥ 0.00</span>
                <span *ngIf="orderDetailData.coinPay" class="font18 main-red ml-sm mr price-wid">¥ {{orderDetailData.coinPay | number:'1.2-2'}}</span>
              </dd>
            </dl>
            <dl class="text-right mb0">
              <dt class="font14">最终支付金额：</dt>
              <dd class="w10 text-left">
                <span class="main-red ml-sm font22 mr price-wid">¥ {{orderDetailData.pay | number:'1.2-2'}}</span>
              </dd>
            </dl>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
    <template #popTemplate>
      重消币抵扣数量：
      <span *ngIf="orderDetailData.coin">{{orderDetailData.coin | number:'1.2-2'}}</span>
      <span *ngIf="!orderDetailData.coin">0</span>
    </template>
    <ng-container *ngIf="orderDetailData.isPlatCarry == 'Y' && orderDetailData.state=='PREPARE'">
      <app-deliver-goods [orderId]="curDeliverOrderId" (deliverGoods)="getDeliverOrderData($event)"></app-deliver-goods>
    </ng-container>
    <div class="btn btn-primary mt" (click)="back()">返回</div>
  </div>
</div>

