<div class="szh-order-info position-relative">
  <div class="szh-order-details w40">
    <div class="order-head p b">订单信息</div>
    <div class="content p-lg b bt0">
      <dl>
        <dt>收&nbsp;货&nbsp;人：</dt>
        <dd>刘能13920181664天津 天津市 和平区 水上公园北路</dd>
      </dl>
      <dl>
        <dt>支付方式：</dt>
        <dd>在线支付(付款单号：940537964101561009)</dd>
      </dl>
      <dl>
        <dt>发&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;票：</dt>
        <dd>
          <span>不需要发票</span>
        </dd>
      </dl>
      <dl>
        <dt>买家留言：</dt>
        <dd style="word-break:break-all">1234567897897854</dd>
      </dl>
      <dl class="line pt-lg">
        <dt>订单编号：</dt>
        <dd>2270000000026200
          <span class="pull-right" (mouseenter)="showTimeList(times)"
                (mouseleave)="hideTimesList(times)"
                myHoverColor
                [myHover]="'#CC1635'">更多<i
            class="fa fa-angle-down time-list"></i>
          </span>
          <div class="more b w100" #times (mouseenter)="showTimeList(times)" (mouseleave)="hideTimesList(times)"><span
            class="arrow"></span>
            <ul class="list-unstyled font12 mb0">
              <li><span>2017-01-17 10:28:21</span>买家下单</li>
              <li><span>2017-01-17 10:28:21</span>买家下单</li>
              <li><span>2017-01-17 10:28:21</span>买家下单</li>
            </ul>
          </div>
        </dd>
      </dl>
    </div>
  </div>
  <div class="szh-order-condition bt br bb">
    <p class="font16"><i class="icon-ok-circle green"></i>订单状态：<span>订单已经提交，等待买家付款</span></p>
    <ul class="list-unstyled font12">
      <li>1. 买家尚未对该订单进行支付。</li>
      <li>2. 如果买家未对该笔订单进行支付操作，系统将于订单生成
        <time>24</time>
        小时后自动关闭。
      </li>
    </ul>
    <dl>
      <dt>物流信息</dt>
      <dd class="pl-xl">
        <ul>
          <li *ngFor="let item of logisticsInfo.traceVos;let i = index"><span>{{item.acceptTime}}：{{item
            .acceptStation}}</span><span *ngIf="item.remark"><br>{{item.remark}}</span>
          </li>
        </ul>
      </dd>
    </dl>
  </div>
</div>
<div class="rate-of-progress mt-xl mb-xl w100">
  <div class="szh-progress-bar w90">
    <div class="already-progress" [class.w1]="orderStep==1" [class.w25]="orderStep==2" [class.w50]="orderStep==3"
         [class.w75]="orderStep==4" [class.w100]="orderStep==5"></div>
  </div>
  <dl class="cur">
    <dt>提交订单</dt>
    <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
    <dd>2017-05-19 10:03:22</dd>
  </dl>
  <dl [class.cur]="orderStep==2 || orderStep==3 || orderStep==4|| orderStep==5">
    <dt>完成付款</dt>
    <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
    <dd>2017-05-19 10:03:22</dd>
  </dl>
  <dl [class.cur]="orderStep==3 || orderStep==4 || orderStep==5">
    <dt>商家发货</dt>
    <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
    <dd>2017-05-19 10:03:22</dd>
  </dl>
  <dl [class.cur]="orderStep==4 || orderStep==5">
    <dt>确认收货</dt>
    <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
    <dd>2017-05-19 10:03:22</dd>
  </dl>
  <dl [class.cur]="orderStep==5">
    <dt>评价</dt>
    <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
    <dd>2017-05-19 10:03:22</dd>
  </dl>
</div>
<div class="w100">
  <table class="w100 b">
    <thead class="w100">
    <tr class="w100 order-head">
      <th class="w50 p text-center">商品</th>
      <th class="w10 p text-center">单价（元）</th>
      <th class="w10 p text-center">数量</th>
      <th class="w10 p text-center">订单金额（元）</th>
      <th class="w10 p text-center">交易操作</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center">
      <td class="text-left p position-relative bb">
          <span class="goods-img goods-md-img mr"><img [src]="000"
                                                       onerror="javascript:this.src='../../../assets/img/dummy.png'"
                                                       alt=""></span>
        <div class="goods-md-info">
          <p class="mb0 font13 omg2 two-row mb-sm">
            <a class="goods-name" href="javascript:;">商品名</a>
          </p>
          <p class="mb0 one-row omg font12">
            <span class="inline">颜色：</span>
            <span class="inline">红色</span>
          </p>
        </div>
      </td>
      <td class="bb">{{0.356 | decimalTwo}}</td>
      <td class="bb">3</td>
      <td class="bl" rowspan="2">
        <span class="main-red font14">¥{{690.123 | decimalTwo}}</span><br>
        <span class="font-gray">（免运费）</span><br>
        <span class="font-gray">在线支付</span>
      </td>
      <td class="bl" rowspan="2">
        <p class="font-gray mb-sm cursor-p">待发货</p>
        <button class="m-sm btn btn-xs btn-warning fa fa-ban"> 取消订单</button>
        <br>
        <button class="m-sm btn btn-xs btn-green fa fa-truck"> 发货</button>
        <br>
        <button class="m-sm btn btn-xs btn-danger fa fa-retweet"> 退款</button>
      </td>
    </tr>
    <tr class="text-center">
      <td class="text-left p position-relative bb">
          <span class="goods-img goods-md-img mr">
            <img [src]="000" onerror="javascript:this.src='../../../assets/img/dummy.png'"
                 alt=""></span>
        <div class="goods-md-info">
          <p class="mb0 font13 omg2 two-row mb-sm">
            <a class="goods-name" href="javascript:;">商品名</a>
          </p>
          <p class="mb0 one-row omg font12">
            <span class="inline">颜色：</span>
            <span class="inline">红色</span>
          </p>
        </div>
      </td>
      <td class="bb">{{0.356 | decimalTwo}}</td>
      <td class="bb">3</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="10" class="gray-bg order-footer p-sm pr-xl font12">
        <dl class="text-right mb0">
          <dt>运费：</dt>
          <dd><span class="main-red font18">{{3.6 | decimalTwo}}</span>元</dd>
        </dl>
        <dl
          class="text-right mb0">
          <dt>订单应付金额：</dt>
          <dd><span class="main-red font20">{{120 | decimalTwo}}</span>元</dd>
        </dl>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
