<div class="szh-order-info position-relative">
  <div class="szh-order-details w40">
    <div class="order-head p b">订单信息</div>
    <div class="content p-lg b bt0">
      <dl>
        <dt>收&nbsp;货&nbsp;人：</dt>
        <dd>刘能13920181664天津 天津市 和平区 水上公园北路</dd>
      </dl>
      <dl>
        <dt>支付方式：</dt>
        <dd>在线支付(付款单号：940537964101561009)</dd>
      </dl>
      <dl>
        <dt>发&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;票：</dt>
        <dd>
          <span>不需要发票</span>
        </dd>
      </dl>
      <dl>
        <dt>买家留言：</dt>
        <dd style="word-break:break-all">1234567897897854</dd>
      </dl>
      <dl class="line pt-lg">
        <dt>订单编号：</dt>
        <dd>2270000000026200
          <a class="pull-right" href="javascript:void(0)" myHoverColor [myHover]="'#CC1635'">更多<i
          class="fa fa-angle-down"></i>
          </a>
          <div class="more b w100"><span class="arrow"></span>
            <ul class="list-unstyled font12">
              <li><span>2017-01-17 10:28:21</span>买家下单</li>
              <li><span>2017-01-17 10:28:21</span>买家下单</li>
              <li><span>2017-01-17 10:28:21</span>买家下单</li>
            </ul>
          </div>
        </dd>
      </dl>
    </div>
  </div>
  <div class="szh-order-condition bt br bb">
    <p class="font16"><i class="icon-ok-circle green"></i>订单状态：<span>订单已经提交，等待买家付款</span></p>
    <ul class="list-unstyled font12">
      <li>1. 买家尚未对该订单进行支付。</li>
      <li>2. 如果买家未对该笔订单进行支付操作，系统将于订单生成<time>24</time>小时后自动关闭。</li>
    </ul>
    <dl>
      <dt>物流信息</dt>
      <dd class="pl-xl">
        <ul class="list-unstyled">
          <li>1. 买家尚未对该订单进行支付。</li>
          <li>2. 如果买家未对该笔订单进行支付操作，系统将于订单生成<time>24</time>小时后自动关闭。</li>
        </ul>
      </dd>
    </dl>
  </div>
</div>
