<div class="content-heading mb-lg thc font">
  <span>系统公告</span>
  <app-buttons class="pull-right ml-lg" [config]="noticeAddbutton" routerLink="addNotice"></app-buttons>
  <app-buttons class="pull-right" [config]="delEXpireAddbutton" (click)="delEXpireNotice()"></app-buttons>
</div>

<div class="panel mb panel-default">

  <div class="panel-body">
    <table class="table table-striped" #noticeList="rzhDataTable" [rzhData]="noticeListdata"
           (pageChange)="queryNoticeList(1,$event)">
      <thead>
      <tr>
        <th class="w5 thc font">
          序号
        </th>
        <th class="w15 thc font text-left">
          标题
        </th>
        <th class="w17 thc font text-left">
          内容
        </th>
        <th class="w17 thc font text-left">
          地址
        </th>
        <th class="w10 thc font">
          读否
        </th>
        <th class="w13 thc font">
          创建时间
        </th>
        <th class="w13 thc font">
          结束时间
        </th>
        <th class="w10 thc font">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let notice of noticeList.data;let i = index">
        <td>{{i+1}}</td>
        <td class="text-left">{{notice.title}}</td>
        <td class="text-left">{{notice.content}}</td>
        <td class="text-left">{{notice.url}}</td>
        <td *ngIf="notice.isRead==null">否</td>
        <td *ngIf="notice.isRead=='Y'">是</td>
        <td>{{notice.createTime}}</td>
        <td>{{notice.endTime}}</td>
        <td>
          <app-buttons [config]="deletebutton" (click)="deleteSort(notice.id,noticeListdata.curPage)"></app-buttons>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr class="text-center">
        <td colspan="12">
          <div class="col-md-5">
            <div class="text-muted pull-left"><strong>第 {{noticeListdata.genStartRow()}} 至
              {{noticeListdata.genEndRow()}} 条，共 {{noticeListdata.totalRow}}
              条</strong></div>
          </div>
          <div class="col-md-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->

