<div class="mb"[ngClass]="{'panel':!detail}">
  <div [ngClass]="{'panel-body':!detail}">
    <div *ngIf="!detail">
      <ul class="order-guide list-unstyled clearfix bb">
        <li class="pull-left thc" [class.font]="woType==''" [class.bb]="woType==''" routerLink="wo-all">所有</li>
        <li class="pull-left thc" [class.font]="woType=='NO'" [class.bb]="woType=='NO'" routerLink="wo-assign">待派单</li>
        <li class="pull-left thc" [class.font]="woType=='ASSIGN'" [class.bb]="woType=='ASSIGN'"
            routerLink="wo-assigned">已派单</li>
        <li class="pull-left thc" [class.font]="woType=='NA'" [class.bb]="woType=='NA'" routerLink="wo-my">平台接单</li>
        <li class="pull-left thc" [class.font]="woType=='DEAL'" [class.bb]="woType=='DEAL'" routerLink="wo-deal">已处理
        </li>
        <li class="pull-left thc" [class.font]="woType=='DONE'" [class.bb]="woType=='DONE'" routerLink="wo-finished">
          已完成</li>
        <li class="pull-left thc" [class.font]="woType=='END'" [class.bb]="woType=='END'" routerLink="wo-abnormal">
          异常终结</li>
      </ul>
    </div>
    <!--路由嵌套 begin-->
    <router-outlet></router-outlet>
    <!--路由嵌套 end-->
  </div>
</div>


