<div class="order panel mb">
  <div class="panel-body">
    <div *ngIf="orderType!=100">
      <ul class="order-guide list-unstyled clearfix bb">
        <li class="pull-left" [class.cur-order]="woType==1" routerLink="wo-all">所有</li>
        <li class="pull-left" [class.cur-order]="woType==2" routerLink="wo-assign">未派单</li>
        <li class="pull-left" [class.cur-order]="woType==3" routerLink="wo-assigned">已派单</li>
        <li class="pull-left" [class.cur-order]="woType==4" routerLink="wo-my">平台接单</li>
        <li class="pull-left" [class.cur-order]="woType==5" routerLink="wo-disposed">已处理</li>
        <li class="pull-left" [class.cur-order]="woType==6" routerLink="wo-finished">已完成</li>
        <li class="pull-left" [class.cur-order]="woType==7" routerLink="wo-abnormal">异常终结</li>
      </ul>
    </div>

    <ul class="order-guide list-unstyled clearfix bb" *ngIf="orderType==100">
      <li class="pull-left" routerLink="all-orders">订单列表</li>
      <li class="pull-left cur-order">商品详情</li>
    </ul>
    <!--路由嵌套 begin-->
    <router-outlet></router-outlet>
    <!--路由嵌套 end-->
  </div>
</div>


