
.step-three{
  background-color: #f8f8f8;
}
.step-three i.success-icon{
  font-size: 20px;
  vertical-align: middle;
}
.step-three a{
  text-decoration: underline;
}
.step-three a.a{
  font-weight: bold;
}
.step-three ul{
  list-style: decimal;
}
