<div *ngIf="flag">
  <div class="content-heading mb-lg thc font">
    问题详情页
    <span class="btn pull-right btn-info btn-sm btn-thc col-sm-1" (click)="back()">返回</span>
  </div>
  <div class="panel mb">
    <div class="panel-body">
      <table class="table table-striped" #dataTable="rzhDataTable"  [rzhData]="data"  (pageChange)="allproblem(1,$event)">
        <thead>
        <tr>
          <th class="w10 text-center">
            <rzhDefaultSorter by="sort">序号</rzhDefaultSorter>
          </th>
          <th class="w20 text-left">
            <rzhDefaultSorter by="answer">问题</rzhDefaultSorter>
          </th>
          <th class="w10 text-center">
            <rzhDefaultSorter by="state">状态</rzhDefaultSorter>
          </th>
          <th class="w20 text-center">
            <rzhDefaultSorter by="creattime">创建时间</rzhDefaultSorter>
          </th>
          <th class="w15 text-center">
            <rzhDefaultSorter by="creattime">排序</rzhDefaultSorter>
          </th>
          <th class="w25 text-center">
            <rzhDefaultSorter >管理操作</rzhDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let a of dataTable.data;let i=index" style="list-style: none"  class="text-center" >
          <td>{{i+1}}</td>
          <td [innerHtml]="a.question" class="text-left"></td>
          <td>
            <!--是否显示-->
            <label class="switch">
              <input type="checkbox" *ngIf="a.state == 'HIDE'" [checked]="false" (change)="startState(a)" title="是否隐藏"/>
              <input type="checkbox" *ngIf="a.state == 'SHOW'" [checked]="true" (change)="startState(a)" title="是否隐藏"/>
              <span></span>
            </label>
          </td>
          <td>{{a.createTime}}</td>
          <td>{{a.sort}}</td>
          <td>
            <app-buttons [config]="deletebutton" (click)="delete(a.id,data.curPage)"></app-buttons>
            <app-buttons [config]="updatebutton" routerLink="../help-update" [queryParams]="{linkType:'routers',id:a.id}"></app-buttons>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="7">
            <div class="col-sm-5">
              <div class="text-muted"><strong>第 {{data.genStartRow()}} 至 {{data.genEndRow()}} 条，共 {{data.totalRow}} 条</strong></div>
            </div>
            <div class="col-sm-7">
              <div style="float: right"><rzhBootstrapPaginator></rzhBootstrapPaginator></div>
            </div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
</div>
</div>
<router-outlet></router-outlet>
