<div *ngIf="flag">
  <div class="content-heading mb-lg">
    问题详情页
    <button class="pull-right btn-info btn-sm col-sm-1" (click)="back()">返回</button>
  </div>
  <div class="panel mb">


    <div class="panel-body">
      <table class="table table-striped" #dataTable="rzhDataTable"  [rzhData]="data"  (pageChange)="qeuryAllService($event)">
        <thead>
        <tr>
          <th class="w10 text-center">
            <rzhDefaultSorter by="sort">序号</rzhDefaultSorter>
          </th>
          <th class="w20 text-center">
            <rzhDefaultSorter by="answer">问题</rzhDefaultSorter>
          </th>
          <th class="w10 text-center">
            <rzhDefaultSorter by="state">状态</rzhDefaultSorter>
          </th>
          <th class="w20 text-center">
            <rzhDefaultSorter by="creattime">创建时间</rzhDefaultSorter>
          </th>
          <th class="w40 text-center">
            <rzhDefaultSorter >管理操作</rzhDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let a of result;let x=index" style="list-style: none"  class="text-center" >
          <td>{{a.sort}}</td>
          <td [innerHtml]="a.question"></td>
          <td>
            <!--是否显示-->
            <label class="switch">
              <input type="checkbox" *ngIf="a.state == 'HIDE'" [checked]="false" (change)="startState(a)" title="是否隐藏"/>
              <input type="checkbox" *ngIf="a.state == 'SHOW'" [checked]="true" (change)="startState(a)" title="是否隐藏"/>
              <span></span>
            </label>
          </td>
          <td>{{a.createTime}}</td>
          <td>
            <app-buttons [config]="deletebutton" (click)="delete(a.id)"></app-buttons>
            <app-buttons [config]="updatebutton" routerLink="/main/operation/help-center/help-answer/help-update" [queryParams]="{linkType:'routers',id:a.id}"></app-buttons>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
</div>
</div>
<router-outlet></router-outlet>
