<div *ngIf="flag">
  <div class="content-heading mb-lg">
    问题详情页
    <button class="pull-right btn-info btn-sm col-sm-1" >取消</button>
  </div>
  <div class="panel mb">
    <div class="panel-body p ng-scope" ng-if="search">
      <div class="form-group mb0">
        <label class="label-width pull-left text-right lh35 mb0" style="line-height: 2.5;">查找：</label>
        <div class="col-xs-5">
          <input type="text" [(ngModel)]="searchkey" class="form-control border-b-grey ng-pristine ng-valid ng-touched"
                 (change)="searchdata($event)" placeholder="关键字">
        </div>
        <div class="col-sm-1 pull-left text-center">
        <span class="ng-scope">
           <button type="button" title="搜索" id="toSearch" (click)="searchdata($event)"
                   class="btn btn-primary bar-h3-btn mr ng-scope">
             <em class="icon-magnifier fa-fw"></em>搜索
           </button>
          </span>
        </div>
      </div>
    </div>

    <div>
      <ul>
        <li routerLink="view-problem" [queryParams]="{linkType:'aa'}">1.aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
        <li>2.aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
        <li>3.aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
        <li>4.aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
        <li>5.aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
        <li>6.aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
        <li>7.aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
        <li>8.aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
        <li>9.aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
        <li>10.aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
