<!--添加操作类型begin-->
<div class="rightpage" *ngIf="this.queryId==1" >
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend class="thc font">新增操作类型</legend>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i class="main-red">*</i> 操作类型</label>
            <div class="col-sm-8">
              <input class="form-control" required name="optTypeCode" [(ngModel)]="optForm.optTypeCode"
                     #optTypeCode="ngModel" type="text"/>
              <div [hidden]="optTypeCode.valid || optTypeCode.pristine"
                   class="alert alert-danger">
                操作类型是必填项，请填写操作类型
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i class="main-red">*</i> 类型名称</label>
            <div class="col-sm-8">
              <input class="form-control" required name="optTypeName" [(ngModel)]="optForm.optTypeName"
                     #optTypeName="ngModel" type="text"/>
              <div [hidden]="optTypeName.valid || optTypeName.pristine"
                   class="alert alert-danger">
                类型名称是必填项，请填写类型名称
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i class="main-red">*</i> 操作类型说明</label>
            <div class="col-sm-8">
              <input class="form-control" required name="typeDesc" [(ngModel)]="optForm.typeDesc"
                     #typeDesc="ngModel" type="text"/>
              <div [hidden]="typeDesc.valid || typeDesc.pristine"
                   class="alert alert-danger">
                操作类型说明是必填项，请填写操作类型说明
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i class="main-red">*</i>是否可输入</label>
            <div class="col-sm-8">
              <label class="radio-inline c-radio">
                <input type="radio" name="isEntered" checked value="Y" [(ngModel)]="optForm.isEntered" required/>
                <span class="fa fa-circle"></span>是</label>
              <label class="radio-inline c-radio">
                <input type="radio" name="isEntered" value="N" [(ngModel)]="optForm.isEntered" required/>
                <span class="fa fa-circle"></span>否</label>
              <span></span>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="button" [disabled]="!addLimitForm.form.valid" (click)="addLimitList(addLimitForm.value)">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
<!--添加操作类型end-->

<!--修改操作类型begin-->
<div class="rightpage" *ngIf="this.queryId==2">
  <form class="form-validate form-horizontal" style="height: 100%"  #addLimitForm="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend class="thc font">修改操作类型</legend>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i class="main-red">*</i> 操作类型</label>
            <div class="col-sm-8">
              <input class="form-control" required name="optTypeCode" [(ngModel)]="optForm.optTypeCode"
                     #optTypeCode="ngModel" type="text"/>
              <div [hidden]="optTypeCode.valid || optTypeCode.pristine"
                   class="alert alert-danger">
                操作类型是必填项，请填写操作类型
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i class="main-red">*</i> 类型名称</label>
            <div class="col-sm-8">
              <input class="form-control" required name="optTypeName" [(ngModel)]="optForm.optTypeName"
                     #optTypeName="ngModel" type="text"/>
              <div [hidden]="optTypeName.valid || optTypeName.pristine"
                   class="alert alert-danger">
                类型名称是必填项，请填写类型名称
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i class="main-red">*</i> 操作类型说明</label>
            <div class="col-sm-8">
              <input class="form-control" required name="typeDesc" [(ngModel)]="optForm.typeDesc"
                     #typeDesc="ngModel" type="text"/>
              <div [hidden]="typeDesc.valid || typeDesc.pristine"
                   class="alert alert-danger">
                操作类型说明是必填项，请填写操作类型说明
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i class="main-red">*</i>是否可输入</label>
            <div class="col-sm-8">
              <label class="radio-inline c-radio">
                <input type="radio" name="isEntered" checked value="Y" [(ngModel)]="optForm.isEntered" required/>
                <span class="fa fa-circle"></span>是</label>
              <label class="radio-inline c-radio">
                <input type="radio" name="isEntered" value="N" [(ngModel)]="optForm.isEntered" required/>
                <span class="fa fa-circle"></span>否</label>
              <span></span>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="button" [disabled]="!addLimitForm.form.valid" (click)="addLimitList(addLimitForm.value)">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
<!--修改操作类型end-->

<!--添加首页模板begin-->
<div class="rightpage" *ngIf="this.queryId==3">
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend class="thc font">新增首页模板</legend>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> <i class="main-red">*</i> 首页模板</label>
            <div class="col-sm-7">
              <input class="form-control" required name="tplCode" [(ngModel)]="tplForm.tplCode"
                     #tplCode="ngModel" type="text"/>
              <div [hidden]="tplCode.valid || tplCode.pristine"
                   class="alert alert-danger">
                首页模板是必填项，请填写首页模板
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> <i class="main-red">*</i> 模板名称</label>
            <div class="col-sm-7">
              <input class="form-control" required name="tplName" [(ngModel)]="tplForm.tplName"
                     #tplName="ngModel" type="text"/>
              <div [hidden]="tplName.valid || tplName.pristine"
                   class="alert alert-danger">
                模板名称是必填项，请填写模板名称
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> <i class="main-red">*</i> 模板路径</label>
            <div class="col-sm-7">
              <input class="form-control" required name="tplUrl" [(ngModel)]="tplForm.tplUrl"
                     #tplUrl="ngModel" type="text" [pattern]="patterns.str"/>
              <div [hidden]="tplUrl.valid || tplUrl.pristine"
                   class="alert alert-danger">
                模板路径是必填项，请填写正确路径格式
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> <i class="main-red">*</i> 模板</label>
            <div class="col-sm-7">
              <img class="col-sm-5 p-sm" *ngIf="!tplForm.tplImg && myImg" [src]="uploader.queue[0]._file | imgUrl"
                   alt="">
              <img class="col-sm-5 p-sm" *ngIf="tplForm.tplImg && myImg" [src]="uploader.queue[0]._file | imgUrl" alt="">
              <img class="col-sm-5 p-sm" *ngIf="tplForm.tplImg && !myImg" [src]="tplForm.tplImg">
              <label class="btn btn-default file-upload">
                <i class="icon-cloud-upload mr"></i>{{tplForm.tplCheckedImg? '修改模板选中效果图':'上传模板效果图'}}
                <input class="w100" type="file" name="tplImg"  ng2FileSelect [uploader]="uploader" (change)="fileChangeListener($event)"/>
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> <i class="main-red">*</i> 实际效果</label>
            <div class="col-sm-7">
              <img class="col-sm-5 p-sm" *ngIf="!tplForm.tplCheckedImg && myImgs" [src]="uploaders.queue[0]._file | imgUrl"
                   alt="">
              <img class="col-sm-5 p-sm" *ngIf="tplForm.tplCheckedImg && myImgs" [src]="uploaders.queue[0]._file | imgUrl" alt="">
              <img class="col-sm-5 p-sm" *ngIf="tplForm.tplCheckedImg && !myImgs" [src]="tplForm.tplCheckedImg">
              <label class="btn btn-default file-upload">
                <i class="icon-cloud-upload mr"></i>{{tplForm.tplCheckedImg? '修改模板选中效果图':'上传模板选中效果图'}}
                <input class="w100" type="file" name="tplCheckedImg"  ng2FileSelect [uploader]="uploaders" (change)="fileChangeListeners($event)"/>
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> <i class="main-red">*</i> 模板内容要求</label>
            <div class="col-sm-7">
              <input class="form-control" required name="tplDesc" [(ngModel)]="tplForm.tplDesc"
                     #tplDesc="ngModel" type="text" placeholder="例如：图片格式,文字大小"/>
              <div [hidden]="tplDesc.valid || tplDesc.pristine"
                   class="alert alert-danger">
                模板说明是必填项，请填写模板说明
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> <i class="main-red">*</i> 模板内容数量</label>
            <div class="col-sm-7">
              <input class="form-control" required name="tplImgCount" [(ngModel)]="tplForm.tplImgCount"
                     #tplImgCount="ngModel" type="number"/>
              <div [hidden]="tplImgCount.valid || tplImgCount.pristine"
                   class="alert alert-danger">
                模板数量是必填项，请填写模板数量
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> <i class="main-red">*</i> 首页作者</label>
            <div class="col-sm-7">
              <input class="form-control"  name="tplAuthor" [(ngModel)]="tplForm.tplAuthor"
                     #tplAuthor="ngModel" type="text"/>
              <div [hidden]="tplAuthor.valid || tplAuthor.pristine"
                   class="alert alert-danger">
                首页作者是必填项，请填写首页作者
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> 模板宽度</label>
            <div class="col-sm-7">
              <input class="form-control" required name="tplWidth" [(ngModel)]="tplForm.tplWidth"
                     #tplWidth="ngModel" type="text"/>
              <div [hidden]="tplWidth.valid || tplWidth.pristine"
                   class="alert alert-danger">
                模板宽度是必填项，请填写模板宽度
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> 模板高度</label>
            <div class="col-sm-7">
              <input class="form-control" required name="tplHeight" [(ngModel)]="tplForm.tplHeight"
                     #tplHeight="ngModel" type="text"/>
              <div [hidden]="tplHeight.valid || tplHeight.pristine"
                   class="alert alert-danger">
                模板高度是必填项，请填写模板高度
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> <i class="main-red">*</i>模板类型</label>
            <div class="col-sm-7">
              <label class="radio-inline c-radio">
                <input type="radio" name="tplType" checked value="IMG" [(ngModel)]="tplForm.tplType" required/>
                <span class="fa fa-circle"></span>图片</label>
              <label class="radio-inline c-radio">
                <input type="radio" name="tplType" value="TXT" [(ngModel)]="tplForm.tplType" required/>
                <span class="fa fa-circle"></span>文字</label>
              <span></span>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="button" [disabled]="!addLimitForm.form.valid ||uploaders.queue.length==0||uploader.queue.length==0" (click)="addLimitList(addLimitForm.value)">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
<!--添加首页模板end-->

<!--修改首页模板begin-->
<div class="rightpage" *ngIf="this.queryId==4">
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend class="thc font">修改首页模板</legend>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> <i class="main-red">*</i> 首页模板</label>
            <div class="col-sm-7">
              <input class="form-control" required name="tplCode" [(ngModel)]="tplForm.tplCode"
                     #tplCode="ngModel" type="text"/>
              <div [hidden]="tplCode.valid || tplCode.pristine"
                   class="alert alert-danger">
                首页模板是必填项，请填写首页模板
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> <i class="main-red">*</i> 模板名称</label>
            <div class="col-sm-7">
              <input class="form-control" required name="tplName" [(ngModel)]="tplForm.tplName"
                     #tplName="ngModel" type="text"/>
              <div [hidden]="tplName.valid || tplName.pristine"
                   class="alert alert-danger">
                模板名称是必填项，请填写模板名称
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> <i class="main-red">*</i> 模板路径</label>
            <div class="col-sm-7">
              <input class="form-control" required name="tplUrl" [(ngModel)]="tplForm.tplUrl"
                     #tplUrl="ngModel" type="text" [pattern]="patterns.str"/>
              <div [hidden]="tplUrl.valid || tplUrl.pristine"
                   class="alert alert-danger">
                模板路径是必填项，请填写正确路径格式
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> <i class="main-red">*</i> 模板</label>
            <div class="col-sm-7">
              <img class="col-sm-5 p-sm" *ngIf="!tplForm.tplImg && myImg" [src]="uploader.queue[0]._file | imgUrl"
                   alt="">
              <img class="col-sm-5 p-sm" *ngIf="tplForm.tplImg && myImg" [src]="uploader.queue[0]._file | imgUrl" alt="">
              <img class="col-sm-5 p-sm" *ngIf="tplForm.tplImg && !myImg" [src]="tplForm.tplImg">
              <label class="btn btn-default file-upload">
                <i class="icon-cloud-upload mr"></i>{{tplForm.tplCheckedImg? '修改模板选中效果图':'上传模板效果图'}}
                <input class="w100" type="file" name="tplImg"  ng2FileSelect [uploader]="uploader" (change)="fileChangeListener($event)"/>
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> <i class="main-red">*</i> 实际效果</label>
            <div class="col-sm-7">
              <img class="col-sm-5 p-sm" *ngIf="!tplForm.tplCheckedImg && myImgs" [src]="uploaders.queue[0]._file | imgUrl"
                   alt="">
              <img class="col-sm-5 p-sm" *ngIf="tplForm.tplCheckedImg && myImgs" [src]="uploaders.queue[0]._file | imgUrl" alt="">
              <img class="col-sm-5 p-sm" *ngIf="tplForm.tplCheckedImg && !myImgs" [src]="tplForm.tplCheckedImg">
              <label class="btn btn-default file-upload">
                <i class="icon-cloud-upload mr"></i>{{tplForm.tplCheckedImg? '修改模板选中效果图':'上传模板选中效果图'}}
                <input class="w100" type="file" name="tplCheckedImg"  ng2FileSelect [uploader]="uploaders" (change)="fileChangeListeners($event)"/>
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> <i class="main-red">*</i> 模板内容说明</label>
            <div class="col-sm-7">
              <input class="form-control" required name="tplDesc" [(ngModel)]="tplForm.tplDesc"
                     #tplDesc="ngModel" type="text"/>
              <div [hidden]="tplDesc.valid || tplDesc.pristine"
                   class="alert alert-danger">
                模板说明是必填项，请填写模板说明
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> <i class="main-red">*</i> 模板内容数量</label>
            <div class="col-sm-7">
              <input class="form-control" required name="tplImgCount" [(ngModel)]="tplForm.tplImgCount"
                     #tplImgCount="ngModel" type="number"/>
              <div [hidden]="tplImgCount.valid || tplImgCount.pristine"
                   class="alert alert-danger">
                模板数量是必填项，请填写模板数量
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> <i class="main-red">*</i> 首页作者</label>
            <div class="col-sm-7">
              <input class="form-control" required name="tplAuthor" [(ngModel)]="tplForm.tplAuthor"
                     #tplAuthor="ngModel" type="text"/>
              <div [hidden]="tplAuthor.valid || tplAuthor.pristine"
                   class="alert alert-danger">
                首页作者是必填项，请填写首页作者
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> 模板宽度</label>
            <div class="col-sm-7">
              <input class="form-control"  required  name="tplWidth" [(ngModel)]="tplForm.tplWidth"
                     #tplWidth="ngModel" type="text"/>
              <div [hidden]="tplWidth.valid || tplWidth.pristine"
                   class="alert alert-danger">
                模板宽度是必填项，请填写模板宽度
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">  模板高度</label>
            <div class="col-sm-7">
              <input class="form-control"  required name="tplHeight" [(ngModel)]="tplForm.tplHeight"
                     #tplHeight="ngModel" type="text"/>
              <div [hidden]="tplHeight.valid || tplHeight.pristine"
                   class="alert alert-danger">
                模板高度是必填项，请填写模板高度
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"> <i class="main-red">*</i>模板类型</label>
            <div class="col-sm-7">
              <label class="radio-inline c-radio">
                <input type="radio" name="tplType" checked value="IMG" [(ngModel)]="tplForm.tplType" required/>
                <span class="fa fa-circle"></span>图片</label>
              <label class="radio-inline c-radio">
                <input type="radio" name="tplType" value="TXT" [(ngModel)]="tplForm.tplType" required/>
                <span class="fa fa-circle"></span>文字</label>
              <span></span>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" [disabled]="!addLimitForm.form.valid" (click)="addLimitList(addLimitForm.value)">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
<!--修改首页模板end-->
