<div [class.panel]="assign" [class.panel-danger]="assign" [class.panel-body]="assign">
  <!--查询 start-->
  <div class="p text-right clearfix">
    <div class="search-term pull-right ml-xl mb">
      <div class="w30 pr0 pull-left">
        <select class="form-control pl-sm pr-sm" name="sss" #sType (change)="changeCondition(sType.value)">
          <option value="wono">工单编码</option>
          <option value="ordno">订单编号</option>
        </select>
      </div>
      <div class="w70 pl-sm pr0 pull-left">
        <div class="form-group pr0 mb0">
          <div class="w80 pl0 pr0 pull-left">
            <input *ngIf="sType.value == 'ordno'" type="text" class="form-control" placeholder="定单编码" [(ngModel)]="search.ordno">
            <input *ngIf="sType.value == 'wono'" type="text" class="form-control" placeholder="工单编码" [(ngModel)]="search.wono">
          </div>
          <button type="button" title="搜索" (click)="queryDatas(1)"
                  class="btn btn-primary bar-h3-btn mr0 ng-scope">
            <em class="icon-magnifier fa-fw"></em>
          </button>
        </div>
      </div>
    </div>
    <div class="search-group pull-right ml-xl mb">
      <span class="search-title">工单类型：</span>
      <div class="search-main">
        <select class="form-control pl-sm pr-sm" name="woType" [(ngModel)]="search.ordType" (change)="queryDatas(1)">
          <option value="">全部</option>
          <option [value]="type.key" *ngFor="let type of woTypeList">{{type.val}}</option>
        </select>
      </div>
    </div>
    <div class="place-time pull-right ml-xl">
      <span class="_title">下单时间：</span>
      <div class="_picker">
        <div class="input-group">
          <input class="form-control" bsDaterangepicker [bsConfig]="bsConfig" #dpr="bsDaterangepicker">
          <span class="btn input-group-addon fa fa-calendar" (click)="dpr.show()"></span>
        </div>
      </div>
    </div>
  </div>
  <!--查询 end-->

  <table class="wo table table-striped" #dataTable="rzhDataTable" [rzhData]="woList" (pageChange)="queryDatas(1,$event)">
    <thead>
    <tr>
      <th class="w5 text-center">更多</th>
      <th class="w20 text-center">退单单号</th>
      <th class="w10 text-center">退款金额</th>
      <th class="w10 text-center">申请时间</th>
      <th class="w10 text-center">申请人</th>
      <th class="w10 text-center">商家处理</th>
      <th class="w10 text-center">商家处理时间</th>
      <th class="w10 text-center">平台处理</th>
      <th class="w15 text-center">管理操作</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let order of dataTable.data; let i = index">
      <tr class="text-center">
        <td (click)="showDetail(i)"><i class="icon icon-arrow-down"></i></td>
        <td>something here</td>
        <td>something here</td>
        <td>something here</td>
        <td>something here</td>
        <td>something here</td>
        <td>something here</td>
        <td>something here</td>
        <td>
          <button class="btn btn-purple btn-sm fa fa-hand-o-right" title="指派"></button>
          <button class="btn btn-info btn-sm fa fa-tag" title="接单"></button>
          <button class="btn btn-green btn-sm icon-magnifier-add" title="查看详情"></button>
        </td>
      </tr>
      <tr *ngIf="detail[i]">
        <td class="detail" colspan="11">
          <dl class="detail-row">
            <dt class="name">申请原因：</dt>
            <dd class="value">something here</dd>
          </dl>
          <dl class="detail-row">
            <dt class="name">申请原因：</dt>
            <dd class="value">something here</dd>
          </dl>
          <dl class="detail-row">
            <dt class="name">申请原因：</dt>
            <dd class="value">something here</dd>
          </dl>
          <dl class="detail-row">
            <dt class="name">申请原因：</dt>
            <dd class="value">something here</dd>
          </dl>
        </td>
      </tr>
    </ng-container>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="20">
        <div class="col-sm-5">
          <div class="text-muted"><strong>第 {{woList.genStartRow()}} 至 {{woList.genEndRow()}} 条，共 {{woList.totalRow}} 条</strong>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="pull-right">
            <rzhBootstrapPaginator></rzhBootstrapPaginator>
          </div>
        </div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

