<div class="audit fadeIn">
  <div class="mask" (click)="hideWindow()"></div>
  <div class="popup animated fadeIn">
    <div class="pop popup-hd">
      <span class="f-bold thc font">品牌审核</span>
      <div class="popup-colse unselectable" (click)="hideWindow()">×</div>
    </div>
    <div class="pop font12 w100">
      <form class="form-validate form-horizontal" #addVoncher="ngForm">
        <dl class="bb m0 clearfix item-head">
         品牌信息：
        </dl>
        <dl class="bb m0 clearfix">
          <dt class="col-xs-3">品牌名称：</dt>
          <dd class="col-xs-9 font14">{{result.brandName}}</dd>
        </dl>
        <dl class="bb m0 clearfix">
          <dt class="col-xs-3">品牌英文名称：</dt>
          <dd class="col-xs-9 font14" [ngClass]="{'font-gray':!result.englishName}">{{result.englishName ||
            '【未填写】'}}
          </dd>
        </dl>
        <dl class="bb m0 clearfix">
          <dt class="col-xs-3">品牌所有人：</dt>
          <dd class="col-xs-9 font14">{{result.brandHolder}}</dd>
        </dl>
        <dl class="bb m0 clearfix">
          <dt class="col-xs-3">品牌注册号：</dt>
          <dd class="col-xs-9 font14">{{result.applyNumber}}</dd>
        </dl>
        <dl class="bb m0 clearfix">
          <dt class="col-xs-3">品牌图片：</dt>
          <dd class="col-xs-9 font14">
            <span *ngIf="!result.brandLogo" class="font-gray"> 【未填写】</span>
            <span *ngIf="result.brandLogo">
               <img height="50" [src]="result.brandLogo" (mousemove)="showImg($event)" (mouseleave)="hideImg($event)"
                    onerror="javascript:this.src='../../../assets/img/dummy.png'">
            <img class="hover-big-img" [src]="result.brandLogo" alt=""
                 onerror="javascript:this.src='../../../assets/img/dummy.png'">
            </span>

          </dd>
        </dl>
        <dl class="bb m0 clearfix">
          <dt class="col-xs-3">品牌注册证：</dt>
          <dd class="col-xs-9 font14">
            <div class="tag-dib mr">
              <span *ngIf="!result.registration1 && !result.registration2" class="font-gray"> 【未填写】</span>
              <span *ngIf="result.registration1">
                <img height="50" [src]="result.registration1" (mousemove)="showImg($event)" (mouseleave)="hideImg($event)"
                     onerror="javascript:this.src='../../../assets/img/dummy.png'">
              <img class="hover-big-img" [src]="result.registration1" alt=""
                   onerror="javascript:this.src='../../../assets/img/dummy.png'">
              </span>
              <span *ngIf="result.registration2">
                <img height="50" [src]="result.registration2" (mousemove)="showImg($event)" (mouseleave)="hideImg($event)"
                     onerror="javascript:this.src='../../../assets/img/dummy.png'">
              <img class="hover-big-img" [src]="result.registration2" alt=""
                   onerror="javascript:this.src='../../../assets/img/dummy.png'">
              </span>

            </div>
          </dd>
        </dl>
        <ng-container *ngIf="showRecord">
          <div>
            <dl class="bb m0 clearfix item-head">
              审核信息：
            </dl>
            <dl class="bb m0 clearfix">
              <dt class="col-xs-3"><i class="main-red font16">*</i> 是否通过：</dt>
              <dd class="orderId-color col-xs-9">
                <div class="col-xs-8 radio-brand">
            <span class="radio c-radio c-radio-nofont p-sm _myInline m0" *ngFor="let item of yesOrNo">
              <label>
                <input type="radio" name="isPass" [value]="item.key" [(ngModel)]="isAgree"
                       (click)="changeIsAgree(isAgree)"/>
                <span class="fa fa-circle"></span>{{item.val}}
              </label>
            </span>
                </div>
              </dd>
            </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">排序：</dt>
        <dd class="col-xs-9">
          <div class="w60">
            <input class="form-control num" type="number" name="brandSort" tooltip="0-99，默认0 , 数字越小排序越靠前"
                   [(ngModel)]="brandInfo.brandSort" #brandSort="ngModel" [pattern]="patterns.doubleDigit"
                   placeholder="排序"/>
          </div>
        </dd>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">是否推荐：</dt>
        <dd class="col-xs-9 font14">
          <label class="radio-inline c-radio">
            <input type="radio" name="brandRecommend" value="Y" checked="checked"
                   [(ngModel)]="brandInfo.brandRecommend"/>
            <span class="fa fa-circle"></span>是</label>
          <label class="radio-inline c-radio">
            <input type="radio" name="brandRecommend" value="N" [(ngModel)]="brandInfo.brandRecommend"/>
            <span class="fa fa-circle"></span>否</label>
        </dd>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">品牌展示类型：</dt>
        <dd class="col-xs-9 font14">
          <label class="radio-inline c-radio">
            <input type="radio" name="showType" value="IMG" checked="checked" [(ngModel)]="brandInfo.showType"/>
            <span class="fa fa-circle"></span>图片</label>
          <label class="radio-inline c-radio">
            <input type="radio" name="showType" value="TXT" [(ngModel)]="brandInfo.showType"/>
            <span class="fa fa-circle"></span>文本</label>
        </dd>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">状态：</dt>
        <dd class="col-xs-9 font14">
          <label class="radio-inline c-radio">
            <input type="radio" name="state" value="SHOW" checked="checked" [(ngModel)]="brandInfo.state"/>
            <span class="fa fa-circle"></span>显示</label>
          <label class="radio-inline c-radio">
            <input type="radio" name="state" value="HIDE" [(ngModel)]="brandInfo.state"/>
            <span class="fa fa-circle"></span>隐藏</label>
        </dd>
      </dl>
          </div>
        </ng-container>
        <ng-container *ngIf="!showRecord">
          <dl class="bb m0 clearfix item-head">
            失败原因：
          </dl>
          <dl class="bb m0 clearfix">
            <dt class="col-xs-3"><i class="main-red font16">*</i> 是否通过：</dt>
            <dd class="orderId-color col-xs-9">
              <div class="col-xs-8 radio-brand">
            <span class="radio c-radio c-radio-nofont p-sm _myInline m0" *ngFor="let item of yesOrNo">
              <label>
                <input type="radio" name="isPass" [value]="item.key" [(ngModel)]="isAgree"
                       (click)="changeIsAgree(isAgree)"/>
                <span class="fa fa-circle"></span>{{item.val}}
              </label>
            </span>
              </div>
            </dd>
          </dl>
          <dl class="bb m0 clearfix">
            <dt class="col-xs-3">审核失败原因：</dt>
            <dd class="col-xs-9">
              <div class="col-md-8">
                <textarea class="form-control" name="failReason" ngModel required  cols="30" rows="2"
                          required  #failReason="ngModel"></textarea>
                <div [hidden]="failReason.valid||failReason.untouched"
                   class="text-danger">
                失败原因是必填项
              </div>
              </div>
            </dd>
          </dl>
        </ng-container>
        <div class="panel-footer text-right">
        <button class="ml btn btn-default mr  thc font b" (click)="hideWindow()">放弃操作</button>
        <button class="ml btn btn-info  thc bg b" *ngIf="showRecord" [disabled]="!addVoncher.form.valid"
                (click)="successBrand(addVoncher.value)">确认提交
        </button>
        <button class="ml btn btn-info thc bg b" *ngIf="!showRecord" [disabled]="!addVoncher.form.valid" (click)="failBrand(addVoncher.value)">确认提交
        </button>
      </div>
      </form>
    </div>

  </div>

</div>
