.audit .popup{
  width: 550px;
  z-index: 300;
  transform: none;
  margin-left: -275px;
  top: 20%;
}
.audit dt{
  padding: 12px;
  text-align: right;
  font-weight: normal;
  color: #888;
}
.audit dd{
  color: #666;
  padding: 12px;
  vertical-align: top;
  border-left: 1px solid #F0F0F0;
}
.audit dt,.cancel-con dd{
  display: inline-block;
}
.audit .mask{
  background-color: rgba(0, 0, 0, 0.6);
}
.audit .orderId-color{
  color: #6ec0ff;
}
.audit li label{
  font-weight: normal;
}
