<!--新增文章-->
<div class="rightpage" *ngIf="linkType=='addArticle'">
  <form class="form-validate form-horizontal" style="height: 100%" #updateClass="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>新增文章</legend>
        </fieldset>

        <fieldset>
        <div class="form-group">
          <label class="col-sm-3 control-label"><i>*</i>文章标题</label>
          <div class="col-sm-8">
            <input class="form-control" type="text"  name="articleTitle" #articleTitleTem="ngModel" ngModel required placeholder='必填项'/>
            <div [hidden]="articleTitleTem.valid||articleTitleTem.untouched"
                 class="alert alert-danger">
              文章标题是必填项
            </div>
          </div>
        </div>
      </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i>*</i>文章短标题</label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="articleTitleShort" #articleTitleShortTem="ngModel" ngModel required placeholder='必填项'/>
              <div [hidden]="articleTitleShortTem.valid||articleTitleShortTem.untouched"
                   class="alert alert-danger">
                文章短标题是必填项
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i>*</i>封面路径
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="url" #urlTem="ngModel" ngModel required placeholder='必填项'/>
              <div [hidden]="urlTem.valid||urlTem.untouched"
                   class="alert alert-danger">
                封面路径是必填项
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">关键字</label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="articlekeyword" #articlekeywordTem="ngModel" ngModel />
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">文章标签
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="articlekeyword" #articlekeywordTem="ngModel" ngModel />
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">关键字</label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="articleTag" #articleTagTem="ngModel" ngModel />
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">相关文章
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="articleLink" #articleLinkTem="ngModel" ngModel />
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">文章内容
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="articleContent" #articleContentTem="ngModel" ngModel />
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">相关文章
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="articleLink" #articleLinkTem="ngModel" ngModel />
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">关联商品列表</label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="goodIds" #goodIdsTem="ngModel" ngModel />
            </div>
          </div>
        </fieldset>

      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" (click)="submit(updateClass.value)" [disabled]="updateClass.invalid">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
<!--文章修改-->
<div class="rightpage" *ngIf="linkType=='updateMan'">
  <form class="form-validate form-horizontal" style="height: 100%" #updateClass="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>新增文章</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i>*</i>文章标题</label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="articleTitle" #articleTitleTem="ngModel" ngModel required placeholder='必填项'/>
              <div [hidden]="articleTitleTem.valid||articleTitleTem.untouched"
                   class="alert alert-danger">
                文章标题是必填项
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i>*</i>文章短标题</label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="articleTitleShort" #articleTitleShortTem="ngModel" ngModel required placeholder='必填项'/>
              <div [hidden]="articleTitleShortTem.valid||articleTitleShortTem.untouched"
                   class="alert alert-danger">
                文章短标题是必填项
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i>*</i>封面路径
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="url" #urlTem="ngModel" ngModel required placeholder='必填项'/>
              <div [hidden]="urlTem.valid||urlTem.untouched"
                   class="alert alert-danger">
                封面路径是必填项
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">关键字</label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="articlekeyword" #articlekeywordTem="ngModel" ngModel />
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">文章标签
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="articlekeyword" #articlekeywordTem="ngModel" ngModel />
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">关键字</label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="articleTag" #articleTagTem="ngModel" ngModel />
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">相关文章
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="articleLink" #articleLinkTem="ngModel" ngModel />
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">文章内容
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="articleContent" #articleContentTem="ngModel" ngModel />
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">相关文章
            </label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="articleLink" #articleLinkTem="ngModel" ngModel />
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">关联商品列表</label>
            <div class="col-sm-8">
              <input class="form-control" type="text"  name="goodIds" #goodIdsTem="ngModel" ngModel />
            </div>
          </div>
        </fieldset>

      </div>
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" (click)="submit(updateClass.value)" [disabled]="updateClass.invalid">提交信息</button>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
