<div class="content-heading mb-lg">
  商品价格区间
</div>

<div class="panel panel-default">

  <div class="panel mb p ts w98 m-auto thc">
    <p class="font18">操作提示</p>
    <ul>
      <li>设置商品价格区间，当对商品单价进行相关统计时按照以下设置的价格区间进行统计和显示</li>
      <li>设置价格区间的几点建议：一、建议设置的第一个价格区间起始额为0；二、价格区间数值应该连贯且间隔合理例如0,100,200；三、最多可以设置10个范围</li>
    </ul>
  </div>

  <div class="panel-body">
    <div class="panel-body">
      <div>
        <table class="t-items p w100">
          <tr class="t-item clearfix" *ngFor="let order of data;let i=index">
            <td class="item-hd col-sm-1 font12" *ngIf="!order.isShow">
              <span>{{order.remark}}</span>
            </td>
            <td class="item-hd col-sm-1 font12"  *ngIf="order.isShow">
              <input type="text" class="form-control"  [(ngModel)]="order.remark" >
            </td>

            <td class="item-bd col-sm-9 mb0"  *ngIf="!order.isShow">
              <span class="w70">{{order.info}}</span>
            </td>
            <td class="item-bd col-sm-9 mb0"  *ngIf="order.isShow">
              <input type="text" class="form-control w70" [(ngModel)]="updata">
            </td>

            <td>
              <span class="btn btn-info" *ngIf="!order.isShow" (click)="showDetail(order,order.code)">修改</span>
            </td>
            <td *ngIf="order.isShow">
             <span class="btn btn-info" (click)="submitt(order.code,order)" >提交</span>
              <button class="btn btn-green" (click)="cancel(order)" >取消</button>
            </td>
          </tr>

        </table>

      </div>


    </div>
  </div>

</div>
