<div class="deliver-order fadeIn" *ngIf="showBankWindow">
  <div class="mask"></div>
  <!--表单-->
  <form class="_popup animated fadeIn" #addForm="ngForm">
  <div class="pop deliver-box font12 w100">
      <div class="pop popup-hd">
        <span class="f-bold">银行转账信息</span>
        <div class="popup-colse unselectable" (click)="hideWindow()">×</div>
      </div>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3 lh40">订单编号：</dt>
        <dd class="orderId-color col-xs-9 font14">
          <span>{{orderId}}</span>
        </dd>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3 lh40">需支付金额：</dt>
        <dd class="orderId-color col-xs-9 font14">
          <span>{{goodspay | number:'1.2-2'}}</span>
        </dd>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3 lh40"><i class="main-red">*</i>交易流水码：</dt>
        <dd class="orderId-color col-xs-9 font14">
          <input type="text" class="form-control" placeholder="请输入交易流水码" name="tc3rd" ngModel required #tc3rd="ngModel"  [pattern]="patterns.num">
        </dd>
        <div [hidden]="tc3rd.valid || tc3rd.pristine"
             class="col-sm-9 pull-right text-danger">
          请输入正确交易流水码
        </div>
      </dl>
      <input class="form-control" required [(ngModel)]="code" name="reasonCode" type="hidden"/>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3 lh40"><i class="main-red">*</i>付款账号开户行：</dt>
        <dd class="orderId-color col-xs-9 font14">
          <select class="form-control" name="selectBanks" [(ngModel)]="code" (change)="seletAllByTypeCode()" required>
            <option value="">请选择银行</option>
            <option *ngFor="let item of selectBank" [value]="item.code">{{item.remark}}</option>
          </select>
        </dd>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3 lh40"><i class="main-red">*</i>付款人：</dt>
        <dd class="orderId-color col-xs-9 font14">
          <input type="text" class="form-control" placeholder="请输入付款人" name="bacctName" ngModel required
                 #bacctName="ngModel" [pattern]="patterns.chinese">
        </dd>
        <div [hidden]="bacctName.valid || bacctName.pristine"
                  class="col-sm-9 pull-right text-danger">
          请输入正确汇款人姓名
        </div>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3 lh40"><i class="main-red">*</i>付款凭证：</dt>
        <dd class="orderId-color col-xs-9 font14">
          <span class="ui-state-disabled pull-left _uploadImg" *ngFor="let item of uploader.queue">
                <span class="close" (click)="item.remove()" style="margin-right: 10px">×</span>
                <span class="upload-thumb">
                  <img *ngIf="item" [src]="item._file | imgUrl" (mousemove)="showImg($event,i)"
                       (mouseout)="hideImg(i)" [alt]="item?.file?.name"
                               class="_img">
                  <img [src]="item._file | imgUrl" #i class="bigImg" alt="">
                <input type="text" placeholder="请输入备注" class="form-control d-play pull-right" style="width: 230px;
    margin-left: 10px;"  name="imgremark" [(ngModel)]="summary" required multiple>
                </span>
          </span>
          <label class="btn btn-default file-upload">
            <i class="icon-cloud-upload mr"></i>
            <input class="w100" type="file" ng2FileSelect [uploader]="uploader"/>
          </label>
        </dd>
      </dl>
    <dl class="bb m0 clearfix">
      <dt class="col-xs-3 lh40"><i class="main-red">*</i>支付账号：</dt>
      <dd class="orderId-color col-xs-9 font14">
        <input type="text" class="form-control" placeholder="请输入支付账号" name="acct" ngModel required
               #acct="ngModel" [pattern]="patterns.backcard">
      </dd>
      <div [hidden]="acct.valid || acct.pristine"
           class="col-sm-9 pull-right text-danger">
        请输入正确支付账号
      </div>
    </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3 lh40"><i class="main-red">*</i>付款时间：</dt>
        <dd class="orderId-color col-xs-9 font14">
          <input type="text" class="form-control" [(ngModel)]="datepickerModel" name="time1" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig">
          <timepicker [(ngModel)]="myTime" [showSeconds]="showSec" name="time"></timepicker>
          <!--<span>{{queryTime + " " +time}}</span>-->
        </dd>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3 lh40">付款备注：</dt>
        <dd class="orderId-color col-xs-9 font14">
          <input type="text" class="form-control" placeholder="请输入付款备注" name="remark" ngModel
          >
        </dd>
      </dl>
      <div class="panel-footer text-right">
        <button class="btn btn-default" type="button" (click)="hideWindow()">放弃操作</button>
        <button class="btn btn-info" type="submit" (click)="uploadImg(addForm.value)" [disabled]="addForm.invalid||uploader.queue.length==0">确认提交</button>
      </div>
  </div>
  </form>
</div>

