<div class="content-heading mb-lg thc font">
  代理商管理
  <app-buttons class="pull-right" [config]="addButton" routerLink="appAgent" [queryParams]="{linkType:'addArticle'}"></app-buttons>
</div>

<div class="panel" *ngIf="this.flag">
  <div *ngIf="this.flag">
  <div class="p ng-scope">
    <div class="form-group col-md-4 mb0">
      <div class="col-md-8 col-xs-6 pl0">
        <input type="text" class="form-control border-b-grey ng-pristine ng-valid ng-touched" [(ngModel)]="agentName"
               (change)="getAgentList()" placeholder="代理商名称">
      </div>
      <button type="button" title="搜索"
              class="btn thc btn-thc bar-h3-btn mr ng-scope">
        <em class="icon-magnifier fa-fw"></em>
      </button>
    </div>
    <div class="form-group col-md-4 mb0">
      <div class="col-md-8 col-xs-6 pl0">
        <input type="text"  [(ngModel)]="organ.areaCode" (change)="getAgentList()" placeholder="代理商区域编码" type="hidden"/>
        <app-four-areas (myData)="getAreaData($event)"></app-four-areas>
      </div>
      <button type="button" title="搜索"
              class="btn thc btn-thc bar-h3-btn mr ng-scope">
        <em class="icon-magnifier fa-fw"></em>
      </button>
    </div>
    <!--<div class="form-group mt-sm mb0">
      <label class="radio-inline c-radio">
        <input type="radio" name="brandRecommend" value="Y" [(ngModel)]="brandRecommend" (change)="queryDatas(1,$event)" />
        <span class="fa fa-circle"></span>推荐</label>
      <label class="radio-inline c-radio">
        <input type="radio" name="brandRecommend" value="N" [(ngModel)]="brandRecommend" (change)="queryDatas(1,$event)" />
        <span class="fa fa-circle"></span>不推荐</label>
    </div>-->

  </div>
</div>
  <div class="panel-body">
    <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="controlData" (pageChange)="controlDatas($event)">
      <thead>
      <tr>
        <th class="w5 text-center thc font">
          序号
        </th>
        <th class="w10 text-center">
          <rzhDefaultSorter by="agentName">代理商名称</rzhDefaultSorter>
        </th>
        <th class="w10 text-center">
          <rzhDefaultSorter by="agentAcct">登录账号</rzhDefaultSorter>
        </th>
        <th class="w10 text-center">
          <rzhDefaultSorter by="leader">负责人</rzhDefaultSorter>
        </th>
        <th class="w10 text-center">
          <rzhDefaultSorter by="moblie">联系电话</rzhDefaultSorter>
        </th>
        <th class="w15 text-center">
          <rzhDefaultSorter by="idcard">身份证号</rzhDefaultSorter>
        </th>
        <th class="w15 text-center">
          <rzhDefaultSorter by="fullName">区域名称</rzhDefaultSorter>
        </th>
        <th class="w10 text-center">
          <rzhDefaultSorter by="state">状态</rzhDefaultSorter>
        </th>
        <th class="w15 text-center">
          <rzhDefaultSorter by="b">操作</rzhDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let file of dataTable.data;let y = index" class="text-center">
        <td style="padding-left: 20px">{{y+1}}</td>
        <td>{{file.agentName}}</td>
        <td>{{file.agentAcct}}</td>
        <td>{{file.leader}}</td>
        <td>{{file.moblie}}</td>
        <td>{{file.idcard}}</td>
        <td>{{file.fullName}}</td>
        <td>
        <label class="switch">
          <input type="checkbox" [checked]="file.state=='NORMAL'" (change)="upFiledateState(file)"title="是否启动"/>
          <span></span>
        </label>
        </td>
        <td>
          <!--修改代理商信息按钮-->
          <app-buttons [config]="updatebutton" routerLink="appAgent" [queryParams]="{linkType:'updataArticle',agentCode:file.agentCode}"></app-buttons>
          <!--删除代理商信息按钮-->
          <app-buttons [config]="deletebutton" (click)="delete(file.id)" *ngIf="file.state=='FREEZE'"></app-buttons>
          <!--修改代理商密码按钮-->
          <button class="btn btn-default fa fa-tag btn-xs" title="重置密码" (click)="resetPwd(file.agentCode)"></button>
          <!--查看代理商详情按钮-->
          <app-buttons [config]="details" title="查看代理商详情" routerLink="rightpage" [queryParams]="{id:3,agentCode:file.agentCode}"></app-buttons>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->
