.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.slectArea{
  width:180px;
  position: absolute;
  z-index:999;
  margin-top:2px;
  border:1px solid #dde6e9;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-radius: 3px;
  background-color: #fff;
}

.area-list{
  width: 100%;
  height:200px;
  overflow-y: auto;
  border-top: 1px solid #dde6e9;
}
.area-item{
  width: 100%;
  height: 30px;
  border: none;
  border-bottom:1px solid #e1e1e1;
  background-color: #fff;
  text-align: left;
}
.area-item:hover{
  background-color: #f5f5f5;
}
.select-area-footer{
  padding:6px 10px;
}

.four-areas .caret {
  margin-top: 7px;
  margin-right: -8px;
}
