.ordernum{
  background:#242a30;
  height: 40px;
  color: white;
  line-height: 40px;
  padding-left: 20px;
  border-radius: 3px;
}
.bordera{
  border-bottom: 1px solid #c0c0c0;
}
.trr{
  border-right: 1px solid #ccc;
  line-height: 50px;
}

.t-item {
  width: 100%;
  list-style: none;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.item-hd{
  padding: 15px 15px 15px 0;
  text-align: right;
}
.item-bd{
  margin: 0;
  padding: 15px 0 15px 15px;
  word-wrap: break-word;
  border-left: 1px solid #e1e1e1;
}

