<div *ngIf="this.flag">
  <div class="content-heading mb-lg">
    退款详情

  </div>

  <div class="panel-body">
    <div class="ordernum">
      <span>订单编号：</span>
    </div>
    <div class="panel-body">
      <div class="">
        <legend class="m0" style="height: 51px;line-height: 51px;">买家退款申请</legend>
      </div>
      <table class="t-items p w100">
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-1">品牌名称：</td>
          <td class="item-bd col-sm-9 mb0"></td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-1">申请时间：</td>
          <td class="item-bd col-sm-9 mb0"></td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-1">申请人（买家）：</td>
          <td class="item-bd col-sm-7 mb0"></td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-1" routerLink="../order-detail"
              [queryParams]="{linkType:'qq'}">订单编号：</td>
          <td class="item-bd col-sm-7 mb0"></td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-1">商品名称：</td>
          <td class="item-bd col-sm-7 mb0"></td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-1">退款金额：</td>
          <td class="item-bd col-sm-7 mb0"></td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-1">退还佣金：</td>
          <td class="item-bd col-sm-7 mb0"></td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-1">退款原因：</td>
          <td class="item-bd col-sm-7 mb0"></td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-1">退款说明：</td>
          <td class="item-bd col-sm-7 mb0"></td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-1">凭证上传：</td>
          <td class="item-bd col-sm-7 mb0"></td>
        </tr>
      </table>
      <div class="">
        <legend class="m0" style="height: 51px;line-height: 51px;">商家退款处理</legend>
      </div>
      <table class="t-items p w100">
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-1">商家名称：</td>
          <td class="item-bd col-sm-9 mb0"></td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-1">处理时间：</td>
          <td class="item-bd col-sm-9 mb0"></td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-1">处理备注：</td>
          <td class="item-bd col-sm-7 mb0"></td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-1">审核结果：</td>
          <td class="item-bd col-sm-7 mb0"></td>
        </tr>
      </table>
      <div class="">
        <legend class="m0" style="height: 51px;line-height: 51px;">平台退款通知</legend>
      </div>
      <table class="t-items p w100">
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-1">处理时间：</td>
          <td class="item-bd col-sm-9 mb0"></td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-1">处理备注：</td>
          <td class="item-bd col-sm-7 mb0"></td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-1">审核结果：</td>
          <td class="item-bd col-sm-7 mb0"></td>
        </tr>
      </table>

      <!--<div class="">-->
        <!--<legend class="m0" style="height: 51px;line-height: 51px;">订单支付信息</legend>-->
      <!--</div>-->
      <!--<table class="t-items p w100">-->
        <!--<tr class="t-item clearfix">-->
          <!--<td class="item-hd col-sm-1">支付方式：</td>-->
          <!--<td class="item-bd col-sm-9 mb0"></td>-->
        <!--</tr>-->
        <!--<tr class="t-item clearfix">-->
          <!--<td class="item-hd col-sm-1">订单总额：</td>-->
          <!--<td class="item-bd col-sm-7 mb0"></td>-->
        <!--</tr>-->
      <!--</table>-->
      <!--<div class="">-->
        <!--<legend class="m0" style="height: 51px;line-height: 51px;">平台退款审核</legend>-->
      <!--</div>-->
      <!--<table class="t-items p w100">-->
        <!--<tr class="t-item clearfix">-->
          <!--<td class="item-hd col-sm-1">支付方式：</td>-->
          <!--<td class="item-bd col-sm-9 mb0"></td>-->
        <!--</tr>-->
        <!--<tr class="t-item clearfix">-->
          <!--<td class="item-hd col-sm-1">订单总额：</td>-->
          <!--<td class="item-bd col-sm-7 mb0"></td>-->
        <!--</tr>-->
      <!--</table>-->

    </div>
  </div>

</div>
