<div class="content-heading mb-lg thc font">
  分类管理
  <app-buttons class="pull-right" [config]="addButton" routerLink="addKind"></app-buttons>
</div>
<div class="panel mb p ts-bg thc w100">
  <p class="font18">操作提示</p>
  <ul>
    <li>商品分类用于商家发布商品以及用户在商城导航索引商品时使用，请事先合理规划您的商品分类及层级关系后再进行操作</li>
    <li>
      点击“新增分类”可增加一级分类，点击
      <button type="button" class="btn btn-info btn-xs" title="新增"><i class="fa fa-plus"></i></button>
      则增加该分类的下级分类
    </li>
    <li>分类建立后可通过点击
      <span class="btn btn-default btn-xs"><i class="fa fa-level-down"></i> 下一级 </span>进入其下级分类并进行相关操作。通过
      <span class="btn btn-default btn-xs"><i class="fa fa-level-up"></i> 上一级 </span>
      按钮可后退到上级分类列表
    </li>
    <li>
      绑定品牌以应在分类的三级中进行设置，商城发布商品以及分类索引商品都是依据此原则设定。例如：商城设定有三级商品分类，则应该在第三级分类中进行品牌绑定操作；而一级及二级分类只做为结构类目存在
    </li>
    <li><span class="text-danger">特别注意：如果您的商城正在运营中，因商铺、商品、分润结算等重要数据都与商品分类相关，因此尽量使用
        <button type="button" class="btn btn-primary btn-xs" title="修改"><i class="fa fa-pencil"></i></button>
        而避免
        <button type="button" class="btn btn-danger btn-xs" title="删除"><i class="fa fa-trash"></i></button>
        操作，这有可能引起商品、店铺以及结算等数据的严重错误</span>
    </li>
  </ul>
</div>
<div class="panel">

  <div class="font15 mt-lg pl-lg text-primary">
    <!--<i class="icon-layers mr"></i>-->
    <span class="cursor-p" (click)="queryChildKindList()">商品分类</span>
    <span *ngFor="let kindTit of childKindList">
      <i class="fa fa-arrow-right mr ml"></i>
      <font class="cursor-p" (click)="queryChildKindList(kindTit.id,kindTit.name,true)">{{kindTit.name}}</font>
    </span>
    <span *ngIf="childKindList.length>0" (click)="goBackMenu()" class="btn btn-default btn-xs ml">
        <i class="fa fa-level-up mr5"></i>
        上一级
      </span>
  </div>
  <div class="panel-body">
    <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="kinds"
           (pageChange)="queryDatas(kinds.curPage,childKindId,$event)">
      <thead>
      <tr>
        <th class="unselectable text-center w5 thc font">

        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="kindName">分类名称</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="kindIcon">分类图标</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center" *ngIf="childKindList.length>0">
          <rzhDefaultSorter by="kindParentId">上级分类</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="sort">排序</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="keywords">关键字</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="description">描述</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="orgSign">状态</rzhDefaultSorter>
        </th>
        <th class="col-md-2 unselectable text-center thc font">管理操作</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let kind of dataTable.data;let i = index">
        <tr class="text-center">
          <td (click)="showDetail(kind)">
            <i class="icon icon-arrow-down"></i>
          </td>
          <td>{{kind.kindName}}</td>
          <td><img class="cursor-p" height="50px" (mousemove)="showImg($event)" (mouseleave)="hideImg($event)"
                   [src]="kind.kindIcon"
                   onerror="javascript:this.src='../../../assets/img/dummy.png'"
                   alt="">
            <img class="hover-big-img" [src]="kind.kindIcon"
                 onerror="javascript:this.src='../../../assets/img/dummy.png'"
                 alt=""></td>
          <td *ngIf="childKindList.length>0">{{kind.parentKindName}}</td>
          <td>{{kind.sort}}</td>
          <td>{{kind.keywords}}</td>
          <td>{{kind.description}}</td>
          <td>
            <label class="switch switch-md" title="显示/隐藏">
              <input [checked]="kind.state=='SHOW'" type="checkbox"
                     (change)="changeKindState(kind.state=='SHOW',kind.id,kind.kindParentId, kinds.curPage)">
              <span></span>
            </label>
          </td>
          <td>
            <p *ngIf="kind.state!='DEL'">
              <app-buttons [config]="option"
                           (callback)="option.callback($event,kind.id,kinds.curPage,kind.kindParentId)"
                           *ngFor="let option of buttons"></app-buttons>
              <span *ngIf="kind.level != 3">
              <a class="btn btn-info btn-xs fa fa-plus" routerLink="addKind"
                 [queryParams]="{kindPid: kind.kindParentId,pid: kind.id, pname: kind.kindName,level:kind.level+1,page: kinds.curPage}"
                 title="添加下级分类"></a>
            </span>
              <span *ngIf="kind.level == 3">
              <a class="btn btn-info btn-xs fa fa-link" (click)="bindKind(kind.id,kind.kindParentId)"
                 title="关联品牌"></a>
            </span>
              <span class="btn btn-default btn-xs" *ngIf="kind.haveChildren"
                    (click)="queryChildKindList(kind.id, kind.kindName,false)">
              <i class="fa fa-level-down"></i> 下一级
            </span>
            </p>
            <p *ngIf="kind.state=='DEL'">
              <button class="btn btn-outline btn-danger btn-xs">已删除</button>
            </p>
          </td>
        </tr>
        <tr *ngIf="kind.isShow">
          <td colspan="9">
            <div *ngIf="kind.level != 3">
              该分类级别无法绑定品牌
            </div>
            <div *ngIf="kind.level == 3">
              绑定的品牌：
              <ng-container *ngIf="kind.goodsBrandList">
                <span *ngFor="let item of kind.goodsBrandList" class="mr">{{item.brandName}}</span>
              </ng-container>
              <ng-container *ngIf="!kind.goodsBrandList">
                暂无品牌
              </ng-container>
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="9">
          <div class="col-sm-5">
            <div class="text-muted"><strong>第 {{kinds.genStartRow()}} 至 {{kinds.genEndRow()}} 条，共 {{kinds.totalRow}}
              条</strong></div>
          </div>
          <div class="col-sm-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<app-sort-bind-kind [orderId]="curSortId" [page]="kinds.curPage"
                    (deliverGoods)="getDeliverOrderData($event)"></app-sort-bind-kind>
<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->
