<div class="content-heading mb-lg thc font">
  会员详情列表
  <span class="btn btn-info pull-right" (click)="back()" > 返回</span>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped" #memberList="rzhDataTable" [rzhData]="memberListdata"
           (pageChange)="queryMemberList($event)">
      <thead>
      <tr >
        <th class="w5" class="text-center">
          <rzhDefaultSorter by="sort">序号</rzhDefaultSorter>
        </th>
        <th class="w10" class="text-center">
          <rzhDefaultSorter by="member">会员名称</rzhDefaultSorter>
        </th>
        <th class="w10" class="text-center">
          <rzhDefaultSorter by="name">真实姓名</rzhDefaultSorter>
        </th>
        <th class="w5" class="text-center">
          <rzhDefaultSorter by="sex">性别</rzhDefaultSorter>
        </th>
        <th class="w5" class="text-center">
          <rzhDefaultSorter by="coin">重消币</rzhDefaultSorter>
        </th>
        <th class="w10" class="text-center">
          <rzhDefaultSorter by="area">区域名称</rzhDefaultSorter>
        </th>
        <th class="w10" class="text-center">
          <rzhDefaultSorter by="birthday">生日</rzhDefaultSorter>
        </th>
        <th class="w10" class="text-center">
          <rzhDefaultSorter by="tel">手机号</rzhDefaultSorter>
        </th>
        <th class="w10" class="text-center">
          <rzhDefaultSorter by="grade">会员类别</rzhDefaultSorter>
        </th>
        <th class="w10" class="text-center">
          <rzhDefaultSorter by="state">状态</rzhDefaultSorter>
        </th>
        <th class="w10" class="text-center">
          <rzhDefaultSorter by="create">创建时间</rzhDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let member of memberList.data;let i = index">
        <tr class="text-center">
          <td>{{i+1}}</td>
          <td>
           <span  *ngIf="member.authState=='AUTH'">
             <i class="icon icon-user-following gold-star" title="已实名认证"></i>&nbsp;
           </span>
            {{member.custName}}
          </td>
          <td>{{member.custTruename}}</td>
          <td>
            {{member.custSex | rzhState:'1002' }}
          </td>
          <td>{{member.coin}}</td>
          <td>{{member.areaName}}</td>
          <td>{{member.custBirthday}}</td>
          <td>{{member.custPhone}}</td>
          <td>
            {{member.isMember | rzhState:'1004'}}
          </td>
          <td>
            {{member.state | rzhState:'1018'}}
          </td>
          <td>{{member.createTime}}</td>

        </tr>
      </ng-container>
      </tbody>
      <tfoot>
      <tr class="text-center">
        <td colspan="12">
          <div class="col-md-5">
            <div class="text-muted pull-left"><strong>第 {{memberListdata.genStartRow()}} 至
              {{memberListdata.genEndRow()}} 条，共 {{memberListdata.totalRow}}
              条</strong></div>
          </div>
          <div class="col-md-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>

  </div>
</div>

