<div class="content-heading mb-lg thc font">
  售后保障
</div>

<div class="panel">
  <!--操作提示-->
  <div class="panel mb p ts thc">
    <p class="font18">操作提示</p>
    <ul>
      <li>文字内容将会在商品详情页面，售后保障切换卡下方出现，内容请不要超过1000个字符。</li>
    </ul>
  </div>
  <!--文本编辑-->
  <div class="reset-div text-edit">
    <table class="w98 edit-table">
      <tr class="w98 bb">
        <td class="w20 br text-content">文字内容：</td>
        <td class="w70">
          <div class="col-sm-10">
            <div id="summernote" class="summernote">
              <span>Rich text presentation here..</span>
            </div>
          </div>
        </td>
      </tr>
      <tr class="bb">
        <td class="w20 br"></td>
        <td class="w70">
          <button class="btn btn-primary m20" (click)="submit()">提交设置</button>
        </td>
      </tr>
    </table>

  </div>
</div>

