
  <div *ngIf="flag">
  <div class="content-heading mb-lg thc font">
    帮助问题
    <app-buttons class="pull-right" [config]="addButton" routerLink="../help-assortment" [queryParams]="{linkType:'routers'}" ></app-buttons>
  </div>
  <div class="panel">
    <div class="panel-body p ng-scope" ng-if="search">
      <div class="" >
        <span class="pull-left lh ml-lg">问题分类：</span>
          <span class="col-sm-2">
             <select class="form-control" [(ngModel)]="kindId"  name="kindId"  (change)="qeuryAllService(1,$event)">
                <option value="">全部</option>
                 <option *ngFor="let help of kinds" [value]="help.id">{{help.kindName}}</option>
             </select>
          </span>
      </div>

    <div class="form-group mb0" >
      <span class="label-width pull-left text-right mb0 lh">问题：</span>
        <div  class="search-help">
        <input type="text" [(ngModel)]="searchkey" class="form-control border-b-grey"
        (change)="qeuryAllService(1,$event)" placeholder="请输入问题">
    </div>
    <!--<div class="  text-center">-->
        <button type="button" title="搜索" id="toSearch" (click)="qeuryAllService(1,$event)"
        class="btn thc btn-thc bar-h3-btn mr ng-scope ml-lg">
        <em class="icon-magnifier"></em><span>&nbsp;&nbsp;搜索</span>
        </button>
    <!--</div>-->
    </div>
    </div>

    <div class="panel-body">
      <table class="table table-striped" #dataTable="rzhDataTable"  [rzhData]="data"  (pageChange)="qeuryAllService(1,$event)">
        <thead>
        <tr>
          <th class="w10 text-center">
            <rzhDefaultSorter by="sort">序号</rzhDefaultSorter>
          </th>
          <th class="w35 text-left">
            <rzhDefaultSorter by="answer">问题</rzhDefaultSorter>
          </th>
          <th class="w20 text-center">
            <rzhDefaultSorter by="state">状态</rzhDefaultSorter>
          </th>
          <th class="w15 text-center">
            <rzhDefaultSorter by="creattime">创建时间</rzhDefaultSorter>
          </th>
          <th class="w10 text-center">
            <rzhDefaultSorter by="creattime">排序</rzhDefaultSorter>
          </th>
          <th class="w20 text-center">
            <rzhDefaultSorter by="manage">管理操作</rzhDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let count of dataTable.data;let i=index"  class="text-center">
          <td>{{count.sort}}</td>
          <td [innerHtml]="count.question" class="text-left"></td>
          <td>
            <!--是否显示-->
            <label class="switch">
              <input type="checkbox" *ngIf="count.state == 'HIDE'" [checked]="false" (change)="startState(count)" title="是否隐藏"/>
              <input type="checkbox" *ngIf="count.state == 'SHOW'" [checked]="true" (change)="startState(count)" title="是否隐藏"/>
              <span></span>
            </label>
          </td>
          <td>{{count.createTime}}</td>
          <td>{{count.sort}}</td>
          <td>
            <app-buttons [config]="updatebutton" routerLink="../help-update" [queryParams]="{linkType:'routers',id:count.id,curPage:data.curPage}"></app-buttons>
            <app-buttons [config]="deletebutton" (click)="delete(count.id,data.curPage)"></app-buttons>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="7">
            <div class="col-sm-5">
              <div class="text-muted"><strong>第 {{data.genStartRow()}} 至 {{data.genEndRow()}} 条，共 {{data.totalRow}} 条</strong></div>
            </div>
            <div class="col-sm-7">
              <div class="pull-right"><rzhBootstrapPaginator></rzhBootstrapPaginator></div>
            </div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
