
  <div *ngIf="flag">
  <div class="content-heading mb-lg">
    帮助分类
    <app-buttons class="pull-right" [config]="addButton" routerLink="help-assortment" [queryParams]="{linkType:'jiaoajio'}" ></app-buttons>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-striped" #dataTable="rzhDataTable"  [rzhData]="data"  (pageChange)="qeuryAllService($event)">
        <thead>
        <tr>
          <th class="w10 text-center">
            <rzhDefaultSorter by="sort">序号</rzhDefaultSorter>
          </th>
          <th class="w20 text-center">
            <rzhDefaultSorter by="answer">问题</rzhDefaultSorter>
          </th>
          <th class="w10 text-center">
            <rzhDefaultSorter by="state">状态</rzhDefaultSorter>
          </th>
          <th class="w20 text-center">
            <rzhDefaultSorter by="creattime">创建时间</rzhDefaultSorter>
          </th>
          <th class="w40 text-center">
            <rzhDefaultSorter >管理操作</rzhDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let count of dataTable.data"  class="text-center">
          <td>{{count.sort}}</td>
          <td>{{count.answer}}</td>
          <td>
            <!--是否显示-->
            <label class="switch">
              <input type="checkbox" *ngIf="count.state == 'HIDE'" [checked]="false" (change)="startState(count)" title="是否隐藏"/>
              <input type="checkbox" *ngIf="count.state == 'SHOW'" [checked]="true" (change)="startState(count)" title="是否隐藏"/>
              <span></span>
            </label>
          </td>
          <td>{{count.createTime}}</td>
          <td>
            <app-buttons [config]="deletebutton" (click)="delete(count.id)"></app-buttons>
            <app-buttons [config]="updatebutton" routerLink="help-update" [queryParams]="{linkType:'jiaoajio',id:count.id}"></app-buttons>

          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="7">
            <div class="col-sm-5">
              <div class="text-muted"><strong>第 {{data.genStartRow()}} 至 {{data.genEndRow()}} 条，共 {{data.totalRow}} 条</strong></div>
            </div>
            <div class="col-sm-7">
              <div style="float: right"><rzhBootstrapPaginator></rzhBootstrapPaginator></div>
            </div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
