
<div class="content-heading mb-lg">
  帮助问答
</div>
<div class="panel panel-default">
  <div class="panel-body">

    <div class="problem">
      <label class="question">问题：</label>
      <input type="text" class="w68 problem-box">
    </div>

    <div class="reset-div text-edit">
      <table class="w98 edit-table">
        <tr class="w98">
          <td class="w7 text-content">答案：</td>
          <td class="w70">
            <div class="col-sm-10">
              <div id="summernote" class="summernote">
                <span>Rich text presentation here..</span>
              </div>
            </div>
          </td>
        </tr>
      </table>

    </div>

    <div>
      <label class="question">排序：</label>
      <input type="text" class="w20 problem-box">
    </div>

    <div>
      <button class="col-sm-1 btn-primary" style="margin:21px 0 0 260px">提交</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

