.ts{
  background: #C9E7F2;
  width: 98%;
  margin: auto;
  margin-top: 15px;
}
.text-edit{
}
.edit-table{
  height: 100px;
  margin: auto;
}
.text-content{
  height: 360px;
  vertical-align: top;
  padding-top: 10px;
}
.summernote{
  padding: 0;
}

.help-center-width{
  min-width: 800px;
}
.problem-box{
  margin-left: 18px;
}
.questiona{
  margin-bottom: 20px;
}
.select{
  margin-bottom: 20px;
}
.select select{
  margin-left: 35px;
}
.questiona{
  margin-bottom: 50px;
}
