
<div class="content-heading mb-lg thc font">
  帮助问答(添加问题)
</div>
<form class="form-validate form-horizontal" style="height: 100%"  #res="ngForm">
<div class="panel">
  <div class="panel-body help-center-width"  >
    <div class="select">
      <p class="d-play w10 pull-left update-height">
        <span class="pull-right">问题分类：</span>
      </p>
      <p class="pull-right w89">
        <select class="form-control w20" type="text" [(ngModel)]="kindId"  name="id">
          <option [value]="help.id" *ngFor="let help of kinds">
            {{help.kindName}}
          </option>
        </select>
      </p>
    </div>

    <div class="questiona text-center">
      <p class="d-play w10 pull-left update-height">
        <span class="pull-right">问题：</span>
      </p>
      <p class="pull-right w89">
        <input type="text" class="col-sm-8 form-control w73" name="question" ngModel >
      </p>
    </div>

    <div class="reset-div text-edit">
      <table class="w100 edit-table">
        <tr class="w100">
          <p class="d-play w10 pull-left update-height">
          <td class="pull-right">答案：</td>
          </p>
          <p class="pull-right w89">
          <td class="w100 pull-left">
            <div class="col-sm-9" style="margin-left: -15px">
              <div id="summernote" class="summernote"></div>
            </div>
          </td>
          </p>
        </tr>
      </table>
    </div>

    <div class="questiona">
      <p class="d-play w10 pull-left update-height">
        <span class="pull-right">排序：</span>
      </p>
      <p class="pull-right w89">
        <input type="number" class="col-sm-2 num form-control w20" name="sort" required ngModel #sort="ngModel" [pattern]="patterns.positive">
      <div [hidden]="sort.valid || sort.pristine"
           class="col-sm-11 pull-right text-danger w90">
        请填写整数
      </div>
    </div>

    <div class="questiona">
      <p class="d-play w10 pull-left">
      </p>
      <p class="pull-right w89">
          <span class="pull-left">
          <button class="ml btn btn-info pull-left thc bg b" type="submit" (click)="submit(res.value)" [disabled]="!res.form.valid">提交信息</button>
          <button class="ml btn btn-default mr pull-left thc font b" (click)="back()" type="button">取消</button>
          </span>
      </p>
    </div>

  </div>
</div>
</form>
