<ul class="clearfix order-table-head list-unstyled mb0 p b">
  <li class="w30 pull-left text-center">商品</li>
  <li class="w10 pull-left text-center">单价</li>
  <li class="w10 pull-left text-center">数量</li>
  <li class="w10 pull-left text-center">买家</li>
  <li class="w10 pull-left text-center">订单金额（元）</li>
  <li class="w10 pull-left text-center">交易状态</li>
  <li class="w10 pull-left text-center">退款状态</li>
  <li class="w10 pull-left text-center">交易操作</li>
</ul>
<table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="goodsList"
       (pageChange)="queryDatas(1,$event)">
  <tbody>
  <tr class="mt" *ngFor="let goods of dataTable.data;let i = index">
    <td class="w100 p0 font12 bt0">
      <div class="order-space"></div>
      <div class="order-head p b bb0">
        <span class="mr-xl">订单编号：{{goods.ordno}}</span>
        <span class="mr-xl">下单时间：{{goods.createTime}}</span>
        <!--<span class="icon-screen-smartphone">来源：移动端</span>-->
        <span class="fa fa-desktop"> 来源：PC</span>
      </div>
      <table class="w100 b">
        <tr class="text-center" *ngFor="let name of goods.agentOrdItemList;let j = index">
          <td class="w30 p text-left position-relative bb">
          <span class="goods-img goods-lg-img mr"><img [src]="goods.goodsImage"
                                                       onerror="javascript:this.src='../../../assets/img/dummy.png'" alt=""></span>
            <div class="goods-lg-info">
              <p class="mb0 font13 omg2 two-row mb-sm">
                <a class="goods-name" href="javascript:;">{{name.goodsName}}</a>
              </p>
              <p class="mb0 one-row omg" *ngFor="let attr of goods.goodsBaseSaList">
                <span class="inline">{{attr.attrName}}：</span>
                <span class="inline" *ngFor="let val of attr.goodsBaseSavList">{{val.value}}、</span>
              </p>
            </div>
          </td>
          <td class="w10 bb">￥ {{name.batchPrice| number:'1.2-2'}}</td>
          <td class="w10 bb">{{name.batchNum}}</td>
          <td class="w10 bl position-relative" *ngIf="j==0" [attr.rowspan]="goods.agentOrdItemList.length">
          <span class="mb0 cursor-p" myHoverColor [myHover]="'#CC1635'" (mouseenter)="showUserInfo(i)"
                (mouseleave)="hideBuyerInfo(i)">{{name.agentName}}
          </span>
            <div class="szh-buyer-info text-left" #i (mouseenter)="showUserInfo(i)" (mouseleave)="hideBuyerInfo(i)">
              <div class="info-con">
                <p class="pl mb-sm"><i class="fa fa-user"></i> 用户信息</p>
                <dl><dt>姓名：</dt><dd>{{goods.linkman}}</dd></dl>
                <dl><dt>电话：</dt><dd>{{goods.mobile}}</dd></dl>
                <dl><dt>地址：</dt><dd>{{goods.addr}}</dd></dl>
              </div>
            </div>
          </td>
          <td class="w10 bl" *ngIf="j==0" [attr.rowspan]="goods.agentOrdItemList.length">
            <span class="main-red font14">￥ {{goods.pay | number:'1.2-2'}}</span><br>
            <span class="font-gray">运费 ￥{{goods.freightPrice | number:'1.2-2'}}</span><br>
            <span class="font-gray" *ngIf="goods.payWay=='ONLINE'">在线支付</span>
            <span class="font-gray" *ngIf="goods.payWay=='REMIT'">银行汇款</span>
          </td>
          <td class="w10 bl  position-relative" *ngIf="j==0" [attr.rowspan]="goods.agentOrdItemList.length">
            <p class="font-gray mb-sm cursor-p">{{goods.stAft | rzhState :'1801'}}</p>
            <p class="cursor-p mb-sm" myHoverColor [myHover]="'#CC1635'">查看详情</p>
            <p class="cursor-p mb-sm" myHoverColor [myHover]="'orange'">
              查看物流
            </p>
          </td>
          <td class="w10 bl  position-relative" *ngIf="j==0" [attr.rowspan]="goods.agentOrdItemList.length">
            <p class="font-gray mb-sm cursor-p">{{goods.stAft | rzhState :'1801'}}</p>
            <p class="cursor-p mb-sm" myHoverColor [myHover]="'#CC1635'">查看详情</p>
            <p class="cursor-p mb-sm" myHoverColor [myHover]="'orange'">
              查看物流
            </p>
          </td>
          <td class="w10 bl"  *ngIf="j==0" [attr.rowspan]="goods.agentOrdItemList.length">
            <button class="m-sm btn btn-xs btn-outline btn-info fa fa-jpy" *ngIf="goods.payWay=='REMIT'"
                    (click)="refund(name.ordno,goods.pay,goodsList.curPage)" >
              退款
            </button>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="10" class="bt0">
      <div class="col-sm-5">
        <div class="text-muted"><strong>第 {{goodsList.genStartRow()}} 至 {{goodsList.genEndRow()}} 条，共
          {{goodsList.totalRow}}
          条</strong></div>
      </div>
      <div class="col-sm-7">
        <div class="pull-right">
          <rzhBootstrapPaginator></rzhBootstrapPaginator>
        </div>
      </div>
    </td>
  </tr>
  </tfoot>
</table>
<app-refund [showRefundWindow]="showRefundWindow" [orderId]="orderId1" [goodspay]="goodspay1"
            [curPage]="curPage1" (refundDate)="goRefund($event)"></app-refund>

