<div class="content-heading mb-lg">
  基本属性
  <app-buttons class="pull-right" [config]="addbuttons"  (click)="addNewData()"></app-buttons>
</div>

<div class="panel panel-default">


  <div class="panel mb p w98 m-auto ts thc">
    <p class="font18">操作提示</p>
    <ul>
      <li>新增数据可添加一个新的商品属性，编辑该数据可修改其规格名称、排序、以及规格值；商品属性可与商品分类进行绑定，例如：颜色\尺寸\材质...</li>
      <li>商品属性值为该规格的具体属性参数，例如：规格颜色的属性值为-红色\黄色\黑色\白色...</li>
      <li>商品属性值可由平台进行建立，再由商家对已建属性值进行选择；商家也可自行建立自己的属性值，但每项属性的属性值总数不会超过10个。</li>
      <li style="color: red">进行删除属性及属性值操作时，因其有可能已被商家选择，且与商品进行了关联，删除既有的属性及属性值将直接影响前台商品的正常显示，请谨慎操作。</li>
    </ul>
  </div>


  <div class="col-sm-2" style="margin-bottom: 20px">
    <label class="pull-left lh">属性名称分类：</label>
    <app-get-kind (myData)="getKind($event)"></app-get-kind>
  </div>

  <div class="panel-body">
    <table class="table table-striped" #dataTable="rzhDataTable"  [rzhData]="data"  (pageChange)="queryDatas($event)">
      <thead>
      <tr>
        <th class="text-center w25">
          <rzhDefaultSorter by="order">规格名称</rzhDefaultSorter>
        </th>
        <th class="text-center w50">
          <rzhDefaultSorter by="name">规格值</rzhDefaultSorter>
        </th>
        <th class="text-center w25">
          <rzhDefaultSorter by="email">管理操作</rzhDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let count of data.baseTypeList" class="text-center">
      <td >{{count.name}}</td>
      <td >
        <span *ngFor="let val of count.goodsEnumValList">{{val.enumValue}}、</span>
      </td>
      <td >
        <app-buttons [config]="updatebuttons"  (click)="updateNewData()" ></app-buttons>
        <app-buttons [config]="deletebuttons" (click)="delete(count.id)"></app-buttons>
      </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-add-data [showAddWindow]="showAddWindow" (addData)="getAddDataResult($event)" ></app-add-data>

<app-update-data [showUpdateWindow]="showUpdateWindow" (upDate)="getUpdateResult($event)" ></app-update-data>

