<div class="col-md-10 panel panel-default" *ngIf="flag">
  <div class="panel-body">
    <table class="table table-striped" #articleList="rzhDataTable" [rzhData]="articleManListdata"
           (pageChange)="queryArticManleList('N',$event)">
      <thead>
      <tr>
        <th class="w5">
          序号
        </th>
        <th class="w15">
          <rzhDefaultSorter by="name">标题</rzhDefaultSorter>
        </th>
        <th class="w10">
          <rzhDefaultSorter by="email">分类</rzhDefaultSorter>
        </th>
        <th class="w10" *ngIf="articleState=='NORMAL'">
          <rzhDefaultSorter>是否置顶</rzhDefaultSorter>
        </th>
        <th class="w10" *ngIf="articleState=='NORMAL'">
          <rzhDefaultSorter>是否推荐</rzhDefaultSorter>
        </th>
        <th class="w20">
          <rzhDefaultSorter>封面</rzhDefaultSorter>
        </th>
        <th class="w15">
          <rzhDefaultSorter by="city">关联商品</rzhDefaultSorter>
        </th>
        <th class="w15" [hidden]="articleState=='DEL'">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let article of articleList.data;let i = index">
        <td>{{i+1}}</td>
        <td>{{article.articleTitleShort}}</td>
        <td>{{article.articleClass.acName}}</td>
        <td *ngIf="articleState=='NORMAL'">
          <label class="switch">
            <input type="checkbox" [checked]="article.isTop=='Y'" (change)="isTop(article)"/>
            <span></span>
          </label>
        </td>
        <td *ngIf="articleState=='NORMAL'">
          <label class="switch">
            <input type="checkbox" [checked]="article.articleCommend=='Y'" (change)="isRecom(article)"/>
            <span></span>
          </label>
        </td>
        <td>{{article.articleCover.url}} <img src="{{article.articleCover.url }}" alt="" onerror="javascript:this.src='../../../assets/img/dummy.png';"></td>
        <td *ngIf="!article.articleGoods">否</td>
        <td *ngIf="article.articleGoods">是</td>
        <td [hidden]="articleState=='DEL'">
          <app-buttons [config]="updatebutton" routerLink="addArticle" [queryParams]="{linkType:'updataArticle',id:article.id}" [hidden]="articleState=='AUDIT'"></app-buttons>
          <app-buttons [config]="deletebutton" [hidden]="articleState=='AUDIT'" (click)="delArticle(article.id)"></app-buttons>
          <app-buttons [config]="publishbutton" *ngIf="articleState=='DRAFT'" (click)="publishArticle(article.id)"></app-buttons>
          <app-buttons [config]="auditbutton" routerLink="addArticle" [queryParams]="{linkType:'auditArticle',id:article.id}" *ngIf="articleState=='AUDIT'" ></app-buttons>
          <!--<app-buttons [config]="detailsbutton" (click)="selecteArticle(article.id)"></app-buttons>-->
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="12">
          <div class="col-sm-5">
            <div class="text-muted pull-left"><strong>第 {{articleManListdata.genStartRow()}} 至 {{articleManListdata.genEndRow()}} 条，共 {{articleManListdata.totalRow}}
              条</strong></div>
          </div>
          <div class="col-sm-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
