th,td{
  text-align: center;
}
.qpsImg{
  width:50px !important;
  height: 50px !important;
}
.hoverTitle{
  position: fixed;
  top:0;
  left: 0;
  height: auto;
  display: none;
  z-index: 1000;
}
.myhover{
  cursor: pointer;
}
