<div class="col-md-10 panel panel-default" *ngIf="flag">
  <div class="panel-body">
    <table class="table table-striped" #articleList="rzhDataTable" [rzhData]="articleManListdata"
           (pageChange)="queryArticManleList('N',$event)">
      <thead>
      <tr>
        <th class="w5 thc font">
          序号
        </th>
        <th class="w15 thc font">
          短标题
        </th>
        <th class="w10 thc font">
          分类
        </th>
        <th class="w12" *ngIf="articleState=='NORMAL'">
          <span class="thc font">是否置顶</span>
          <i class="icon-info" [myHover]="'#cc1635'" myHoverColor [popover]="topTemplate"
                 triggers="mouseenter:mouseleave"  ></i>
          <template #topTemplate class="topColor"><span></span>选择置顶的资讯，将出现在APP客户端资讯模块靠前的位置</template>
        </th>
        <th class="w13" *ngIf="articleState=='NORMAL'">
          <span class="thc font">是否推荐</span>
          <i class="icon-info" [myHover]="'#cc1635'" myHoverColor [popover]="recTemplate"
             triggers="mouseenter:mouseleave"></i>
          <template #recTemplate class="topColor"><span></span>选择推荐的资讯，在APP客户端资讯列表中，增加图标（<span class="rec thc font"> 推荐 </span>）突出显示</template>
        </th>
        <th class="w20 thc font">
          封面
        </th>
        <th class="w10 thc font">
          关联商品
        </th>
        <th class="w25 thc font" *ngIf="articleState=='REVISE'">
          失败原因
        </th>
        <th class="w15 thc font" [hidden]="articleState=='DEL'||articleState=='AUDIT'">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let article of articleList.data;let i = index">
        <td>{{i+1}}</td>
        <td>
          <template #popTemplate>长标题：<span>{{article.articleTitle}}</span></template>
          <i class="icon-info" [myHover]="'#cc1635'" myHoverColor [popover]="popTemplate"
             triggers="mouseenter:mouseleave"></i>
          <span>{{article.articleTitleShort}}</span>
        </td>
        <td>{{article.acName}}</td>
        <td *ngIf="articleState=='NORMAL'">
          <label class="switch">
            <input type="checkbox" [checked]="article.isTop=='Y'" (change)="isTop(article)"/>
            <span></span>
          </label>
        </td>
        <td *ngIf="articleState=='NORMAL'">
          <label class="switch">
            <input type="checkbox" [checked]="article.articleCommend=='Y'" (change)="isRecom(article)"/>
            <span></span>
          </label>
        </td>
        <td>
          <ng-container *ngIf="article.articleCoverVO!=null">
            <img *ngFor="let item of article.articleCoverVO;let i = index" src="{{item.url}}" class="qpsImg" alt=""
                 onerror="javascript:this.src='../../../assets/img/dummy.png';">
          </ng-container>
          <ng-container *ngIf="article.articleCoverVO==null">
            无封面
          </ng-container>
        </td>
        <td *ngIf="article.articleGoods.length==0">否</td>
        <td *ngIf="article.articleGoods.length>0">是</td>
        <td *ngIf="articleState=='REVISE'">{{article.articleVerifyReason}}</td>
        <td [hidden]="articleState=='DEL'||articleState=='AUDIT'">
          <app-buttons [config]="updatebutton" routerLink="addArticle"
                       [queryParams]="{linkType:'updateArticle',id:article.id}"
                       [hidden]="articleState=='AUDIT'"></app-buttons>
          <app-buttons [config]="deletebutton" [hidden]="articleState=='AUDIT'"
                       (click)="delArticle(article.id)"></app-buttons>
          <app-buttons [config]="publishbutton" *ngIf="articleState=='DRAFT'"
                       (click)="publishArticle(article.id)"></app-buttons>
          <app-buttons [config]="auditbutton" routerLink="addArticle"
                       [queryParams]="{linkType:'auditArticle',id:article.id}"
                       *ngIf="articleState=='AUDIT'"></app-buttons>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="12">
          <div class="col-sm-5">
            <div class="text-muted pull-left"><strong>第 {{articleManListdata.genStartRow()}} 至
              {{articleManListdata.genEndRow()}} 条，共 {{articleManListdata.totalRow}}
              条</strong></div>
          </div>
          <div class="col-sm-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
