<div class="col-md-10 panel panel-default pull-right" *ngIf="flag">
  <div class="panel-body">
    <table class="table table-striped" #articleList="rzhDataTable" [rzhData]="articleManListdata"
           (pageChange)="queryArticManleList($event)">
      <thead>
      <tr>
        <th style="width: 5%">
          序号
        </th>
        <th style="width: 20%">
          <rzhDefaultSorter by="name">名称</rzhDefaultSorter>
        </th>
        <th style="width: 20%">
          <rzhDefaultSorter by="email">类型</rzhDefaultSorter>
        </th>
        <th style="width: 20%">
          <rzhDefaultSorter>状态</rzhDefaultSorter>
        </th>
        <th style="width: 20%">
          <rzhDefaultSorter by="city">时间</rzhDefaultSorter>
        </th>
        <th style="width: 15%">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let article of articleList.data;let i = index">
        <td>{{i+1}}</td>
        <td>{{article.articleTitleShort}}</td>
        <td>{{article.articleType}}</td>
        <td>{{article.state}}</td>
        <td>{{article.createTime}}</td>
        <td>
          <app-buttons [config]="updatebutton" routerLink="addArticle" [queryParams]="{linkType:'updataArticle',id:article.id}"></app-buttons>
          <app-buttons [config]="deletebutton" (click)="delArticle(article.id)"></app-buttons>
          <app-buttons [config]="detailsbutton" (click)="selecteArticle(article.id)"></app-buttons>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="12">
          <div class="col-sm-5">
            <div class="text-muted pull-left"><strong>第 {{articleManListdata.genStartRow()}} 至 {{articleManListdata.genEndRow()}} 条，共 {{articleManListdata.totalRow}}
              条</strong></div>
          </div>
          <div class="col-sm-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
