
<div class="deliver-order fadeIn" *ngIf="showAddWindow">
  <div class="mask"></div>
  <form class="_popup animated fadeIn"  #add="ngForm">
    <div class="pop popup-hd">
      <span class="f-bold">新增商品规格</span>
      <div class="popup-colse unselectable" (click)="hideWindow()">×</div>
    </div>

    <div class="panel mb p w98 m-auto ts thc">
      <p class="font18">操作提示</p>
      <ul>
        <li>商品规格可与商品分类进行绑定，例如：颜色\尺寸\材质...</li>
        <li>商品规格值为该规格的具体规格参数，例如：规格颜色的规格值为-红色\黄色\黑色\白色...</li>
        <li>商品规格值可由平台进行建立，再由商家对已建规格值进行选择；商家也可自行建立自己的规格值，但每项规格的规格值总数不会超过10个。</li>
      </ul>
    </div>
    <!--表单-->
    <div class="pop deliver-box font12 w100">
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3 lh40">属性分类：</dt>
        <dd class="orderId-color col-xs-9 font14">
          <app-get-kind (myData)="getKind($event)"></app-get-kind>
        </dd>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3 lh40">规格名称：</dt>
        <dd class="orderId-color col-xs-9 font14">
          <input type="text" class="form-control" name='name'  ngModel placeholder="请输入必填名称">
        </dd>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3 lh40">规格值：</dt>
        <dd class="orderId-color col-xs-9 font14">
          <input type="text" class="form-control" name='vals'  ngModel placeholder="请输入规格值">
        </dd>
      </dl>


    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-default" type="button" (click)="hideWindow()">放弃操作</button>
      <button class="btn btn-info" type="button" (click)="delivery(add.value)">确认提交</button>
    </div>
  </form>
</div>

