
<div class="deliver-order fadeIn" *ngIf="showAddWindow">
  <div class="mask"></div>
  <form class="_popup animated fadeIn"  #add="ngForm">
    <div class="pop popup-hd">
      <span class="f-bold">新增基本属性</span>
      <div class="popup-colse unselectable" (click)="hideWindow()">×</div>
    </div>

    <div class="panel mb p w98 m-auto ts thc">
      <p class="font18">操作提示</p>
      <ul>
        <li>商品基本属性可与商品分类进行绑定，例如：颜色\尺寸\材质...</li>
        <li>商品属性值为该规格的具体属性参数，例如：属性颜色的属性值为-红色\黄色\黑色\白色...</li>
        <li>商品属性值可由平台进行建立，再由商家对已建属性值进行选择；商家也可自行建立自己的属性值，但每项属性的属性值总数不会超过10个。</li>
      </ul>
    </div>
    <!--表单-->
    <div class="pop deliver-box font12 w100">
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3 lh40">商品分类：</dt>
        <dd class="orderId-color col-xs-9 font14">
          <app-get-kind (myData)="getKind($event)" [defaultData]="selTypeData"></app-get-kind>
        </dd>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3 lh40">属性名称：</dt>
        <dd class="orderId-color col-xs-9 font14">
          <input type="text" class="form-control" name='name' required ngModel  #name="ngModel" placeholder="请输入属性名称">
        </dd>
        <dl [hidden]="name.valid || name.pristine"
            class="col-sm-9 pull-right text-danger add">
          请输入属性名称
        </dl>
      </dl>

      <dl class="bb m0 clearfix">
        <dt class="col-xs-3 lh40">属性值：</dt>
        <dd class="orderId-color col-xs-9 font14">
          <input type="text" class="form-control" name='vals'  ngModel required #vals="ngModel" placeholder="请输入属性值">
        </dd>
        <dl [hidden]="vals.valid || vals.pristine"
                 class="col-sm-9 pull-right text-danger add">
        请输入属性值
      </dl>
      </dl>
      <!--[selType]="selData"-->
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-default" type="button" (click)="hideWindow()">放弃操作</button>
      <button class="btn btn-info" type="button" (click)="delivery(add.value)"  [disabled]="!add.form.valid">确认提交</button>
    </div>
  </form>
</div>

