<div class="content-heading mb-lg thc font">
  <span>红包企业列表</span>
  <app-buttons class="pull-right" [config]="addRpStore" routerLink="storePage"
               [queryParams]="{type:'add'}"></app-buttons>
</div>
<div class="panel mb p ts thc">
  <p class="font18">操作提示</p>
  <ul>
    <li>当前列表所做的修改到第二天的0点生效</li>
    <li>企业店铺审核通过的时候会自动生成一条红包企业的数据，请先修改完善当前红包企业的信息，否则无法修改其状态</li>
    <li>状态：开启状态-根据企业的权重，不同频率的出现在不同手机抽奖位；关闭状态-永远不会出现在手机抽奖位（改变状态和内容即刻生效）</li>
    <li> 权重：权重越大，广告出现用户抽奖页面的概率越高，权重为0时不会显示</li>
  </ul>
</div>

<div class="panel mb">
  <div>
    <div class="p ng-scope" ng-if="search">
      <div class="form-group mb0 store-width">
        <span class="ml-sm">企业简称或名称：</span>
          <input type="text" [(ngModel)]="epSubname" class="store-name form-control border-b-grey ng-pristine ng-valid ng-touched"
                 (change)="queryRpStoreList(1)" maxlength="50" placeholder="请输入要查询的企业简称或者名称">
        <!--to do-->
        <!--<div class="col-xs-2">-->
        <!--<input type="text" [(ngModel)]="epCode" class="form-control border-b-grey ng-pristine ng-valid ng-touched"-->
        <!--(change)="queryRpStoreList(1)" maxlength="50" placeholder="请输入要查询的企业编码">-->
        <!--</div>-->
        <!--<div class="col-xs-2">-->
        <!--<input type="text" [(ngModel)]="storeCode" class="form-control border-b-grey ng-pristine ng-valid ng-touched"-->
        <!--(change)="queryRpStoreList(1)" maxlength="50" placeholder="请输入要查询的店铺编码">-->
        <!--</div>-->

          <button type="button" title="搜索" id="toSearch" (click)="queryRpStoreList(1)"
                  class="btn thc btn-thc bar-h3-btn ng-scope ml-lg">
          <em class="icon-magnifier"></em><span>&nbsp;&nbsp;搜索</span>
          </button>

      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped" #data="rzhDataTable" [rzhData]="RpStoreData"
           (pageChange)="queryRpStoreList(1,$event)">
      <thead>
      <tr>
        <th class="w5 thc font text-center">
          序号
        </th>
        <th class="w15 thc font">
          名称
        </th>
        <th class="w10 thc font">
          简称
        </th>
        <th class="w15 thc font text-left">
          宣传语
        </th>
        <th class="w5 thc font text-left">
          权重
        </th>
        <th class="10 thc font text-center">
          logo
        </th>
        <th class="w10 thc font text-center">
          宣传图
        </th>
        <th class="w5 thc font text-center">
          状态
        </th>
        <th class="w5 thc font text-center">
          点击数
        </th>
        <th class="w10 thc font text-center">修改时间</th>
        <th class="w10 thc font text-center">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of data.data;let i = index">
        <td class="text-center">{{i+1}}</td>
        <td>{{item.epName}}</td>
        <td>{{item.epSubname}}</td>
        <td class="text-left">{{item.slogan}}</td>
        <td>{{item.weight}}</td>
        <td class="text-center">
          <img [src]="item.logo" class="logoImg"
               onerror="javascript:this.src='../../../assets/img/dummy.png'" (mousemove)="showImg($event,logo)"  (mouseout)="hideImg(logo)">
          <img [src]="item.logo" #logo class="bigImg" alt="" onerror="javascript:this.src='../../../assets/img/dummy.png'">
        </td>
        <td class="text-center">
          <img [src]="item.sloganPic" class="logoImg"
               onerror="javascript:this.src='../../../assets/img/dummy.png'" (mousemove)="showImg($event,sloganPic)"  (mouseout)="hideImg(sloganPic)">
          <img [src]="item.sloganPic" #sloganPic class="bigImg" alt="" onerror="javascript:this.src='../../../assets/img/dummy.png'">
        </td>
        <td class="text-center">
          <label class="switch">
            <input type="checkbox" [checked]="item.state=='NORMAL'" [disabled]='!item.epSubname' (change)="changeState(item)"/>
            <span></span>
          </label>
        </td>
        <td class="text-center">{{item.click}}</td>
        <td class="text-center">{{item.updateTime}}</td>
        <td class="text-center">
          <button class="btn btn-green btn-sm fa fa-sitemap" title="设置权重"  (click)="showAlert(item.id,item.weight)"></button>
          <app-buttons [config]="updatebutton" routerLink="storePage"
                       [queryParams]="{type:'edit',id:item.id}"></app-buttons>

        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr class="text-center">
        <td colspan="12">
          <div class="col-md-5">
            <div class="text-muted pull-left"><strong>第 {{RpStoreData.genStartRow()}} 至
              {{RpStoreData.genEndRow()}} 条，共 {{RpStoreData.totalRow}}
              条</strong></div>
          </div>
          <div class="col-md-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<!--路由嵌套 begin-->
<router-outlet  (deactivate)='onDeactivate()'></router-outlet>
<!--路由嵌套 end-->

<!--设置权重弹窗 start-->
<app-weight-alert [orderId]="currentId" [weight]="weight" [page]="RpStoreData.curPage"
                 (deliverGoods)="getDeliverOrderData($event)"
></app-weight-alert>
<!--设置权重弹窗 end-->
