.logoImg{
  width:50px;height:50px;
}
.col-xs-4{
  padding-left: 0;
  padding-right: 0;
}
.store-width{
  width: 480px;
}
.store-name{
  width: 260px;
  display: inline-block;
}
.panel-body {
  padding:0  15px 15px 15px;
}
.bigImg{
  position: fixed;
  top:0;
  left: 0;
  width: 110px;
  height: auto;
  display: none;
  z-index: 1000;
}
