<div class="content-heading mb-lg thc font">
  <span>红包中奖记录</span>
</div>
<div class="panel mb p ts thc">
  <p class="font18">操作提示</p>
  <ul>
    <li>可以按中奖面额区间、时间、手机号进行搜索</li>
    <li>按中奖面额区间搜索时，依次输入最小面额和最大面额，如输入错误则搜索结果为空，搜索结果包括最小面额和最大面额</li>
    <li>按中奖面额区间搜索时，如果只输入最小面额，则会搜索大于当前面额的所有数据，反之亦然</li>
  </ul>
</div>

<!--红包中奖记录 start-->
<div class="panel mb">
  <!--搜索栏 start-->
  <div>
    <div class="p ng-scope" ng-if="search">
      <div class="col-md-12">
        <button type="button" title="搜索" class="btn thc btn-thc ml align-top pull-right" (click)="queryRpCustAcctRecAdmin(1)">
          <i class="icon-magnifier"></i><span>&nbsp;&nbsp;搜索</span>
        </button>
        <div class="form-group mb0 col-md-2 pull-right">
          <div class="pl0">
            <input type="text" class="form-control border-b-grey" [(ngModel)]="phone"
                   (change)="queryRpCustAcctRecAdmin(1)" maxlength="50" placeholder="请输入要查询的会员手机号">
          </div>
        </div>
        <button type="button" title="重置时间" (click)="clearTime()"
                class="btn thc btn-thc pull-right bar-h3-btn mr ng-scope mr20 pull-right">
          <em class="fa fa-refresh"></em>
        </button>
        <div class="col-md-2 pull-right clearfix mb">
          <div class="_picker">
            <div class="input-group">
              <input class="form-control" bsDaterangepicker [bsConfig]="bsConfig" #dpr="bsDaterangepicker" [(ngModel)]="dateStr" readonly placeholder="选择查询时间">
              <span class="btn input-group-addon fa fa-calendar" (click)="dpr.show()"></span>
            </div>
          </div>
        </div>
        <div class="my-place-time ml-xl col-md-2 pull-right clearfix mb">
          <span class="search-title font12">中奖面额区间：</span>
          <input type="number" name="min" (ngModelChange)="getMinValue(minValue.value)" #minValue class="form-control border-b-grey w30 myCss" [(ngModel)]="minAmount"  placeholder="最小"> -
          <input type="number" name="max" (ngModelChange)="getMaxValue(maxValue.value)" #maxValue  class="form-control border-b-grey w30 myCss" [(ngModel)]="maxAmount"  placeholder="最大">
        </div>
      </div>
    </div>
  </div>
  <!--搜索栏 end-->
  <div class="panel-body">
    <table class="table table-striped" #data="rzhDataTable" [rzhData]="rpDeTailData"
           (pageChange)="queryRpCustAcctRecAdmin(1,$event)">
      <thead>
      <tr>
        <th class="w5 thc font">
          序号
        </th>
        <th class="w15 thc font">
          会员名称
        </th>
        <th class="w15 thc font text-center">
          会员手机号
        </th>
        <th class="w25 thc font">
          企业简称
        </th>
        <th class="w10 thc font text-center">
          红包流水类型
        </th>
        <th class="w10 thc font text-center">
          面额（元）
        </th>
        <th class="w20 thc font text-center">
          创建时间
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of data.data;let i = index">
        <td>{{i+1}}</td>
        <td>{{item.custName}}</td>
        <td class="text-center">{{item.custPhone}}</td>
        <td>{{item.epSubname}}</td>
        <td class="text-center">{{item.logType | rzhState :'2100'}}</td>
        <td class="text-center thc font">￥&nbsp;{{item.amount ||0 |number:'1.2-2'}}</td>
        <td class="text-center">{{item.createTime}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr class="text-center">
        <td colspan="12">
          <div class="col-md-5">
            <div class="text-muted pull-left"><strong>第 {{rpDeTailData.genStartRow()}} 至
              {{rpDeTailData.genEndRow()}} 条，共 {{rpDeTailData.totalRow}}
              条</strong></div>
          </div>
          <div class="col-md-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<!--红包中奖记录 end-->

