<div class="content-heading mb-lg">
  <span class="thc font">代理商消息模板</span>
  <app-buttons class="pull-right" [config]="addbutton" (click)="addTpl()"></app-buttons>
</div>
<div class="panel mb panel-default">
  <div class="panel-body">
    <table class="table table-striped" #agentTplList="rzhDataTable" [rzhData]="agentTplData"
           (pageChange)="queryExpressList($event)">
      <thead>
      <tr>
        <th class="w10 thc font">
          模板编码
        </th>
        <th class="w15 thc font">
          模板名称
        </th>
        <th class="w10 thc font">
          消息图标
        </th>
        <th class="w15 thc font">
          模板
        </th>
        <th class="w15 thc font">
          菜单URL
        </th>
        <th class="w15 thc font">
          备注
        </th>
        <th class="w20 thc font">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let agentTpl of agentTplList.data;let i = index">
        <td>{{agentTpl.tplCode}}</td>
        <td>{{agentTpl.tplName}}</td>
        <td>{{agentTpl.icon}}</td>
        <td>{{agentTpl.tpl}}</td>
        <td>{{agentTpl.url}}</td>
        <td>{{agentTpl.remark}}</td>
        <td>
          <app-buttons [config]="deletebutton" (click)="deleteTpl(agentTpl.id)"></app-buttons>
          <app-buttons [config]="updatebutton" (click)="updateTpl(agentTpl.tplCode)"></app-buttons>
      </tr>
      </tbody>
      <tfoot>
      <tr class="text-center">
        <td colspan="12">
          <div class="col-md-5">
            <div class="text-muted pull-left"><strong>第 {{agentTplData.genStartRow()}} 至
              {{agentTplData.genEndRow()}} 条，共 {{agentTplData.totalRow}}
              条</strong></div>
          </div>
          <div class="col-md-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->
<app-edit-tpl  [type]="curType" [tplCode]="curTplCode"  [page]="agentTplData.curPage"
               (emitTplData)="getTplData($event)"></app-edit-tpl>
