<div class="add-voncher fadeIn" *ngIf="showWindow">
  <div class="mask"></div>
  <div class="_popup animated fadeIn">
    <div class="pop popup-hd">
      <span class="f-bold thc font">提交汇款记录</span>
      <div class="popup-colse unselectable" (click)="hideWindow()">×</div>
    </div>
    <div class="pop add-con font12 w100">
      <form class="form-validate form-horizontal" #addVoncher="ngForm">
        <dl class="bb m0 clearfix">
          <dt class="col-xs-3">提现金额：</dt>
          <dd class="col-xs-9"><span class="main-red font18">¥{{drawMoney}}</span></dd>
        </dl>
        <dl class="bb m0 clearfix">
          <dt class="col-xs-3"><i class="main-red font16">*</i> 转账方式：</dt>
          <dd class="col-xs-9">
            <div class="col-xs-8">
              <select class="form-control" name="payWay" [(ngModel)]="voncher.payWay">
                <option *ngFor="let way of payWayList" [value]="way.key">{{way.val}}</option>
              </select>
            </div>
          </dd>
        </dl>
        <dl class="bb m0 clearfix">
          <dt class="col-xs-3"><i class="main-red font16">*</i> 上传汇款凭证：</dt>
          <dd class="col-xs-9">
            <div class="col-xs-8">
              <div class="w100">
                <img class="col-sm-5 p-sm" *ngIf="myImg" [src]="uploader.queue[0]._file | imgUrl"
                     alt="">
                <label class="btn btn-default file-upload">
                  <i class="icon-cloud-upload mr"></i>{{myImg? uploader.queue[0]._file.name:'上传图片'}}
                  <input class="w100" type="file" name="brandPic" ng2FileSelect [uploader]="uploader"
                         (change)="fileChangeListener()"/>
                </label>
                <div class="text-danger" [hidden]="myImg">请上传凭证</div>
              </div>
            </div>
          </dd>
        </dl>
        <ng-container *ngIf="voncher.payWay=='REMIT'">
          <dl class="bb m0 clearfix">
            <dt class="col-xs-3"><i class="main-red font16">*</i> 汇款账号：</dt>
            <dd class="orderId-color col-xs-9">
              <div class="col-xs-8">
                <input class="form-control" [required]="voncher.payWay=='REMIT'" type="text" name="payBacctName"
                       [(ngModel)]="voncher.payAcct">
              </div>
            </dd>
          </dl>
          <dl class="bb m0 clearfix">
            <dt class="col-xs-3"><i class="main-red font16">*</i> 汇款账号开户行：</dt>
            <dd class="col-xs-9">
              <div class="col-xs-8">
                <select class="form-control" name="payBank" [required]="voncher.payWay=='REMIT'"
                        [(ngModel)]="voncher.payBank">
                  <option *ngFor="let bank of commomBanks" [value]="bank.info">{{bank.info}}</option>
                </select>
              </div>
            </dd>
          </dl>
          <dl class="bb m0 clearfix">
            <dt class="col-xs-3"><i class="main-red font16">*</i> 汇款人：</dt>
            <dd class="orderId-color col-xs-9 font14">
              <div class="col-xs-8">
                <input class="form-control" type="text" name="payBacctName" [required]="voncher.payWay=='REMIT'"
                       [(ngModel)]="voncher.payBacctName">
              </div>
            </dd>
          </dl>
        </ng-container>
        <dl class="bb m0 clearfix">
          <dt class="col-xs-3">备注：</dt>
          <dd class="col-xs-9">
            <div class="col-md-8">
              <textarea class="form-control" name="remark" [(ngModel)]="voncher.remark" cols="30" rows="3"></textarea>
            </div>
          </dd>
        </dl>
      </form>
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-default ml  thc font b" (click)="hideWindow()">放弃操作</button>
      <button class="ml btn btn-info  thc bg b" [disabled]="!addVoncher.form.valid || !myImg" (click)="addFinished()">确认提交
      </button>
    </div>
  </div>
</div>

