<div class="content-heading mb-lg">
  <span class="thc font">快递公司列表</span>
  <app-buttons class="pull-right" [config]="expressAddbutton" routerLink="rightPage"
               [queryParams]="{type:'add'}"></app-buttons>
</div>
<div class="panel mb">
  <div class="panel-body p ng-scope" ng-if="search">
    <div class="form-group mb0">
      <div class="col-xs-5">
        <input type="text" [(ngModel)]="searchKey" class="form-control border-b-grey ng-pristine ng-valid ng-touched"
               (change)="queryExpressList()" maxlength="128" placeholder="请输入要查询的快递公司名称或者公司编号">
      </div>
      <div class="col-sm-1 pull-left text-center">
        <span class="ng-scope">
           <button type="button" title="搜索" id="toSearch" (click)="queryExpressList()"
                   class="btn thc btn-thc bar-h3-btn mr ng-scope ">
             <em class="icon-magnifier fa-fw"></em>搜索
           </button>
          </span>
      </div>
    </div>
  </div>
</div>
<div class="panel mb panel-default">

  <div class="panel-body">
    <table class="table table-striped" #expressList="rzhDataTable" [rzhData]="expressListdata"
           (pageChange)="queryExpressList($event)">
      <thead>
      <tr>
        <th class="w5 thc font">
          序号
        </th>
        <th class="w25 thc font">
          公司编号
        </th>
        <th class="w20 thc font text-left">
          公司名称
        </th>
        <th class="w20 thc font text-left">
          公司网址
        </th>
        <th class="w10 thc font">
          状态
        </th>
        <th class="w20 thc font">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let express of expressList.data;let i = index">
        <td>{{i+1}}</td>
        <td>{{express.expressCode}}</td>
        <td class="text-left">{{express.expressName}}</td>
        <td class="text-left">{{express.expressUrl}}</td>
        <td>
          <label class="switch">
            <input type="checkbox" [checked]="express.isUse=='Y'" (change)="isUse(express)"/>
            <span></span>
          </label>
        </td>
        <td>
          <app-buttons [config]="updatebutton" routerLink="rightPage"
                       [queryParams]="{type:'edit',id:express.id}"></app-buttons>
          <app-buttons [config]="deletebutton" (click)="deleteSort(express.id)"></app-buttons>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr class="text-center">
        <td colspan="12">
          <div class="col-md-5">
            <div class="text-muted pull-left"><strong>第 {{expressListdata.genStartRow()}} 至
              {{expressListdata.genEndRow()}} 条，共 {{expressListdata.totalRow}}
              条</strong></div>
          </div>
          <div class="col-md-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->

