td,th{
  text-align: center;
}
.express-height{
  height: 55px;
}
.panel-body{
  padding: 0 15px 15px 15px;
}

.express-width{
  width: 480px;
}
.express-name{
  width: 260px;
  display: inline-block;
}
