<div class="content-heading mb-lg thc font">
  文章审核
</div>
<!--审核文章-->
<div class="col-lg-10 col-lg-offset-1">
  <form class="form-validate form-horizontal" style="height: 100%" #aduit="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0"><i>*</i>分类</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" disabled name="articleClass" #articleTitleTem="ngModel"
                     [(ngModel)]="queryArticleData.acName"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0"><i>*</i>标题</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" maxlength="128" disabled name="articleTitle"
                     #articleTitleTem="ngModel"
                     [(ngModel)]="queryArticleData.articleTitle"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0"><i>*</i>短标题</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" maxlength="128" disabled name="articleTitleShort"
                     #articleTitleShortTem="ngModel"
                     [(ngModel)]="queryArticleData.articleTitleShort"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0"><i>*</i>摘要
            </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" maxlength="128" disabled name="articleAbstract"
                     #articleAbstractTem="ngModel" [(ngModel)]="queryArticleData.articleBody.articleAbstract"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0"><i>*</i>内容</label>
            <div class="col-sm-10">
              <div class="_myMask"></div>
              <div id="summernote" class="summernote"></div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0"><i>*</i>封面类型</label>
            <div class="col-sm-10">
              <div class="radio c-radio pull-left" *ngFor="let item of articleCoverTypes">
                <label>
                  <input type="radio" value="{{item.key}}" disabled
                         [(ngModel)]="queryArticleData.coverType" name="articleCoverType" class="col-sm-2"/>
                  <span class="fa fa-circle"></span>{{item.text}}
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset *ngIf="queryArticleData.articleCoverVO!=null">
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0">封面图片</label>
            <div class="col-sm-10">
              <!--审核图片的时候如果有封面图片就展示封面图片-->
              <span class="ui-state-disabled pull-left _uploadImg" #coverImg>
                <span class="upload-thumb">
                      <img *ngFor="let item of queryArticleData.articleCoverVO;let i = index" src="{{item.url }}"
                           class="qpsBgImg" alt="" onerror="javascript:this.src='../../../assets/img/dummy.png';">
                </span>
              </span>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0">标签
            </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" maxlength="128" disabled name="articlekeyword"
                     #articlekeywordTem="ngModel" [(ngModel)]="queryArticleData.articleTag"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0">关键字</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" disabled name="articleTag" #articleTagTem="ngModel"
                     [(ngModel)]="queryArticleData.articleKeyword"/>
            </div>
          </div>
        </fieldset>
        <!--<fieldset>-->
          <!--<div class="form-group">-->
            <!--<label class="col-sm-1 text-right mr-xl pr0">相关文章-->
            <!--</label>-->
            <!--<div class="col-sm-10">-->
              <!--<input class="form-control" type="text" maxlength="128" disabled name="articleLink"-->
                     <!--#articleLinkTem="ngModel"-->
                     <!--[(ngModel)]="queryArticleData.articleLink"/>-->
            <!--</div>-->
          <!--</div>-->
        <!--</fieldset>-->
        <fieldset *ngIf="queryArticleData.articleGoods.length>0">
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0">关联商品</label>
            <div class="_myAppend col-sm-12">
              <li *ngFor="let item of queryArticleData.articleGoods; let i = index" class="list-group-item">
                <div class="clearfix">
                  <div class="p0 _span col-lg-1 p0">
                    <img src="{{item.goodsImage}}" alt="" class='_special'
                         onerror="javascript:this.src='../../../assets/img/dummy.png';">
                  </div>
                  <div class="col-lg-6 p0">
                    <span (click)="showDetail(shop)" class="pl0 ml">{{item.name}}</span><br>
                    <div *ngFor="let standard of item.goodsSavSets" class="pl0 ml">
                      {{standard.attrName}}：{{standard.value}}
                    </div>
                    <input type="hidden" value="{{item.goodsCode}}">
                  </div>
                  <div class="col-lg-3 p0">
                    <span class="extra p10 ml"><span>￥ {{item.price}}</span></span>
                  </div>
                </div>
              </li>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl pr0"><i>*</i>审核结果</label>
            <div class="col-sm-3">
              <select class="form-control" type="text" name="auditState" [(ngModel)]="auditResult" required>
                <option [value]="item.id" *ngFor="let item of autionOptions">{{item.name}}</option>
              </select>
            </div>
          </div>
        </fieldset>
        <fieldset *ngIf="auditResult=='FAILURE'">
          <div class="form-group">
            <label class="col-sm-1 text-right mr-xl"><i>*</i>原因</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="reason" #reasonTem="ngModel" [(ngModel)]="reason" required
                     placeholder='请输入未审核通过的原因'/>
              <div [hidden]="reasonTem.valid||reasonTem.untouched"
                   class="alert alert-danger">
                未审核通过的原因是必填项
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class='qpsPadding'>
          <label class="col-sm-1 text-right mr-xl"></label>
          <div class="col-sm-10">
            <div class="pull-right form-group special">
              <button class="ml btn btn-info pull-left" type="submit" (click)="submit(aduit.value)"
                      [disabled]="aduit.invalid">确定
              </button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <!-- END panel-->
  </form>
</div>
