.qpsImg{
  width:50px !important;
  height: 50px !important;
}
.qpsPadding{
  padding-bottom: 40px;
}
._img{
  width:50px;height:50px;
}
.goods-info-box{
  position: relative;
}
._myAppend{
  margin-top:15px;
  overflow-y: scroll;
}
._special{
  width:60px;height:60px;
}
._myTextarea{
  background: #edf1f2 !important;
  border-radius: 4px;
  height:200px;
  overflow-y: scroll;
  border:1px solid #dde6e9!important;
}
.qpsBgImg{
  //width:100px !important;
  height: 100px !important;
  margin-right: 15px;
}
._myMask{
  position: absolute;z-index: 66666;
  left:0;top:0;bottom:0;right:0;background: rgba(0,0,0,0);
}
