<div class="panel" *ngIf="afterData">
  <div class="panel-body">
    <div class="ordernum thc bg">
      <span>退单编号：{{afterData.afterNo}}</span>
    </div>
    <div class="panel-body">
      <div>
        <div class="">
          <legend class="m0" style="height: 51px;line-height: 51px;">
            {{afterData.returnType=='RETURN'?'买家退货申请':'买家退款申请'}}
          </legend>
        </div>
        <table class="t-items p w100">
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-1">申请时间：</td>
            <td class="item-bd col-sm-9 mb0">{{afterData.createTime}}</td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-2">申请人（买家）：</td>
            <td class="item-bd col-sm-10 mb0">{{afterData.custPhone}}</td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-2">订单编号：</td>
            <td class="item-bd col-sm-10 mb0">
              <a routerLink="/main/orders/cust/order-detail" [queryParams]="{ordno: afterData.ordno}">{{afterData
                .ordno}}</a>
            </td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-2">商品名称：</td>
            <td class="item-bd col-sm-10 mb0">
              {{afterData.goodsName}}
              <a routerLink="/main/goods/manage/detail" [queryParams]="{baseCode: afterData.goodsBaseCode}">(查看)</a>
            </td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-2">商品数量：</td>
            <td class="item-bd col-sm-10 mb0">
              {{afterData.num}}
            </td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-2">售后类型：</td>
            <td class="item-bd col-sm-10 mb0">{{afterData.returnType | rzhState:'1601'}}</td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-2">退款金额：</td>
            <td class="item-bd col-sm-10 mb0">{{afterData.reqMoney}}</td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-2">是否收到货：</td>
            <td class="item-bd col-sm-10 mb0">{{afterData.isReceive | rzhState:'1001'}}</td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-2">{{afterData.returnType=='RETURN'?'退货原因':'退款原因'}}：</td>
            <td class="item-bd col-sm-10 mb0">{{afterData.reason}}</td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-2">{{afterData.returnType=='RETURN'?'退货说明':'退款说明'}}：</td>
            <td class="item-bd col-sm-10 mb0">{{afterData.reasonRmk}}</td>
          </tr>
          <tr class="t-item clearfix">
            <td class="item-hd col-sm-2">凭证：</td>
            <td class="item-bd col-sm-10 mb0">
              <span *ngFor="let item of afterData.afterGoodsReqVouList">
                <img class="goods-md-img mr" [src]="item.vpic" (mousemove)="showImg($event)"
                     (mouseout)="hideImg($event)" onerror="javascript:this.src='../../../../assets/img/dummy.png'"
                     alt="">
                <img [src]="item.vpic" class="hover-native-img" alt=""
                     onerror="javascript:this.src='../../../assets/img/dummy.png'">
              </span>
            </td>
          </tr>
        </table>

        <!--平台同意申请-->
        <ng-container *ngIf="afterData.state!='WAIT'">
          <div>
            <div class="">
              <legend class="m0" style="height: 51px;line-height: 51px;">{{afterData.returnType=='RETURN'?'退货申请处理':'退款申请处理'}}</legend>
            </div>
            <table class="t-items p w100">
              <tr class="t-item clearfix">
                <td class="item-hd col-sm-2">处理时间：</td>
                <td class="item-bd col-sm-10 mb0">{{afterTailList[1].updateTime}}</td>
              </tr>
              <tr class="t-item clearfix">
                <td class="item-hd col-sm-2">审核人：</td>
                <td class="item-bd col-sm-10 mb0">{{afterTailList[1].optName}}</td>
              </tr>
              <tr class="t-item clearfix">
                <td class="item-hd col-sm-2">审核结果：</td>
                <td class="item-bd col-sm-10 mb0">
                  {{afterTailList[1].state | rzhState:'1701'}}
                </td>
              </tr>
              <tr class="t-item clearfix">
                <td class="item-hd col-sm-2">处理意见：</td>
                <td class="item-bd col-sm-10 mb0">{{afterTailList[1].description}}</td>
              </tr>
            </table>
          </div>
        </ng-container>

        <!--退货订单已发货-->
        <div *ngIf="afterData.state=='DELIVERY'">
          <div class="">
            <legend class="m0" style="height: 51px;line-height: 51px;">退货发货信息</legend>
          </div>
          <table class="t-items p w100">
            <tr class="t-item clearfix">
              <td class="item-hd col-sm-2">退货跟踪：</td>
              <td class="item-bd col-sm-10 mb0">
                <div class="order-track">
                  <ul class="timeline-alt pb0 mb0">
                    <li class="mb0" *ngFor="let item of LogisticsData;let s = index">
                      <div class="timeline-badge gray-bg thc" [class.bg]="s==0"></div>
                      <div class="timeline-panel">
                        <div class="right">
                          <div>
                            <p class="every-line">
                              <span class="mr logis-time" *ngIf="s==0">
                                  <b class="mr-lg pull-left">{{item.day}}</b>
                                  <b class="mr-lg">{{item.day | getWeek}}</b>
                                  {{item.time}}
                              </span>
                              <ng-container *ngIf="s>0">
                                <span class="mr logis-time" *ngIf="item.day==LogisticsData[s-1].day">{{item.time}}</span>
                                <span class="mr logis-time" *ngIf="item.day!=LogisticsData[s-1].day">
                                <b class="mr-lg pull-left">{{item.day}}</b>
                                <b class="mr-lg">{{item.day | getWeek}}</b>
                                {{item.time}}
                              </span>
                              </ng-container>
                              <span class="every-info">{{item.acceptStation}}</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="t-item clearfix">
              <td class="item-hd col-sm-2">退货发货状态：</td>
              <td class="item-bd col-sm-10 mb0">{{afterData.state | rzhState:'1701'}}</td>
            </tr>
            <tr class="t-item clearfix">
              <td class="item-hd col-sm-2">物流公司：</td>
              <td class="item-bd col-sm-10 mb0">{{afterData.afterGoodsTail?.expressName}}</td>
            </tr>
            <tr class="t-item clearfix">
              <td class="item-hd col-sm-2">物流单号：</td>
              <td class="item-bd col-sm-10 mb0">{{afterData.afterGoodsTail?.expressNo}}</td>
            </tr>
          </table>
        </div>

        <!--平台验收货物之后-->
        <div *ngIf="afterData.returnType=='RETURN' && afterData.state=='DONE'">
          <div class="">
            <legend class="m0" style="height: 51px;line-height: 51px;">退货验收处理</legend>
          </div>
          <table class="t-items p w100">
            <tr class="t-item clearfix">
              <td class="item-hd col-sm-2">处理时间：</td>
              <td class="item-bd col-sm-10 mb0">{{afterTailList[3].updateTime}}</td>
            </tr>
            <tr class="t-item clearfix">
              <td class="item-hd col-sm-2">操作人：</td>
              <td class="item-bd col-sm-10 mb0">{{afterTailList[3].optName}}</td>
            </tr>
            <tr class="t-item clearfix">
              <td class="item-hd col-sm-2">审核结果：</td>
              <td class="item-bd col-sm-10 mb0">{{afterTailList[3].state  | rzhState:'1701'}}</td>
            </tr>
            <tr class="t-item clearfix">
              <td class="item-hd col-sm-2">处理备注：</td>
              <td class="item-bd col-sm-10 mb0">{{afterTailList[3].description}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-back btn btn-thc btn-circle fa fa-mail-reply" (click)="back()"></div>
