<div class="panel panel-default">
  <div class="panel-body step-three">
    <p><i class="icon-check p-sm success-icon"></i>商品发布成功</p>
    <p>
      <a class="ml-xl a" (click)="lookDetail()">去店铺查看商品详情 <i class="icon-arrow-right small"></i></a>
      <a class="ml-xl a" (click)="editGoods()">重新编辑刚刚发布的商品 <i class="icon-arrow-right small"></i></a>
    </p>
    <div class="mt-xl">
      <h4>其他操作</h4>
      <ul>
        <li>继续“<a (click)="publishNew()">发布新商品</a>”</li>
        <li>查看“<a (click)="goodsList()">商品列表</a>”</li>
      </ul>
    </div>

  </div>
</div>
