<div class="content-heading mb-lg">
  区域分析
</div>

<div class="panel panel-default">
<!--操作提示-->
  <div class="panel mb p w98 m-auto ts thc">
    <p class="font18">操作提示</p>
    <ul>
      <li>统计图表展示了时间段内的订单数量、下单商品数量和订单总金额在各个区域的分布情况</li>
      <li>统计表默认按照“下单金额”降序排列</li>
    </ul>
  </div>

  <div class="w98 m-auto h50">
      <span class="btn statistic-btn btn-default m0" (click)="selectInfos()">
        <i class="icon icon-magnifier"></i>
      </span>
    <div class="pull-right">
      <div class="col-xs-3 form-group" style="width: 250px">

        <div *ngIf="showType.MONTH">
          <select [(ngModel)]="select.year" class="pull-left w43 form-control" style="display: inline-block;margin-right: 20px">
            <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
          </select>
          <select [(ngModel)]="select.month" class="w43 form-control">
            <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
          </select>
        </div>

        <div *ngIf="showType.WEEK">
          <select [(ngModel)]="select.year">
            <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
          </select>
          <select [(ngModel)]="select.month" (change)="getWeekListByMonth()">
            <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
          </select>
          <select [(ngModel)]="select.week">
            <option *ngFor="let info of weekForMonth" value="{{info}}">{{info}}</option>
          </select>
        </div>

        <div *ngIf="showType.DAY" style="margin-right:60px">
          <input type="text" class="form-control" bsDatepicker [(ngModel)]="datepickerModel"
                 [bsConfig]="bsConfig" #dpr="bsDatepicker"/>
          <span class="statistic-btn input-group-addon fa fa-calendar spanbtn h35" (click)="dpr.show()"></span>
        </div>
      </div>
    </div>
    <select class="sel form-control pull-right" style="margin-right: 20px" name="queryType"
            [(ngModel)]="queryType" (change)="search()">
      <option *ngFor="let item of queryTypes" [value]="item.key">{{item.val}}</option>
    </select>
  </div>

  <div class="panel w98 m-auto">
    <div echarts [options]="option" class="demo-chart w100"></div>
  </div>

<!--统计表-->
  <div class="panel panel-default mt20" >
    <div class="table-title">区域分析表</div>
    <div class="panel-body">
      <table class="table table-striped" #dataTable="rzhDataTable"  [rzhData]="data"  (pageChange)="queryDatas($event)">
        <thead>
        <tr>
          <th class="w25 text-center">
            <rzhDefaultSorter by="name">省份</rzhDefaultSorter>
          </th>
          <th class="w25 text-center">
            <rzhDefaultSorter by="email">下单金额（元）</rzhDefaultSorter>
          </th>
          <th class="w25 text-center">
            <rzhDefaultSorter by="name">下单量</rzhDefaultSorter>
          </th>
           <th class="w25 text-center">
            <rzhDefaultSorter by="name">下单会员数</rzhDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngFor="let area of nowData.resultList">
          <td>{{area.areaName}}</td>
          <td>{{area.ordSum}}</td>
          <td>{{area.ordCount}}</td>
          <td>{{area.custCount}}</td>
      </table>
    </div>
  </div>
</div>
