<div class="content-heading mb-lg thc font">
  区域分析
</div>
<!--操作提示-->
<div class="panel mb p m-auto ts thc user-top">
  <p class="font18">操作提示</p>
  <ul>
    <li>统计图表展示了时间段内的订单数量、下单商品数量和订单总金额在各个区域的分布情况</li>
    <li>统计表默认按照“下单金额”降序排列</li>
  </ul>
</div>


  <div class="panel">
    <!--<div >-->
      <div class="w98 m-auto h50 pt-lg">
        <button type="button" title="搜索" (click)="selectInfos()"
                class="btn thc btn-thc bar-h3-btn ng-scope pull-right">
          <em class="icon-magnifier"></em><span>&nbsp;&nbsp;搜索</span>
        </button>
        <div class="pull-right">
          <div class="col-xs-3 form-group" style="width: 400px">
            <div *ngIf="showType.MONTH">
              <select [(ngModel)]="select.year" class="pull-left w43 form-control d-play" style="margin-right: 20px">
                <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
              </select>
              <select [(ngModel)]="select.month" class="w43 form-control">
                <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
              </select>
            </div>

            <div *ngIf="showType.WEEK">
              <select [(ngModel)]="select.year" (change)="getWeekListByMonth()" class="form-control w21 pull-left mr5">
                <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
              </select>
              <select [(ngModel)]="select.month" (change)="getWeekListByMonth()" class="form-control w21 pull-left mr5">
                <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
              </select>
              <select [(ngModel)]="select.week" class="form-control w55">
                <option *ngFor="let info of weekForMonth" value="{{info}}">{{info}}</option>
              </select>
            </div>

            <div *ngIf="showType.DAY" style="margin-right:60px">
              <input type="text" class="form-control" bsDatepicker [(ngModel)]="datepickerModel"
                     [bsConfig]="bsConfig" #dpr="bsDatepicker"/>
              <span class="statistic-btn input-group-addon fa fa-calendar spanbtn h35" (click)="dpr.show()"></span>
            </div>
          </div>
        </div>
        <select class="sel form-control pull-right" style="margin-right: 20px" name="queryType"
                [(ngModel)]="queryType" (change)="search()">
          <option *ngFor="let item of queryTypes" [value]="item.key">{{item.val}}</option>
        </select>
      </div>
    <!--</div>-->
    <div  class=" panel w100 m0 mt-lg">
      <ul class="clearfix p0 w95 m-auto">
        <li class="w33 text-center cursor-p pull-left order-count" [ngClass]="{'qh':queryContent=='ORDSUM','bqh':queryContent!='ORDSUM'}" (click)="qeuryAll('ORDSUM')">下单金额</li>
        <li class="w33 text-center cursor-p pull-left order-count" [ngClass]="{'qh':queryContent=='ORDCOUNT','bqh':queryContent!='ORDCOUNT'}"(click)="qeuryAll('ORDCOUNT')">下单数量</li>
        <li class="w33 text-center cursor-p pull-left order-count" [ngClass]="{'qh':queryContent=='ORDCUSTCOUNT','bqh':queryContent!='ORDCUSTCOUNT'}"  (click)="qeuryAll('ORDCUSTCOUNT')">下单会员数</li>
      </ul>
    </div>
    <div class="panel w98 m-auto">
      <div echarts [options]="option" class="demo-chart w100" style="height: 500px"></div>
    </div>

  </div>



<!--统计表-->
<div class="panel mt20" >
  <div class="table-title thc statics-font">区域分析表</div>
  <div class="panel-body">
    <table class="table table-striped" #dataTable="rzhDataTable"  [rzhData]="data">
      <thead>
      <tr>
        <th class="w25 text-center">
          <rzhDefaultSorter by="name">省份</rzhDefaultSorter>
        </th>
        <th class="w25 text-center" *ngIf="queryContent=='ORDSUM'">
          <rzhDefaultSorter by="email">下单金额（元）</rzhDefaultSorter>
        </th>
        <th class="w25 text-center" *ngIf="queryContent=='ORDCOUNT'">
          <rzhDefaultSorter by="name">下单量</rzhDefaultSorter>
        </th>
        <th class="w25 text-center" *ngIf="queryContent=='ORDCUSTCOUNT'">
          <rzhDefaultSorter by="name">下单会员数</rzhDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-center" *ngFor="let area of nowData.resultList">
        <td>{{area.areaName}}</td>
        <td *ngIf="queryContent=='ORDSUM'" class="thc font">{{area.ordSum}}</td>
        <td *ngIf="queryContent=='ORDCOUNT'">{{area.ordCount}}</td>
        <td *ngIf="queryContent=='ORDCUSTCOUNT'">{{area.custCount}}</td>
    </table>
  </div>
</div>
