.ts{
  background: #C9E7F2;
  width: 98%;
  margin: auto;
  margin-top: 15px;
}
.xz{
  width: 98%;
  margin: auto;
  height: 50px;
}
.sel{
  float: right;
  height: 30px;
  width: 230px;
  margin-right: 10px;
  margin-top: 5px;
}
.btn{
  float: right;
  border: 1px solid #d9e0e7;
  background: #fff;
  height: 30px;
  width: 30px;
  margin-top: 5px;
}
.btn:hover{
  float: right;
  border: 1px solid #d9e0e7;
  background: #d9e0e7;
  height: 30px;
  width: 30px;
  margin-top: 5px;
}
.icona{
  margin-left: -6px;
}
.new-vip{
  width:100%;
  background: #000;
  height: 50px;
  color: #fff;
  font-size: 18px;
  line-height: 2.6;
  padding-left: 1%;
}
.refund-th{
  width: 25%;
  border: 1px solid #ccc;
  text-align: center;
}
tr:first-child>th{
  border-top:  1px solid #ccc!important;
}

