/* You can add global styles to this file, and also import other style files */

//== Vendor
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/simple-line-icons/css/simple-line-icons.css';
@import '../node_modules/sweetalert/dist/sweetalert.css'; //弹框提醒样式
@import '../node_modules/angular2-toaster/toaster.css'; //消息提醒样式

@import '../node_modules/loaders.css/loaders.css';
//== Bootstrap
@import "./app/shared/styles/bootstrap.scss";
//== Application
@import "./app/shared/styles/app.scss";
//== datatables
@import "./assets/datatables/css/dataTables.bootstrap.min.css";
