<div class="content-heading mb-lg thc font">
  <span>添加红包规则</span>
</div>

<!--操作提示 start-->
<div class="panel mb p ts thc">
  <p class="font18">操作提示</p>
  <ul>
    <li>红包的总数量必须大于等于{{settingNumber}}</li>
    <li>请设置红包的总面额</li>
    <li>红包生效的时间默认是第二天的0时0分0秒</li>
  </ul>
</div>
<!--操作提示 end-->
<div class="panel mb w100 search">
  <div class="search-group ml-xl mb">
    <span class="search-title font12">红包总数量：</span>
    <div class="search-main">
      <input type="text" [(ngModel)]="totalNum" min="{{settingNumber}}" #number="ngModel"  class="form-control border-b-grey ng-pristine ng-valid ng-touched" [pattern]="patternService.integer" (keyup)="changeNumber()"
             maxlength="50">
      <div [hidden]="number.valid || number.pristine"
           class="alert alert-danger">
        请填写大于等于{{settingNumber}}正整数
      </div>
    </div>
  </div>
  <div class="search-group ml-xl mb">
    <span class="search-title font12">红包总金额：</span>
    <div class="search-main">
      <input type="text" [(ngModel)]="totalAmount" #amount="ngModel" class="form-control border-b-grey ng-pristine ng-valid ng-touched"
             maxlength="50" placeholder="红包的总面额（元）" [pattern]="patternService.special">
      <div [hidden]="amount.valid || amount.pristine"
           class="alert alert-danger">
        请填写最多带两位小数的数字
      </div>
    </div>
  </div>
  <div class="search-group ml-xl _specialW">
    <span class="search-title font12">红包生效时间：</span>
    <div class="search-main w65">
      <div class="col-lg-4">
        <input type="text" class="form-control" [(ngModel)]="datepickerModel" name="time1" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig"  [minDate]="minDate">
      </div>
    </div>
  </div>
</div>

<div class="order panel mb">
  <div class="panel-body">
    <form class="form-validate form-horizontal" style="height: 100%" #redPackerForm="ngForm"
          (ngSubmit)="addRedPackRules()">
      <fieldset>
        <!--新增规则列表 start-->
        <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="data"
               (pageChange)="qeuryAll(1,$event)">
          <thead>
          <tr>
            <th class="w20 text-center">
              <rzhDefaultSorter by="id">数量</rzhDefaultSorter>
            </th>
            <th class="w20 text-center">
              <rzhDefaultSorter by="id">面额（元）</rzhDefaultSorter>
            </th>
            <th class="w20 text-center">
              <rzhDefaultSorter by="name">等级</rzhDefaultSorter>
            </th>
            <th class="w20 text-center">
              <rzhDefaultSorter by="time">概率</rzhDefaultSorter>
            </th>
            <th class="w20 text-center">
              <rzhDefaultSorter by="picture">操作</rzhDefaultSorter>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of moduleList;let i = index" class="text-center">
            <td>
              <input class="text _price num form-control redPacketNumber"  #pieceNumber="ngModel" [(ngModel)]="item.num" (keyup)="getProbability(item,$event.target)" name="num{{i}}" required  [pattern]="patternService.integer"/>
              <div [hidden]="pieceNumber.valid || pieceNumber.pristine"
                   class="alert alert-danger">
                请填写正整数
              </div>
            </td>
            <td>
              <input class="text _price num form-control amount"  [(ngModel)]="item.amount" name="amount{{i}}" #pieceAmount="ngModel"  required  [pattern]="patternService.special"/>
              <div [hidden]="pieceAmount.valid || pieceAmount.pristine"
                   class="alert alert-danger">
                请填写最多带两位小数的数字
              </div>
            </td>
            <td>
              <input class="text _price num form-control level" [(ngModel)]="item.level" name="level{{i}}" #pieceLevel="ngModel" [pattern]="patternService.integer" required/>
              <div [hidden]="pieceLevel.valid || pieceLevel.pristine"
                   class="alert alert-danger">
                请填写正整数
              </div>
            </td>
            <td>
              <input class="text _price num form-control probability" disabled (keyup)="getNum(item,$event.target)" [(ngModel)]="item.probability" name="probability{{i}}"
                      required/>
            </td>
            <td>
              <app-buttons [config]="deletebutton" (click)="delete(i)"></app-buttons>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <td colspan="5" class="text-center">
            <span class="btn btn-default btn-sm mt14 text-center" (click)="add()"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;新增红包规则</span>
          </td>
          </tfoot>
        </table>
        <!--新增规则列表 end-->
      </fieldset>
      <fieldset>
        <div class="pull-right form-group special">
          <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
          <button class="ml btn btn-info pull-left" type="submit" [disabled]="!redPackerForm.form.valid">提交信息</button>
        </div>
      </fieldset>
    </form>
  </div>

</div>
