<div class="content-heading mb-lg thc font">
  <span>添加红包规则</span>
</div>

<div class="panel mb w100 search">
  <div class="search-group ml-xl mb">
    <span class="search-title font12">红包总数量：</span>
    <div class="search-main">
      <input type="text" [(ngModel)]="totalNum" class="form-control border-b-grey ng-pristine ng-valid ng-touched"
             maxlength="50" placeholder="请输入红包的总数量">
    </div>
  </div>
  <div class="search-group ml-xl mb">
    <span class="search-title font12">红包总金额：</span>
    <div class="search-main">
      <input type="text" [(ngModel)]="totalPrice" class="form-control border-b-grey ng-pristine ng-valid ng-touched"
             maxlength="50" placeholder="请输入红包的总金额">
    </div>
  </div>
  <div class="search-group ml-xl mb _specialW">
    <span class="search-title font12">红包生效时间：</span>
    <div class="search-main w65">
      <div class="col-lg-4">
        <input type="text" class="form-control" [(ngModel)]="datepickerModel" name="time1" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig"  [minDate]="minDate">
      </div>
      <div class="col-lg-5">
        <timepicker [(ngModel)]="myTime" [showSeconds]="showSec" name="time"></timepicker>
      </div>
    </div>
  </div>
</div>

<div class="order panel mb">
  <div class="panel-body">
    <form class="form-validate form-horizontal" style="height: 100%" #redPackerForm="ngForm"
          (ngSubmit)="addRedPackRules(addLimitForm)">
      <fieldset>
        <!--新增规则列表 start-->
        <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="data"
               (pageChange)="qeuryAll(1,$event)">
          <thead>
          <tr>
            <th class="w20 text-center">
              <rzhDefaultSorter by="id">面额</rzhDefaultSorter>
            </th>
            <th class="w20 text-center">
              <rzhDefaultSorter by="id">数量</rzhDefaultSorter>
            </th>
            <th class="w20 text-center">
              <rzhDefaultSorter by="name">等级</rzhDefaultSorter>
            </th>
            <th class="w20 text-center">
              <rzhDefaultSorter by="time">概率</rzhDefaultSorter>
            </th>
            <th class="w20 text-center">
              <rzhDefaultSorter by="picture">操作</rzhDefaultSorter>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of moduleList;let i = index" class="text-center">
            <td>
              <input class="text _price num form-control" [(ngModel)]="item.amount" name="firstNum{{i}}"  required/>
            </td>
            <td>
              <input class="text _price num form-control" [(ngModel)]="item.num" name="firstNum{{i}}" required/>
            </td>
            <td>
              <input class="text _price num form-control" [(ngModel)]="item.level" name="firstNum{{i}}"  required/>
            </td>
            <td>
              <input class="text _price num form-control" [(ngModel)]="item.effectiveTimeStr" name="firstNum{{i}}"
                      required/>
            </td>
            <td>
              <app-buttons [config]="deletebutton" (click)="delete(i)"></app-buttons>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <td colspan="5" class="text-center">
            <span class="btn btn-default btn-sm mt14 text-center" (click)="add()"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;新增红包规则</span>
          </td>
          </tfoot>
        </table>
        <!--新增规则列表 end-->
      </fieldset>
      <fieldset>
        <div class="pull-right form-group special">
          <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
          <button class="ml btn btn-info pull-left" type="submit" [disabled]="!redPackerForm.form.valid">提交信息</button>
        </div>
      </fieldset>
    </form>
  </div>

</div>
