
.get-kind .caret {
  margin-top: 7px;
  margin-right: -8px;
}

.show-area {
  min-width: 100%;
  width: auto;
  white-space: nowrap;
}

.selectBox {
  width: 200px;
  position: absolute;
  z-index: 999;
  margin-top: 2px;
  border: 1px solid #dde6e9;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-radius: 3px;
  background-color: #fff;
}

._list {
  width: 100%;
  height: 200px;
  overflow-y: auto;
  border-top: 1px solid #dde6e9;
}

._item {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  background-color: #fff;
  text-align: left;
}

._item:hover {
  background-color: #f5f5f5;
}

._footer {
  padding: 6px 10px;
}
