<div class="page-back btn btn-thc btn-circle fa fa-mail-reply" title="返回" (click)="back()"></div>
<div class="audit fadeIn">
  <div class="content-heading mb-lg thc font">
    店铺审核
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="body-title thc bg p">
        <span>店铺编码：{{storeCode}}</span>
      </div>
      <!--店铺基本信息 start-->
      <table class="t-items p w100">
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-2">申请时间：</td>
          <td class="item-bd col-sm-10">{{shopInfo?.createTime}}</td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-2">当前状态：</td>
          <td class="item-bd col-sm-10">{{shopInfo?.state | rzhState: '2004'}}</td>
        </tr>
      </table>
      <legend class="legend mb0">店铺基本信息</legend>
      <table class="t-items p w100">
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-2">店铺名称：</td>
          <td class="item-bd col-sm-10">{{shopInfo?.storeName}}</td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-2">是否自营：</td>
          <td class="item-bd col-sm-10"
              [ngClass]="{'font-success': shopInfo?.platShop=='Y','main-red': shopInfo?.platShop=='N'}">
            {{shopInfo?.platShop | rzhState: '1001'}}
          </td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-2">店铺地址：</td>
          <td class="item-bd col-sm-10">{{shopInfo?.areaFullName || '【未填写】'}}{{shopInfo?.address}}</td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-2">店铺邮编：</td>
          <td class="item-bd col-sm-10">{{shopInfo?.storeZip || '【未填写】'}}</td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-2">店铺电话：</td>
          <td class="item-bd col-sm-10">{{shopInfo?.storePhone || '【未填写】'}}</td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-2">店铺头像：</td>
          <td class="item-bd col-sm-10">
            <div class="tag-dib imgbox text-center mr">
              <a [href]="shopInfo?.storeAvatar" target="_blank" title="点击看大图">
                <img height="100%" [src]="shopInfo?.storeAvatar" class="img" (mousemove)="showImg($event)"
                     (mouseleave)="hideImg($event)"
                     onerror="javascript:this.src='../../../assets/img/dummy.png'">
                <img class="hover-big-img" [src]="shopInfo?.storeAvatar"
                     onerror="javascript:this.src='../../../assets/img/dummy.png'">
              </a>
            </div>
          </td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-2">店铺LOGO：</td>
          <td class="item-bd col-sm-10">
            <div class="tag-dib imgbox text-center mr">
              <a [href]="shopInfo?.storeLabel" target="_blank" title="点击看大图">
                <img height="100%" [src]="shopInfo?.storeLabel" class="img" (mousemove)="showImg($event)"
                     (mouseleave)="hideImg($event)"
                     onerror="javascript:this.src='../../../assets/img/dummy.png'">
                <img class="hover-big-img" [src]="shopInfo?.storeLabel"
                     onerror="javascript:this.src='../../../assets/img/dummy.png'">
              </a>
            </div>
          </td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-2">QQ号：</td>
          <td class="item-bd col-sm-10" [ngClass]="{'font-gray': !shopInfo?.storeQq}">
            {{shopInfo?.storeQq || '【未填写】'}}
          </td>
        </tr>
        <tr class="t-item clearfix">
          <td class="item-hd col-sm-2">旺旺号：</td>
          <td class="item-bd col-sm-10" [ngClass]="{'font-gray': !shopInfo?.storeWw}">
            {{shopInfo?.storeWw || '【未填写】'}}
          </td>
        </tr>
      </table>

      <!--审核审核记录 start-->
      <ng-container *ngIf="auditRecords.length > 0 && shopInfo?.platShop=='N'">
        <legend class="legend mb0">审核记录</legend>
        <table class="table table-striped bt0">
          <thead>
          <tr>
            <th class="text-center">时间</th>
            <th class="text-center">审核人</th>
            <th class="text-center">审核结果</th>
            <th class="text-center">审核意见</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of auditRecords" class="text-center">
            <td class="w25">{{item.createTime}}</td>
            <td class="w25">{{item.optMan}}</td>
            <td class="w20">{{item.result == 'PASS'? '通过': '不通过'}}</td>
            <td class="w30">{{item.opinion}}</td>
          </tr>
          </tbody>
        </table>
      </ng-container>
    </div>

    <!--审核-->
    <form class="goods-audit panel panel-danger w96 m-auto mb-xl" #auditForm="ngForm">
      <fieldset class="p0 panel-body">
        <legend class="m0 goods-audit-title">企业入驻审核</legend>
        <table class="w100">
          <tr>
            <td class="item-hd col-sm-2">审核结果：</td>
            <td class="item-bd col-sm-2">
              <div class="radio c-radio c-radio-nofont p-sm" *ngFor="let item of shopAudits">
                <label>
                  <input type="radio" name="isPass" [value]="item.key" [(ngModel)]="audit.auditResult"/>
                  <span class="fa fa-circle"></span>{{item.val}}</label>
              </div>
            </td>
            <td class="col-sm-8 mb0 p">
              <ng-container *ngIf="audit.auditResult == 'PASS'">
                <div class="mb clearfix">
                  <label class="lable-width control-label pull-left mb0"><i class="main-red">*</i>抽取建设金的比例：</label>
                  <div class="tag-dib align-middle font0">
                    <input class="form-control width-auto tag-dib num" type="number" required name="buildGoldRate"
                           [(ngModel)]="audit.buildGoldRate" #ngBuildGoldRate="ngModel"
                           [pattern]="patterns.oneDigit" placeholder="抽取建设金的比例"/>
                    <em class="add-on">‱{{ngBuildGoldRate.valid}}</em>
                  </div>
                  <div class="tag-dib ml align-middle text-danger"
                       *ngIf="!ngBuildGoldRate.valid && !ngBuildGoldRate.pristine">
                    请输入0-9的整数
                  </div>
                </div>
                <div class="clearfix">
                  <label class="lable-width control-label pull-left mb0"><i class="main-red">*</i>抽取广告费的比例：</label>
                  <div class="tag-dib align-middle font0">
                    <input class="form-control width-auto tag-dib num" type="number" required name="adRate"
                           [(ngModel)]="audit.adRate" #ngAdRate="ngModel"
                           [pattern]="patterns.oneDigit" placeholder="抽取广告费的比例"/>
                    <em class="add-on">‱</em>
                  </div>
                  <div class="tag-dib ml align-middle text-danger"
                       *ngIf="!ngAdRate.valid && !ngAdRate.pristine">
                    请输入0-9的整数
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="audit.auditResult == 'UNPASS'">
                <textarea class="form-control w66 tag-dib align-middle" name="opinion" required
                          [(ngModel)]="audit.opinion" placeholder="请填写审核意见"
                          cols="10" rows="3">
                </textarea>
              </ng-container>
            </td>
          </tr>
        </table>
      </fieldset>
      <fieldset class="pt-xl m0 text-center">
        <ng-container *ngIf="audit.auditResult == 'PASS'">
          <button class="btn btn-green" type="button" (click)="auditPass()"
                  [disabled]="!auditForm.form.valid">
            <em class="fa fa-upload mr"></em>通过
          </button>
        </ng-container>
        <ng-container *ngIf="audit.auditResult == 'UNPASS'">
          <button class="btn btn-green" type="button" (click)="auditReject()"
                  [disabled]="!auditForm.form.valid">
            <em class="fa fa-upload mr"></em>不通过
          </button>
        </ng-container>
      </fieldset>
    </form>
  </div>
</div>
