<div class="p-lg">
  <div class="row">
    <div class="col-lg-9">
      <!-- START timeline-->
      <ul class="timeline">
        <!--<li class="timeline-separator" data-datetime="Today"></li>-->
        <!-- START timeline item-->
        <li>
          <div class="timeline-badge primary">
            <em class="fa fa-edit"></em>
          </div>
          <div class="timeline-panel">
            <div class="popover left">
              <div class="arrow"></div>
              <div class="popover-content">
                <div class="table-grid table-grid-align-middle mb">
                  <div class="col col-xs">
                    <img class="media-object img-circle thumb48"  [src]="'un'" alt=""
                         onerror="javascript:this.src='../../../../assets/img/dummy.png'" />
                  </div>
                  <div class="col">
                    <p class="m0">
                      <a class="text-muted" href="#">
                        <strong>Aiden Curtis</strong>
                      </a>
                  </div>
                </div>
                <ul class="list-unstyled">
                  <li class="pb">
                    <span class=" mr">操作时间：</span>
                    <span class="text-info">framework-docs-part1.pdf</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <!-- END timeline item-->
        <!-- START timeline item-->
        <li class="timeline-inverted">
          <div class="timeline-badge green">
            <em class="icon icon-user-following"></em>
          </div>
          <div class="timeline-panel">
            <div class="popover right">
              <div class="arrow"></div>
              <div class="popover-content">
                <div class="table-grid table-grid-align-middle mb">
                  <div class="col col-xs">
                    <img class="media-object img-circle thumb48"  [src]="'un'" alt=""
                         onerror="javascript:this.src='../../../../assets/img/dummy.png'" />
                  </div>
                  <div class="col">
                    <p class="m0">
                      <a class="text-muted" href="#">
                        <strong>James Payne</strong>
                      </a>
                  </div>
                </div>
                <div class="media bb p">
                  <ul class="list-unstyled">
                    <li class="pb">
                      <span class=" mr">操作时间：</span>
                      <span class="text-info">framework-docs-part1.pdf</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- START timeline item-->
        <li>
          <div class="timeline-badge info">
            <em class="fa fa-dollar"></em>
          </div>
          <div class="timeline-panel">
            <div class="popover left">
              <div class="arrow"></div>
              <div class="popover-content">
                <div class="table-grid table-grid-align-middle mb">
                  <div class="col col-xs">
                    <img class="media-object img-circle thumb48"  [src]="'un'" alt=""
                         onerror="javascript:this.src='../../../../assets/img/dummy.png'" />
                  </div>
                  <div class="col">
                    <p class="m0">
                      <span class="text-muted" href="#">
                        <strong>Samantha Murphy</strong>
                      </span>
                  </div>
                </div>
                <ul class="list-unstyled">
                  <li class="pb">
                    <span class=" mr">操作时间：</span>
                    <span class="text-info">framework-docs-part1.pdf</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <!-- END timeline item-->
      </ul>
      <!-- END timeline-->
    </div>

  </div>
</div>
