
  <div class="content-heading mb-lg thc font">
      会员分析
  </div>
  <div class="panel mb p m-auto ts thc user-top">
    <p class="font18">操作提示</p>
    <ul>
      <li>统计图展示了时间段内新增会员数的走势和与前一时间段的对比</li>
      <li>统计表展示了时间段内新增会员数值和与前一时间段的同比数值，点击每条记录后的“查看”，了解新增会员的详细信息</li>
    </ul>
  </div>


  <div class="panel">
    <div>
    <div class="w98 m-auto h50 pt-lg">
      <button type="button" title="搜索" (click)="selectInfos()"
              class="btn thc btn-thc bar-h3-btn ng-scope pull-right">
        <em class="icon-magnifier"></em><span>&nbsp;&nbsp;搜索</span>
      </button>
      <div class="pull-right">
        <div class="col-xs-3 form-group" style="width: 400px">

          <div *ngIf="showType.MONTH">
            <select [(ngModel)]="select.year" class="pull-left w43 form-control d-play" style="margin-right: 20px">
              <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
            </select>
            <select [(ngModel)]="select.month" class="w43 form-control">
              <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
            </select>
          </div>

          <div *ngIf="showType.WEEK">
            <select [(ngModel)]="select.year" class="form-control w21 pull-left mr5">
              <option *ngFor="let info of yearInfo" value="{{info}}">{{info}}</option>
            </select>
            <select [(ngModel)]="select.month" (change)="getWeekListByMonth()" class="form-control w21 pull-left mr5">
              <option *ngFor="let info of month" value="{{info}}">{{info}}</option>
            </select>
            <select [(ngModel)]="select.week" class="form-control w55">
              <option *ngFor="let info of weekForMonth" value="{{info}}">{{info}}</option>
            </select>
          </div>

          <div *ngIf="showType.DAY" style="margin-right:60px">
            <input type="text" class="form-control" bsDatepicker [(ngModel)]="datepickerModel"
                   [bsConfig]="bsConfig" #dpr="bsDatepicker"/>
            <span class="statistic-btn input-group-addon fa fa-calendar spanbtn h35" (click)="dpr.show()"></span>
          </div>
        </div>
      </div>
      <select class="sel form-control pull-right" style="margin-right: 20px" name="queryType"
              [(ngModel)]="queryType" (change)="search()">
        <option *ngFor="let item of queryTypes" [value]="item.key">{{item.val}}</option>
      </select>
    </div>
  </div>
    <!--图表切换-->
    <div  class=" panel w100 m0">
      <ul class="clearfix p0 mb0 mt-lg">
        <li class="w50 text-center cursor-p pull-left order-count" [class.qh]="queryContent=='ORDSUM'" (click)="qeuryAll('ORDSUM')">下单金额</li>
        <li class="w50 text-center cursor-p pull-left order-count" [class.qh]="queryContent=='ORDCOUNT'" (click)="qeuryAll('ORDCOUNT')">下单数量</li>
      </ul>
    </div>
    <div class="panel w98 m-auto">
      <div echarts [options]="optionPrev" class="demo-chart w100"></div>
    </div>
  </div>

  <div class="mt20 panel">
    <div class="table-title thc statics-font">会员统计表</div>
    <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="w33 text-center thc font">
          <span>序号</span>
        </th>
        <th class="w33 text-center thc font">
          <span>会员名</span>
        </th>
        <th class="w33 text-center thc font" >
          <span>{{queryContentText}}</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-center" *ngFor="let count of nowData.resultList;let i=index">
        <td>{{i+1}}</td>
        <td>{{count.custName}}</td>
        <td class="thc font">{{ queryContent=='ORDSUM'?count.ordSum:count.ordCount }}</td>
      </tr>
    </table>
    </div>
  </div>
