<div class="content-heading mb-lg">
  会员分析
</div>

<div class="panel panel-default">
<!--操作提示-->
  <div class="panel mb p ts">
    <p class="font18">操作提示</p>
    <ul>
      <li>统计图展示了时间段内订单数量|订单总金额排名前15位的会员订单统计数据对比</li>
      <li>统计表展示了时间段内订单数量|订单总金额排名前15位的会员其名称及订单统计数据</li>
    </ul>
  </div>
  <div class="xz">
<!--搜索按钮-->
    <button class="btn">
      <i class="icon icon-magnifier icona"></i>
    </button>
    <!--时间选择条件-->
    <select name="" id="" class="sel">
      <option value="按照天统计">按照天统计</option>
      <option value="按照周统计">按照周统计</option>
      <option value="按照月统计">按照月统计</option>
    </select>
  </div>
<!--统计表-->
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-striped" #dataTable="rzhDataTable"  [rzhData]="data"  (pageChange)="queryDatas($event)">
        <thead>
        <tr>
          <th class="refund-th">
            <rzhDefaultSorter by="name">序号</rzhDefaultSorter>
          </th>
          <th class="refund-th">
            <rzhDefaultSorter by="name">会员名</rzhDefaultSorter>
          </th>
          <th class="refund-th">
            <rzhDefaultSorter by="email">下单金额（元）</rzhDefaultSorter>
          </th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="refund-th">aaa</td>
          <td class="refund-th">sss</td>
          <td class="refund-th">ddd</td>
        </tr>
      </table>
    </div>
  </div>
</div>
