<form class="step-two panel panel-default" (keydown.Enter)="false" #publishForm="ngForm">
  <!--商品基本信息-->
  <fieldset class="m0 p0">
    <legend class="m0">商品基本信息</legend>
    <dl class="clearfix">
      <dt class="col-xs-2">商品分类：</dt>
      <dd class="col-xs-10">
        <span>{{publishData.kindSelectName}}</span>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="col-xs-2"><i class='main-red'>*</i>商品名称：</dt>
      <dd class="col-xs-10 col-md-8">
        <div class="w50">
          <div>{{publishData.goodsName}}</div>
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="col-xs-2"><i class='main-red'>*</i>商品卖点：</dt>
      <dd class="col-xs-10 col-md-8">
        <div class="w50">
          <div>{{publishData.goodsJingle}}</div>
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="col-xs-2"><i class='main-red'>*</i>商品品牌：</dt>
      <dd class="col-xs-10 col-md-8">
        <div class="w50">
          <select class="form-control" name="brandCode" required [(ngModel)]="publishData.brandCode"
                  [disabled]="myReadOnly">
            <option *ngFor="let brand of brandsList" [value]="brand.id">{{brand.brandName}}</option>
          </select>
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="col-xs-2"><i class='main-red'>*</i>商品属性：</dt>
      <dd class="col-xs-10">
        <div class="w80 clearfix">
          <label class="col-sm-4 base-attr pl0" *ngFor="let attrType of baseAttrList;let i = index">
            <span class="col-xs-3 pl-sm pr-sm pro-name">{{attrType.name}}</span>
            <div class="col-xs-9 pl-sm pr-sm base-attr-list">
              <select class="form-control" name="baseAttr" [disabled]="myReadOnly">
                <option *ngFor="let attr of attrType.goodsEnumValList" [value]="attr.id"
                        [class]="attr.idx">{{attr.enumValue}}
                </option>
              </select>
            </div>
          </label>
        </div>
      </dd>
    </dl>
  </fieldset>

  <!--商品交易信息-->
  <fieldset class="m0 p0">
    <legend class="m0">商品交易信息</legend>
    <dl class="clearfix">
      <dt class="col-xs-2"><i class='main-red'>*</i>计量单位：</dt>
      <dd class="col-xs-10 col-md-8">
        <div class="w50">
          <select name="unit" required class="form-control" [disabled]="myReadOnly" [(ngModel)]="publishData.unit">
            <option [value]="unit.unitName" *ngFor="let unit of unitList">{{unit.unitName}}</option>
          </select>
        </div>
      </dd>
    </dl>
  </fieldset>

  <!--商品规格及图片-->
  <fieldset class="m0 p0">
    <legend class="m0"><i class='main-red'>*</i>商品规格及图片</legend>
    <!--商品规格-->
    <dl class="clearfix">
      <dt class="col-xs-2"><i class='main-red'>*</i>商品规格：</dt>
      <dd class="col-xs-10 specs">
        <h5 class="clearfix m0">
          <span class="col-sm-2 col-xs-3 text-right">规格</span>
          <span class="col-sm-10 col-xs-9">规格值 <em>（通过选择规格值建立商品与商品规格的关系）</em></span>
        </h5>
        <div class="clearfix enumType" *ngFor="let saleAttr of saleAttrList;let i = index;" [id]="i+1">
          <h6 class="col-sm-2 col-xs-3 text-right">
            <span class="_attrName">{{saleAttr.name}}</span>
            <label class="w80 hide"><input class="form-control" name="enumName" type="text" [id]="i+1"
                                           [readonly]="myReadOnly"
                                           [value]="saleAttr.name" (change)="changeSpec($event.target)"></label>
          </h6>
          <ul class="col-sm-10 col-xs-9 p">
            <li class="col-xs-4 col-md-3 _attr" *ngFor="let val of saleAttr.goodsEnumValList;let k = index;">
              <label class="checkbox-inline c-checkbox">
                <input class="_val" type="checkbox" [checked]="val.checked" [name]="saleAttr.name"
                       [id]="(i+1)+''+(k+1)" [disabled]="myReadOnly"
                       [value]="val.enumValue" (change)="checkSpecVal($event.target)"/>
                <span class="fa fa-check"></span>
              </label>
              <span class="_value">{{val.enumValue}}</span>
              <label class="w66 hide">
                <input class="form-control" type="text" [name]="val.idx" [id]="(i+1)+''+(k+1)" [value]="val.enumValue"
                       [readonly]="myReadOnly"
                       (change)="changeSpec($event.target)"/><a class="hide" [id]="val.id"></a>
              </label>
            </li>
          </ul>
        </div>
      </dd>
    </dl>
    <!--sku表格-->
    <dl class="clearfix">
      <dt class="col-xs-2"><i class='main-red'>*</i>商品价格及库存：</dt>
      <dd class="col-xs-10">
        <table class="sku-table w100">
          <thead>
          <!--当选择了规格时-->
          <tr class="text-center">
            <th class="col-xs-2" *ngFor="let attr of skuAttr"
                [id]="attr.attrCode">{{attr.attrName}}
            </th>
            <th class="col-xs-2">
              <label class="s-menu mb0 cursor-p"><i class='main-red'>*</i>市场价</label>
            </th>
            <th class="col-xs-2">
              <label class="s-menu mb0 cursor-p"><i class='main-red'>*</i>销售价</label>
            </th>
            <th class="col-xs-2">
              <label class="s-menu mb0 cursor-p"><i class='main-red'>*</i>会员价</label>
            </th>
            <th class="col-xs-2">
              <label class="s-menu mb0 cursor-p"><i class='main-red'>*</i>库存</label>
            </th>
          </tr>
          </thead>
          <tbody>

          <!--当选择了规格时-->
          <tr *ngFor="let sku of publishData.goodsSkuList;let i = index">
            <td [hidden]="true"><input type="text" name="saGroupCode" [(ngModel)]="sku.saGroupCode"></td>
            <td *ngFor="let val of sku.attrsList" [id]="val.valCode" [class]="val.idx"><p>{{val.value}}</p></td>
            <td>
              <input class="text _price num form-control" [name]="'marketPrice'+i" type="number" required
                     [readonly]="myReadOnly"
                     [(ngModel)]="sku.marketPrice" #marketPrice="ngModel"/>
              <em class="add-on">元</em>
              <span [hidden]="marketPrice.value != 0" class="text-danger font12"> 市场价>0 </span>
            </td>
            <td>
              <input class="text _price num form-control" [name]="'price'+i" type="number" required
                     [readonly]="myReadOnly"
                     [(ngModel)]="sku.price" #price="ngModel"/>
              <em class="add-on">元</em>
              <ng-container *ngIf="marketPrice.value > 0 && price.value>0">
                <span [hidden]="compareNumber(price.value,marketPrice.value)"
                      class="text-danger font12"> 销售价<=市场价
                </span>
              </ng-container>
              <span [hidden]="price.value != 0" class="text-danger font12"> 销售价>0 </span>
            </td>
            <td>
              <input class="text _price num form-control" [name]="'memberPrice'+i" type="number" required
                     [readonly]="myReadOnly"
                     [(ngModel)]="sku.memberPrice" #memberPrice="ngModel"/>
              <em class="add-on">元</em>
              <ng-container *ngIf="price.value > 0 && memberPrice.value>0">
                <span [hidden]="compareNumber(memberPrice.value,price.value)"
                      class="text-danger font12"> 会员价<=销售价
                </span>
              </ng-container>
              <span [hidden]="memberPrice.value != 0" class="text-danger font12"> 会员价>0 </span>
            </td>
            <td>
              <input class="text stock num form-control" [name]="'storageNum'+i" type="number" required
                     [readonly]="myReadOnly"
                     [(ngModel)]="sku.storageNum" #storageNum="ngModel"/>
              <span [hidden]="storageNum.value > 9"
                    class="text-danger font12"> 库存>=10
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </dd>
    </dl>
    <!--商品图片-->
    <dl class="clearfix">
      <dt class="col-xs-2"><i class='main-red'>*</i>商品图片：</dt>
      <dd class="col-xs-10 pic-list">
        <!--当选择了第一规格时-->
        <div class="goodspics" *ngFor="let val of skuImg.vals;let idx = index;" [id]="val.valCode">
          <div class="color-value">
            <h4>{{skuImg.attrName}}：<span data-spec-value-name="23">{{val.valName}}</span></h4>
            <p class="tip" myHoverColor [class.hide]="myReadOnly">第一张图片为主图</p>
          </div>
          <ul class="goods-pic-list ml">
            <li class="ui-state-disabled img-box" *ngFor="let src of oldImgs[val.valCode];let i = index">
              <div class="close" [class.hide]="myReadOnly" (click)="removeImgSrc(val.valCode,i)">×</div>
              <div class="upload-thumb">
                <img [src]="src" onerror="javascript:this.src='../../../assets/img/dummy.png'">
              </div>
            </li>
          </ul>
        </div>
      </dd>
    </dl>
  </fieldset>

  <!--商品详情描述-->
  <fieldset class="m0 p0">
    <legend class="m0">商品详情描述</legend>
    <dl class="clearfix">
      <dt class="col-xs-2">商品描述：</dt>
      <dd class="col-xs-10">
        <div class="w100">
          <div class="detailBody" [class.hide]="!myReadOnly" [innerHtml]="goodsBody"></div>
        </div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="col-xs-2">移动端描述：</dt>
      <dd class="col-xs-10">
        <div class="w100 app-box">
          <div class="app-wrap">
            <div class="app-control">
              <div class="app-content">
                <div class="app-img-box" *ngFor="let item of mblItemList;let i=index;">
                  <img width="100%" *ngIf="item.type== 'img'" [src]="item.value"
                       onerror="javascript:this.src='../../../assets/img/dummy.png'">
                  <p class="text mb0" style="line-height: 1.6" *ngIf="item.type== 'text'">{{item.value}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="explain">
            <dl class="mb">
              <dt>1、基本要求：</dt>
              <dd>建议：所有图片都是本宝贝相关的图片。</dd>
            </dl>
            <dl class="mb">
              <dt>2、图片大小要求：</dt>
              <dd>（1）建议使用宽度超过480像素、高度超过960像素的图片；</dd>
              <dd>（2）格式为：jpg\gif\png；</dd>
              <dd>举例：可以上传一张宽度为480，高度为960像素，格式为jpg的图片。</dd>
            </dl>
            <dl class="mb">
              <dt>3、文字要求：</dt>
              <dd>（1）每次插入文字不能超过500个字，标点、特殊字符按照一个字计算；</dd>
              <dd>（2）请手动输入文字，不要复制粘贴网页上的文字，防止出现乱码；</dd>
              <dd>（3）请注意特殊字符将会被转译。</dd>
              <dd>建议：不要添加太多的文字，这样看起来更清晰。</dd>
            </dl>
          </div>
        </div>
      </dd>
    </dl>
  </fieldset>

  <!--临时节点，修改商品时用来存储移动端详情的图片和文本，通过节点的取值，方便处理成详情展示和修改需要的数据-->
  <div class="hide" id="mblHtml" [innerHtml]="tempMblHtml"></div>

  <!--商品物流信息-->
  <fieldset class="m0 p0 logistics">
    <legend class="m0">商品物流信息</legend>
    <dl class="clearfix">
      <dt class="col-xs-2"><i class='main-red'>*</i>运费：</dt>
      <dd class="col-xs-10 col-md-8">
        <div [class.hide]="!myReadOnly">{{publishData.isFreight == 'Y'? '有': '无'}}</div>
      </dd>
    </dl>
    <dl class="clearfix" *ngIf="publishData.isFreight == 'Y'">
      <dt class="col-xs-2"><i class='main-red'>*</i>设置运费：</dt>
      <dd class="col-xs-10 col-md-8">
        <div class="w100">
          <!--固定运费-->
          <div class="mb clearfix" [class.hide]="myReadOnly && publishData.goodsExpressInfo.freightType=='TPL'">
            <span class="radio c-radio c-radio-nofont radio-box">
              <label>
              <input type="radio" name="freightType" value="FIXED" placeholder="1.00" [disabled]="myReadOnly"
                     [(ngModel)]="publishData.goodsExpressInfo.freightType"/>
              <span class="fa fa-circle"></span>使用固定运费</label>
            </span>
            <span class="clearfix" [class.hide]="publishData.goodsExpressInfo.freightType!='FIXED'">
              <input class="text price num form-control pull-left" name="fixedFreight" type="number"
                     [required]="publishData.goodsExpressInfo.freightType=='FIXED'" [readonly]="myReadOnly"
                     [(ngModel)]="publishData.goodsExpressInfo.fixedFreight">
              <em class="add-on">元</em>
            </span>
          </div>
          <!--运费模板-->
          <div class="clearfix" [class.hide]="myReadOnly && publishData.goodsExpressInfo.freightType=='FIXED'">
            <div *ngIf="myReadOnly" class="clearfix">
              <label class="pull-left mr mt-sm">使用的物流规则</label>
              <select class="rules-list text form-control pull-left" name="tplFreight" disabled
                      [(ngModel)]="publishData.goodsExpressInfo.expressTplId">
                <option *ngFor="let item of logistics" [value]="item.id">{{item.id}}{{item.tplName}}</option>
              </select>
            </div>
            <div class="tpl-box w100 p mt"
                 [hidden]="publishData.goodsExpressInfo.freightType!='TPL' || publishData.goodsExpressInfo.expressTplId == ''">
              <p class="m0">
                <strong>指定物流配送区域及运费</strong>
                <a class="btn btn-xs btn-default fa fa-eye pull-right" target="_blank" (click)="lookLogisticsModule()">
                  查看详情</a>
              </p>
              <ul class="list-unstyled tpl-list mb0" *ngIf="publishData.goodsExpressInfo.expressTplId">
                <li class="clearfix" *ngFor="let item of tplVals.storeExpressTplValList">
                  <p class="col-xs-7 m0 one-row omg p-sm">{{item.area | level2AreaName}}</p>
                  <p class="col-xs-5 m0 one-row omg p-sm text-right">
                    {{item.firstNum}}{{unit}}内{{item.firstPrice}}元，每增加{{item.addAttach}}{{unit}}，增加{{item
                    .addPrice}}元</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </dd>
    </dl>
    <dl class="clearfix" *ngIf="publishData.goodsExpressInfo.freightType=='TPL'">
      <dt class="col-xs-2"><i class='main-red'>*</i>物流参数：</dt>
      <dd class="col-xs-10">
        <div class="w50">
          <div class="clearfix mb">
            <span class="pull-left mr"><i class='main-red'>*</i>重量：</span>
            <span class="pull-left">
              {{publishData.goodsExpressInfo.weight}}
              <em class="add-on">kg</em>
            </span>
          </div>
          <div class="clearfix">
            <span class="pull-left mr"><i class='main-red'>*</i>体积：</span>
            <span class="pull-left">
              {{publishData.goodsExpressInfo.volume}}
              <em class="add-on">m³</em>
            </span>
          </div>
        </div>
      </dd>
    </dl>
  </fieldset>

  <!--商品其他信息-->
  <fieldset class="m0 p0 others-info">
    <legend class="m0">其他信息</legend>
    <dl class="clearfix">
      <dt class="col-xs-2">是否有赠品：</dt>
      <dd class="col-xs-10">
        <div>{{publishData.haveGift == 'Y'? '是': '否'}}</div>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt class="col-xs-2">是否参加促销活动：</dt>
      <dd class="col-xs-10">
        <div>{{publishData.isJoinLimitime == 'Y'? '是': '否'}}</div>
      </dd>
    </dl>
  </fieldset>
</form>

<!--商品审核-->
<form class="goods-audit panel panel-danger" (keydown.Enter)="false" *ngIf="path=='audit'">
  <fieldset class="p0 panel-body">
    <legend class="m0 goods-audit-title">商品审核</legend>
    <table class="w100">
      <tr>
        <td class="col-xs-2 text-right bdr">审核结果：</td>
        <td class="col-xs-2 p-lg">
          <div class="radio c-radio c-radio-nofont p-sm" *ngFor="let item of goodsAudits">
            <label>
              <input type="radio" name="publish" [value]="item.key" [(ngModel)]="audit.result"/>
              <span class="fa fa-circle"></span>{{item.val}}</label>
          </div>
        </td>
        <td class="col-xs-8 p">
         <textarea class="form-control w66" name="goodsJingle" required
                   [(ngModel)]="audit.opinion" placeholder="请填写审核意见"
                   cols="10" rows="3"></textarea>
        </td>
      </tr>
    </table>
  </fieldset>
  <fieldset class="pt-xl m0 text-center">
    <button class="btn btn-green" type="button" (click)="auditGoods()" [disabled]="!audit.opinion">
      <em class="fa fa-upload mr"></em>提交审核结果
    </button>
  </fieldset>
</form>
