
.search{
  margin: auto;
}
.special{
  padding-left: 10px;
}
.special:hover{
  background: #DCF8FF;
}
.p0:hover{
  background: #F2F2F2;
}
.bigImg{
  position: fixed;
  top:0;
  left: 0;
  width: 120px;
  height: auto;
  display: none;
  z-index: 1000;
}
.fa-star{
  color: red;
}
.buyimg{
  cursor: pointer;
  width: 40px;height: 40px;
}
.store-width{
  width: 430px;
}
.store-name{
  width: 260px;
  display: inline-block;
}
.panel-body {
  padding:0  15px 15px 15px;
}
