
.bigImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 110px;
  height: auto;
  display: none;
  z-index: 1000;
}

.buyimg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.special {
  padding-left: 10px;
}

.special:hover {
  background: #DCF8FF;
}

.p0:hover {
  background: #F2F2F2;
}

.font {
  color: red;
}

.main {
  margin: 10px;
  height: 700px;
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
  position: relative;
  .main_left {
    float: left;
    width: 240px;
    height: 700px;
    background: #F5F5F5;
    .main_left_center {
      width: 100%;
      height: 630px;
      overflow-y: auto;
      margin-left: -4%;
      ul li {
        width: 50%;
        list-style: none;
        background: white;
        float: left;
        border: 1px solid #CCCCCC;
        position: relative;
        span {
          text-align: center;
          padding-top: 90px;
        }
      }
      ul li img {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 20px auto;
      }
    }
  }
  .main_center {
    float: left;
    height: 700px;
    position: absolute;
    left: 240px;
    right: 260px;
    background: #E5E7EA;
  }
  .main_right {
    float: right;
    width: 260px;
    height: 700px;
    position: relative;
    background: #F5F5F5;
    .main_right_opt_box {
      width: 100%;
      position: absolute;
      top: 50px;
      bottom: 45px;
      overflow-y: auto;
      .main_left_prompting {
        width: 100%;
        padding: 20px 0 10px 20px;
      }
      .main_right_opt {
        background: white;
        padding: 5px 0;
        .main_right_optIMGa {
          margin-left: 20px;
          padding-top: 15px;
          display: block;
        }
        .main_right_opt_img {
          width: 88%;
          border: 1px dotted #c0c0c0;
          margin: 5px auto 0;
          position: relative;
          .main_right_opt_img_before {
            width: 100%;
            height: auto;
            position: relative;
          }
          a {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            font-size: 0;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.3);
            text-decoration: none;
            color: white;
            input {
              width: 100%;
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              opacity: 0;
            }
            span {
              display: inline-block;
              height: 20px;
              line-height: 20px;
              position: relative;
              top: 50%;
              margin-top: -10px;
            }
          }
        }
      }
    }
  }
}

.main_left_header {
  width: 100%;
  height: 50px;
  background: white;
  font-size: 20px;
  padding-left: 20px;
  line-height: 50px;
}

.main_right_optTXT {
  div {
    margin-left: 20px;
    padding-top: 15px;
    display: block;
  }
  textarea {
    margin: 5px 3%;
    width: 94%;
    max-width: 94%;
    min-width: 94%;
  }
}

.main_right_optModel {
  width: 88%;
  height: 37px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  .optTypeList {
    width: 40%;
    float: left;
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
  .optKey {
    width: 60%;
    float: left;
    input {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.main_right_optTypeDesc {
  margin-left: 20px;
  margin-top: 5px;
}

.main_right_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #c0c0c0;
  button {
    width: 49%;
    font-size: 15px;
  }
}

.main_centerOne {
  margin-top: 30px;
  height: 630px;
  overflow-y: auto;
  transition: all 0.1s;
}

.main_centerTwe {
  position: relative;
  width: 300px;
  margin: auto;
  background: white;
  cursor: pointer;
  .img-box {
    float: left;
    position: relative;
    img {
      position: absolute;
    }
  }
  img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  .main_centerTwe_one {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.3);
    ul {
      position: relative;
      left: 300px;
      display: inline-block;
      li {
        list-style: none;
        width: 24px;
        height: 24px;
        border: 1px solid #c0c0c0;
        text-align: center;
      }
      li:hover {
        background: #ffffff;
      }
    }
  }
}

.upload-thumb {
  img {
    width: 100%;
    height: auto;
  }
}

.hidden-field {
  display: none
}

.winner {
  color: red;
}

.animationImg {
  width: 100px;
  height: 100px;
  background: yellow;
  transition: all 0.2s;
  -moz-transition: all 0.2s, -moz-transform 0.2s; /* Firefox 4 */
  -webkit-transition: all 0.2s, -webkit-transform 0.2s; /* Safari and Chrome */
  -o-transition: all 0.2s, -o-transform 0.2s; /* Opera */
}

.animationImg:hover {
  width: 100px;
  height: 100px;
  transform: scale(1.25, 1.25);
  -moz-transform: scale(1.25, 1.25); /* Firefox 4 */
  -webkit-transform: scale(1.25, 1.25); /* Safari and Chrome */
  -o-transform: scale(1.25, 1.25); /* Opera */
}

.lunbotu {
  width: 100%;
  padding-top: 45%;
  position: relative;
  .carousel-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /deep/ .carousel,
    /deep/ .carousel-inner,
    /deep/ .item,
    /deep/ .img {
      height: 100%;
    }
  }
}

.wuxiaotu .img-box {
  width: 20%;
  height: 22.22%;
}

.fengetiao .img-box {
  width: 100%;
  padding-bottom: 10%; //相对于宽的0.1
}

.haibaoyitu, .hongbao {
  .img-box {
    width: 100%;
    padding-bottom: 23%; //相对于宽的0.23
  }
}

.haibaoertu .img-box {
  width: 50%;
  padding-bottom: 21.5%; //相对于宽的0.43
}

.haibaosantu .img-box {
  width: 33.333%;
  padding-bottom: 36.666%; //相对于宽的1.1
}

.haibaositu .img-box {
  width: 25%;
  padding-bottom: 29%; //相对于宽的1.16
}

.shangpinsantu .img-box {
  width: 33.333%;
  padding-bottom: 40%;
}

.hotspot {
  height: 30px;
  overflow: hidden;
  .hotspot-banner {
    line-height: 30px;
    -webkit-animation: hotspot infinite 5s;
    -o-animation: hotspot infinite 5s;
    animation: hotspot infinite 5s;
    li {
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

@keyframes hotspot {
  0% {
    transform: translateY(0px)
  }
  40% {
    transform: translateY(0px)
  }
  50% {
    transform: translateY(-30px)
  }
  90% {
    transform: translateY(-30px)
  }
  100% {
    transform: translateY(-60px)
  }
}

.zuoyiyouer {
  .img-box {
    width: 50%;
    &:first-child {
      padding-bottom: 40%;
    }
    &:nth-child(2), &:nth-child(3) {
      padding-bottom: 20%;
    }
  }
}

.zuixinredian .img-box {
  padding-bottom: 9.5%;
}
