.ts{
  background: #C9E7F2;
  width: 98%;
  margin: auto;
  margin-top: 15px;
}
.bigImg{
  position: fixed;
  top:0;
  left: 0;
  width: 110px;
  height: auto;
  display: none;
  z-index: 1000;
}
.buyimg{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.special{
  padding-left: 10px;
}
.special:hover{
  background: #DCF8FF;
}
.p0:hover{
  background: #F2F2F2;
}

.font{
  color: red;
}
.main{
  width: 98%;
  margin: auto;
  height: 700px;
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
  .main_left{
    float: left;
    width: 18%;
    height: 700px;
    background: #F5F5F5;
    .main_left_center{
      width: 100%;
      height:630px;
      overflow-y: auto;
      margin-left: -4%;
      ul li{
        width: 50%;
        list-style: none;
        background: white;
        float: left;
        border: 1px solid #CCCCCC;
        position: relative;
        span{
          text-align: center;
          padding-top: 100px;
        }
      }
      ul li img{
        width: 60px;
        height:60px;
        position: absolute;
        top: 0;
        bottom: 0;
        left:0;
        right: 0;
        margin: auto;
      }
    }
  }
  .main_center{
    float: left;
    width: 63%;
    height: 700px;
    background: #E5E7EA;
  }
  .main_right{
    float: right;
    width: 19%;
    height: 700px;
    background: #F5F5F5;
    overflow-y:  auto;
    .main_left_prompting{
      width: 100%;
      padding-top: 25px;
      padding-left: 20px;
      span:nth-child(2){
        font-size: 12px;
      }
    }
    .main_right_opt{
      height: 355px;
      background: white;
      .main_right_optIMGa{
        margin-left: 20px;
        padding-top: 15px;
        display: block;
      }
      .main_right_opt_img{
        width: 88%;
        height: 150px;
        border: 1px dotted #c0c0c0;
        margin: auto;
        position:relative;
        margin-top: 6px;
        margin-top: 6px;
        background-size: 100% 150px;
        background-repeat:no-repeat;
        a{
          position:absolute;
          left:0;
          right:0;
          top:0;
          bottom:0;
          margin:auto;
          background: rgba(0,0,0,0.3);
          text-decoration: none;
          color: white;
          input{
            width: 100%;
            height: 100%;
            position:absolute;
            left:0;
            right:0;
            top:0;
            bottom:0;
            opacity: 0;
          }
          span{
            font-size: 25px;
            padding-left: 120px;
            line-height: 150px;
          }
        }
    }
    .main_right_optIMG{
      cursor: pointer;
      div:nth-child(1){
        margin-left: 20px;
        padding-top: 15px;
        display: block;
      }
    }
  }
}
}
.main_left_header{
width: 100%;
height: 50px;
background: white;
font-size: 20px;
padding-left: 20px;
line-height: 50px;
}
.main_left_prompting{
span:nth-child(1){
  display:block;
}
span:nth-child(2){
  display:block;
  padding-bottom: 10px;
}
}
.main_right_optTXT{
  div{
    margin-left: 20px;
    padding-top: 15px;
    display: block;
  }
  textarea{
    margin: 6px 0 0 20px;
    width: 260px;
  }
}
.main_right_optModel{
  width: 88%;
  height: 37px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  input{
    width: 50.9%;
    height: 35px;
    display: inline;
    margin-left: -2.7px;
  }
}
.main_right_optTypeDesc{
  margin-left: 20px;
  margin-top: 10px;
}
.main_right_footer{
  position: absolute;
  bottom: 52px;
  width: 18%;
  height: 54px;
  background: white;
  border-top:1px solid #c0c0c0;
  button:nth-child(1){
    height: 53px;
    width: 49%;
    border: none;
    font-size: 16px;
  }
  button:nth-child(2){
    height: 53px;
    width: 49%;
    border: none;
    font-size: 16px;
  }
}
.main_centerOne{
  margin-top: 30px;
  height: 630px;
  overflow-y:  auto;
}
.main_centerTwe {
  position: relative;
  width: 300px;
  margin: auto;
  background: white;
  cursor: pointer;
  .main_centerTwe_one {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.3);
    button:nth-child(1) {
      position: relative;
      top: 0px;
      left: 304px;
    }
    ul{
      position: relative;
      left: 260px;
    }
    ul li{
      list-style: none;
      width: 25px;
      height:25px;
      border: 1px solid #c0c0c0;
      text-align: center;
    }
    li:hover{
      background: #ff5b57;
    }
  }
}
.upload-thumb {
  img {
    width: 100%;
    height: 150px;
  }
}
.hidden-field{
  display: none
}
.winner{
  color: red;
}
.animationImg{
  width:100px;
  height:100px;
  background:yellow;
  transition:width 1s, height 1s;
  -moz-transition:width 1s, height 1s, -moz-transform 1s; /* Firefox 4 */
  -webkit-transition:width 1s, height 1s, -webkit-transform 1s; /* Safari and Chrome */
  -o-transition:width 1s, height 1s, -o-transform 1s; /* Opera */
}
.animationImg:hover{
  width:100px;
  height:100px;
  transform:rotate(360deg);
  -moz-transform:rotate(360deg); /* Firefox 4 */
  -webkit-transform:rotate(360deg); /* Safari and Chrome */
  -o-transform:rotate(360deg); /* Opera */
}
